/*** page ***/
	:root {
		--light-gray: #dddddd;
		--medium-gray: #777777;
		--dark-gray: #111111;
		--light-blue: #04b1ff;
		--font-family: monospace;
		--font-size: 20px;
		--line-height: 1;
		--border-radius: 5px;
		--gap-size: 5px;
		--shadow-size: 5px;
		--border-size: 2px;
		--transition-time: 0.5s;
		--controls-width: 330px;
		--controls-background: rgba(0, 0, 0, 0.75);
	}

	html, body {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		padding: 0;
		margin: 0;
		background: var(--dark-gray);
		font-size: 0;
		overflow: hidden;
	}

/*** controls ***/
	#controls {
		position: absolute;
		top: 0;
		left: calc(-1 * var(--controls-width));
		height: 100%;
		width: var(--controls-width);
		z-index: 2;
		transition: var(--transition-time);
		background-color: var(--controls-background);
		filter: drop-shadow(0 0 var(--shadow-size) var(--medium-gray));
	}

	#controls[open] {
		left: 0;
	}

	/* button */
		#controls-button {
			position: relative;
			top: 0;
			left: var(--controls-width);
			cursor: pointer;
			margin-top: calc(2 * var(--gap-size));
			height: calc(3 * var(--gap-size) + var(--font-size));
			box-sizing: border-box;
			background-color: var(--controls-background);
			border-radius: 0 var(--border-radius) var(--border-radius) 0;
			border: 0;
			outline: none;
			cursor: pointer;
			font-size: var(--font-size);
			font-family: var(--font-family);
			color: var(--light-gray);
			transition: var(--transition-time);
			line-height: var(--line-height);
			user-select: none;
			padding: 0 calc(2 * var(--gap-size));
			text-align: center;
		}

		#controls-button:hover, #controls-button:focus {
			text-shadow: 0 0 calc(2 * var(--shadow-size)) var(--light-gray);
		}

	/* inner */
		#controls-inner {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			overflow-x: hidden;
			overflow-y: scroll;
			font-size: 0;
			font-family: var(--font-family);
			box-sizing: border-box;
			padding: calc(2 * var(--gap-size));
		}

		#controls-inner h1 {
			width: 100%;
			margin: 0 0 var(--gap-size) 0;
			font-family: var(--font-family);
			font-size: calc(2 * var(--font-size));
			color: var(--light-gray);
			text-transform: uppercase;
			user-select: none;
			text-align: center;
			border-bottom: var(--border-size) solid var(--medium-gray);
		}

		#controls-inner h2 {
			width: 100%;
			margin: 0;
			font-family: var(--font-family);
			font-size: var(--font-size);
			color: var(--medium-gray);
			text-transform: uppercase;
			user-select: none;
			text-align: left;
		}

		.controls-section {
			width: 100%;
			height: auto;
			border-bottom: var(--border-size) solid var(--medium-gray);
			padding: calc(3 * var(--gap-size)) 0;
		}

		.controls-section:last-child {
			border-bottom: 0;
			margin-bottom: calc(4 * var(--gap-size));
		}

		#controls label {
			width: 100%;
			display: block;
			padding: var(--gap-size) 0;
		}

		#controls span {
			display: inline-block;
			width: 40%;
			font-size: var(--font-size);
			font-family: var(--font-family);
			color: var(--light-gray);
			user-select: none;
			padding: var(--gap-size) 0;
		}

		#controls span.controls-arrow {
			width: 10%;
			text-align: center;
		}

		#controls select {
			display: inline-block;
			width: 50%;
			height: calc(3 * var(--gap-size) + var(--font-size));
			box-sizing: border-box;
			font-size: var(--font-size);
			font-family: var(--font-family);
			background: var(--light-gray);
			color: var(--dark-gray);
			border-radius: var(--border-radius);
			padding: var(--gap-size);
			outline: none;
			user-select: none;
			cursor: pointer;
			transition: var(--transition-time);
			border: none;
			margin: 0;
			line-height: var(--line-height);
		}

		#controls select:hover, #controls select:focus {
			filter: drop-shadow(0 0 var(--shadow-size) var(--light-gray));
		}

		#controls input[type="range"] {
			display: inline-block;
			width: 50%;
			height: calc(3 * var(--gap-size) + var(--font-size));
			box-sizing: border-box;
			font-size: var(--font-size);
			font-family: var(--font-family);
			background: var(--light-gray);
			color: var(--dark-gray);
			border-radius: var(--border-radius);
			padding: var(--gap-size) 0;
			outline: none;
			user-select: none;
			cursor: pointer;
			transition: var(--transition-time);
			border: none;
			margin: 0;
			vertical-align: top;
		}

		#controls input[type="range"]:hover, #controls input[type="range"]:focus {
			filter: drop-shadow(0 0 var(--shadow-size) var(--light-gray));
		}

		#controls-image-upload {
			display: none;
			height: 0;
			width: 0;
			padding: 0;
			margin: 0;
			opacity: 0;
			font-size: 0;
			border: 0;
		}

		#controls-image-upload-button {
			width: 100% !important;
			height: calc(var(--font-size) + 4 * var(--gap-size));
			box-sizing: border-box;
			background: var(--light-gray);
			color: var(--dark-gray) !important;
			text-align: center;
			padding: calc(2 * var(--gap-size)) var(--gap-size) !important;
			font-size: var(--font-size);
			font-family: var(--font-family);
			text-align: center;
			cursor: pointer;
			transition: var(--transition-time);
			font-weight: bold;
			text-transform: uppercase;
			outline: none;
			border-radius: var(--border-radius);
			line-height: 1;
		}

		#controls-image-upload-button:hover, #controls-image-upload-button:focus {
			filter: drop-shadow(0 0 var(--shadow-size) var(--light-gray));
		}

/*** canvas ***/
	#canvas {
		position: absolute;
		top: 0;
		right: 0;
		width: 100%;
		height: 100%;
		background-color: var(--dark-gray);
		cursor: crosshair;
		user-select: none;
		transition: var(--transition-time);
	}

	#controls[open] ~ #canvas {
		width: calc(100% - var(--controls-width));
	}

/*** upload center ***/
	#upload-center-outer {
		position: absolute;
		top: 0;
		right: 0;
		width: 100%;
		height: 100%;
		transition: var(--transition-time);
	}

	#controls[open] ~ #upload-center-outer {
		width: calc(100% - var(--controls-width));
	}

	#upload-center {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		min-height: calc(var(--font-size) + 4 * var(--gap-size));
		height: auto;
		box-sizing: border-box;
		background: var(--light-gray);
		color: var(--dark-gray) !important;
		text-align: center;
		padding: var(--gap-size);
		font-size: var(--font-size);
		font-family: var(--font-family);
		text-align: center;
		cursor: pointer;
		transition: var(--transition-time);
		font-weight: bold;
		text-transform: uppercase;
		outline: none;
		border-radius: var(--border-radius);
		border: none;
	}

	#upload-center:hover, #upload-center:focus {
		filter: drop-shadow(0 0 var(--shadow-size) var(--light-gray));
	}

/*** j-logo ***/
	#controls[open] ~ #j-logo {
		opacity: 0;
		pointer-events: none;
	}

	#j-logo {
		position: fixed;
		top: 14px;
		right: 7px;
		color: var(--light-blue);
		height: 32px;
		width: 32px;
		cursor: pointer;
		z-index: 1000;
		outline: none;
		transition: var(--transition-time);
	}

	#j-logo svg {
		fill: currentColor;
		height: 100%;
		width: auto;
	}

	#j-logo path {
		d: path("M 60 27 C 60 42 60 58 60 73 C 60 74 60 74 61 74 C 64 74 68 74 70 74 C 71 74 72 73 72 72 C 72 58 72 42 72 28 C 72 27 71 26 70 26 C 68 26 64 26 61 26 C 60 26 60 26 60 27 Z M 30 74 C 32 74 36 74 38 74 C 39 74 39 74 38 73 C 35 70 32 67 29 64 C 28 63 28 63 28 64 C 28 67 28 70 28 72 C 28 73 29 74 30 74 Z M 43 74 C 46 74 54 74 57 74 C 58 74 58 74 58 73 C 58 66 58 34 58 27 C 58 26 58 26 57 26 C 54 26 46 26 44 26 C 42 26 42 26 40 24 C 38 22 30 14 28 12 C 27 11 26 10 28 10 C 30 10 54 10 56 10 C 58 10 58 10 60 12 C 62 14 69 21 72 24 C 74 26 74 26 74 29 C 74 34 74 66 74 71 C 74 74 74 74 72 76 C 70 78 62 86 60 88 C 58 90 58 90 56 90 C 54 90 46 90 44 90 C 42 90 42 90 40 88 C 38 86 30 78 28 76 C 26 74 26 74 26 71 C 26 70 26 62 26 60 C 26 58 27 59 28 60 C 30 62 38 70 40 72 C 42 74 42 74 43 74 Z");
	}
	
	#j-logo:hover, #j-logo:focus {
		filter: drop-shadow(0 0 var(--shadow-size) var(--light-gray));
	}
