/*** page ***/
	html {
		position: fixed;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		overflow: hidden;
	}

	body {
		background-color: #aaaaaa;
		margin: 0px;
		padding: 0px;
		overflow: hidden;
		font-family: monospace;
		font-size: 0px;
	}

	/* variables */
		:root {
			--grid-height: 6;
			--grid-width:  6;
		}

	/* container */
		#container {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translateX(-50%) translateY(-50%);
			border-radius: 10px;
			height: 90vh;
			width: 90vh;
			max-height: 90vw;
			max-width: 90vw;
			background-color: transparent;
			overflow: hidden;
		}

/*** j-logo ***/
	#j-logo {
		position: absolute;
		top: 14px;
		right: 7px;
		color: #04b1ff;
		height: 32px;
		width: 32px;
		cursor: pointer;
		z-index: 1000;
		outline: none;
		transition: 0.5s;
		filter: drop-shadow(0px 0px 2px #dddddd);
	}

	#j-logo svg {
		fill: currentColor;
		height: 100%;
		width: auto;
	}

	#j-logo path {
		d: path("M 60 27 C 60 42 60 58 60 73 C 60 74 60 74 61 74 C 64 74 68 74 70 74 C 71 74 72 73 72 72 C 72 58 72 42 72 28 C 72 27 71 26 70 26 C 68 26 64 26 61 26 C 60 26 60 26 60 27 Z M 30 74 C 32 74 36 74 38 74 C 39 74 39 74 38 73 C 35 70 32 67 29 64 C 28 63 28 63 28 64 C 28 67 28 70 28 72 C 28 73 29 74 30 74 Z M 43 74 C 46 74 54 74 57 74 C 58 74 58 74 58 73 C 58 66 58 34 58 27 C 58 26 58 26 57 26 C 54 26 46 26 44 26 C 42 26 42 26 40 24 C 38 22 30 14 28 12 C 27 11 26 10 28 10 C 30 10 54 10 56 10 C 58 10 58 10 60 12 C 62 14 69 21 72 24 C 74 26 74 26 74 29 C 74 34 74 66 74 71 C 74 74 74 74 72 76 C 70 78 62 86 60 88 C 58 90 58 90 56 90 C 54 90 46 90 44 90 C 42 90 42 90 40 88 C 38 86 30 78 28 76 C 26 74 26 74 26 71 C 26 70 26 62 26 60 C 26 58 27 59 28 60 C 30 62 38 70 40 72 C 42 74 42 74 43 74 Z");
	}

	#j-logo:hover, #j-logo:focus {
		filter: drop-shadow(0px 0px 1px #777777);
	}

/*** overlay ***/
	#overlay {
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: rgba(000,000,000,0.5);
		transition: 1s;
	}

	#overlay[invisible] {
		opacity: 0;
		pointer-events: none;
	}

	#overlay-inner {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		height: auto;
		width: auto;
		text-align: center;
	}

	/* moves */
		#moves {
			font-family: monospace;
			color: #dddddd;
			font-size: 50px;
			margin: 10px;
			font-weight: bold;
			text-shadow: 0px 0px 10px #111111;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			-o-user-select: none;
			user-select: none;
		}
	
	/* refresh */
		#refresh {
			border: 0px;
			outline: none;
			cursor: pointer;
			font-family: monospace;
			color: #dddddd;
			font-size: 100px;
			margin: 10px;
			padding: 10px;
			border-radius: 100%;
			background-color: #222222;
			transition: 0.5s;
			box-shadow: 0px 0px 20px #111111;
			height: 200px;
			width: 200px;
			font-weight: bold;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			-o-user-select: none;
			user-select: none;
		}

		#refresh:focus, #refresh:hover {
			box-shadow: 0px 0px 20px #dddddd;
		}

/*** grid ***/
	#grid {
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: #222222;
	}

	#grid[grabbing] {
		cursor: grabbing;
	}

	#grid[grabbing] .cell[cable] {
		cursor: grabbing;
	}

	.row {
		float: left;
		width: 100%;
		height: calc(100% / var(--grid-height));
	}

	.cell {
		float: left;
		width: calc((100% / var(--grid-width)) - 10px);
		height: calc(100% - 10px);
		background-color: #dddddd;
		border: 5px solid transparent;
		border-radius: 5px;
		transition: 0.5s;
	}

	.cell[cable] {
		cursor: grab;
	}

	.cell[socket] {
		border-radius: 100%;
		box-shadow: 0px 0px 10px #222222 inset;
	}

	.cell:not([socket]) {
		clip-path: polygon(25% 0%, 75% 0%, 75% 25%, 100% 25%, 100% 75%, 75% 75%, 75% 100%, 25% 100%, 25% 75%, 0% 75%, 0% 25%, 25% 25%);
		-webkit-clip-path: polygon(25% 0%, 75% 0%, 75% 25%, 100% 25%, 100% 75%, 75% 75%, 75% 100%, 25% 100%, 25% 75%, 0% 75%, 0% 25%, 25% 25%);
	}
