/*** page ***/
	:root {
		--dark-gray: #111111;
		--medium-gray: #777777;
		--light-gray: #dddddd;
		--light-blue: #04b1ff;
		--font-family: monospace;
		--font-size: 20px;
		--gap-size: 5px;
		--border-radius: 5px;
		--border-size: 5px;
		--line-height: 1.25;
		--transition-time: 0.5s;
		--container-size: 500px;
	}

	html, body {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		margin: 0;
		padding: 0;
		overflow: hidden;
		background: var(--dark-gray);
		color: var(--light-gray);
		font-size: 0;
		font-family: var(--font-family);
		line-height: var(--line-height);
	}

/*** content ***/
	#container {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		padding: calc(var(--gap-size) * 2);
		box-sizing: border-box;
		height: auto;
		max-height: calc(100vh - 8 * var(--gap-size));
		width: var(--container-size);
		max-width: calc(100vw - 8 * var(--gap-size));
	}

		h1 {
			font-size: calc(var(--font-size) * 2);
			font-family: var(--font-family);
			line-height: 1;
			width: 100%;
			height: calc(var(--font-size) * 2 + var(--gap-size) * 4 + 2 * var(--border-size));
			box-sizing: border-box;
			background: var(--light-gray);
			font-weight: bold;
			color: var(--medium-gray);
			padding: calc(var(--gap-size) * 2);
			margin: 0;
			text-align: center;
			user-select: none;
			border: var(--border-size) solid var(--medium-gray);
			border-left-width: 0;
			border-right-width: 0;
			overflow: hidden;
			text-overflow: ellipsis;
		}

			svg {
				vertical-align: top;
				height: 100%;
				width: auto;
				fill: currentColor;
			}

		textarea {
			min-width: 100%;
			width: 100%;
			max-width: 100%;
			min-height: calc(var(--font-size) * var(--line-height) + 2 * var(--gap-size) + 2 * var(--border-size));
			height: calc(var(--font-size) * 3 * var(--line-height) + 2 * var(--gap-size) + 2 * var(--border-size));
			max-height: calc(var(--font-size) * 12 * var(--line-height) + 2 * var(--gap-size) + 2 * var(--border-size));
			box-sizing: border-box;
			border: var(--border-size) solid var(--light-gray);
			border-radius: var(--border-radius);
			padding: var(--gap-size);
			background: var(--light-gray);
			color: var(--dark-gray);
			font-family: var(--font-family);
			font-size: var(--font-size);
			outline: none;
			transition: border var(--transition-time);
			text-align: center;
			line-height: var(--line-height);
		}

			textarea:focus {
				border: var(--border-size) solid var(--light-blue);
			}

			#text {
				border-radius: var(--border-radius) var(--border-radius) 0 0;
			}

			#numpad {
				border-radius: 0 0 var(--border-radius) var(--border-radius);
			}

/*** j-logo ***/
	#j-logo {
		position: fixed;
		top: 14px;
		right: 7px;
		height: 32px;
		width: 32px;
		cursor: pointer;
		z-index: 1000;
		outline: none;
		transition: var(--transition-time);
		color: var(--light-blue);
	}

		#j-logo svg {
			fill: currentColor;
			height: 100%;
			width: auto;
		}

		#j-logo path {
			d: path("M 60 27 C 60 42 60 58 60 73 C 60 74 60 74 61 74 C 64 74 68 74 70 74 C 71 74 72 73 72 72 C 72 58 72 42 72 28 C 72 27 71 26 70 26 C 68 26 64 26 61 26 C 60 26 60 26 60 27 Z M 30 74 C 32 74 36 74 38 74 C 39 74 39 74 38 73 C 35 70 32 67 29 64 C 28 63 28 63 28 64 C 28 67 28 70 28 72 C 28 73 29 74 30 74 Z M 43 74 C 46 74 54 74 57 74 C 58 74 58 74 58 73 C 58 66 58 34 58 27 C 58 26 58 26 57 26 C 54 26 46 26 44 26 C 42 26 42 26 40 24 C 38 22 30 14 28 12 C 27 11 26 10 28 10 C 30 10 54 10 56 10 C 58 10 58 10 60 12 C 62 14 69 21 72 24 C 74 26 74 26 74 29 C 74 34 74 66 74 71 C 74 74 74 74 72 76 C 70 78 62 86 60 88 C 58 90 58 90 56 90 C 54 90 46 90 44 90 C 42 90 42 90 40 88 C 38 86 30 78 28 76 C 26 74 26 74 26 71 C 26 70 26 62 26 60 C 26 58 27 59 28 60 C 30 62 38 70 40 72 C 42 74 42 74 43 74 Z");
		}
		
		#j-logo:hover, #j-logo:focus {
			filter: drop-shadow(0 0 var(--border-size) var(--light-gray));
		}
