/*** elements ***/
	:root {
		--dark-gray: #111111;
		--medium-gray: #aaaaaa;
		--light-gray: #ffffff;
		--medium-blue: #0066aa;
		--light-blue: #04b1ff;
		--font-family: "Share Tech Mono", monospace;
		--font-size: 20px;
		--gap-size: 5px;
		--line-height: 1;
		--icon-line-height: 2;
		--content-width: 1000px;
		--transition-time: 0.5s;
		--border-size: 2px;
		--border-radius: 5px;
		--box-height: 500px;
	}

	html, body {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		padding: 0px;
		margin: 0px;
		background: var(--light-gray);
		scroll-behavior: smooth;
		font-size: 0;
		overflow-x: hidden;
		line-height: var(--line-height);
		user-select: none;
	}

	section {
		display: block;
		margin: 0 auto;
		max-width: var(--content-width);
		width: calc(100vw - 4 * var(--gap-size));
		text-align: center;
		border-bottom: var(--border-size) solid var(--light-gray);
		padding: calc(2 * var(--gap-size)) 0;
	}

	h1 {
		font-size: 0;
		user-select: none;
		color: transparent;
	}

	svg {
		height: calc(var(--font-size) * 2);
		width: auto;
		vertical-align: top;
	}

		svg path {
			fill: currentColor;
		}

		svg ~ span {
			line-height: var(--icon-line-height);
		}

	a {
		color: var(--light-blue);
		font-size: var(--font-size);
		font-family: var(--font-family);
		text-decoration: none;
		cursor: pointer;
		user-select: none;
		transition: var(--transition-time);
		display: inline-block;
		height: calc(var(--font-size) * 2);
		margin: 0 calc(2 * var(--gap-size));
		line-height: var(--icon-line-height);
		text-transform: uppercase;
		margin-bottom: var(--font-size);
	}

		a:hover, a:focus {
			color: var(--medium-blue) !important;
		}

	p {
		font-size: var(--font-size);
		font-family: var(--font-family);
		color: var(--medium-gray);
		user-select: none;
		line-height: calc(var(--line-height) * 1.5);
	}

	h2 {
		margin: 0 0 calc(2 * var(--gap-size)) 0;
		color: var(--medium-gray);
		font-family: var(--font-family);
		font-size: calc(var(--font-size) * 2);
		text-transform: uppercase;
		user-select: none;
	}

		h2 span {
			line-height: var(--line-height) !important;
		}

	iframe {
		display: block;
		width: 100%;
		height: var(--box-height);
		user-select: none;
		border-radius: var(--border-radius);
		margin-bottom: var(--gap-size);
		border: var(--border-size) solid var(--medium-gray);
	}

/*** content ***/
	#header {
		border: none !important;
	}

		#header-logo {
			user-select: none;
			width: 100%;
		}

	#menu {
		width: 100% !important;
		max-width: 100% !important;
		margin: 0 !important;
		background: var(--dark-gray);
		height: calc(var(--font-size) * 2 + 2 * var(--gap-size));
		padding: var(--gap-size);
		box-sizing: border-box;
		position: sticky;
		top: 0;
		border: var(--border-size) solid var(--dark-gray);
		border-left-width: 0;
		border-right-width: 0;
	}

	#overview h2 {
		color: transparent !important;
	}

	#overview-attributes {
		margin: var(--font-size) 0 calc(2 * var(--font-size)) 0;
	}

		#overview-attributes div {
			display: inline-block;
			font-size: var(--font-size);
			font-family: var(--font-family);
			color: var(--dark-gray);
			margin: 0 calc(2 * var(--gap-size));
			user-select: none;
		}

	#gallery-left, #gallery-right {
		box-sizing: border-box;
		padding: var(--gap-size);
		width: calc(var(--font-size) * 2 + 2 * var(--gap-size));
		height: calc(var(--font-size) * 2 + 2 * var(--gap-size));
		color: var(--light-blue);
		user-select: none;
		transition: var(--transition-time);
		cursor: pointer;
		border: none;
		background: transparent;
		margin-bottom: var(--font-size);
	}

		#gallery-left:hover, #gallery-left:focus, #gallery-right:hover, #gallery-right:focus {
			color: var(--medium-blue);
		}

	#gallery-viewer {
		width: 100%;
		overflow: hidden;
		user-select: none;
		margin-bottom: var(--gap-size);
	}

		#gallery-viewer img {
			max-width: 100%;
			max-height: var(--box-height);
			border-radius: var(--border-radius);
		}

		#gallery-viewer img:not([visible]) {
			display: none;
		}

	#footer {
		border: none;
		color: var(--light-gray);
		padding: calc(var(--font-size) * 3) 0;
	}

/*** mobile ***/
	@media screen and (max-width: 1000px) {
		#menu a span {
			display: none;
		}
	}
