/*** page ***/
	html {
		position: fixed;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		overflow: hidden;
	}

	body {
		background-color: #222222;
		border: 0px;
		padding: 0px;
		margin: 0px;
		width: 100%;
		height: 100%;
		overflow: hidden;
	}

	/* structure */
		#container {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translateX(-50%) translateY(-50%);
			height: 90vw;
			width: 90vw;
			max-height: 90vh;
			max-width: 90vh;
			user-select: none;
		}

		#left-column {
			float: left;
			height: 100%;
			width: 100px;
		}

		#right-column {
			float: left;
			height: 100%;
			width: calc(100% - 100px);
		}

	/* mobile */
		@media screen and (max-width: 500px) {
			#container {
				height: auto;
			}

			#left-column {
				height: 80px;
				width: 100%;
			}

			#right-column {
				height: calc(100% - 80px);
				width: 100%;
			}
		}

/*** left-menu ***/
	#left-menu {
		float: left;
		height: 100%;
		width: 80px;
		padding: 0px 10px 0px 10px;
	}

	/* erase */
		#erase, #undo {
			float: left;
			width: 50px;
			height: 50px;
			margin-bottom: 10px;
		}

		#erase[selected], #undo[selected] {
			box-shadow: 0px 0px 10px #dddddd;
		}

	/* color */
		#color {
			float: left;
			height: calc(100% - 221px);
			width: 46px;
			border-radius: 10px;
			outline: none;
			cursor: pointer;
			border: 0px;
		}

		#color:hover, #color[selected] {
			box-shadow: 0px 0px 10px #dddddd;
		}

	/* j-logo */
		#j-logo {
			position: absolute;
			bottom: 10px;
			left: 10px;
			color: #04b1ff;
			height: 50px;
			width: 50px;
			user-select: none;
			cursor: pointer;
		}

		#j-logo svg {
			fill: currentColor;
			height: 100%;
			width: auto;
		}

		#j-logo path {
			d: path("M 60 27 C 60 42 60 58 60 73 C 60 74 60 74 61 74 C 64 74 68 74 70 74 C 71 74 72 73 72 72 C 72 58 72 42 72 28 C 72 27 71 26 70 26 C 68 26 64 26 61 26 C 60 26 60 26 60 27 Z M 30 74 C 32 74 36 74 38 74 C 39 74 39 74 38 73 C 35 70 32 67 29 64 C 28 63 28 63 28 64 C 28 67 28 70 28 72 C 28 73 29 74 30 74 Z M 43 74 C 46 74 54 74 57 74 C 58 74 58 74 58 73 C 58 66 58 34 58 27 C 58 26 58 26 57 26 C 54 26 46 26 44 26 C 42 26 42 26 40 24 C 38 22 30 14 28 12 C 27 11 26 10 28 10 C 30 10 54 10 56 10 C 58 10 58 10 60 12 C 62 14 69 21 72 24 C 74 26 74 26 74 29 C 74 34 74 66 74 71 C 74 74 74 74 72 76 C 70 78 62 86 60 88 C 58 90 58 90 56 90 C 54 90 46 90 44 90 C 42 90 42 90 40 88 C 38 86 30 78 28 76 C 26 74 26 74 26 71 C 26 70 26 62 26 60 C 26 58 27 59 28 60 C 30 62 38 70 40 72 C 42 74 42 74 43 74 Z");
		}

		#j-logo:hover {
			filter: drop-shadow(0px 0px 10px #dddddd);
		}

	/* mobile */
		@media screen and (max-width: 500px) {
			#left-menu {
				padding: 10px 0px 10px 0px;
				width: 100%;
				height: calc(100% - 20px);
			}

			#erase, #undo {
				margin-right: 10px;
			}

			#color {
				height: 50px;
				width: calc(100% - 175px);
			}

			#j-logo {
				position: absolute;
				top: 10px;
				left: calc(100% - 50px);
			}
		}

/*** canvas ***/
	#canvas {
		float: left;
		height: calc(100% - 100px);
		width: 100%;
		box-shadow: 0px 0px 5px #aaaaaa;
		border-radius: 5px;
		cursor: default;
	}

	#canvas[erasing] {
		cursor: not-allowed;
	}

	@media screen and (max-width: 500px) {
		#canvas {
			height: calc(100% - 125px);
			width: calc(100% - 25px);
			margin-left: 25px;
		}
	}

/*** bottom-menu ***/
	#bottom-menu {
		float: left;
		height: 80px;
		padding: 10px 0px 10px 0px;
		width: 100%;
	}

	/* sliders */
		#slider-y {
			position: absolute;
			top: 50%;
			left: 0%;
			transform: rotate(-90deg) translateX(calc(-50% + 50px)) translateY(calc(-150% + 100px));
			transform-origin: 0% 0%;
			width: calc(90vw - 100px);
			max-width: calc(90vh - 100px);
			height: 20px;
			border: 0px;
			margin: 0px;
			padding: 0px;
			margin-bottom: 10px;
			cursor: pointer;
			outline: none;
			border-radius: 10px;
		}

		#slider-x {
			width: 100%;
			height: 20px;
			border: 0px;
			margin: 0px;
			padding: 0px;
			margin-bottom: 10px;
			cursor: pointer;
			outline: none;
			border-radius: 10px;
		}

		#slider-x:hover, #slider-y:hover {
			box-shadow: 0px 0px 10px #dddddd;
		}

	/* buttons */
		.menu-button {
			float: left;
			height: 50px;
			width: calc(25% - 5px);
			padding: 10px;
			border-radius: 10px;
			font-family: monospace;
			font-size: 20px;
			background-color: #111111;
			border: 0px;
			outline: none;
			cursor: pointer;
			user-select: none;
			text-align: center;
			margin-right: 5px;
			color: #dddddd;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		.menu-button:hover {
			box-shadow: 0px 0px 10px #dddddd;
		}

	/* upload */
		#upload-outer {
			padding: 13px 0px 0px 0px;
			height: 37px;
		}

		#upload {
			display: none;
			height: 0px;
			width: 0px;
			pointer-events: none;
			visibility: hidden;
			opacity: 0;
		}

	/* mobile */
		@media screen and (max-width: 500px) {
			#bottom-menu {
				height: auto;
			}

			.menu-button {
				height: 45px;
			}

			#upload-outer {
				padding: 11px 0px 0px 0px;
				height: 34px;
			}

			#slider-x {
				width: calc(100% - 25px);
				margin-left: 25px;
			}

			#slider-y {
				width: calc(100% - 25px);
				max-width: calc(100% - 25px);
				transform: rotate(-90deg) translateX(calc(-50% + 8px)) translateY(calc(-100% + 15px));
			}
		}
