/*** page ***/
	:root {
		--dark-translucent-gray: #11111177;
		--dark-gray: #111111;
		--medium-gray: #555555;
		--light-gray: #dddddd;
		--light-blue: #04b1ff;
		--medium-red: #d94c4c;
		--font-family: monospace;
		--font-size: 32px;
		--gap-size: 8px;
		--border-size: 4px;
		--border-radius: 8px;
		--shadow-size: 8px;
		--transition-time: 0.5s;
		--line-height: 1;
		--button-size: 32px;
		--player-color: var(--medium-gray);
	}

	html, body {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		overflow: hidden;
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 0;
		background: var(--dark-gray);
	}

/*** game ***/
	#gameboard {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		height: calc(100vw - 4 * var(--gap-size));
		width: calc(100vw - 4 * var(--gap-size));
		max-height: calc(100vh - 4 * var(--gap-size));
		max-width: calc(100vh - 4 * var(--gap-size));
	}

	#gameboard[transitioning="true"] {
		pointer-events: none;
	}

	#gameboard[player="0"] {
		--player-color: var(--light-blue);
	}

	#gameboard[player="1"] {
		--player-color: var(--medium-red);
	}

	/* dropzone */
		#gameboard-dropzone {
			position: absolute;
			top: 0;
			left: calc(2 * var(--button-size) - var(--border-size));
			width: calc(100% - 4 * var(--button-size));
			height: var(--button-size);
			border-radius: var(--border-radius);
			border: var(--border-size) solid var(--player-color);
			transition: var(--transition-time);
		}

		.dropzone-sector {
			height: 100%;
			width: calc(100% / var(--grid));
			display: inline-block;
			cursor: pointer;
			transition: var(--transition-time);
			text-align: center;
			padding: calc(var(--button-size) / 4);
			box-sizing: border-box;
		}

		.dropzone-sector-inner {
			display: inline-block;
			text-align: center;
			background-color: transparent;
			pointer-events: none;
			height: calc(var(--button-size) / 2);
			width: calc(var(--button-size) / 2);
			border-radius: var(--border-size);
		}

		.dropzone-sector:hover .dropzone-sector-inner, .dropzone-sector:focus .dropzone-sector-inner {
			background-color: var(--player-color);
		}

	/* grid */
		#gameboard-grid {
			position: absolute;
			top: calc(2 * var(--button-size));
			left: calc(2 * var(--button-size));
			width: calc(100% - 4 * var(--button-size));
			height: calc(100% - 4 * var(--button-size));
			outline: var(--border-size) solid var(--player-color);
			border-radius: var(--border-radius);
			transition: var(--transition-time);
		}

	/* arrows */
		#gameboard-rotate-clockwise {
			left: calc(var(--button-size) / 2);
		}

		#gameboard-rotate-counterclockwise {
			right: calc(var(--button-size) / 2);
		}

		#gameboard-rotate-clockwise, #gameboard-rotate-counterclockwise {
			position: absolute;
			top: 50%;
			height: var(--button-size);
			width: var(--button-size);
			transform: translateY(-50%);
			background: transparent;
			font-size: var(--font-size);
			color: var(--player-color);
			font-family: var(--font-family);
			font-weight: bold;
			transition: var(--transition-time);
			cursor: pointer;
			outline: none;
			border: none;
			padding: 0;
			margin: 0;
			text-align: center;
			line-height: 1;
			box-sizing: content-box;
			border: var(--border-size) solid var(--player-color);
			border-radius: 100%;
			user-select: none;
		}

		#gameboard[transitioning="true"] #gameboard-rotate-clockwise, #gameboard[transitioning="true"] #gameboard-rotate-counterclockwise {
			pointer-events: none;
		}

		#gameboard-rotate-clockwise:hover, #gameboard-rotate-counterclockwise:hover, #gameboard-rotate-clockwise:focus, #gameboard-rotate-counterclockwise:focus {
			filter: drop-shadow(0 0 var(--border-size) var(--player-color));
			color: var(--light-gray);
			border-color: var(--light-gray);
		}

	/* token */
		.token {
			position: absolute;
			border-radius: var(--border-radius);
			height: calc(100% / var(--grid));
			width: calc(100% / var(--grid));
			transition: var(--transition-time);
			transition-timing-function: linear;
		}

		.token[player="0"] {
			background-color: var(--light-blue);
			box-shadow: 0 0 var(--shadow-size) var(--dark-translucent-gray) inset;
		}

		.token[player="1"] {
			background-color: var(--medium-red);
			box-shadow: 0 0 var(--shadow-size) var(--dark-translucent-gray) inset;
		}

/*** overlay ***/
	#overlay {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		background: var(--light-gray);
		box-shadow: 0 0 var(--shadow-size) var(--medium-gray);
		border-radius: var(--border-radius);
		padding: var(--gap-size);
		opacity: 0.8;
		transition: var(--transition-time);
		width: calc(var(--gap-size) * 36);
	}

	#overlay[invisible] {
		pointer-events: none;
		opacity: 0 !important;
	}

	/* form */
		#overlay label {
			float: left;
			font-size: var(--font-size);
			font-family: var(--font-family);
			font-weight: bold;
			width: 100%;
			text-align: center;
			user-select: none;
			text-transform: uppercase;
			margin-bottom: var(--gap-size);
		}

		#overlay label:last-child {
			margin-bottom: 0;
		}

		#overlay label input {
			float: left;
			font-size: var(--font-size);
			font-family: var(--font-family);
			background: var(--light-gray);
			border: var(--border-size) solid var(--dark-gray);
			border-radius: var(--border-radius);
			padding: var(--gap-size);
			vertical-align: bottom;
			color: var(--dark-gray);
			transition: var(--transition-time);
			outline: none;
			width: calc(var(--gap-size) * 12);
			height: calc(2 * (var(--gap-size) + var(--border-size)) + var(--font-size));
			line-height: 1;
			box-sizing: border-box;
		}

		#overlay label input:focus {
			box-shadow: 0 0 var(--shadow-size) var(--dark-gray);
		}

		#overlay label span {
			float: left;
			vertical-align: bottom;
			padding: calc(var(--gap-size) + var(--border-size));
			height: calc(2 * (var(--gap-size) + var(--border-size)) + var(--font-size));
			width: calc(var(--gap-size) * 24);
			box-sizing: border-box;
			line-height: 1;
			text-align: left;
		}

		#overlay label button {
			float: left;
			width: calc(var(--gap-size) * 36);
			border-radius: var(--border-radius);
			background: var(--dark-gray);
			color: var(--light-gray);
			transition: var(--transition-time);
			text-align: center;
			text-transform: uppercase;
			font-family: var(--font-family);
			font-size: var(--font-size);
			font-weight: bold;
			cursor: pointer;
			user-select: none;
			border: none;
			outline: none;
			padding: 0;
		}

		#overlay label button:focus, #overlay label button:hover {
			box-shadow: 0 0 var(--shadow-size) var(--dark-gray);
		}

/*** j-logo ***/
	#j-logo {
		position: fixed;
		top: 14px;
		right: 7px;
		color: var(--light-blue);
		height: 32px;
		width: 32px;
		cursor: pointer;
		z-index: 1000;
		outline: none;
		transition: var(--transition-time);
	}

	#j-logo svg {
		fill: currentColor;
		height: 100%;
		width: auto;
	}

	#j-logo path {
		d: path("M 60 27 C 60 42 60 58 60 73 C 60 74 60 74 61 74 C 64 74 68 74 70 74 C 71 74 72 73 72 72 C 72 58 72 42 72 28 C 72 27 71 26 70 26 C 68 26 64 26 61 26 C 60 26 60 26 60 27 Z M 30 74 C 32 74 36 74 38 74 C 39 74 39 74 38 73 C 35 70 32 67 29 64 C 28 63 28 63 28 64 C 28 67 28 70 28 72 C 28 73 29 74 30 74 Z M 43 74 C 46 74 54 74 57 74 C 58 74 58 74 58 73 C 58 66 58 34 58 27 C 58 26 58 26 57 26 C 54 26 46 26 44 26 C 42 26 42 26 40 24 C 38 22 30 14 28 12 C 27 11 26 10 28 10 C 30 10 54 10 56 10 C 58 10 58 10 60 12 C 62 14 69 21 72 24 C 74 26 74 26 74 29 C 74 34 74 66 74 71 C 74 74 74 74 72 76 C 70 78 62 86 60 88 C 58 90 58 90 56 90 C 54 90 46 90 44 90 C 42 90 42 90 40 88 C 38 86 30 78 28 76 C 26 74 26 74 26 71 C 26 70 26 62 26 60 C 26 58 27 59 28 60 C 30 62 38 70 40 72 C 42 74 42 74 43 74 Z");
	}
	
	#j-logo:hover, #j-logo:focus {
		filter: drop-shadow(0 0 var(--shadow-size) var(--light-gray));
	}
