/* page */
	html, body, #field {
		padding: 0px;
		margin: 0px;
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100vw;
		height: 100vh;
		overflow: hidden;
		background-color: #dddddd;
	}

/* magnet */
	.magnet {
		position: absolute;
		height: 50px;
		width: 50px;
		border: 5px solid #111111;
		border-radius: 100%;
		transform: translateX(-50%) translateY(+50%);
	}

	.magnet[polarity="1"] {
		background-color: #3333dd;
	}

	.magnet[polarity="1"]:after {
		text-align: center;
		content: "+";
		color: #dddddd;
		font-size: 50px;
		line-height: 1;
		width: 100%;
		display: block;
	}

	.magnet[polarity="-1"] {
		background-color: #dd3333;
	}

	.magnet[polarity="-1"]:after {
		text-align: center;
		content: "-";
		color: #dddddd;
		font-size: 50px;
		line-height: 1;
		width: 100%;
		display: block;
	}
	