/*** page ***/
	body {
		background-color: #111111;
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100vw;
		min-height: 100vh;
		height: auto;
		margin: 0px;
		padding: 0px;
		border: 0px;
		box-shadow: 0px 0px 20px #000000 inset;
	}

	/* scrollbars */
		::-webkit-scrollbar {
			width: 0 !important;
		}

		::-moz-scrollbar {
			width: 0 !important;
		}

		::-ms-scrollbar {
			width: 0 !important;
		}

		::-o-scrollbar {
			width: 0 !important;
		}

	/* divisions */
		@media screen and (max-width: 499px) {
			:root {
				--grid: 1;
				--font: 1.5;
			}
		}

		@media screen and (min-width: 500px) {
			:root {
				--grid: 2;
				--font: 1;
			}
		}

		@media screen and (min-width: 750px) {
			:root {
				--grid: 3;
				--font: 1;
			}
		}

		@media screen and (min-width: 1000px) {
			:root {
				--grid: 4;
				--font: 1;
			}
		}

		@media screen and (min-width: 1250px) {
			:root {
				--grid: 5;
				--font: 1;
			}
		}

/*** controls ***/
	#controls {
		float: left;
		height: calc(100vw / var(--grid));
		width: calc(100vw / var(--grid));
		text-align: center;
		overflow: hidden;
		background-color: #d6d5d5;
		border-radius: 0px 0px 25px 0px;
	}

	/* image */
		#controls-image {
			background-image: url("banner.png");
			background-position: center center;
			background-size: contain;
			background-repeat: no-repeat;
			user-select: none;
			position: absolute;
			top: 0px;
			left: 0px;
			width: calc(100vw / var(--grid));
			height: calc(20vw / var(--grid));
			z-index: 1;
			margin-top: calc(20vw / var(--grid));
		}

		#controls-name {
			float: left;
			width: 100%;
			height: 45%;
			opacity: 1;
			user-select: none;
			pointer-events: none;
			font-size: 0;
		}

	/* filters */
		#controls-tags, #controls-sizes, #controls-sort {
			float: left;
			width: 100%;
			height: 15%;
			z-index: 1;
		}

		#controls button {
			border: 0px;
			outline: 0px;
			border-radius: 100%;
			margin: auto auto;
			width: calc(35px * var(--font));
			height: calc(35px * var(--font));
			color: #dddddd;
			font-family: monospace;
			font-size: calc(15px * var(--font));
			cursor: pointer;
			vertical-align: middle;
			transition: 1s;
		}

		#controls button:hover {
			box-shadow: 0px 0px 10px #333333;
			border-radius: 15px;
		}

		#controls button[selected] {
			box-shadow: 0px 0px 20px #111111;
			border-radius: 5px;
		}

		#controls-sizes button {
			background-color: #111111;
		}

		#controls-sort button {
			background-color: #222222;
		}

		#controls-tags button {
			background-color: #333333;
		}


/*** projects ***/
	.project {
		float: left;
		height: calc(100vw / var(--grid));
		width: calc(100vw / var(--grid));
		text-align: center;
		overflow: hidden;
		background-position: center center;
		background-size: cover;
		background-repeat: no-repeat;
		z-index: 1;
	}

	/* image */
		.project .image {
			display: block;
			width: calc(100vw / var(--grid));
			height: calc(100vw / var(--grid));
			z-index: -1;
			background-position: center center;
			background-size: cover;
			background-repeat: no-repeat;
			user-select: none;
			transition: 1s;
		}

		.project:hover .image, .project:active .image, .project:focus .image {
			filter: blur(3px) saturate(200%);
		}

	/* content */
		.project .content {
			position: relative;
			top: -100%;
			width: calc(100vw / var(--grid));
			height: calc(100vw / var(--grid));
			z-index: 1;
			opacity: 0;
			background-color: rgba(255, 255, 255, 0.35);
			transition: 1s;
		}

		.project:hover .content, .project:active .contnet, .project:focus .content {
			opacity: 1;
		}

	/* text */
		.project .name {
			float: left;
			width: calc(100% - 10px);
			height: calc(25% - 25px);
			padding: 20px 5px 5px 5px;
		}

		.project .name-inner {
			position: relative;
			top: 50%;
			left: 50%;
			transform: translateX(-50%) translateY(-50%);
			margin: 0px;
			font-family: monospace;
			font-size: calc(25px * var(--font));
			text-transform: uppercase;
			user-select: none;
			color: #111111;
		}

		.project .summary {
			float: left;
			width: calc(100% - 20px);
			height: calc(75% - 10px - (25px * var(--font)) - 20px);
			padding: 5px 10px 5px 10px;
		}

		.project .summary-inner {
			position: relative;
			top: 50%;
			left: 50%;
			transform: translateX(-50%) translateY(-50%);
			margin: 0px;
			font-family: monospace;
			font-size: calc(18px * var(--font));
			user-select: none;
			color: #111111;
			font-weight: bold;
		}

	/* tagblock */
		.project .tags {
			float: left;
			width: calc(100% - 20px - 10px - (50px * var(--font)));
			height: calc(25px * var(--font));
			padding: 10px;
			margin: 0px;
			font-family: monospace;
			font-size: calc(15px * var(--font));
			color: #111111;
			user-select: none;
			text-align: center;
		}

		.project .size {
			float: left;
			text-transform: uppercase;
			background-color: #111111;
			color: #dddddd;
			border-radius: 5px;
			padding: 2px;
			text-align: center;
			margin-right: 2px;
			height: calc(17px * var(--font));
			width: calc(17px * var(--font));
			vertical-align: middle;
			border: 2px solid #111111;
			line-height: 1;
			box-shadow: 0px 0px 3px #111111;
		}

		.project .tag {
			float: left;
			border: 2px solid #333333;
			border-radius: 5px;
			padding: 2px;
			background-color: #333333;
			color: #dddddd;
			margin-right: 2px;
			height: calc(17px * var(--font));
			width: calc(17px * var(--font));
			vertical-align: middle;
			line-height: 1;
			box-shadow: 0px 0px 3px #111111;
		}

		.project .date {
			float: left;
			border: 2px solid #555555;
			border-radius: 5px;
			padding: 2px;
			background-color: #555555;
			color: #dddddd;
			margin-right: 2px;
			height: calc(17px * var(--font));
			width: calc(45px * var(--font));
			vertical-align: middle;
			line-height: 1;
			box-shadow: 0px 0px 3px #111111;
		}

	/* link */
		.project .link, .project .link:visited {
			float: right;
			height: calc(25px * var(--font) + 10px);
			width: calc(50px * var(--font));
			color: #111111;
			background-color: transparent;
			text-shadow: 0px 0px 5px #333333;
			text-decoration: none;
			cursor: pointer;
			font-size: calc(35px * var(--font));
			padding: 5px;
			vertical-align: middle;
			line-height: 1;
			transition: 1s;
		}

		.project .link:hover, .project .link:active, .project .link:focus {
			text-shadow: 0px 0px 15px #000000;
		}
