/*** page ***/
	body {
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100vw;
		height: 100vh;
		margin: 0px;
		padding: 0px;
		background-color: #111111;
		box-shadow: 0px 0px 50px #000000 inset;
		overflow: hidden;
		color: #000000;
		font-family: 'Press Start 2P', monospace;
		font-size: 20px;
	}

	/* effects */
		.invisible {
			opacity: 0;
			pointer-events: none;
			transition: 2s;
		}

		.visible {
			opacity: 1;
			transition: 2s;
		}

/*** menu ***/
	#menu {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		z-index: 2;
	}

	/* title */
		#title {
			text-align: center;
			font-size: 35px;
			color: #ffffff;
			text-shadow: 0px 0px 5px #dddddd;
			user-select: none;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			-o-user-select: none;
		}

	/* start */
		#start {
			font-size: 50px;
			font-family: 'Press Start 2P', monospace;
			color: #ffffff;
			text-shadow: 0px 0px 10px #dddddd;
			border: 0px;
			background-color: transparent;
			transition: 2s;
			cursor: pointer;
			outline: none;
			padding: 0px;
			width: 100%;
			text-align: center;
		}

		#start:hover {
			text-shadow: 0px 0px 50px #dddddd;
		}

/*** game ***/
	#game {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		width: 90vh;
		height: 90vh;
		max-width: 90vw;
		max-height: 90vw;
		overflow: hidden;
		border-radius: 10px;
		box-shadow: 0px 0px 10px #000000 inset;
		filter: drop-shadow(0px 0px 20px #000000);
		transition: 2s;
		cursor: none;
	}

	#game.gameover {
		filter: blur(5px) drop-shadow(0px 0px 20px #ff0000);
		cursor: default;
		transition: 2s;
	}

	/* score */
		#score {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translateX(-50%) translateY(-50%);
			text-align: center;
			font-size: 100px;
			filter: blur(2px);
			color: #777777;
			text-shadow: 0px 0px 5px #dddddd;
			z-index: -1;
		}

	/* message */
		#message {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translateX(-50%) translateY(-50%);
			text-transform: uppercase;
			text-align: center;
			font-size: 25px;
			filter: blur(2px);
			color: #ffffff;
			text-shadow: 0px 0px 5px #dddddd;
		}

	/* creatures */
		#creatures {
			position: absolute;
			top: 0px;
			left: 0px;
			height: 100%;
			width: 100%;
			overflow: hidden;
		}

		.creature {
			position: absolute;
			height: 8vh;
			width: 8vh;
			border-radius: 100%;
		}

		.creature-inner {
			background-color: #777777;
			position: absolute;
			top: 0px;
			left: 0px;
			width: 100%;
			height: 100%;
			transition: 0.5s;
			border-radius: 100%;
		}

	/* bursts */
		#bursts {
			position: absolute;
			top: 0px;
			left: 0px;
			height: 100%;
			width: 100%;
			overflow: hidden;
		}

		.burst {
			position: absolute;
			height: 1vh;
			width: 0.5vh;
			border-radius: 25%;
			background-color: #777777;
		}

	/* blaster */
		#blaster {
			position: absolute;
			top: 100%;
			left: 50%;
			transform: translateX(-50%) translateY(-50%);
			border-radius: 35%;
		}

		#blaster-inner {
			background-color: #333333;
			position: absolute;
			top: 0px;
			left: 0px;
			width: 100%;
			height: 100%;
			transition: 0.5s;
			border-radius: 35%;
		}

		#blaster[size="0"] {
			height: 4vh;
			width: 4vh;
		}
		#blaster[size="1"] {
			height: 3.6vh;
			width: 3.6vh;
		}
		#blaster[size="2"] {
			height: 3.2vh;
			width: 3.2vh;
		}
		#blaster[size="3"] {
			height: 2.8vh;
			width: 2.8vh;
		}
		#blaster[size="4"] {
			height: 2.4vh;
			width: 2.4vh;
		}
		#blaster[size="5"] {
			height: 2vh;
			width: 2vh;
		}
		#blaster[size="6"] {
			height: 1.6vh;
			width: 1.6vh;
		}
		#blaster[size="7"] {
			height: 1.2vh;
			width: 1.2vh;
		}
		#blaster[size="8"] {
			height: 0.8vh;
			width: 0.8vh;
		}
		#blaster[size="9"] {
			height: 0.4vh;
			width: 0.4vh;
		}
		#blaster[size="10"] {
			height: 0vh;
			width: 0vh;
		}

/*** colors ***/
	[color="red"] {
		box-shadow: 0px 0px 100px #ff0000 inset;
		filter: drop-shadow(0px 0px 10px #ff0000);
	}

	[color="green"] {
		box-shadow: 0px 0px 100px #00ff00 inset;
		filter: drop-shadow(0px 0px 10px #00ff00);
	}

	[color="yellow"] {
		box-shadow: 0px 0px 100px #ffff00 inset;
		filter: drop-shadow(0px 0px 10px #ffff00);
	}

	[color="cyan"] {
		box-shadow: 0px 0px 100px #00ffff inset;
		filter: drop-shadow(0px 0px 10px #00ffff);
	}

	[color="blue"] {
		box-shadow: 0px 0px 100px #0000ff inset;
		filter: drop-shadow(0px 0px 10px #0000ff);
	}

	[color="magenta"] {
		box-shadow: 0px 0px 100px #ff00ff inset;
		filter: drop-shadow(0px 0px 10px #ff00ff);
	}

	[color="white"] {
		box-shadow: 0px 0px 100px #ffffff inset;
		filter: drop-shadow(0px 0px 10px #ffffff);
	}

