/**** page ***/
	html, body {
		margin: 0px;
		padding: 0px;
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		background-color: #dddddd;
	}

	svg {
		fill: currentColor;
		height: 100%;
		width: auto;
	}

/*** j-logo ***/
	#j-logo {
		position: absolute;
		top: 14px;
		right: 7px;
		color: #04b1ff;
		height: 32px;
		width: 32px;
		cursor: pointer;
		z-index: 1000;
		outline: none;
		transition: 1s;
	}

	#j-logo svg {
		fill: currentColor;
		height: 100%;
		width: auto;
	}

	#j-logo path {
		d: path("M 60 27 C 60 42 60 58 60 73 C 60 74 60 74 61 74 C 64 74 68 74 70 74 C 71 74 72 73 72 72 C 72 58 72 42 72 28 C 72 27 71 26 70 26 C 68 26 64 26 61 26 C 60 26 60 26 60 27 Z M 30 74 C 32 74 36 74 38 74 C 39 74 39 74 38 73 C 35 70 32 67 29 64 C 28 63 28 63 28 64 C 28 67 28 70 28 72 C 28 73 29 74 30 74 Z M 43 74 C 46 74 54 74 57 74 C 58 74 58 74 58 73 C 58 66 58 34 58 27 C 58 26 58 26 57 26 C 54 26 46 26 44 26 C 42 26 42 26 40 24 C 38 22 30 14 28 12 C 27 11 26 10 28 10 C 30 10 54 10 56 10 C 58 10 58 10 60 12 C 62 14 69 21 72 24 C 74 26 74 26 74 29 C 74 34 74 66 74 71 C 74 74 74 74 72 76 C 70 78 62 86 60 88 C 58 90 58 90 56 90 C 54 90 46 90 44 90 C 42 90 42 90 40 88 C 38 86 30 78 28 76 C 26 74 26 74 26 71 C 26 70 26 62 26 60 C 26 58 27 59 28 60 C 30 62 38 70 40 72 C 42 74 42 74 43 74 Z");
	}

	#j-logo:hover, #j-logo:focus {
		filter: drop-shadow(0px 0px 8px #111111);
	}

/*** device ***/
	#container {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		background-color: #111111;
		height: 500px;
		width: 300px;
		border-radius: 10px;
		border: 10px solid #222222;
		box-shadow: 0px 0px 20px #000000;
		z-index: 1;
	}

	/* shake */
		#container[shake] {
			animation: shake 1s;
		}

		@keyframes shake {
			0% { transform: translateX(-50%) translateY(-50%); }
			5% { transform: translateX(-51%) translateY(-51%); }
			10% { transform: translateX(-50%) translateY(-51%); }
			15% { transform: translateX(-49%) translateY(-50%); }
			20% { transform: translateX(-50%) translateY(-51%); }
			25% { transform: translateX(-51%) translateY(-50%); }
			30% { transform: translateX(-50%) translateY(-49%); }
			35% { transform: translateX(-49%) translateY(-50%); }
			40% { transform: translateX(-50%) translateY(-49%); }
			45% { transform: translateX(-51%) translateY(-50%); }
			50% { transform: translateX(-50%) translateY(-51%); }
			55% { transform: translateX(-49%) translateY(-50%); }
			60% { transform: translateX(-50%) translateY(-51%); }
			65% { transform: translateX(-51%) translateY(-50%); }
			70% { transform: translateX(-50%) translateY(-49%); }
			75% { transform: translateX(-49%) translateY(-50%); }
			80% { transform: translateX(-50%) translateY(-49%); }
			85% { transform: translateX(-51%) translateY(-50%); }
			90% { transform: translateX(-50%) translateY(-49%); }
			95% { transform: translateX(-49%) translateY(-49%); }
			100% { transform: translateX(-50%) translateY(-50%); }
		}

	/* top */
		#antenna {
			position: absolute;
			top: -75px;
			left: 10px;
			height: 65px;
			width: 25px;
			border-radius: 25px 25px 0px 0px;
			background-color: #222222;
			box-shadow: 0px 0px 5px #000000;
		}

		#channel {
			position: absolute;
			top: -35px;
			left: 230px;
			height: 25px;
			width: 60px;
			border-radius: 10px 10px 0px 0px;
			background-color: #222222;
			box-shadow: 0px 0px 2px #000000;
		}

/*** lights ***/
	#lights {
		position: absolute;
		top: 20%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		border-radius: 10px;
		background-color: #222222;
		height: 40px;
		width: 240px;
		box-shadow: 0px 0px 5px #000000 inset;
		transition: 1s;
	}

	.light {
		float: left;
		margin: 10px;
		background-color: #222222;
		border-radius: 100%;
		width: 20px;
		height: 20px;
		box-shadow: 0px 0px 5px #000000 inset;
		transition: 1s;
	}

	/* lit */
		#lights[lit] {
			box-shadow: 0px 0px 5px #dddddd inset;
		}

		.light[lit] {
			background-color: #dddddd;
		}

/*** refresh ***/
	#refresh {
		position: absolute;
		top: 30%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		box-shadow: 0px 0px 5px #222222 inset;
		transition: 1s;
		outline: none;
		border: 0px;
		border-radius: 10px;
		width: 240px;
		height: 40px;
		font-family: monospace;
		font-size: 20px;
		text-align: center;
		background-color: #555555;
		opacity: 1;
		cursor: pointer;
	}

	#refresh:hover {
		box-shadow: 0px 0px 5px #000000 inset;
		background-color: #333333;
	}

	#refresh:not([clickable]) {
		pointer-events: none;
		opacity: 0;
	}

/*** dial ***/
	#outer-dial {
		position: absolute;
		top: 70%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		border-radius: 100%;
		height: 250px;
		width: 250px;
		background-color: #222222;
		box-shadow: 0px 0px 5px #000000 inset;
	}

	/* moveable */
		#inner-dial {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translateX(-50%) translateY(-50%) rotate(0deg);
			border-radius: 100%;
			height: 200px;
			width: 200px;
			background-color: #333333;
			cursor: grab;
			box-shadow: 0px 0px 10px #000000 inset;
		}

		#inner-dial[grabbed] {
			cursor: grabbing;
		}

	/* middle */
		#indicator {
			position: absolute;
			top: 10px;
			left: 50%;
			transform: translateX(-50%);
			height: 45px;
			width: 10px;
			border-radius: 5px;
			background-color: #dddddd;
			pointer-events: none;
			box-shadow: 0px 0px 10px #000000 inset;
		}

		#spinner {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translateX(-50%) translateY(-50%);
			height: 75px;
			width: 75px;
			background-color: #333333;
			box-shadow: 0px 0px 3px #000000;
			border-radius: 100%;
		}
