/* j-logo */
	#j-logo {
		position: absolute;
		top: 14px;
		right: 8px;
		background-color: transparent;
		background-image: url("../resources/j.png");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		height: 32px;
		width: 32px;
		cursor: pointer;
		z-index: 1000;
		outline: none;
		filter: drop-shadow(0px 0px 2px #222222);
	}

	#j-logo:hover, #j-logo:focus {
		filter: drop-shadow(0px 0px 4px #000000);
	}
	
/* page */
	html {
		position: fixed;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		overflow: hidden;
	}

	body {
		margin: 0px;
		padding: 0px;
		position: fixed;
		top: 0px;
		left: 0px;
		height: 100%;
		width: 100%;
		overflow: hidden;
		background-color: #dddddd;
		font-family: monospace;
	}

/* graph */
	#graph {
		position: fixed;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		overflow: hidden;
		z-index: 1;
	}

/* equations */
	#equations {
		z-index: 2;
		position: fixed;
		top: 20px;
		left: 20px;
		min-width: 50px;
		max-width: 500px;
		min-height: 50px;
		max-height: 500px;
		border-radius: 25px;
		background-color: #333333;
		filter: drop-shadow(0px 0px 20px #000000);
		box-shadow: 0px 0px 20px #000000 inset;
		outline: none;
		padding: 20px;
		border: 5px solid #111111;
		cursor: move;
		overflow-x: hidden;
		overflow-y: scroll;
	}

	#equations::-webkit-scrollbar {
		width: 0px;
		height: 0px;
	}

	#equations-toggle {
		text-align: center;
		user-select: none;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		-o-user-select: none;
		cursor: pointer;
		width: calc(100% - 30px);
		height: calc(100% - 20px);
		color: #dddddd;
		font-size: 25px;
		margin: 10px 0px 0px 20px;
		outline: none;
	}

	.equation {
		float: left;
		width: 500px;
		height: auto;
		cursor: pointer;
		margin-top: 10px;
	}

	.equation-y {
		float: left;
		color: #dddddd;
		font-size: 15px;
		font-weight: bold;
		cursor: default;
		user-select: none;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		-o-user-select: none;
		width: 30px;
		height: 20px;
		padding: 7px 0px 3px 0px;
		vertical-align: bottom;
	}

	.equation-x {
		float: left;
		background-color: #444444;
		border-radius: 5px;
		height: 20px;
		border: 0px;
		outline: none;
		color: #dddddd;
		font-size: 15px;
		font-weight: bold;
		font-family: monospace;
		padding: 5px;
		width: 300px;
		margin-left: 9px;
	}

	.equation-hue {
		float: left;
		background-color: #444444;
		color: #dddddd;
		border: 0px;
		outline: none;
		font-size: 15px;
		font-weight: bold;
		font-family: monospace;
		padding: 5px;
		border-radius: 5px;
		height: 30px;
		width: 100px;
		cursor: pointer;
		margin-left: 10px;
	}

	.equation-remove {
		float: left;
		outline: none;
		cursor: pointer;
		border: 0px;
		border-radius: 5px;
		background-color: #444444;
		color: #dddddd;
		font-size: 15px;
		font-weight: bold;
		font-family: monospace;
		width: 30px;
		height: 30px;
		padding: 5px;
		margin-left: 10px;
	}

	#equation-create {
		float: left;
		height: 30px;
		width: 500px;
		padding: 0px;
		font-size: 25px;
		font-weight: bold;
		font-family: monospace;
		outline: none;
		cursor: pointer;
		border: 0px;
		border-radius: 5px;
		background-color: #444444;
		color: #dddddd;
		margin-top: 10px;
	}

	.equation-x:focus, .equation-hue:hover, .equation-remove:hover, #equation-create:hover {
		background-color: #555555;
		color: #ffffff;
	}

/* zoom buttons */
	#zoom-in, #zoom-out {
		position: absolute;
		border-radius: 100%;
		height: 32px;
		width: 32px;
		outline: none;
		border: none;
		padding: auto;
		font-family: monospace;
		font-size: 20px;
		background-color: #333333;
		color: #dddddd;
		z-index: 3;
		top: 14px;
		filter: drop-shadow(0px 0px 20px #000000);
		box-shadow: 0px 0px 20px #000000 inset;
		cursor: pointer;
		user-select: none;
	}

	#zoom-in:focus, #zoom-in:hover, #zoom-out:focus, #zoom-out:hover {
		background-color: #222222;
	}

	#zoom-in {
		right: 84px;
	}

	#zoom-out {
		right: 44px;
	}

/* mobile */
	@media screen and (max-width: 800px) {
		#equations {
			width: auto;
			max-width: 250px;
		}

		.equation, #equation-create {
			width: 250px;
		}

		.equation-y, .equation-x, .equation-hue, .equation-remove {
			display: inline-block;
		}

		.equation-x {
			width: 200px;
			margin-bottom: 10px;
		}
	}
