/*** page ***/
	:root {
		--translucent-gray: rgba(34, 34, 34, 0.9);
		--light-gray: #dddddd;
		--medium-gray: #888888;
		--dark-gray: #111111;
		--light-blue: #04b1ff;
		--medium-blue: #0066aa;
		--dark-blue: #003377;
		--font-family: 'Alata', sans-serif;
		--font-size: 20px;
		--header-size: 40px;
		--gap-size: 5px;
		--shadow-size: 5px;
		--border-radius: 5px;
		--border-size: 5px;
		--transition-time: 0.5s;
		--description-rows: 3;
		--button-size: 5;
	}

	html, body {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		min-height: 100%;
		background: var(--dark-gray);
		font-size: 0;
		padding: 0;
		margin: 0;
		overflow: hidden;
	}

		button svg {
			fill: currentColor;
		}

	/* scrollbars */
		::-webkit-scrollbar {
			height: 0 !important;
			width: 0 !important;
		}

		::-moz-scrollbar {
			height: 0 !important;
			width: 0 !important;
		}

		::-ms-scrollbar {
			height: 0 !important;
			width: 0 !important;
		}

		::-o-scrollbar {
			height: 0 !important;
			width: 0 !important;
		}

		* {
			scrollbar-width: none;
		}

/*** gallery ***/
	#gallery {
		float: left;
		box-sizing: border-box;
		width: calc(100vw - 4 * var(--header-size));
		height: 100vh;
		padding: var(--gap-size) 0;
		overflow-x: scroll;
		overflow-y: hidden;
		scroll-behavior: smooth;
		scroll-snap-type: x mandatory;
		display: flex;
	}

	/* controls */
		#gallery-overlay-button, #gallery-play-button {
			position: absolute;
			left: calc(2 * var(--gap-size));
			color: var(--light-gray);
			height: var(--header-size);
			width: var(--header-size);
			border: none;
			margin: 0;
			padding: 0;
			line-height: 0.5;
			cursor: pointer;
			background-color: transparent;
			outline: none;
			border-radius: var(--border-radius);
			transition: var(--transition-time);
			z-index: 3;
		}

			#gallery-overlay-button {
				top: calc(2 * var(--gap-size));
			}

			#gallery-play-button {
				bottom: calc(2 * var(--gap-size));
			}

			#gallery-overlay-button:focus, #gallery-overlay-button:hover, #gallery-play-button:focus, #gallery-play-button:hover {
				color: var(--light-blue);
				filter: drop-shadow(0 0 calc(var(--shadow-size) / 2) var(--light-blue));
			}

			#gallery-play-form[slideshow] button svg:first-child {
				display: none;
			}

			#gallery-play-form:not([slideshow]) button svg:last-child {
				display: none;
			}

		#gallery-left-button, #gallery-right-button {
			height: 100vh;
			width: calc(var(--header-size) + 4 * var(--gap-size));
			font-size: var(--header-size);
			font-family: var(--font-family);
			color: var(--light-gray);
			font-weight: bold;
			background: transparent;
			outline: none;
			border: none;
			border-radius: var(--border-radius);
			cursor: pointer;
			user-select: none;
			padding: 0;
			margin: 0;
			z-index: 2;
			line-height: 1;
			transition: var(--transition-time);
		}

			#gallery-left-button {
				float: left;
				left: 0;
			}

			#gallery-right-button {
				float: right;
				right: 0;
			}

			#gallery-left-button:focus, #gallery-left-button:hover, #gallery-right-button:focus, #gallery-right-button:hover {
				color: var(--light-blue);
				filter: drop-shadow(0 0 var(--shadow-size) var(--light-blue));
			}

		#gallery-play-button {
			position: absolute;
			bottom: ;
		}

	/* slides */
		.slide {
			float: left;
			width: 100%;
			height: 100%;
			display: inline-block;
			box-sizing: border-box;
			scroll-snap-align: center;
			flex-shrink: 0;
			text-align: center;
			margin: 0;
			padding-top: var(--font-size);
		}

			.slide-image {
				float: left;
				width: 100%;
				max-width: 100%;
				min-width: 100%;
				height: calc(100% - var(--header-size) - var(--font-size) - 2 * var(--font-size) - var(--description-rows) * var(--font-size));
				background-color: transparent;
				background-position: center;
				background-size: contain;
				background-repeat: no-repeat;
			}

			.slide-text {
				float: left;
				width: 100%;
				box-sizing: border-box;
				padding: 0 calc(var(--gap-size) * 2);
				height: calc(var(--header-size) + var(--font-size) + 2 * var(--font-size) + var(--description-rows) * var(--font-size));
				overflow-x: hidden;
				overflow-y: scroll;
			}

			.slide-name-outer {
				float: left;
				width: 100%;
				height: calc(var(--header-size) + var(--font-size) + 2 * var(--gap-size));
				color: var(--light-gray);
				text-decoration: none;
				margin: var(--font-size) 0;
				outline: none;
			}

				.slide-name-inner {
					float: left;
					width: 100%;
					height: var(--header-size);
					font-size: var(--header-size);
					font-family: var(--font-family);
					font-weight: normal;
					margin: 0 0 calc(2 * var(--gap-size)) 0;
					padding: 0;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
					text-transform: uppercase;
					line-height: 1;
				}

				.slide-name-date {
					float: left;
					width: 100%;
					height: var(--font-size);
					font-size: var(--font-size);
					font-family: var(--font-family);
					font-weight: normal;
					margin: 0;
					padding: 0;
					overflow: hidden;
					line-height: 1;
					text-transform: uppercase;
					font-weight: bold;
				}

					.slide-name-outer:focus-within .slide-name-inner, a .slide-name-inner:focus, a .slide-name-inner:hover {
						cursor: pointer;
						font-weight: bold;
					}

			.slide-description {
				float: left;
				text-align: center;
				font-size: var(--font-size);
				font-family: var(--font-family);
				height: auto;
				width: 100%;
				color: var(--light-gray);
				margin: 0;
				margin-bottom: var(--font-size);
				padding: 0;
				overflow: hidden;
				line-height: 1;
			}

				.slide-description:empty {
					display: none;
				}

				.slide-description a, .slide-description a:visited {
					color: var(--light-blue);
					text-decoration: none;
					transition: var(--transition-time);
					outline: none;
				}

					.slide-description a:hover, .slide-description a:focus {
						color: var(--medium-blue);
					}

				.slide-description h4 {
					display: block;
					width: 100%;
					font-weight: bold;
					margin: var(--font-size) 0;
					text-transform: uppercase;
				}

				.slide-description p {
					margin: 0 0 calc(var(--gap-size) * 2) 0;
				}

/*** overlay ***/
	#overlay {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		border-radius: calc(var(--border-radius) * 2);
		background-color: var(--translucent-gray);
		opacity: 0 !important;
		padding: 0;
		width: calc(100vw - 5 * var(--header-size));
		max-height: calc(100vh - 2 * var(--header-size));
		box-shadow: 0 0 var(--gap-size) var(--light-gray);
		z-index: 10;
	}

	/* state */
		#overlay:not([visible]) {
			opacity: 0 !important;
			pointer-events: none;
			transition: var(--transition-time);
		}

		#overlay[visible] {
			opacity: 1 !important;
			transition: var(--transition-time);
		}

	/* close */
		#overlay-close-button {
			position: absolute;
			top: calc(-1 * var(--font-size));
			right: calc(-1 * var(--font-size));
			font-size: var(--header-size);
			color: var(--light-gray);
			height: var(--header-size);
			width: var(--header-size);
			font-weight: bold;
			font-family: var(--font-family);
			padding: 0;
			margin: 0;
			border: none;
			cursor: pointer;
			background: var(--dark-gray);
			border-radius: 100%;
			line-height: 1;
			box-shadow: 0 0 var(--gap-size) var(--light-gray);
			transition: var(--transition-time);
		}

			#overlay-close-button:hover, #overlay-close-button:focus {
				color: var(--light-blue);
				filter: drop-shadow(0 0 var(--shadow-size) var(--light-blue));
			}

	/* list */
		#overlay-list-outer {
			float: left;
			width: 100%;
			height: auto;
			max-height: calc(100vh - 2 * var(--header-size));
			padding: 0;
			overflow-x: hidden;
			overflow-y: scroll;
			box-shadow: 0 0 var(--gap-size) var(--dark-gray) inset;
			border-radius: var(--border-radius);
			text-align: center;
		}

			#overlay-list-inner {
				height: auto;
			}

			#overlay-list-inner form {
				display: inline-block;
			}

		.overlay-button {
			display: inline-block;
			width: calc(var(--button-size) * var(--font-size));
			height: calc(var(--button-size) * var(--font-size));
			border-radius: var(--border-radius);
			border: none;
			background-color: transparent;
			background-position: center;
			background-size: contain;
			background-repeat: no-repeat;
			cursor: pointer;
			outline: none;
			margin: var(--font-size);
			padding: 0;
			transition: var(--transition-time);
		}

			.overlay-button:hover, .overlay-button:focus {
				filter: drop-shadow(0 0 var(--shadow-size) var(--light-blue));
			}

/*** j-logo ***/
	#j-logo {
		position: fixed;
		top: 14px;
		right: 7px;
		color: var(--light-gray);
		height: 32px;
		width: 32px;
		cursor: pointer;
		z-index: 1000;
		outline: none;
		transition: var(--transition-time);
	}

	#j-logo svg {
		fill: currentColor;
		height: 100% !important;
		width: auto !important;
	}

	#j-logo path {
		d: path("M 60 27 C 60 42 60 58 60 73 C 60 74 60 74 61 74 C 64 74 68 74 70 74 C 71 74 72 73 72 72 C 72 58 72 42 72 28 C 72 27 71 26 70 26 C 68 26 64 26 61 26 C 60 26 60 26 60 27 Z M 30 74 C 32 74 36 74 38 74 C 39 74 39 74 38 73 C 35 70 32 67 29 64 C 28 63 28 63 28 64 C 28 67 28 70 28 72 C 28 73 29 74 30 74 Z M 43 74 C 46 74 54 74 57 74 C 58 74 58 74 58 73 C 58 66 58 34 58 27 C 58 26 58 26 57 26 C 54 26 46 26 44 26 C 42 26 42 26 40 24 C 38 22 30 14 28 12 C 27 11 26 10 28 10 C 30 10 54 10 56 10 C 58 10 58 10 60 12 C 62 14 69 21 72 24 C 74 26 74 26 74 29 C 74 34 74 66 74 71 C 74 74 74 74 72 76 C 70 78 62 86 60 88 C 58 90 58 90 56 90 C 54 90 46 90 44 90 C 42 90 42 90 40 88 C 38 86 30 78 28 76 C 26 74 26 74 26 71 C 26 70 26 62 26 60 C 26 58 27 59 28 60 C 30 62 38 70 40 72 C 42 74 42 74 43 74 Z");
	}

	#j-logo:hover, #j-logo:focus {
		color: var(--light-blue);
		filter: drop-shadow(0 0 var(--shadow-size) var(--light-blue));
	}

/*** mobile ***/
	@media screen and (max-width: 800px) {
		button svg {
			height: 100% !important;
			width: auto !important;
		}

		#gallery {
			width: 100vw;
			margin-top: calc(var(--header-size) + 4 * var(--gap-size));
			height: calc(100vh - 3 * var(--header-size) - 4 * var(--gap-size));
		}

		#gallery-left-button, #gallery-right-button, #gallery-play-button {
			position: fixed;
			bottom: 0;
			height: calc(2 * var(--header-size));
			width: calc(100vw / 3);
			border-radius: 0;
		}

			#gallery-left-button {
				left: 0;
			}

			#gallery-right-button {
				right: 0;
			}

			#gallery-play-button {
				top: inherit;
				left: calc(100vw / 3);
			}

		.slide {
			padding-top: 0;
		}

			.slide-name-outer {
				height: calc(var(--font-size) + var(--font-size) + 2 * var(--gap-size));
			}

			.slide-name-inner {
				font-size: var(--font-size);
				height: var(--font-size);
				font-weight: bold;
			}

		#overlay {
			width: calc(100vw - 2 * var(--header-size));
			height: calc(100vh - 2 * var(--header-size));
		}
	}

	@media screen and (max-width: 800px) and (max-height: 500px) {
		#gallery {
			margin-top: 0 !important;
			height: calc(100vh - var(--header-size)) !important;
		}

			#gallery-left-button, #gallery-right-button, #gallery-play-button {
				height: var(--header-size);
			}

		.slide-image {
			height: calc(100% - var(--font-size) - var(--font-size) - 2 * var(--font-size) - var(--description-rows) / 4 * var(--font-size));
		}

		.slide-text {
			height: calc(var(--font-size) + var(--font-size) + 2 * var(--font-size) + var(--description-rows) / 4 * var(--font-size));
		}
	}
