/* page */
	html {
		position: fixed;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		overflow: hidden;
	}

	body {
		background-color: lightgray;
		padding: 0px;
		margin: 0px;
		overflow: hidden;
	}

	.hidden {
		display: none;
	}

/* controls */
	#controls {
		width: calc(100vw - 100vh);
		height: calc(100vh - 20px);
		background-color: lightgray;
		position: absolute;
		bottom: 10px;
		left: 10px;
		text-align: left;
		margin: 0px;
		overflow: hidden;
	}

	#selector {
		height: 50px;
		width: calc(100% - 10px);
	}

	#color {
		height: 40px;
		width: calc(100% - 48px);
		margin: 0px;
		outline: none;
		cursor: pointer;
		border: 0px;
		border-radius: 10px;
		font-size: 20px;
		color: #333333;
	}

	/* j-logo */
		#j-logo {
			margin: 4px;
			float: right;
			background-color: transparent;
			background-image: url("../resources/j.png");
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center center;
			height: 32px;
			width: 32px;
			cursor: pointer;
			z-index: 1000;
			outline: none;
			filter: drop-shadow(0px 0px 2px #999999);
		}

		#j-logo:hover, #j-logo:focus {
			filter: drop-shadow(0px 0px 2px #222222);
		}

	#dotToggle-outer {
		float: right;
		font-family: sans-serif;
		height: 30px;
		padding: 1px 5px 9px 5px;
		background-color: white;
		border-radius: 5px;
		color: #333333;
		line-height: 2;
		font-size: 20px;
		vertical-align: middle;
		user-select: none;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		-o-user-select: none;
		cursor: pointer;
	}

	#dotToggle {
		zoom: 2.5;
		outline: none;
		margin: 0px;
		vertical-align: middle;
		cursor: pointer;
	}

/* text boxes */
	.textbox {
		min-width: calc(100% - 10px);
		max-width: calc(100% - 10px);
		min-height: calc(100% - 100px);
		max-height: calc(100% - 100px);
		border: 0px;
		border-radius: 10px;
		padding: 5px;
		margin: 0px;
		outline: none;
		font-size: 12px;
		font-weight: bold;
	}

/* transform controls */
	#transformers {
		width: calc(100% - 10px);
		height: 50px;
	}

	#direction {
		float: left;
		border: 0px;
		border-radius: 10px;
		margin: 0px;
		font-size: 20px;
		color: #333333;
		width: 50px;
		height: 40px;
		outline: none;
		cursor: pointer;
	}

	#distance {
		float: left;
		border: 0px;
		border-radius: 5px;
		padding: 5px;
		margin: 0px 0px 0px 10px;
		font-size: 20px;
		color: #333333;
		width: 60px;
		height: 40px;
		vertical-align: bottom;
		outline: none;
	}

	#translate, #rotate, #mirror, #resize {
		border: 0px;
		border-radius: 5px;
		padding: 5px;
		margin: 0px 0px 0px 10px;
		font-size: 20px;
		color: #333333;
		min-width: 75px;
		background-color: #ffffff;
		cursor: pointer;
		height: 40px;
		float: left;
		outline: none;
	}

	#translate:hover, #rotate:hover, #mirror:hover, #resize:hover {
		background-color: #333333;
		color: #ffffff;
	}

/* paths */
	#container {
		position: absolute;
		top: 10px;
		right: 10px;
		height: calc(100vh - 30px); 
		width: calc(100vh - 30px); 
		background-color: lightgray;
		border: 5px solid gray;
		border-radius: 5px;
	}

	.path {
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		clip-path: polygon(0% 0%);
		-webkit-clip-path: polygon(0% 0%);
	}

/* dots */
	#dots {
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		z-index: 100;
	}

	.dot {
		position: absolute;
		transform: translateX(-50%) translateY(-50%);
		background-color: black;
		border: 1px solid white;
		cursor: pointer;
		height: 5px;
		width: 5px;
		border-radius: 100%;
	}

/* path colors */
	#redPath, #redText {
		background-color: firebrick;
		z-index: 1;
		color: lightgray;
	}

	#greenPath, #greenText {
		background-color: darkgreen;
		z-index: 2;
		color: lightgray;
	}

	#bluePath, #blueText {
		background-color: dodgerblue;
		z-index: 3;
		color: lightgray;
	}

	#blackPath, #blackText {
		background-color: black;
		z-index: 4;
		color: lightgray;
	}

	#purplePath, #purpleText {
		background-color: purple;
		z-index: 5;
		color: lightgray;
	}

	#orangePath, #orangeText {
		background-color: darkorange;
		z-index: 6;
		color: black;
	}

	#brownPath, #brownText {
		background-color: sienna;
		z-index: 7;
		color: lightgray;
	}

	#grayPath, #grayText {
		background-color: gray;
		z-index: 8;
		color: black;
	}

	#yellowPath, #yellowText {
		background-color: goldenrod;
		z-index: 9;
		color: black;
	}

	#whitePath, #whiteText {
		background-color: white;
		z-index: 10;
		color: black;
	}

	#cyanPath, #cyanText {
		background-color: cyan;
		z-index: 11;
		color: black;
	}

	#magentaPath, #magentaText {
		background-color: magenta;
		z-index: 12;
		color: black;
	}

/* mobile */
	@media screen and (max-width: 600px) {
		#controls {
			position: fixed;
			width: calc(100vw - 20px);
			height: calc(100vh - 100vw - 10px);
		}

		#selector, #transformers, .textbox {
			width: 100%;
			min-width: 100%;
			max-width: 100%;
			margin-right: 0px;
		}

		#container {
			position: fixed;
			right: 10px;
			height: calc(100vw - 30px); 
			width: calc(100vw - 30px); 
		}

		.textbox {
			min-height: calc(100% - 100px);
			max-height: calc(100% - 100px);
		}
	}
