/*** page ***/
	:root {
		--dark-gray: #111111;
		--medium-gray: #555555;
		--light-gray: #dddddd;
		--font-family: monospace;
		--small-font-size: 15px;
		--large-font-size: 50px;
		--small-gap-size: 5px;
		--large-gap-size: 20px;
		--shadow-size: 5px;
		--border-radius: 5px;
	}

	html, body {
		position: absolute;
		top: 0;
		left: 0;
		overflow: hidden;
		height: 100%;
		width: 100%;
		margin: 0;
		padding: 0;
		border: 0;
		background-color: var(--dark-gray);
		font-size: 0;
	}

	svg {
		fill: currentColor;
		height: 100%;
		width: auto;
		vertical-align: middle;
	}

/*** structure ***/
	#container {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		border-radius: var(--border-radius);
		padding: var(--small-gap-size);
		background-color: var(--medium-gray);
		width: 90vw;
		max-width: 1000px;
		height: auto;
		max-height: 90vh;
	}

	#container h1 {
		float: left;
		width: calc(100% - 2 * var(--small-gap-size));
		padding: var(--small-gap-size);
		height: var(--large-font-size);
		font-size: var(--large-font-size);
		font-family: var(--font-family);
		color: var(--light-gray);
		margin: 0 0 calc(2 * var(--small-gap-size)) 0;
		user-select: none;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		-o-user-select: none;
		text-align: center;
	}

	#container hr {
		float: left;
		width: calc(100% - var(--small-gap-size));
		border-radius: var(--border-radius);
		margin-top: var(--small-gap-size);
		margin-bottom: var(--small-gap-size);
		border: calc(var(--small-gap-size) / 2) solid var(--light-gray);
	}

/*** input ***/
	/* labels */
		#settings-form label {
			float: left;
			width: calc(50% - var(--small-gap-size));
			margin-bottom: var(--small-gap-size);
			height: calc(2 * var(--small-gap-size) + var(--small-font-size));
		}

		#settings-form label:nth-child(1), #settings-form label:nth-child(2) {
			height: calc(2 * var(--small-gap-size) + var(--large-font-size));
		}

		#settings-form label:nth-child(odd) {
			margin-right: calc(2 * var(--small-gap-size));
		}

		#settings-form label div {
			float: left;
			width: calc(50% - 2 * var(--small-gap-size));
			height: var(--small-font-size);
			color: var(--light-gray);
			font-family: var(--font-family);
			font-size: var(--small-font-size);
			padding: var(--small-gap-size);
		}

	/* inputs */
		#settings-form label input {
			float: right;
			width: calc(50% - 2 * var(--small-gap-size));
			height: var(--small-font-size);
			color: var(--dark-gray);
			background-color: var(--light-gray);
			font-family: var(--font-family);
			font-size: var(--small-font-size);
			border: 0;
			border-radius: var(--border-radius);
			padding: var(--small-gap-size);
			outline: none;
		}

		#settings-form label select {
			float: right;
			width: 50%;
			height: calc(var(--small-font-size) + 2 * var(--small-gap-size));
			color: var(--dark-gray);
			background-color: var(--light-gray);
			font-family: var(--font-family);
			font-size: var(--small-font-size);
			border: 0;
			border-radius: var(--border-radius);
			padding: 0;
			outline: none;
			cursor: pointer;
		}

		#settings-form label input:focus, #settings-form label input:hover, #settings-form label select:focus, #settings-form label select:hover {
			box-shadow: 0 0 var(--shadow-size) var(--light-gray);
		}

		#settings-form label input#settings-word {
			width: calc(100% - 2 * var(--small-gap-size));
			height: var(--large-font-size);
			font-size: var(--large-font-size);
			text-align: center;
		}

	/* button */
		#settings-form label button {
			float: right;
			width: 100%;
			height: calc(var(--large-font-size) + 2 * var(--small-gap-size));
			background-color: var(--dark-gray);
			border: 0;
			border-radius: var(--border-radius);
			outline: none;
			cursor: pointer;
			line-height: 1;
			padding: 0;
		}

		#settings-form label button div {
			font-weight: bold;
			color: var(--light-gray);
			font-family: var(--font-family);
			font-size: var(--large-font-size);
			border: 0;
			margin: 0;
			padding: 0;
			height: 100%;
			width: 100%;
		}

		#settings-form label button:focus, #settings-form label button:hover {
			box-shadow: 0 0 var(--shadow-size) var(--light-gray);
		}

		#settings-form label button #settings-submit-circle {
			animation-name: spin;
			animation-duration: 1s;
			animation-iteration-count: infinite;
			animation-timing-function: linear;
			line-height: 1;
		}

		@keyframes spin {
			0% {transform: rotate(0deg);}
			50% {transform: rotate(180deg);}
			100% {transform: rotate(360deg);}
		}

		#settings-form label button[processing] #settings-submit-arrow {
			display: none;
		}

		#settings-form label button:not([processing]) #settings-submit-circle {
			display: none;
		}

/*** output ***/
	#output {
		float: left;
		width: calc(100% - 2 * var(--small-gap-size));
		height: auto;
		max-height: calc(90vh - (1 * var(--small-gap-size) + var(--large-font-size)) - 4 * (var(--small-font-size) + 3 * var(--small-gap-size)) - 7 * var(--small-gap-size));
		font-size: var(--small-font-size);
		font-family: var(--font-family);
		color: var(--light-gray);
		overflow-x: hidden;
		overflow-y: scroll;
		padding: var(--small-gap-size);
	}

	/* tree */
		#output details {
			float: left;
			width: 100%;
			margin-left: var(--large-gap-size);
			outline: none;
		}

		#output details summary {
			outline: none;
		}

		#output details summary:focus, #output details summary:hover {
			cursor: pointer;
			text-shadow: 0 0 var(--shadow-size) var(--light-gray);
		}

		#output details div {
			float: left;
			width: 100%;
			margin-left: calc(2 * var(--small-gap-size) + var(--large-gap-size));
			outline: none;
		}

/*** j-logo ***/
	#j-logo {
		position: fixed;
		top: 14px;
		right: 7px;
		color: #04b1ff;
		height: 32px;
		width: 32px;
		cursor: pointer;
		z-index: 1000;
		outline: none;
	}

	#j-logo svg {
		fill: currentColor;
		height: 100%;
		width: auto;
	}

	#j-logo path {
		d: path("M 60 27 C 60 42 60 58 60 73 C 60 74 60 74 61 74 C 64 74 68 74 70 74 C 71 74 72 73 72 72 C 72 58 72 42 72 28 C 72 27 71 26 70 26 C 68 26 64 26 61 26 C 60 26 60 26 60 27 Z M 30 74 C 32 74 36 74 38 74 C 39 74 39 74 38 73 C 35 70 32 67 29 64 C 28 63 28 63 28 64 C 28 67 28 70 28 72 C 28 73 29 74 30 74 Z M 43 74 C 46 74 54 74 57 74 C 58 74 58 74 58 73 C 58 66 58 34 58 27 C 58 26 58 26 57 26 C 54 26 46 26 44 26 C 42 26 42 26 40 24 C 38 22 30 14 28 12 C 27 11 26 10 28 10 C 30 10 54 10 56 10 C 58 10 58 10 60 12 C 62 14 69 21 72 24 C 74 26 74 26 74 29 C 74 34 74 66 74 71 C 74 74 74 74 72 76 C 70 78 62 86 60 88 C 58 90 58 90 56 90 C 54 90 46 90 44 90 C 42 90 42 90 40 88 C 38 86 30 78 28 76 C 26 74 26 74 26 71 C 26 70 26 62 26 60 C 26 58 27 59 28 60 C 30 62 38 70 40 72 C 42 74 42 74 43 74 Z");
	}

	#j-logo:hover, #j-logo:focus {
		filter: drop-shadow(0px 0px 8px #dddddd);
	}
