/*** page ***/
	:root {
		--dark-gray: #111111;
		--medium-gray: #555555;
		--light-gray: #dddddd;
		--gap-size: 5px;
		--border-radius: 5px;
		--font-family: monospace;
		--font-size: 25px;
		--transition: 0.5s;
	}

	html, body {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		padding: 0;
		margin: 0;
		overflow: hidden;
		font-size: 0;
		background: var(--dark-gray);
		text-align: center;
	}

	svg {
		fill: currentColor;
		height: 100%;
		width: auto;
	}

/*** interactive ***/
	/* reset */
		#reset {
			position: absolute;
			top: calc(var(--gap-size) * 2);
			left: calc(var(--gap-size) * 2);
			border-radius: 100%;
			line-height: 1;
			border: 0;
			padding: 0;
			height: calc(var(--font-size) + 2 * var(--gap-size));
			width: calc(var(--font-size) + 2 * var(--gap-size));
			background-color: var(--medium-gray);
			color: var(--dark-gray);
			font-family: var(--font-family);
			font-size: var(--font-size);
			font-weight: bold;
			cursor: pointer;
			transition: var(--transition);
			outline: none;
		}

		#reset:focus, #reset:hover {
			box-shadow: 0 0 var(--gap-size) var(--light-gray);
			background-color: var(--light-gray);
		}

	/* input */
		#word {
			position: absolute;
			top: -100vh;
			left: -100vw;
			height: 0;
			width: 0;
			border: 0;
			padding: 0;
			opacity: 0;
		}

/*** visible ***/
	/* description */
		#description {
			float: left;
			width: 100%;
			text-align: center;
			height: calc(12 * var(--gap-size) + var(--font-size));
			color: var(--medium-gray);
			font-family: var(--font-family);
			font-size: var(--font-size);
			line-height: 1;
			padding: calc(2 * var(--gap-size)) calc(6 * var(--gap-size) + var(--font-size));
			box-sizing: border-box;
			user-select: 0;
			transition: var(--transition);
		}

		#description[invisible] {
			opacity: 0;
		}

	/* input */
		#input {
			float: left;
			width: 100vw;
			background-color: transparent;
			text-align: center;
			height: calc(2 * var(--font-size) + 4 * var(--gap-size));
			transition: var(--transition);
		}

		#input[success] {
			text-shadow: 0 0 calc(2 * var(--gap-size)) var(--light-gray);
		}

		#clear {
			height: var(--font-size);
			background: transparent;
			border: none;
			outline: none;
			font-family: var(--font-family);
			font-size: var(--font-size);
			color: var(--medium-gray);
			cursor: pointer;
			transition: var(--transition);
			padding: 0;
			line-height: 1;
			user-select: none;
		}

		#clear[invisible] {
			opacity: 0;
			pointer-events: none;
		}

		#clear:focus, #clear:hover {
			color: var(--light-gray);
		}

		.segment {
			font-family: var(--font-family);
			font-size: calc(var(--font-size) * 2);
			color: var(--light-gray);
			font-weight: bold;
			padding: 0;
			margin: 0;
			line-height: 1;
			text-transform: uppercase;
			letter-spacing: var(--gap-size);
		}

		.letter {
			font-family: var(--font-family);
			font-size: calc(var(--font-size) * 2);
			font-weight: bold;
			padding: var(--gap-size);
			margin: 0;
			margin-right: var(--gap-size);
			line-height: 1;
			border-radius: var(--border-radius);
			color: var(--dark-gray);
			background: var(--medium-gray);
			text-transform: uppercase;
			transition: var(--transition);
		}

		.letter[active] {
			color: var(--light-gray);
		}

	/* count */
		#count {
			float: left;
			width: 100%;
			height: var(--font-size);
			margin-top: var(--gap-size);
			margin-bottom: var(--gap-size);
			text-align: center;
			color: var(--medium-gray);
			font-family: var(--font-family);
			font-size: var(--font-size);
		}

		.slot {
			height: var(--gap-size);
			width: var(--gap-size);
			padding: var(--gap-size);
			margin: var(--gap-size);
			border-radius: 100%;
			display: inline-block;
			background-color: var(--medium-gray);
			transition: var(--transition);
		}

		.slot[active] {
			background-color: var(--light-gray);
		}

	/* list */
		#list {
			float: left;
			width: 100%;
			height: calc(100vh - (12 * var(--gap-size) + var(--font-size)) - (var(--font-size) + 2 * var(--gap-size)) - (2 * var(--font-size) + 4 * var(--gap-size)) - var(--font-size));
			overflow-x: hidden;
			overflow-y: scroll;
		}

		.word {
			font-family: var(--font-family);
			font-size: var(--font-size);
			color: var(--medium-gray);
			text-transform: uppercase;
			cursor: default;
			margin: calc(2 * var(--gap-size));
			width: calc(100vw / 3 - 4 * var(--gap-size));
			float: left;
			text-align: center;
			transition: var(--transition);
		}

		.word[new] {
			text-shadow: 0 0 var(--gap-size) var(--medium-gray);
		}

/*** mobile ***/
	#keyboard-button {
		position: absolute;
		bottom: calc(2 * var(--gap-size));
		left: 50%;
		transform: translateX(-50%);
		background-color: var(--medium-gray);
		padding: 0;
		color: var(--dark-gray);
		border-radius: var(--border-radius);
		font-size: calc(4 * var(--font-size));
		font-family: var(--font-family);
		line-height: 0.5;
		cursor: pointer;
		outline: none;
		border: none;
		height: calc(3 * var(--font-size));
		width: auto;
	}

	#keyboard-button:focus, #keyboard-button:hover {
		box-shadow: 0 0 var(--gap-size) var(--light-gray);
		background-color: var(--light-gray);
	}

	#keyboard-button[invisible] {
		opacity: 0;
		pointer-events: none;
		display: none;
	}

	@media screen and (max-width: 500px) {
		:root {
			--font-size: 20px;
		}

		.word {
			width: calc(100vw / 2 - 4 * var(--gap-size));
		}
	}

/*** j-logo ***/
	#j-logo {
		position: absolute;
		top: 14px;
		right: 7px;
		color: #04b1ff;
		height: 32px;
		width: 32px;
		cursor: pointer;
		z-index: 1000;
		outline: none;
		transition: var(--transition);
	}

	#j-logo svg {
		fill: currentColor;
		height: 100%;
		width: auto;
	}

	#j-logo path {
		d: path("M 60 27 C 60 42 60 58 60 73 C 60 74 60 74 61 74 C 64 74 68 74 70 74 C 71 74 72 73 72 72 C 72 58 72 42 72 28 C 72 27 71 26 70 26 C 68 26 64 26 61 26 C 60 26 60 26 60 27 Z M 30 74 C 32 74 36 74 38 74 C 39 74 39 74 38 73 C 35 70 32 67 29 64 C 28 63 28 63 28 64 C 28 67 28 70 28 72 C 28 73 29 74 30 74 Z M 43 74 C 46 74 54 74 57 74 C 58 74 58 74 58 73 C 58 66 58 34 58 27 C 58 26 58 26 57 26 C 54 26 46 26 44 26 C 42 26 42 26 40 24 C 38 22 30 14 28 12 C 27 11 26 10 28 10 C 30 10 54 10 56 10 C 58 10 58 10 60 12 C 62 14 69 21 72 24 C 74 26 74 26 74 29 C 74 34 74 66 74 71 C 74 74 74 74 72 76 C 70 78 62 86 60 88 C 58 90 58 90 56 90 C 54 90 46 90 44 90 C 42 90 42 90 40 88 C 38 86 30 78 28 76 C 26 74 26 74 26 71 C 26 70 26 62 26 60 C 26 58 27 59 28 60 C 30 62 38 70 40 72 C 42 74 42 74 43 74 Z");
	}

	#j-logo:hover, #j-logo:focus {
		filter: drop-shadow(0 0 var(--gap-size) var(--light-gray));
	}
