/* page */
	body {
		padding: 0px;
		margin: 0px;
	}

	#banner {
		width: 100%;
		height: 20vw;
		background-size: cover;
		background-repeat: no-repeat;
		background-image: url("banner.png");
		background-color: gray;
	}

	.demoButton {
		float: left;
		background-color: darkgray;
		text-align: center;
		color: white;
		font-size: 20px;
		font-family: Ubuntu, arial, sans-serif;
		-webkit-user-select: none;        
		-moz-user-select: none;
		-ms-user-select: none;
		cursor: pointer;
	}

	.demoButton:hover {
		background-color: gray;
		color: #50C6E0;
	}

	#footer {
		height: 10px;
		width: 100%;
		background-color: gray;
	}

	.selected {
		background-color: gray;
		color: #50C6E0;
	}
