/*** page ***/
	/* variables */
		:root {
			--dark-gray: #111111;
			--medium-gray: #777777;
			--light-gray: #dddddd;
			--dark-blue: #003377;
			--medium-blue: #0066aa;
			--light-blue: #04b1ff;
			--shadow-size: 5px;
			--font-family: "Roboto", sans-serif;
			--gap-size: 10px;
			--border-radius: 5px;
			--icon-size: 30px;
			--small-font-size: 20px;
			--medium-font-size: 40px;
			--large-font-size: 80px;
			--half-opacity: 0.5;
			--image-size: 200px;
			--j-size: 50px;
			--transition-time: 0.5s;
		}

	/* html */
		html {
			scroll-behavior: smooth;
			background-color: var(--medium-gray);
			box-shadow: 0 0 var(--shadow-size) var(--dark-gray) inset;
		}

		body {
			background-color: var(--medium-gray);
			position: absolute;
			top: 0;
			left: 0;
			width: 100vw;
			min-height: 100vh;
			height: auto;
			margin: 0;
			padding: 0;
			border: 0;
			font-family: var(--font-family);
			font-size: 0;
			text-align: center;
		}

	/* scrollbars */
		::-webkit-scrollbar {
			height: 0 !important;
			width: 0 !important;
		}

		::-moz-scrollbar {
			height: 0 !important;
			width: 0 !important;
		}

		::-ms-scrollbar {
			height: 0 !important;
			width: 0 !important;
		}

		::-o-scrollbar {
			height: 0 !important;
			width: 0 !important;
		}

/*** info ***/
	#info {
		float: left;
		height: var(--image-size);;
		width: calc(100% - 2 * 2 * var(--gap-size));
		overflow: hidden;
		background-color: var(--dark-gray);
		color: var(--light-gray);
		padding: calc(2 * var(--gap-size)) calc(2 * var(--gap-size)) 0 calc(2 * var(--gap-size));
		text-align: left;
	}

	/* about */
		#info-image {
			float: right;
			display: inline-block;
			border-radius: 100%;
			background-image: url("headshot.jpg");
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
			height: var(--image-size);
			width: var(--image-size);
		}

		#info-content {
			float: left;
			display: inline-block;
			height: var(--image-size);
			width: calc(100% - var(--image-size));
		}

		#info-name {
			float: left;
			font-weight: normal;
			user-select: none;
			cursor: default;
			font-size: var(--large-font-size);
			color: var(--light-gray);
			height: calc(var(--image-size) / 2);
			width: 100%;
			margin: 0;
			padding: 0;
			line-height: 1;
		}

		#info-bio {
			float: left;
			user-select: none;
			font-size: var(--small-font-size);
			color: var(--light-gray);
			cursor: default;
			width: 100%;
			height: calc(var(--image-size) / 4);
			margin: 0;
			padding: 0;
		}

		.tag-button {
			color: var(--light-blue);
			cursor: pointer;
			transition: var(--transition-time);
			pointer-events: all;
			word-break: keep-all !important;
		}

		.tag-button:hover, .tag-button:focus {
			color: var(--medium-blue);
		}

	/* links */
		#info-links {
			float: left;
			width: 100%;
			height: calc(var(--image-size) / 4);
			list-style-type: none;
			user-select: none;
			padding: 0;
			margin: 0;
		}

		#info-links li {
			list-style-type: none;
			display: inline-block;
		}

		#info-links a, #info-links a:visited {
			text-align: center;
			text-decoration: none;
			float: left;
			width: var(--icon-size);
			height: var(--icon-size);
			color: var(--light-blue);
			cursor: pointer;
			border-radius: var(--border-radius);
			padding: var(--gap-size);
			font-size: var(--icon-size);
			transition: var(--transition-time);
		}

		#info-links a:hover {
			color: var(--medium-blue);
		}

		#info-links li:first-child a {
			padding-left: 0;
		}

		#j-logo {
			float: left;
			width: var(--icon-size);
			height: var(--icon-size);
			background-color: transparent;
			border: 0;
			margin: var(--gap-size);
			padding: 0;
			background-image: url("j.png");
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
			cursor: pointer;
			outline: none;
			transition: var(--transition-time);
		}

		#j-logo:hover {
			filter: brightness(var(--half-opacity));
		}

/*** navigation ***/
	#navigation {
		position: sticky;
		top: 0;
		overflow: hidden;
		float: left;
		width: calc(100% - 2 * 2 * var(--gap-size));
		height: calc(2 * var(--gap-size) + var(--medium-font-size));
		list-style-type: none;
		margin: 0;
		padding: calc(2 * var(--gap-size));
		background-color: var(--dark-gray);
		text-align: center;
		box-shadow: 0 0 var(--shadow-size) var(--dark-gray);
		user-select: none;
	}

	#navigation-search {
		float: left;
		padding: var(--gap-size);
		height: var(--medium-font-size);
		width: calc(100% - 2 * var(--gap-size));
		border: 0;
		margin: 0;
		border-radius: calc(2 * var(--border-radius));
		font-family: var(--font-family);
		font-size: var(--medium-font-size);
		color: var(--dark-gray);
		outline: none;
		background-color: var(--light-gray);
	}

/*** projects ***/
	#projects {
		overflow: hidden;
		float: left;
		width: calc(100% - 2 * 2 * var(--gap-size));
		padding: calc(2 * var(--gap-size));
		margin-bottom: calc(3 * var(--medium-font-size) + 2 * var(--gap-size) + var(--icon-size) + 2 * var(--gap-size));
	}

	/* project */
		.project {
			float: left;
			border-radius: calc(2 * var(--border-radius));
			padding: var(--gap-size);
			margin-bottom: var(--gap-size);
			margin-right: var(--gap-size);
			background-color: var(--dark-gray);
			overflow: hidden;
			box-shadow: 0 0 var(--shadow-size) var(--dark-gray);
		}

		.project-name {
			float: left;
			width: 100%;
			height: var(--medium-font-size);
			font-size: var(--medium-font-size);
			font-weight: normal;
			margin: 0;
			margin-bottom: var(--gap-size);
			text-align: center;
			text-transform: uppercase;
			user-select: none;
			color: var(--light-gray);
			padding: 0;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		.project-image {
			float: left;
			height: var(--image-size);
			width: var(--image-size);
			background-position: center center;
			background-size: cover;
			background-repeat: no-repeat;
			user-select: none;
			border-radius: var(--border-radius);
		}

		.project-summary {
			float: left;
			width: calc(100% - var(--image-size) - var(--gap-size));
			height: var(--image-size);
			padding: 0;
			margin: 0;
			margin-left: var(--gap-size);
			font-size: var(--small-font-size);
			user-select: none;
			color: #dddddd;
			overflow: hidden;
			text-align: left;
		}

	/* link */
		a.project {
			cursor: pointer;
			outline: none;
			transition: var(--transition-time);
		}

		a.project .project-name, a.project:visited .project-name {
			text-decoration: none;
			color: var(--light-blue);
			transition: var(--transition-time);
		}

		a.project:hover .project-name {
			color: var(--medium-blue);
		}

/*** back-to-top ***/
	#back-to-top {
		position: absolute;
		bottom: calc(3 * var(--medium-font-size) + var(--gap-size));
		left: 50%;
		transform: translateX(-50%);
		color: var(--light-blue);
		font-size: var(--icon-size);
		cursor: pointer;
		text-decoration: none;
		transition: var(--transition-time);
		text-align: center;
	}

	#back-to-top:hover {
		color: var(--medium-blue);
	}

/*** footer ***/
	#footer {
		position: absolute;
		bottom: 0;
		width: calc(100% - 2 * var(--gap-size));
		text-align: center;
		height: calc(var(--small-font-size) * 3);
		padding: var(--gap-size);
		background-color: var(--dark-gray);
		color: var(--light-gray);
	}

	/* friends */
		#footer-friends {
			float: left;
			width: auto;
			height: calc(var(--small-font-size) * 2);
			overflow: hidden;
			font-size: var(--small-font-size);
			color: var(--medium-gray);
			text-align: left;
			line-height: 1;
		}

		#footer-friends-header {
			display: inline-block;
			font-weight: bold;
		}

		#footer-friends a {
			display: inline-block;
			cursor: pointer;
			outline: none;
			transition: var(--transition-time);
		}

		#footer-friends a, #footer-friends a:visited {
			text-decoration: none;
			color: var(--light-blue);
			transition: var(--transition-time);
		}

		#footer-friends a:hover {
			color: var(--medium-blue);
		}

	/* copyright */
		#footer-copyright {
			position: absolute;
			bottom: var(--gap-size);
			right: var(--gap-size);
			font-size: var(--small-font-size);
			color: var(--medium-gray);
			font-weight: bold;
		}

		#footer-copyright a {
			font-weight: normal;
			cursor: pointer;
			outline: none;
			transition: var(--transition-time);
		}

		#footer-copyright a, #footer-copyright a:visited {
			text-decoration: none;
			color: var(--light-blue);
			transition: var(--transition-time);
		}

		#footer-copyright a:hover {
			color: var(--medium-blue);
		}

/*** media queries ***/
	/** desktop **/
		@media screen and (min-width: 1250px) {
			/* projects */
				.project {
					width: calc((100% - 3 * (2 * var(--gap-size)) - (2 * var(--gap-size))) / 3);
				}

				.project:nth-child(3n) {
					margin-right: 0;
				}
		}

	/** tablet **/
		@media screen and (min-width: 800px) and (max-width: 1249px) {
			/* projects */
				.project {
					width: calc((100% - 2 * (2 * var(--gap-size)) - (var(--gap-size))) / 2);
				}

				.project:nth-child(2n) {
					margin-right: 0;
				}
		}

	/** mobile **/
		@media screen and (max-width: 799px) {
			/* info */
				#info {
					height: auto;
				}

				#info-image {
					display: none;
				}

				#info-content {
					width: 100%;
					height: auto;
					text-align: center;
				}

				#info-name {
					height: auto;
					margin-bottom: var(--gap-size);
				}

				#info-bio {
					height: auto;
					margin-bottom: var(--gap-size);
				}

			/* projects */
				.project {
					width: calc(100% - 2 * var(--gap-size));
					height: auto;
					margin-right: 0;
				}

				.project-image {
					width: calc(100vw - 3 * 2 * var(--gap-size));
					height: calc(100vw - 3 * 2 * var(--gap-size));
				}

				.project-summary {
					width: 100%;
					margin-left: 0;
					margin-top: var(--gap-size);
					height: auto;
				}

			/* footer */
				#footer {
					height: calc(var(--small-font-size) * 4);
				}

				#footer-friends {
					height: calc(var(--small-font-size) * 3);
				}
		}

/*** game ***/
	.j {
		height: var(--j-size);
		width: var(--j-size);
		margin: 0;
		padding: 0;
		border: 0;
		outline: none;
		border-radius: 100%;
		position: absolute;
		background-color: rgba(0, 0, 0, var(--half-opacity));
		background-image: url("j.png");
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		cursor: pointer;
		box-shadow: 0 0 var(--shadow-size) var(--dark-gray);
		z-index: 100;
	}

	.j:hover {
		box-shadow: 0 0 var(--shadow-size) var(--light-gray);
	}

	.j[fade=true] {
		opacity: 0;
		transition: var(--transition-time);
		pointer-events: none;
	}
