/*** page ***/
	body {
		position: fixed;
		top: 0px;
		left: 0px;
		width: 100vw;
		height: 100%;
		padding: 0px;
		margin: 0px;
		background: #333333;
		overflow: hidden;
	}

	svg {
		fill: currentColor;
		height: 100%;
		width: auto;
		vertical-align: top;
	}

/*** overlay ***/
	#overlay {
		position: absolute;
		z-index: 2;
		width: 100%;
		height: 100%;
		top: 0px;
		left: 0px;
		background-color: #333333;
		opacity: 0.5;
	}

	#overlay-text {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		text-align: center;
		font-size: 50px;
		font-family: monospace;
		color: #dddddd;
		cursor: pointer;
		user-select: none;
	}

/*** container ***/
	#container {
		position: absolute;
		z-index: 1;
		width: 100%;
		height: 100%;
		top: 0px;
		left: 0px;
	}

	#overlay ~ #container {
		filter: blur(5px);
	}

/*** canvas ***/
	#visualizer {
		position: absolute;
		top: 0px;
		z-index: 0;
		width: 100%;
		height: 100%;
		pointer-events: none;
	}

/*** controls ***/
	#controls {
		position: absolute;
		top: calc(70% - 35px);
		height: 25px;
		width: calc(100% - 10px);
		background-color: #dddddd;
		border-radius: 8px;
		margin: 5px;
	}

	/* instrument */
		#controls-instrument {
			float: left;
			height: 100%;
			width: calc(100% / 5);
			border: 0px;
			margin: 0px;
			background-color: #222222;
			color: #dddddd;
			font-size: 15px;
			font-family: monospace;
			border-radius: 5px;
			cursor: pointer;
			outline: none;
		}

	/* inputs */
		#controls-speed-outer, #controls-radius-outer, #controls-shrink-outer, #controls-volume-outer {
			float: left;
			width: calc(100% / 5);
			padding: 0px;
			height: 100%;
			text-align: center;
			font-family: monospace;
			font-size: 15px;
			color: #222222;
			cursor: pointer;
			outline: none;
		}

		#controls-speed-text, #controls-radius-text, #controls-shrink-text, #controls-volume-text {
			float: left;
			height: 100%;
			width: calc(50% - 5px);
			text-align: right;
			padding: 0px 5px 0px 0px;
			overflow: hidden;
			font-family: monospace;
			font-size: 15px;
		}

		#controls-speed, #controls-radius, #controls-shrink, #controls-volume {
			float: left;
			height: calc(100% - 10px);
			width: calc(50% - 10px);
			color: #dddddd;
			margin: 0px 0px;
			padding: 5px;
			cursor: pointer;
			outline: none;
			background-color: #222222;
			border: 0px;
			border-radius: 5px;
			text-align: right;
		}

	/* button */
		#controls-midi {
			height: 25px;
			width: 25px;
			padding: 0;
			cursor: pointer;
			color: var(--dark-gray);
			outline: none;
			border: none;
			background: transparent;
			vertical-align: top;
			color: #222222;
		}

		#controls-midi:hover, #controls-midi:focus {
			color: #04b1ff;
		}

	/* slider */
		#controls-volume {
			height: 100%;
			color: #222222;
			margin: 0px;
			padding: 0px;
			cursor: pointer;
			outline: none;
		}

	/* j-logo */
		#j-logo {
			position: absolute;
			top: 14px;
			right: 7px;
			color: #04b1ff;
			height: 32px;
			width: 32px;
			cursor: pointer;
			outline: none;
			z-index: -1;
		}

		#j-logo svg {
			fill: currentColor;
			height: 100%;
			width: auto;
		}

		#j-logo path {
			d: path("M 60 27 C 60 42 60 58 60 73 C 60 74 60 74 61 74 C 64 74 68 74 70 74 C 71 74 72 73 72 72 C 72 58 72 42 72 28 C 72 27 71 26 70 26 C 68 26 64 26 61 26 C 60 26 60 26 60 27 Z M 30 74 C 32 74 36 74 38 74 C 39 74 39 74 38 73 C 35 70 32 67 29 64 C 28 63 28 63 28 64 C 28 67 28 70 28 72 C 28 73 29 74 30 74 Z M 43 74 C 46 74 54 74 57 74 C 58 74 58 74 58 73 C 58 66 58 34 58 27 C 58 26 58 26 57 26 C 54 26 46 26 44 26 C 42 26 42 26 40 24 C 38 22 30 14 28 12 C 27 11 26 10 28 10 C 30 10 54 10 56 10 C 58 10 58 10 60 12 C 62 14 69 21 72 24 C 74 26 74 26 74 29 C 74 34 74 66 74 71 C 74 74 74 74 72 76 C 70 78 62 86 60 88 C 58 90 58 90 56 90 C 54 90 46 90 44 90 C 42 90 42 90 40 88 C 38 86 30 78 28 76 C 26 74 26 74 26 71 C 26 70 26 62 26 60 C 26 58 27 59 28 60 C 30 62 38 70 40 72 C 42 74 42 74 43 74 Z");
		}

		#j-logo:hover, #j-logo:focus {
			filter: drop-shadow(0px 0px 8px #dddddd);
		}

/*** keyboard ***/
	#keyboard {
		position: absolute;
		top: 70%;
		height: calc(30% - 5px);
		width: calc(100% - 5px);
		border-radius: 8px;
		margin: 0px 5px 0px 5px;
	}

	/* keys */
		.key {
			position: absolute;
			top: 0px;
			border: 0px;
			border-radius: 0px 0px 8px 8px;
			cursor: pointer;
			font-family: monospace;
			font-size: 15px;
			outline: none;
			user-select: none;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			-o-user-select: none;
		}

		.key:first-child {
			border-radius: 16px 0px 8px 16px;
		}

		.key:last-child {
			border-radius: 0px 16px 16px 8px;
		}

	/* white */
		.key[color="white"] {
			z-index: 1;
			background-color: #dddddd;
			width: calc((100% / 15) - 5px);
			height: 100%;
			color: rgba(0,0,0,0.2);
		}

		.key[color="white"]:hover {
			box-shadow: 0px 0px 10px #aaaaaa;
		}

		.key[color="white"][selected] {
			z-index: 2;
			box-shadow: 0px 0px 20px #dddddd;
		}

		.key[color="white"]:not([selected]) {
			background-color: #dddddd !important;
		}

	/* black */
		.key[color="black"] {
			z-index: 3;
			width: calc(75% / 15);
			height: 75%;
			color: rgba(0,0,0,0.5);
		}

		.key[color="black"]:hover {
			box-shadow: 0px 0px 10px #aaaaaa;
		}

		.key[color="black"][selected] {
			z-index: 4;
			box-shadow: 0px 0px 20px #dddddd;
		}

		.key[color="black"]:not([selected]) {
			background-color: #222222 !important;
		}
