/* page */
	body {
		padding: 0px;
		margin: 0px;
		border: 0px;
	}

/* top */
	#top {
		float: left;
		width: 100%;
		padding: 10px;
		min-height: 35vh;
		background-color: lightgray;
	}

	#input {
		min-height: calc(35vh - 20px);
		max-width: 100%;
	}

/* bottom */
	#bottom {
		float: left;
		width: 100%;
		min-height: calc(65vh - 2px);
		padding: 10px;
	}

	.helper {
		color: darkgray;
	}

	#output {
		border: 1px solid lightgray;
		border-radius: 4px;
		width: 100%;
		min-height: calc(65vh - 22px);
		padding: 5px 10px 5px 10px;
		text-align: left;
	}

	#output:active {
		border: 1px solid lightblue;
	}

	#output:hover {
		border: 1px solid lightblue;
	}