/*** page ***/
	/* variables */
		:root {
			--dark-gray: #111111;
			--almost-dark-gray: #333333;
			--medium-gray: #999999;
			--light-gray: #dddddd;
			--font-family: monospace;
			--gap-size: 10px;
			--border-radius: 10px;
			--small-font-size: 15px;
			--medium-font-size: 25px;
			--large-font-size: 40px;
			--transition-time: 0.2s;
			--shadow-size: 10px;

			--harmonics-count: 33;
			--semitones-per-octave: 12;
			--envelope-component-max-width: 25%;
			--envelope-component-min-size: 3%;

			--switcher-height: 50px;

			--keyboard-height: 35vh;
			--key-gap-size: 5px;
			--white-key-count: 15;
			--black-key-ratio: 0.75;
			--white-key-brightness: 0.9;
			--black-key-brightness: 0.5;
		}

	/* container */
		html, body {
			position: fixed;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			margin: 0;
			padding: 0;
			background-color: var(--dark-gray);
			font-family: var(--font-family);
			overflow: hidden;
		}

		#container {
			position: fixed;
			top: 0%;
			left: 0%;
			height: 100%;
			width: 100%;
		}

/*** sections ***/
	#tools {
		position: absolute;
		top: 0%;
		left: 0%;
		height: calc(100% - var(--keyboard-height) - var(--switcher-height) - 4 * var(--gap-size));
		width: calc(100% - 2 * var(--gap-size));
		margin: var(--gap-size);
	}

/*** switcher ***/
	#switcher {
		position: absolute;
		bottom: calc(var(--keyboard-height) + var(--gap-size));
		left: 0%;
		height: var(--switcher-height);
		width: calc(100% - 2 * var(--gap-size));
		display: flex;
		flex-direction: row;
		justify-content: center;
		padding: var(--gap-size);
		background: linear-gradient(to bottom, transparent, var(--dark-gray));
	}

	#switcher button {
		font-family: var(--font-family);
		font-size: var(--small-font-size);
		color: var(--medium-gray);
		border: 0;
		border-radius: var(--border-radius);
		margin: 0 calc(var(--gap-size) / 2);
		padding: calc(var(--gap-size) / 2);
		text-align: center;
		background-color: var(--light-gray);
		width: calc(100% / 9);
		cursor: pointer;
		outline: none;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		-o-user-select: none;
		user-select: none;
		box-sizing: border-box;
		transition: calc(var(--transition-time) * 2);
	}

	#switcher button:first-child {
		margin-left: 0;
	}

	#switcher button:last-child {
		margin-right: 0;
	}

	#switcher button:hover, #switcher button:focus, #switcher div:hover, #switcher div:focus {
		box-shadow: 0 0 var(--shadow-size) var(--light-gray);
	}

	#switcher button[selected] {
		background-color: var(--light-gray);
		color: var(--dark-gray);
		box-shadow: 0 0 var(--shadow-size) var(--light-gray);
	}

	#switcher button[value="tool-echo"] span {
		transform: scaleX(-1);
	}

/*** keyboard ***/
	#keyboard-behind {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: calc(var(--keyboard-height) + var(--gap-size));
		z-index: 1;
		background: var(--dark-gray);
	}

	#keyboard {
		position: absolute;
		bottom: 0;
		left: calc(2 * var(--gap-size));
		height: var(--keyboard-height);
		width: calc(100% - 6 * var(--gap-size));
		border-radius: var(--border-radius);
		margin: var(--gap-size);
		background: var(--dark-gray);
		z-index: 2;
	}

	/* shift */
		#keyboard-octave-down, #keyboard-octave-up {
			position: absolute;
			bottom: var(--gap-size);
			height: calc(var(--keyboard-height) - 2 * var(--gap-size));
			width: calc(2 * var(--gap-size));
			font-family: var(--font-family);
			font-size: var(--small-font-size);
			font-weight: bold;
			background: var(--almost-dark-gray);
			color: var(--medium-gray);
			border: none;;
			outline: none;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			-o-user-select: none;
			user-select: none;
			margin: var(--gap-size);
			cursor: pointer;
			transition: var(--transition-time);
			text-align: center;
			z-index: 3;
		}

		#keyboard-octave-down:hover, #keyboard-octave-up:hover, #keyboard-octave-down:focus, #keyboard-octave-up:focus {
			color: var(--light-gray);
			box-shadow: 0 0 var(--shadow-size) var(--medium-gray);
		}

		#keyboard-octave-down {
			left: 0;
			border-radius: var(--border-radius) 0 0 var(--border-radius);
		}

		#keyboard-octave-up {
			right: 0;
			border-radius: 0 var(--border-radius) var(--border-radius) 0;
		}

	/* keys */
		.key {
			position: absolute;
			top: 0;
			border: 0;
			border-radius: 0 0 var(--border-radius) var(--border-radius);
			cursor: pointer;
			font-family: var(--font-family);
			font-size: var(--small-font-size);
			outline: none;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			-o-user-select: none;
			user-select: none;
			color: var(--medium-gray);
		}

		.key:first-child {
			border-radius: var(--border-radius) 0 var(--border-radius) var(--border-radius);
		}

		.key:last-child {
			border-radius: 0 var(--border-radius) var(--border-radius) var(--border-radius);
			width: calc(100% / var(--white-key-count)) !important;
		}

	/* white */
		.key[color="white"] {
			z-index: 1;
			background-color: var(--light-gray);
			width: calc((100% / var(--white-key-count)) - var(--key-gap-size));
			height: 100%;
			transition: var(--transition-time);
		}

		.key[color="white"]:hover {
			filter: brightness(var(--white-key-brightness));
		}

		.key[color="white"][selected] {
			z-index: 2;
			filter: brightness(var(--white-key-brightness));
			box-shadow: 0 0 var(--shadow-size) var(--dark-gray) inset;
		}


	/* black */
		.key[color="black"] {
			z-index: 3;
			background-color: var(--almost-dark-gray);
			width: calc((100% / var(--white-key-count) * var(--black-key-ratio)) - (var(--key-gap-size) * 0.75));
			height: calc(100% * var(--black-key-ratio));
			transition: var(--transition-time);
			box-shadow: 0 0 var(--shadow-size) var(--dark-gray);
		}

		.key[color="black"]:hover {
			filter: brightness(var(--black-key-brightness));
		}

		.key[color="black"][selected] {
			z-index: 4;
			filter: brightness(var(--black-key-brightness));
			box-shadow: none;
		}

/*** classes ***/
	/* font awesome */
		.fas {
			pointer-events: none;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			-o-user-select: none;
			user-select: none;
		}

	/* tools */
		.tool {
			position: absolute;
			top: 0%;
			left: 0%;
			height: 100%;
			width: 100%;
		}

		.tool:not([selected]) {
			display: none;
		}

		.tool[grabbing] {
			cursor: grabbing;
			cursor: -webkit-grabbing;
		}

		.section {
			position: absolute;
			left: 0;
			width: 100%;
		}

	/* toggles / buttons */
		.toggle, .button {
			position: absolute;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			-o-user-select: none;
			user-select: none;
			outline: none;
			cursor: pointer;
			border: 0;
			padding: 0;
			text-align: center;
			font-family: var(--font-family);
			transition: var(--transition-time);
		}

		.toggle[selected], .button:active {
			background-color: var(--light-gray);
			color: var(--dark-gray);
			box-shadow: 0 0 var(--shadow-size) var(--light-gray);
		}

		.toggle:not([selected]), .button {
			background-color: var(--light-gray);
			color: var(--medium-gray);
		}

		.toggle:not([selected]):hover, .button:hover {
			box-shadow: 0 0 var(--shadow-size) var(--light-gray);
		}

	/* tracks */
		.track {
			position: absolute;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			-o-user-select: none;
			user-select: none;
		}

	/* bars / shapes */
		.bar {
			position: absolute;
			left: 0%;
			bottom: 0%;
			background-color: var(--light-gray);
			border-radius: var(--border-radius);
			cursor: pointer;
			color: var(--medium-gray);
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			-o-user-select: none;
			user-select: none;
			min-height: 1%;
			max-height: 100%;
			min-width: 1%;
			max-width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			box-sizing: border-box;
		}

		.shape {
			position: absolute;
			background-color: var(--light-gray);
			border-radius: var(--border-radius);
			text-align: center;
			cursor: pointer;
			color: var(--medium-gray);
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			-o-user-select: none;
			user-select: none;
			min-height: 1%;
			max-height: 100%;
			min-width: 1%;
			max-width: 100%;
			display: flex;
			justify-content: center;
			align-items: flex-end;
			font-size: var(--medium-font-size);
			line-height: 1;
		}

		.bar:hover, .shape:hover {
			box-shadow: 0 0 var(--shadow-size) var(--light-gray);
		}

		.bar[selected], .shape[selected] {
			color: var(--dark-gray);
			background-color: var(--light-gray);
			box-shadow: 0 0 var(--shadow-size) var(--light-gray);
			cursor: grabbing;
			cursor: -webkit-grabbing;
		}

	/* inputs */
		.input {
			position: absolute;
			bottom: 0;
			padding: 0;
			border: 0;
			outline: none;
			background-color: var(--almost-dark-gray);
			color: var(--medium-gray);
			text-align: center;
			border-radius: var(--border-radius);
			font-family: var(--font-family);
			transition: var(--transition-time);
		}

		.input:hover {
			box-shadow: 0 0 var(--shadow-size) var(--light-gray);
		}

		.input:focus {
			z-index: 2;
			color: var(--light-gray);
			box-shadow: 0 0 var(--shadow-size) var(--light-gray);
		}

/*** tool-meta-file ***/
	#tool-meta-file {
		top: 0%;
		left: 0%;
	}

	#tool-meta-file .button {
		position: relative;
		height: calc(var(--large-font-size) + 2 * var(--gap-size));
		width: calc(var(--large-font-size) + 2 * var(--gap-size));
		border-radius: var(--border-radius);
		text-align: center;
		line-height: 1;
		font-size: var(--large-font-size);
		vertical-align: top;
		display: inline-block;
		box-sizing: border-box;
	}

	/* first row */
		#tool-meta-select {
			position: relative;
			font-size: var(--large-font-size);
			height: calc(var(--large-font-size) + 2 * var(--gap-size));
			width: calc(100% - 2 * (var(--gap-size) + (var(--large-font-size) + 2 * var(--gap-size))));
			line-height: 1;
			box-sizing: border-box;
			cursor: pointer;
			margin-bottom: var(--gap-size);
			margin-left: var(--gap-size);
			color: var(--light-gray);
		}

		#tool-meta-upload {
			padding: var(--gap-size) 0;
		}

		#upload-link {
			height: 0;
			width: 0;
			opacity: 0;
			font-size: 0;
			display: none;
		}

		#j-logo {
			display: inline-block;
			vertical-align: top;
			height: calc(var(--large-font-size) + 2 * var(--gap-size));
			width: calc(var(--large-font-size) + 2 * var(--gap-size));
			background-color: var(--almost-dark-gray);
			background-image: url("../resources/j.png");
			background-repeat: no-repeat;
			background-size: 50%;
			background-position: center center;
			cursor: pointer;
			outline: none;
			border-radius: var(--border-radius);
			margin-left: var(--gap-size);
			transition: var(--transition-time);
		}

		#j-logo:hover, #j-logo:focus {
			box-shadow: 0 0 var(--shadow-size) var(--light-gray);
		}

	/* second row */
		#tool-meta-delete {
			margin-left: var(--gap-size);			
			overflow: hidden;
		}

		#tool-meta-name {
			position: relative;
			width: calc(100% - var(--gap-size) - (var(--large-font-size) + 2 * var(--gap-size)));
			height: calc(var(--large-font-size) + 2 * var(--gap-size));
			font-size: var(--large-font-size);
			padding: var(--gap-size);
			box-sizing: border-box;
			margin-left: var(--gap-size);
		}

		#tool-meta:not([custom]) #tool-meta-delete {
			width: 0 !important;
			margin: 0 !important;
		}

		#tool-meta[custom] #tool-meta-name {
			width: calc(100% - 2 * var(--gap-size) - 2 * (var(--large-font-size) + 2 * var(--gap-size)));
		}

		#download-link {
			height: 0;
			width: 0;
			opacity: 0;
			font-size: 0;
			display: none;
		}

/*** tool-meta-volume ***/
	#tool-meta-volume {
		top: calc((var(--large-font-size) + 3 * var(--gap-size)) * 2);
		height: calc(var(--large-font-size) + 2 * var(--gap-size));
	}

	#tool-meta-power {
		left: 0;
		top: 0;
		height: calc(var(--large-font-size) + 2 * var(--gap-size));
		width: calc(var(--large-font-size) + 2 * var(--gap-size));
		font-size: var(--medium-font-size);
		border-radius: 100%;
		line-height: 1;
	}

	#tool-meta-volume .input {
		left: calc(var(--large-font-size) + 3 * var(--gap-size));
		height: 100%;
		width: calc(2 * var(--large-font-size));
		font-size: var(--medium-font-size);
	}

	#tool-meta-volume .track {
		left: calc(3 * var(--large-font-size) + 4 * var(--gap-size));
		height: 100%;
		width: calc(100% - (4 * var(--large-font-size) + 7 * var(--gap-size)));
	}

	#tool-meta-volume .bar {
		height: 100%;
		font-size: var(--large-font-size);
		min-width: calc(var(--large-font-size) + 2 * var(--gap-size));
	}

	#tool-meta-recording-toggle {
		position: absolute;
		right: 0;
		top: 0;
		height: calc(var(--large-font-size) + 2 * var(--gap-size));
		width: calc(var(--large-font-size) + 2 * var(--gap-size));
		font-size: var(--medium-font-size);
		border-radius: 100%;
		line-height: 1;
	}

/*** tool-harmonics ***/
	#tool-harmonics .track {
		bottom: calc(var(--small-font-size));
		width: calc(100% / var(--harmonics-count));
		height: calc(100% - var(--small-font-size));
	}

	#tool-harmonics .bar {
		width: 100%;
		border-radius: var(--border-radius) var(--border-radius) 0 0;
		min-height: var(--small-font-size);
		color: var(--almost-dark-gray);
	}

	#tool-harmonics .input {
		height: var(--small-font-size);
		width: calc(100% / 33);
		font-size: calc(var(--small-font-size) / 2);
		border-radius: 0 0 var(--border-radius) var(--border-radius);
		padding: calc(var(--gap-size) / 2);
		box-sizing: border-box;
	}

	#tool-harmonics .input:focus, #tool-harmonics .input:hover {
		z-index: 2;
		border-radius: 0 var(--border-radius) var(--border-radius) var(--border-radius);
		width: calc(100% / var(--harmonics-count) * 3);
	}

	#tool-harmonics .input:focus {
		z-index: 3 !important;
	}

/*** tool-polysynth ***/
	#tool-polysynth {
		width: calc(100% + var(--gap-size) / 2);
	}

	#tool-polysynth[selected] {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
	}

	#tool-polysynth .toggle {
		height: calc(var(--medium-font-size) * 2 + 2 * var(--gap-size));
		width: calc(100% / (var(--semitones-per-octave) * 2 - 1) - var(--gap-size));
		border-radius: var(--border-radius);
		font-size: var(--small-font-size);
		text-align: center;
	}

	#tool-polysynth .toggle[selected] {
		height: 100%;
	}

/*** tool-vibrato ***/
	/* waves */
		.tool-vibrato-waves-toggle {
			position: relative;
			top: 0;
			left: 0;
			display: block;
			height: calc(var(--large-font-size) + 2 * var(--gap-size));
			width: calc(var(--large-font-size) * 3 + 2 * var(--gap-size));
			margin-right: var(--gap-size);
			margin-bottom: var(--gap-size);
			font-size: var(--medium-font-size);
			line-height: 1;
			vertical-align: top;
			border-radius: var(--border-radius);
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}

	/* pitch */
		#tool-vibrato-waves-toggle--none[selected] ~ #tool-vibrato-pitch {
			display: none;
		}

		#tool-vibrato-pitch {
			position: absolute;
			top: 0;
			left: calc(var(--large-font-size) * 3 + 3 * var(--gap-size));
			width: calc(var(--large-font-size) + 2 * var(--gap-size));
			height: 100%;
		}

		#tool-vibrato-track--pitch {
			position: relative;
			top: 0;
			left: 0;
			height: calc((100% - (var(--large-font-size) + 2 * var(--gap-size))) / 2);
			width: calc(var(--large-font-size) + 2 * var(--gap-size));
		}

		#tool-vibrato-bar--pitch {
			width: 100%;
			min-height: calc(var(--medium-font-size) + 2 * var(--gap-size));
			border-radius: var(--border-radius) var(--border-radius) 0 0;
		}

		#tool-vibrato-input--pitch {
			position: relative;
			top: 0;
			left: 0;
			width: calc(var(--large-font-size) + 2 * var(--gap-size));
			height: calc(var(--large-font-size) + 2 * var(--gap-size));
			border-radius: 0;
		}

		#tool-vibrato-mirror-track--pitch {
			position: relative;
			top: 0;
			left: 0;
			height: calc((100% - (var(--large-font-size) + 2 * var(--gap-size))) / 2);
			width: calc(var(--large-font-size) + 2 * var(--gap-size));
			pointer-events: none;
		}

		#tool-vibrato-mirror-bar--pitch {
			position: relative;
			top: 0;
			width: 100%;
			min-height: calc(var(--medium-font-size) + 2 * var(--gap-size));
			border-radius: 0 0 var(--border-radius) var(--border-radius);
			pointer-events: none;
		}

	/* interval */
		#tool-vibrato-waves-toggle--none[selected] ~ #tool-vibrato-interval {
			display: none;
		}

		#tool-vibrato-interval {
			position: absolute;
			top: 50%;
			left: calc(var(--large-font-size) * 3 + 3 * var(--gap-size) + var(--large-font-size) + 3 * var(--gap-size));
			transform: translateY(-50%);
			width: calc(100% - (var(--large-font-size) * 3 + 3 * var(--gap-size) + var(--large-font-size) + 3 * var(--gap-size)));
			height: calc(var(--large-font-size) + 2 * var(--gap-size));
		}

		#tool-vibrato-input--interval {
			width: calc(var(--large-font-size) + 2 * var(--gap-size));
			height: calc(var(--large-font-size) + 2 * var(--gap-size));
			border-radius: var(--gap-size) 0 0 var(--gap-size);
		}

		#tool-vibrato-track--interval {
			width: calc(100% - (var(--large-font-size) + 2 * var(--gap-size)));
			height: calc(var(--large-font-size) + 2 * var(--gap-size));
			left: calc(var(--large-font-size) + 2 * var(--gap-size));
		}

		#tool-vibrato-bar--interval {
			height: 100%;
			min-width: calc(var(--medium-font-size) + 2 * var(--gap-size));
			border-radius: 0 var(--border-radius) var(--border-radius) 0;
		}

	/* depiction */
		#tool-vibrato-depiction {
			position: absolute;
			right: 0;
			top: 0;
			width: calc(100% - (var(--large-font-size) * 3 + 3 * var(--gap-size) + var(--large-font-size) + 3 * var(--gap-size)) - (var(--large-font-size) + 2 * var(--gap-size)));
			height: 100%;
			z-index: -1;
			pointer-events: none;
			overflow: hidden;
		}

		#tool-vibrato-waves-toggle--none[selected] ~ #tool-vibrato-depiction {
			display: none;
		}

		#tool-vibrato-depiction-inner {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: 0;
			width: 100%;
			min-width: 100%;
			height: 100%;
			pointer-events: none;
		}

		.tool-vibrato-depiction--above {
			float: left;
			height: 50%;
			background-color: var(--almost-dark-gray);
		}

		.tool-vibrato-depiction--below {
			float: left;
			height: 50%;
			transform: translateY(100%);
			background-color: var(--almost-dark-gray);
		}

		#tool-vibrato-waves-toggle--sine[selected] ~ #tool-vibrato-depiction .tool-vibrato-depiction--above {
			border-radius: 100% 100% 0 0;
		}

		#tool-vibrato-waves-toggle--sine[selected] ~ #tool-vibrato-depiction .tool-vibrato-depiction--below {
			border-radius: 0 0 100% 100%;
		}

		#tool-vibrato-waves-toggle--square[selected] ~ #tool-vibrato-depiction .tool-vibrato-depiction--above {
			border-radius: 0;
		}

		#tool-vibrato-waves-toggle--square[selected] ~ #tool-vibrato-depiction .tool-vibrato-depiction--below {
			border-radius: 0;
		}

		#tool-vibrato-waves-toggle--triangle[selected] ~ #tool-vibrato-depiction .tool-vibrato-depiction--above {
			clip-path: polygon(0% 100%, 50% 0%, 100% 100%);
		}

		#tool-vibrato-waves-toggle--triangle[selected] ~ #tool-vibrato-depiction .tool-vibrato-depiction--below {
			clip-path: polygon(0% 0%, 50% 100%, 100% 0%);
		}

		#tool-vibrato-waves-toggle--sawtooth[selected] ~ #tool-vibrato-depiction .tool-vibrato-depiction--above {
			clip-path: polygon(0% 100%, 100% 0%, 100% 100%);
		}

		#tool-vibrato-waves-toggle--sawtooth[selected] ~ #tool-vibrato-depiction .tool-vibrato-depiction--below {
			clip-path: polygon(0% 0%, 0% 100%, 100% 0%);
		}

/*** tool-noise ***/
	#tool-noise .section {
		position: relative;
		height: calc(var(--large-font-size) + 2 * var(--gap-size));
		margin-bottom: var(--gap-size);
	}

	#tool-noise .input {
		left: 0;
		width: calc(var(--large-font-size) * 3 + 2 * var(--gap-size));
		height: calc(var(--large-font-size) + 2 * var(--gap-size));
		font-size: var(--medium-font-size);
		padding: var(--gap-size);
		box-sizing: border-box;
	}

	#tool-noise .track {
		position: absolute;
		left: calc(var(--large-font-size) * 3 + 3 * var(--gap-size));
		height: 100%;
		width: calc(100% - (var(--large-font-size) * 3 + 3 * var(--gap-size)));
	}

	#tool-noise .bar {
		height: 100%;
		min-width: calc(var(--medium-font-size) + 2 * var(--gap-size));
	}

/*** tool-envelope ***/
	#tool-envelope .input {
		position: absolute;
		bottom: 0;
		height: var(--medium-font-size);
		min-width: var(--envelope-component-min-size);
		border-radius: 0 0 var(--border-radius) var(--border-radius);
		transition: 0s !important;
	}

	#tool-envelope .input:hover, #tool-envelope .input:focus {
		z-index: 2;
		min-width: calc(var(--medium-font-size) * 2 + var(--gap-size) * 2);
	}

	#tool-envelope .input:focus {
		z-index: 3 !important;
	}

	#tool-envelope-track {
		position: absolute;
		height: calc(100% - var(--medium-font-size));
		width: 100%;
		display: flex;
		flex-direction: row;
	}

	#tool-envelope .shape {
		bottom: 0;
		border-radius: 0;
		line-height: 2;
		box-shadow: 0 0 var(--shadow-size) var(--medium-gray) inset;
	}

	/* adsr */
		#tool-envelope-shape--attack {
			left: 0%;
			height: 100%;
			clip-path: polygon(100% 100%, 100% 0%, 0% 100%);
			-webkit-clip-path: polygon(100% 100%, 100% 0%, 0% 100%);
			max-width: var(--envelope-component-max-width);
			min-width: var(--envelope-component-min-size);
		}

		#tool-envelope-shape--decay {
			height: 100%;
			max-width: var(--envelope-component-max-width);
			min-width: var(--envelope-component-min-size);
		}

		#tool-envelope-shape--sustain {
			max-width: calc(100% - 3 * var(--envelope-component-min-size));
			min-width: var(--envelope-component-min-size);
			min-height: var(--envelope-component-min-size);
		}

		#tool-envelope-shape--release {
			right: 0%;
			clip-path: polygon(0% 0%, 0% 100%, 100% 100%);
			-webkit-clip-path: polygon(0% 0%, 0% 100%, 100% 100%);
			max-width: var(--envelope-component-max-width);
			min-width: var(--envelope-component-min-size);
			min-height: var(--envelope-component-min-size);
		}

/*** tool-bitcrusher ***/
	#tool-bitcrusher .section {
		position: relative;
		width: 100%;
		height: auto;
	}

	/* bits */
		#tool-bitcrusher-bits .toggle {
			position: relative;
			top: 0;
			height: calc(2 * var(--large-font-size));
			width: calc(2 * var(--large-font-size));
			margin-right: var(--gap-size);
			margin-bottom: var(--gap-size);
			font-size: var(--large-font-size);
			line-height: 1;
			vertical-align: top;
		}

		#tool-bitcrusher-bits-toggle--0 {
			width: calc(4 * var(--large-font-size) + var(--gap-size)) !important;
			border-radius: calc(var(--large-font-size) * 2);
		}

		.tool-bitcrusher-bits-toggle-bit {
			text-align: center;
			display: block;
			line-height: 1;
			font-size: var(--small-font-size);
			pointer-events: none;
		}

	/* norm */
		#tool-bitcrusher-norm {
			position: relative;
			top: 0;
			left: 0;
		}

		#tool-bitcrusher-norm .input {
			position: relative;
			height: calc(2 * var(--large-font-size));
			width: calc(4 * var(--large-font-size) + var(--gap-size));	
			border-radius: var(--border-radius);
			font-size: var(--large-font-size);
			padding: var(--gap-size);
			box-sizing: border-box;
			margin-right: var(--gap-size);
		}

		#tool-bitcrusher-norm .track {
			vertical-align: top;
			display: inline-block;
			position: relative;
			top: 0;
			left: 0;
			width: calc(100% - (4 * var(--large-font-size) + 2 * var(--gap-size)));
			height: calc(2 * var(--large-font-size));
			font-size: var(--large-font-size);
		}

		#tool-bitcrusher-norm .bar {
			position: relative;
			height: 100%;
			min-width: calc(var(--large-font-size) + 2 * var(--gap-size));
		}

/*** tool-filter ***/
	/* lines */
		#tool-filter {
			left: var(--gap-size);
			width: calc(100% - 2 * var(--gap-size));
		}

		#tool-filter .line {
			position: absolute;
			top: 0;
			height: 100%;
			width: var(--small-font-size);
			transform: translateX(-50%);
			background-color: var(--almost-dark-gray);
			pointer-events: none;
			border-radius: var(--border-radius);
			color: var(--medium-gray);
			font-family: var(--font-family);
			z-index: -1;
			text-align: center;
			padding: 0;
		}

		.tool-filter-line-note {
			position: absolute;
			top: 0%;
			left: 50%;
			transform: translateX(-50%);
			text-align: center;
			font-size: var(--small-font-size);
		}

		.tool-filter-line-frequency {
			position: absolute;
			bottom: 0%;
			left: 50%;
			transform: translateX(-50%);
			text-align: center;
			font-size: calc(var(--small-font-size) / 2);
		}

	/* blob */
		#tool-filter .track {
			position: absolute;
			top: 0;
			left: 0%;
			width: 100%;
			height: calc(100% - (3 * var(--small-font-size) + var(--gap-size)));
		}

		#tool-filter-baseline {
			position: absolute;
			top: 50%;
			height: calc(var(--gap-size) / 2);
			width: 100%;
			transform: translateY(-50%);
			border-radius: calc(var(--gap-size) / 2);
			background-color: var(--medium-gray);
			cursor: pointer;
		}

		#tool-filter .blob {
			position: absolute;
			bottom: 0%;
			left: 0%;
			height: 100%;
			width: 100%;
			background-color: var(--medium-gray);
			opacity: 0.5;
			border-radius: 0;
		}

	/* points */
		#tool-filter .shape {
			height: var(--gap-size);
			max-height: var(--gap-size);
			min-height: var(--gap-size);
			width: var(--gap-size);
			max-width: var(--gap-size);
			min-width: var(--gap-size);
			transform: translateX(-50%) translateY(-50%);
		}

		#tool-filter .shape.circle {
			border-radius: 100%;
			z-index: 5;
		}

		#tool-filter .shape.square {
			border-radius: 2px;
			z-index: 4;
		}

	/* inputs */
		#tool-filter .input {
			padding: 0 calc(var(--gap-size) / 2);
			height: var(--small-font-size);
			width: calc(var(--small-font-size) * 8);
			transform: translateX(-50%);
			transition: 0s !important;
		}

		#tool-filter .input:hover, #tool-filter .input:focus {
			z-index: 2;
		}

		.tool-filter-input--low {
			bottom: calc(2 * var(--small-font-size));
			border-radius: var(--border-radius) var(--border-radius) 0 0;
		}

		.tool-filter-input--gain {
			bottom: var(--small-font-size);
			border-radius: 0;
		}

		.tool-filter-input--high {
			bottom: 0;
			border-radius: 0 0 var(--border-radius) var(--border-radius);
		}

/*** tool-tremolo ***/
	/* waves */
		.tool-tremolo-waves-toggle {
			position: relative;
			top: 0;
			left: 0;
			display: block;
			height: calc(var(--large-font-size) + 2 * var(--gap-size));
			width: calc(var(--large-font-size) * 3 + 2 * var(--gap-size));
			margin-right: var(--gap-size);
			margin-bottom: var(--gap-size);
			font-size: var(--medium-font-size);
			line-height: 1;
			vertical-align: top;
			border-radius: var(--border-radius);
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}

	/* depth */
		#tool-tremolo-waves-toggle--none[selected] ~ #tool-tremolo-depth {
			display: none;
		}

		#tool-tremolo-depth {
			position: absolute;
			top: 0;
			left: calc(var(--large-font-size) * 3 + 3 * var(--gap-size));
			width: calc(var(--large-font-size) + 2 * var(--gap-size));
			height: 100%;
		}

		#tool-tremolo-track--depth {
			position: relative;
			top: 0;
			left: 0;
			height: calc((100% - (var(--large-font-size) + 2 * var(--gap-size))) / 2);
			width: calc(var(--large-font-size) + 2 * var(--gap-size));
		}

		#tool-tremolo-bar--depth {
			width: 100%;
			min-height: calc(var(--medium-font-size) + 2 * var(--gap-size));
			border-radius: var(--border-radius) var(--border-radius) 0 0;
		}

		#tool-tremolo-input--depth {
			position: relative;
			top: 0;
			left: 0;
			width: calc(var(--large-font-size) + 2 * var(--gap-size));
			height: calc(var(--large-font-size) + 2 * var(--gap-size));
			border-radius: 0;
		}

		#tool-tremolo-mirror-track--depth {
			position: relative;
			top: 0;
			left: 0;
			height: calc((100% - (var(--large-font-size) + 2 * var(--gap-size))) / 2);
			width: calc(var(--large-font-size) + 2 * var(--gap-size));
			pointer-events: none;
		}

		#tool-tremolo-mirror-bar--depth {
			position: relative;
			top: 0;
			width: 100%;
			min-height: calc(var(--medium-font-size) + 2 * var(--gap-size));
			border-radius: 0 0 var(--border-radius) var(--border-radius);
			pointer-events: none;
		}

	/* interval */
		#tool-tremolo-waves-toggle--none[selected] ~ #tool-tremolo-interval {
			display: none;
		}

		#tool-tremolo-interval {
			position: absolute;
			top: 50%;
			left: calc(var(--large-font-size) * 3 + 3 * var(--gap-size) + var(--large-font-size) + 3 * var(--gap-size));
			transform: translateY(-50%);
			width: calc(100% - (var(--large-font-size) * 3 + 3 * var(--gap-size) + var(--large-font-size) + 3 * var(--gap-size)));
			height: calc(var(--large-font-size) + 2 * var(--gap-size));
		}

		#tool-tremolo-input--interval {
			width: calc(var(--large-font-size) + 2 * var(--gap-size));
			height: calc(var(--large-font-size) + 2 * var(--gap-size));
			border-radius: var(--gap-size) 0 0 var(--gap-size);
		}

		#tool-tremolo-track--interval {
			width: calc(100% - (var(--large-font-size) + 2 * var(--gap-size)));
			height: calc(var(--large-font-size) + 2 * var(--gap-size));
			left: calc(var(--large-font-size) + 2 * var(--gap-size));
		}

		#tool-tremolo-bar--interval {
			height: 100%;
			min-width: calc(var(--medium-font-size) + 2 * var(--gap-size));
			border-radius: 0 var(--border-radius) var(--border-radius) 0;
		}

	/* depiction */
		#tool-tremolo-depiction {
			position: absolute;
			right: 0;
			top: 0;
			width: calc(100% - (var(--large-font-size) * 3 + 3 * var(--gap-size) + var(--large-font-size) + 3 * var(--gap-size)) - (var(--large-font-size) + 2 * var(--gap-size)));
			height: 100%;
			z-index: -1;
			pointer-events: none;
			overflow: hidden;
		}

		#tool-tremolo-waves-toggle--none[selected] ~ #tool-tremolo-depiction {
			display: none;
		}

		#tool-tremolo-depiction-inner {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: 0;
			width: 100%;
			min-width: 100%;
			height: 100%;
			pointer-events: none;
		}

		.tool-tremolo-depiction--above {
			float: left;
			height: 50%;
			background-color: var(--almost-dark-gray);
		}

		.tool-tremolo-depiction--below {
			float: left;
			height: 50%;
			transform: translateY(100%);
			background-color: var(--almost-dark-gray);
		}

		#tool-tremolo-waves-toggle--sine[selected] ~ #tool-tremolo-depiction .tool-tremolo-depiction--above {
			border-radius: 100% 100% 0 0;
		}

		#tool-tremolo-waves-toggle--sine[selected] ~ #tool-tremolo-depiction .tool-tremolo-depiction--below {
			border-radius: 0 0 100% 100%;
		}

		#tool-tremolo-waves-toggle--square[selected] ~ #tool-tremolo-depiction .tool-tremolo-depiction--above {
			border-radius: 0;
		}

		#tool-tremolo-waves-toggle--square[selected] ~ #tool-tremolo-depiction .tool-tremolo-depiction--below {
			border-radius: 0;
		}

		#tool-tremolo-waves-toggle--triangle[selected] ~ #tool-tremolo-depiction .tool-tremolo-depiction--above {
			clip-path: polygon(0% 100%, 50% 0%, 100% 100%);
		}

		#tool-tremolo-waves-toggle--triangle[selected] ~ #tool-tremolo-depiction .tool-tremolo-depiction--below {
			clip-path: polygon(0% 0%, 50% 100%, 100% 0%);
		}

		#tool-tremolo-waves-toggle--sawtooth[selected] ~ #tool-tremolo-depiction .tool-tremolo-depiction--above {
			clip-path: polygon(0% 100%, 100% 0%, 100% 100%);
		}

		#tool-tremolo-waves-toggle--sawtooth[selected] ~ #tool-tremolo-depiction .tool-tremolo-depiction--below {
			clip-path: polygon(0% 0%, 0% 100%, 100% 0%);
		}

/*** tool-echo ***/
	#tool-echo .track {
		position: absolute;
		bottom: var(--medium-font-size);
		height: calc(100% - var(--medium-font-size))
	}

	#tool-echo .beam {
		position: absolute;
		bottom: 0;
		width: var(--medium-font-size);
		font-size: var(--medium-font-size);
		background-color: #333333;
		border-radius: 24px 24px 8px 8px;
		cursor: default;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		-o-user-select: none;
		user-select: none;
	}

	#tool-echo .input {
		position: absolute;
		bottom: 0;
		height: var(--medium-font-size);
		width: calc(2 * var(--gap-size) + var(--medium-font-size));
		border-radius: 0 0 var(--border-radius) var(--border-radius);
		box-sizing: border-box;
		padding: 0 calc(var(--gap-size) / 2);
	}

	#tool-echo .input:hover, #tool-echo .input:focus {
		border-radius: 0 var(--border-radius) var(--border-radius) var(--border-radius);
		width: calc(var(--medium-font-size) * 4);
		z-index: 2;
	}

	#tool-echo .input:focus {
		z-index: 3 !important;
	}

	#tool-echo .bar {
		min-height: calc(var(--medium-font-size) + 2 * var(--gap-size));
	}

	/* feedback */
		#tool-echo-track--feedback {
			left: 0;
			width: calc(var(--medium-font-size) + 2 * var(--gap-size));
			z-index: 2;
		}

		#tool-echo-bar--feedback {
			left: 0;
			width: 100%;
			border-radius: var(--medium-font-size) var(--medium-font-size) 0 0;
			font-size: var(--medium-font-size);
		}

		#tool-echo-input--feedback {
			left: 0;
		}

	/* delay */
		#tool-echo-track--delay {
			left: calc(var(--medium-font-size) + 2 * var(--gap-size));
			width: calc(100% - var(--medium-font-size) - 2 * var(--gap-size));
			z-index: 2;
		}

		#tool-echo-bar--delay {
			width: calc(var(--medium-font-size) + 2 * var(--gap-size));
			border-radius: var(--medium-font-size) var(--medium-font-size) 0 0;
			font-size: var(--medium-font-size);
		}

		#tool-echo-input--delay {
			transition: 0s !important;
			bottom: calc(-1 * var(--medium-font-size)) !important;
		}

	/* echoes */
		#tool-echo-track--echoes {
			pointer-events: none;
			z-index: 1;
			left: calc(var(--medium-font-size) + 2 * var(--gap-size));
			width: calc(100% - var(--medium-font-size) - 2 * var(--gap-size));
		}

/*** tool-effects ***/
	/* distortion */
		#tool-effects-distortion {
			position: relative;
			top: 0;
			left: 0;
			margin-bottom: var(--gap-size);
		}

		#tool-effects-distortion .input {
			position: relative;
			height: calc(var(--large-font-size) + 2 * var(--gap-size));
			width: calc(4 * var(--large-font-size) + var(--gap-size));	
			border-radius: var(--border-radius);
			font-size: var(--large-font-size);
			padding: var(--gap-size);
			box-sizing: border-box;
			margin-right: var(--gap-size);
		}

		#tool-effects-distortion .track {
			vertical-align: top;
			display: inline-block;
			position: relative;
			top: 0;
			left: 0;
			width: calc(100% - (4 * var(--large-font-size) + 2 * var(--gap-size)));
			height: calc(var(--large-font-size) + 2 * var(--gap-size));
			font-size: var(--large-font-size);
		}

		#tool-effects-distortion .bar {
			position: relative;
			height: 100%;
			min-width: calc(var(--large-font-size) + 2 * var(--gap-size));
		}

	/* reverb */
		#tool-effects-reverb {
			position: relative;
			top: 0;
			left: 0;
			margin-bottom: var(--gap-size);
		}

		#tool-effects-reverb .input {
			position: relative;
			height: calc(var(--large-font-size) + 2 * var(--gap-size));
			width: calc(4 * var(--large-font-size) + var(--gap-size));	
			border-radius: var(--border-radius);
			font-size: var(--large-font-size);
			padding: var(--gap-size);
			box-sizing: border-box;
			margin-right: var(--gap-size);
		}

		#tool-effects-reverb .track {
			vertical-align: top;
			display: inline-block;
			position: relative;
			top: 0;
			left: 0;
			width: calc(100% - (4 * var(--large-font-size) + 2 * var(--gap-size)));
			height: calc(var(--large-font-size) + 2 * var(--gap-size));
			font-size: var(--large-font-size);
		}

		#tool-effects-reverb .bar {
			position: relative;
			height: 100%;
			min-width: calc(var(--large-font-size) + 2 * var(--gap-size));
		}

	/* panning */
		#tool-effects-panning {
			position: relative;
			top: 0;
			left: 0;
			margin-bottom: var(--gap-size);
		}

		#tool-effects-panning .input {
			position: relative;
			height: calc(var(--large-font-size) + 2 * var(--gap-size));
			width: calc(4 * var(--large-font-size) + var(--gap-size));	
			border-radius: var(--border-radius);
			font-size: var(--large-font-size);
			padding: var(--gap-size);
			box-sizing: border-box;
			margin-right: var(--gap-size);
		}

		#tool-effects-panning .track {
			vertical-align: top;
			display: inline-block;
			position: relative;
			top: 0;
			left: 0;
			width: calc(100% - (4 * var(--large-font-size) + 2 * var(--gap-size)) - (var(--large-font-size) + 2 * var(--gap-size)));
			height: calc(var(--large-font-size) + 2 * var(--gap-size));
			font-size: var(--large-font-size);
			margin-left: calc(var(--large-font-size) / 2 + var(--gap-size));
		}

		#tool-effects-panning .bar {
			position: relative;
			height: calc(var(--large-font-size) + 2 * var(--gap-size));
			width: calc(var(--large-font-size) + 2 * var(--gap-size));
			border-radius: 100%;
			left: 50%;
			transform: translateX(-50%);
		}

		#tool-effects-panning .line {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			margin-top: calc((var(--large-font-size) + var(--gap-size)) / 2);
			height: var(--gap-size);
			background-color: var(--almost-dark-gray);
			border-radius: var(--border-radius);
			z-index: -1;
			pointer-events: none;
		}

	/* chorus */
		#tool-effects-chorus {
			position: relative;
			top: 0;
			left: 0;
			margin-bottom: var(--gap-size);
		}

		#tool-effects-chorus .input {
			position: relative;
			display: block;
			height: calc(var(--large-font-size) + 2 * var(--gap-size));
			width: calc(4 * var(--large-font-size) + var(--gap-size));
			border-radius: var(--border-radius);
			font-size: var(--large-font-size);
			padding: var(--gap-size);
			box-sizing: border-box;
			margin-right: var(--gap-size);
		}

		#tool-effects-chorus .input:first-child {
			margin-bottom: var(--gap-size);
		}

		#tool-effects-chorus .track {
			position: absolute;
			top: 0;
			right: 0;
			width: calc(100% - (4 * var(--large-font-size) + 2 * var(--gap-size)));
			height: calc(var(--large-font-size) * 2 + 5 * var(--gap-size));
			font-size: var(--large-font-size);
		}

		#tool-effects-chorus .bar {
			position: relative;
			min-height: calc(var(--large-font-size) + 2 * var(--gap-size));
			min-width: calc(var(--large-font-size) * 2 + 6 * var(--gap-size));
			border-radius: calc(var(--large-font-size) * 2 + 5 * var(--gap-size));
		}

/*** tool-compressor ***/
	/* volume */
		#tool-compressor-volume {
			position: relative;
			top: 0;
			left: 0;
			height: 100%;
			width: 60%;
		}

		#tool-compressor-volume-graph {
			position: absolute;
			top: 0;
			left: calc(var(--large-font-size) + 2 * var(--gap-size));
			height: calc(100% - var(--medium-font-size) - var(--gap-size));
			width: calc(100% - 2 * (var(--large-font-size) + 3 * var(--gap-size)) - 2 * var(--gap-size));
			border: var(--gap-size) solid var(--light-gray);
			border-top-width: 0;
			border-right-width: 0;
			border-radius: var(--border-radius);
		}

		#tool-compressor-threshold--track {
			position: absolute;
			bottom: 0;
			left: 0;
			height: 100%;
			width: 100%;
		}

		#tool-compressor-threshold--bar {
			position: absolute;
			border: var(--gap-size) dashed var(--light-gray);
			border-bottom-width: 0;
			border-left-width: 0;
			border-radius: 0;
			height: 100%;
			width: 100%;
			min-width: 10%;
			min-height: 10%;
			max-width: calc(100% - 10%);
			max-height: calc(100% - 10%);
			background: transparent;
			color: var(--light-gray);
		}

		#tool-compressor-threshold--line {
			position: absolute;
			top: 0;
			left: 0;
			clip-path: polygon(0% 100%, 100% 100%, 100% 0%);
			height: 100%;
			width: 100%;
			background: var(--almost-dark-gray);
			pointer-events: none;
			z-index: -1;
		}

		#tool-compressor-threshold--input {
			position: absolute;
			top: calc(-1 * var(--gap-size));
			left: calc(-1 * (var(--large-font-size) + 3 * var(--gap-size)));
			width: calc(var(--large-font-size) + 2 * var(--gap-size));
			height: var(--medium-font-size);
			border-radius: var(--border-radius) 0 0 var(--border-radius);
			font-size: var(--small-font-size);
		}

		#tool-compressor-ratio--track {
			position: absolute;
			right: 0;
			top: 0;
			height: 0%;
			width: 0%;
			min-height: 10%;
			min-width: 10%;
			max-height: calc(100% - 10%);
			max-width: calc(100% - 10%);
		}

		#tool-compressor-ratio--bar {
			position: absolute;
			width: 100%;
			height: 100%;
			border-radius: 0;
			background: transparent;
			border-right: var(--gap-size) solid transparent;
			box-sizing: content-box;
			color: var(--light-gray);
		}

		#tool-compressor-ratio--bar:focus, #tool-compressor-ratio--bar:hover, #tool-compressor-ratio--bar[selected] {
			box-shadow: none;
		}

		#tool-compressor-ratio--bar:focus #tool-compressor-ratio--handle, #tool-compressor-ratio--bar:hover #tool-compressor-ratio--handle, #tool-compressor-ratio--bar[selected] #tool-compressor-ratio--handle {
			box-shadow: 0 0 var(--shadow-size) var(--light-gray);
		}

		#tool-compressor-ratio--handle {
			position: absolute;
			right: calc(-1 * var(--gap-size));
			top: 0;
			background-color: var(--light-gray);
			border-radius: 0;
			height: var(--medium-font-size);
			width: var(--gap-size);
		}

		#tool-compressor-ratio--line {
			position: absolute;
			top: 0;
			left: 0;
			clip-path: polygon(0% 100%, 100% 100%, 100% 0%);
			height: 100%;
			width: 100%;
			background: var(--almost-dark-gray);
			pointer-events: none;
			z-index: -1;
		}

		#tool-compressor-ratio--input {
			position: absolute;
			top: 0;
			right: calc(-1 * (var(--large-font-size) + 3 * var(--gap-size)));
			width: calc(var(--large-font-size) + 2 * var(--gap-size));
			height: var(--medium-font-size);
			border-radius: 0;
			font-size: var(--small-font-size);
		}

		#tool-compressor-ratio--after {
			position: absolute;
			top: 0;
			right: calc(-1 * (var(--large-font-size) + 5 * var(--gap-size)));
			width: calc(2 * var(--gap-size));
			height: var(--medium-font-size);
			background: var(--almost-dark-gray);
			font-size: var(--small-font-size);
			color: var(--medium-gray);
			vertical-align: middle;
			line-height: 1.7;
			box-sizing: border-box;
			border-radius: 0 var(--border-radius) var(--border-radius) 0;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			-o-user-select: none;
			user-select: none;
		}

		#tool-compressor-under {
			position: absolute;
			right: 0;
			bottom: 0;
			height: 100%;
			width: 0%;
			min-height: 10%;
			min-width: 10%;
			max-height: calc(100% - 10%);
			max-width: calc(100% - 10%);
			background: var(--almost-dark-gray);
			z-index: -1;
		}

	/* timing */
		#tool-compressor-timing {
			position: absolute;
			top: 0;
			left: calc(60% + 2 * var(--gap-size));
			height: 100%;
			width: calc(100% - (60% + 2 * var(--gap-size)));
		}

		#tool-compressor-timing-graph {
			position: relative;
			top: 0;
			right: 0;
			height: calc(100% - var(--medium-font-size) - var(--gap-size));
			width: 100%;
			border-bottom: var(--gap-size) solid var(--light-gray);
			border-radius: var(--border-radius);
		}

		#tool-compressor-timing--signal {
			position: absolute;
			left: 0;
			bottom: 0;
			background: var(--medium-gray);
			pointer-events: none;
			height: 100%;
			width: 100%;
			z-index: -1;
			opacity: 0.5;
			clip-path: polygon(0% 100%, 0% 90%, 20% 90%, 20% 10%, 60% 10%, 60% 70%, 100% 70%, 100% 100%);
		}

		#tool-compressor-timing--threshold {
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			height: 100%;
			min-height: 10%;
			background: transparent;
			border-top: var(--gap-size) dashed var(--light-gray);
			box-sizing: border-box;
			pointer-events: none;
			z-index: 2;
		}

		#tool-compressor-timing--before {
			position: absolute;
			left: 0;
			bottom: 0;
			width: 20%;
			height: 10%;
			background: var(--almost-dark-gray);
			color: var(--medium-gray);
			font-size: var(--small-font-size);
			padding: var(--gap-size);
			box-sizing: border-box;
			text-align: center;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			-o-user-select: none;
			user-select: none;
		}

		#tool-compressor-attack--track {
			position: absolute;
			left: 20%;
			bottom: 0;
			height: 100%;
			width: 40%;
		}

		#tool-compressor-attack--bar {
			position: absolute;
			left: 0;
			bottom: 0;
			height: 100%;
			width: 0%;
			min-width: 10%;
			background: var(--almost-dark-gray);
			border-radius: 0;
			color: var(--light-gray);
			clip-path: polygon(0% 10%, 100% 10%, 100% 100%, 0% 100%);
			box-shadow: 0 0 calc(var(--gap-size) / 2) var(--dark-gray) inset;
			align-items: end;
			padding-bottom: var(--gap-size);
			box-sizing: border-box;
		}

		#tool-compressor-timing--between {
			position: absolute;
			right: 0;
			bottom: 0;
			width: 100%;
			max-width: calc(100% - 10%);
			max-height: calc(100% - 10%);
			min-height: 10%;
			height: 100%;
			background: var(--almost-dark-gray);
		}

		#tool-compressor-release--track {
			position: absolute;
			left: 60%;
			bottom: 0;
			height: 100%;
			max-height: 30%;
			min-height: 10%;
			width: 40%;
		}

		#tool-compressor-release--bar {
			position: absolute;
			left: 0;
			bottom: 0;
			height: 100%;
			width: 0%;
			min-width: 10%;
			background: var(--almost-dark-gray);
			border-radius: 0;
			clip-path: polygon(0% 50%, 100% 0%, 100% 100%, 0% 100%);
			color: var(--light-gray);
			box-shadow: 0 0 calc(var(--gap-size) / 2) var(--dark-gray) inset;
			align-items: end;
			padding-bottom: var(--gap-size);
			box-sizing: border-box;
		}

		#tool-compressor-timing--after {
			position: absolute;
			right: 0;
			bottom: 0;
			width: 100%;
			max-width: calc(100% - 10%);
			height: 100%;
			background: var(--almost-dark-gray);
		}

		#tool-compressor-attack--input, #tool-compressor-release--input {
			position: absolute;
			bottom: calc(-1 * var(--medium-font-size) - var(--gap-size));
			height: var(--medium-font-size);
			width: calc(100% - var(--gap-size));
			font-size: var(--small-font-size);
			border-radius: 0 var(--border-radius) var(--border-radius) var(--border-radius);
			padding: calc(var(--gap-size) / 2);
			box-sizing: border-box;
		}


