/* j-logo */
	#j-logo {
		position: absolute;
		top: 14px;
		right: 8px;
		background-color: transparent;
		background-image: url("../resources/j.png");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		height: 32px;
		width: 32px;
		cursor: pointer;
		z-index: 1000;
		outline: none;
		filter: drop-shadow(0px 0px 2px #999999);
	}

	#j-logo:hover, #j-logo:focus {
		filter: drop-shadow(0px 0px 4px #222222);
	}
	
/* page */
	html, body {
		padding: 0px;
		margin: 0px;
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100vw;
		height: 100vh;
		overflow: hidden;
		background-color: #dddddd;
	}

/* field */
	#field {
		z-index: 1;
		padding: 0px;
		margin: 0px;
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100vw;
		height: 100vh;
		overflow: hidden;
	}

	#field[dragging] {
		cursor: "grabbing";
	}

	#instructions {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		font-family: sans-serif;
		color: #aaaaaa;
		font-size: 30px;
		text-align: center;
		max-width: 300px;
		z-index: 0;
		user-select: none;
	}

/* magnet */
	.magnet {
		position: absolute;
		border-radius: 100%;
		transform: translateX(-50%) translateY(+50%);
		cursor: pointer;
	}

	.magnet[selected] {
		cursor: grab;
		cursor: grabbing;
		cursor: -webkit-grab;
		cursor: -webkit-grabbing;
	}

	.magnet[p="1"] {
		background-color: #3333dd;
		box-shadow: 0px 0px 5px #3333dd;
	}

	.magnet[p="0"] {
		background-color: #33dd33;
		box-shadow: 0px 0px 5px #33dd33;
	}

	.magnet[p="-1"] {
		background-color: #dd3333;
		box-shadow: 0px 0px 5px #dd3333;
	}

/* settings */
	#settings {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		border-radius: 10px;
		box-shadow: 0px 0px 5px #dddddd;
		background-color: rgba(0,0,0,0.5);
		text-align: right;
		padding: 10px;
		z-index: 2;
		color: #dddddd;
	}

	#settings:not([visible]) {
		display: none;
		pointer-events: none;
		user-select: none;
	}

	#settings-title {
		text-align: center;
		font-size: 40px;
		font-family: sans-serif;
		user-select: none;
	}

	#settings label {
		display: block;
		width: calc(100% - 20px);
		font-size: 20px;
		font-family: sans-serif;
		padding: 10px;
		user-select: none;
		cursor: pointer;
	}

	#settings label:hover, #settings label:active, #settings label:focus {
		text-shadow: 0px 0px 5px #dddddd;
	}

	#settings input {
		margin: 10px;
		cursor: pointer;
	}
