/*** page ***/
	:root {
		--foot: calc(100% / 25);
		--house-width-height-ratio: calc(42 / 25);
		--light-translucent: rgba(221, 221, 221, 0.9);
		--light-gray: #dddddd;
		--medium-gray: #555555;
		--dark-gray: #111111;
		--light-red: #ddaaaa;
		--medium-red: #aa5555;
		--dark-red: #551111;
		--light-yellow: #ddddaa;
		--medium-yellow: #aaaa55;
		--dark-yellow: #555511;
		--light-orange: #cec19b;
		--medium-orange: #af9238;
		--dark-orange: #846507;
		--light-green: #aaddaa;
		--medium-green: #55aa55;
		--dark-green: #115511;
		--light-blue: #aaaadd;
		--medium-blue: #5555aa;
		--dark-blue: #111155;
		--light-purple: #ddaadd;
		--medium-purple: #aa55aa;
		--dark-purple: #551155;
		--font: sans-serif;
		--font-size: 2.5vh;
		--fade-opacity: 0.2;
		--gap-size: 8px;
		--transition: 0.25s;
	}

	@media screen and (max-width: 1300px) {
		:root {
			--font-size: 1.5vw;
		}
	}

	html, body {
		position: absolute;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		margin: 0;
		padding: 0;
		overflow: hidden;
		background-color: var(--dark-gray);
	}

/*** icons ***/
	.icon {
		height: calc(var(--font-size) * 2);
		width: calc(var(--font-size) * 2);
		background-color: transparent;
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		transition: var(--transition);
	}

	.icon:hover, .icon:focus {
		filter: drop-shadow(0 0 calc(var(--gap-size) / 2) var(--dark-gray));
	}

	/* images */
		.icon-on {
			background-image: url("images/on.png");
		}

		.icon-off {
			background-image: url("images/off.png");
		}

		.icon-play {
			background-image: url("images/right.png");
		}

		.icon-pause {
			background-image: url("images/pause.png");
		}

		.icon-right {
			background-image: url("images/right.png");
		}

		.icon-left {
			background-image: url("images/left.png");
		}

		.icon-up {
			background-image: url("images/up.png");
		}

		.icon-down {
			background-image: url("images/down.png");
		}

		.icon-target {
			background-image: url("images/target.png");
		}

		.icon-question {
			background-image: url("images/question.png");
		}

		.icon-out {
			background-image: url("images/out.png");
		}

		.icon-in {
			background-image: url("images/in.png");
		}

/*** home ***/
	#home {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		height: 100vh;
		width: calc(100vh * var(--house-width-height-ratio));
		max-height: calc(100vw / var(--house-width-height-ratio));
		max-width: 100vw;
		background-color: var(--dark-gray);
	}

	/* rooms */
		.room {
			position: absolute;
			overflow: hidden;
		}

		.room-name {
			position: absolute;
			top: 50%;
			left: 50%;
			width: 100%;
			text-align: center;
			transform: translateX(-50%) translateY(-50%);
			text-transform: uppercase;
			font-family: var(--font);
			font-size: calc(var(--font-size));
			line-height: 1;
			color: var(--dark-gray);
			font-weight: bold;
			pointer-events: none;
			user-select: none;
			opacity: var(--fade-opacity);
			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;
			padding: var(--font-size);
			box-sizing: border-box;
		}

	/* devices */
		.device {
			position: absolute;
			transform: translateX(-50%) translateY(-50%);
			height: calc(2 * var(--foot));
			width: calc(2 * var(--foot) / var(--house-width-height-ratio));
			border-radius: 100%;
			border: none;
			padding: 0;
			margin: 0;
			background: transparent;
		}

		.device-image {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			background-color: transparent;
			background-position: center;
			background-size: contain;
			background-repeat: no-repeat;
			opacity: var(--fade-opacity);
		}

		.device-button {
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translateX(-50%) translateY(-50%);
			border-radius: 100%;
			border: none;
			outline: none;
			font-family: var(--font);
			height: calc(var(--font-size) * 2);
			width: calc(var(--font-size) * 2);
			line-height: 1;
			text-transform: uppercase;
			padding: 0;
			margin: 0;
			cursor: pointer;
			background: transparent;
		}

		.device-button:hover, .device-button:focus {
			font-weight: bold;
			text-shadow: 0 0 calc(var(--font-size) / 10) var(--dark-gray);
		}

	/* device positioning */
		.device-on {
			transform: translateX(-115%) translateY(-50%);
		}

		.device-off {
			transform: translateX(15%) translateY(-50%);
		}

		.device-up {
			transform: translateX(-50%) translateY(-115%);
		}

		.device-down {
			transform: translateX(-50%) translateY(15%);
		}

		.device-play {
			transform: translateX(-115%) translateY(-50%);
		}

		.device-pause {
			transform: translateX(15%) translateY(-50%);
		}

/*** about ***/
	#about {
		position: absolute;
		top: var(--gap-size);
		left: 0;
		background-color: transparent;
		-webkit-appearance: none;
	}

	/* summary */
		#about summary {
			height: calc(var(--gap-size) * 4);
			width: calc(var(--gap-size) * 4);
			cursor: pointer;
			list-style-type: none;
			padding: calc(var(--gap-size) / 2);
			user-select: none;
			outline: none;
		}

		#about summary .icon {
			filter: invert(30%);
		}

		#about summary::marker {
			display: none;
		}

		#about summary::-webkit-details-marker {
			display: none;
		}

		#about summary:hover .icon, #about summary:focus .icon {
			filter: invert(94%) drop-shadow(0 0 var(--gap-size) var(--light-gray));
		}

	/* contents */
		#about-contents {
			position: absolute;
			top: calc(var(--gap-size) * 6);
			left: var(--gap-size);
			height: auto;
			max-height: calc(100vh - 10 * var(--gap-size));
			width: calc(100vw - 4 * var(--gap-size));
			padding: var(--gap-size);
			z-index: 10;
			background-color: var(--light-translucent);
			color: var(--dark-gray);
			font-size: calc(var(--gap-size) * 2);
			font-family: var(--font);
			border-radius: var(--gap-size);
			box-shadow: 0 0 var(--gap-size) var(--dark-gray);
			overflow-x: hidden;
			overflow-y: scroll;
		}

		#about-contents p:first-child {
			margin-top: 0;
		}

		#about-contents p:last-child {
			margin-bottom: 0;
		}

		#about-contents a, #about-contents a:visited {
			text-decoration: none;
			font-weight: bold;
			color: var(--medium-blue);
			cursor: pointer;
		}

		#about-contents a:hover, #about-contents a:focus {
			color: var(--dark-blue);
			text-shadow: 0 0 calc(var(--gap-size) / 2) var(--medium-blue);
			transition: var(--transition);
		}

	/* state */
		*[invisible] {
			display: none;
			pointer-events: none;
		}

/*** full-screen ***/
	#full-screen-on, #full-screen-off {
		position: absolute;
		bottom: var(--gap-size);
		right: var(--gap-size);
		background: transparent;
		border: none;
		border-radius: 100%;
		padding: var(--gap-size);
		outline: none;
		cursor: pointer;
		user-select: none;
	}

	#full-screen-on .icon, #full-screen-off .icon {
		filter: invert(30%);
	}

	#full-screen-on:hover .icon, #full-screen-on:focus .icon, #full-screen-off:hover .icon, #full-screen-off:focus .icon {
		filter: invert(94%) drop-shadow(0 0 var(--gap-size) var(--light-gray));
	}

	#full-screen-overlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		background: black;
		opacity: 0;
		transition: var(--transition);
	}

	#full-screen-overlay[darken] {
		opacity: 1 !important;
	}

	#full-screen-overlay:not([darken]) {
		pointer-events: none;
	}

/*** j-logo ***/
	#j-logo {
		position: absolute;
		top: 14px;
		right: 8px;
		background-color: transparent;
		background-image: url("../resources/j.png");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		height: 32px;
		width: 32px;
		cursor: pointer;
		z-index: 1000;
		outline: none;
		transition: var(--transition);
	}

	#j-logo:hover, #j-logo:focus {
		filter: drop-shadow(0px 0px 4px #dddddd);
	}
