/*** page ***/
	:root {
		--foot: calc(100% / 50);
		--house-width-height-ratio: calc(16 / 50);
		--light-translucent: rgba(221, 221, 221, 0.9);
		--light-gray: #dddddd;
		--medium-gray: #777777;
		--dark-gray: #111111;
		--light-blue: #04b1ff;
		--medium-blue: #5555aa;
		--dark-blue: #111155;
		--font: Alata, sans-serif;
		--font-size: 1.5vh;
		--text-opacity: 0.15;
		--icon-opacity: 0.45;
		--gap-size: 8px;
		--transition: 0.25s;
	}

	html, body {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0;
		overflow: hidden;
		background-color: var(--dark-gray);
	}

/*** icons ***/
	.icon {
		height: calc(var(--font-size) * 2);
		width: calc(var(--font-size) * 2);
		transition: var(--transition);
	}

	.icon:hover, .icon:focus {
		filter: drop-shadow(0 0 calc(var(--gap-size) / 2) var(--dark-gray));
	}

/*** home ***/
	#home {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		height: 100vh;
		width: calc(100vh * var(--house-width-height-ratio));
		max-height: calc(100vw / var(--house-width-height-ratio));
		max-width: 100vw;
		background-color: var(--dark-gray);
	}

	/* rooms */
		.room {
			position: absolute;
			overflow: hidden;
		}

		.room-name {
			position: absolute;
			top: 50%;
			left: 50%;
			width: 100%;
			text-align: center;
			transform: translateX(-50%) translateY(-50%);
			text-transform: uppercase;
			font-family: var(--font);
			font-size: calc(var(--font-size));
			line-height: 1;
			color: var(--dark-gray);
			font-weight: bold;
			pointer-events: none;
			user-select: none;
			opacity: var(--text-opacity);
			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;
			box-sizing: border-box;
		}

	/* devices */
		.device {
			position: absolute;
			transform: translateX(-50%) translateY(-50%);
			height: calc(2 * var(--foot));
			width: calc(2 * var(--foot) / var(--house-width-height-ratio));
			border-radius: 100%;
			border: none;
			padding: 0;
			margin: 0;
			background: transparent;
		}

		.device-image {
			width: 100%;
			height: 100%;
			fill: var(--dark-gray);
			opacity: var(--icon-opacity);
		}

		.device-button {
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translateX(-50%) translateY(-50%);
			border-radius: 100%;
			border: none;
			outline: none;
			font-family: var(--font);
			height: calc(var(--font-size) * 2);
			width: calc(var(--font-size) * 2);
			line-height: 1;
			text-transform: uppercase;
			padding: 0;
			margin: 0;
			cursor: pointer;
			background: transparent;
		}

		.device-button:hover, .device-button:focus {
			font-weight: bold;
			text-shadow: 0 0 calc(var(--font-size) / 10) var(--dark-gray);
		}

	/* device positioning */
		.device-on {
			transform: translateX(-115%) translateY(-50%);
		}

		.device-off {
			transform: translateX(15%) translateY(-50%);
		}

		.device-up {
			transform: translateX(-50%) translateY(-115%);
		}

		.device-down {
			transform: translateX(-50%) translateY(15%);
		}

		.device-play {
			transform: translateX(-115%) translateY(-50%);
		}

		.device-pause {
			transform: translateX(15%) translateY(-50%);
		}

		.device-65 {
			transform: translateX(-50%) translateY(15%);
		}

		.device-68 {
			transform: translateX(-115%) translateY(-50%);
		}

		.device-70 {
			transform: translateX(15%) translateY(-50%);
		}

		.device-72 {
			transform: translateX(-50%) translateY(-115%);
		}

	/* flip */
		#home[flip] {
			transform: translateX(-50%) translateY(-50%) scaleX(-1) scaleY(-1);
		}

			#home[flip] .room-name {
				transform: translateX(-50%) translateY(-50%) scaleX(-1) scaleY(-1);
			}

			#home[flip] .device {
				transform: translateX(-50%) translateY(-50%) scaleX(-1) scaleY(-1);
			}

/*** about ***/
	#about {
		position: absolute;
		top: 14px;
		left: 14px;
		background-color: transparent;
		-webkit-appearance: none;
	}

	/* summary */
		#about summary {
			height: calc(var(--gap-size) * 4);
			width: calc(var(--gap-size) * 4);
			cursor: pointer;
			list-style-type: none;
			padding: 0;
			user-select: none;
			outline: none;
			transition: var(--transition);
		}

		#about summary svg {
			fill: var(--light-gray);
		}

		#about summary::marker {
			display: none;
		}

		#about summary::-webkit-details-marker {
			display: none;
		}

		#about summary:hover, #about summary:focus {
			filter: drop-shadow(0 0 var(--gap-size) var(--light-gray));
		}

	/* contents */
		#about-contents {
			position: fixed;
			top: 50%;
			left: 50%;
			height: auto;
			width: auto;
			max-height: calc(100vh - 16 * var(--gap-size));
			max-width: calc(100vw - 16 * var(--gap-size));
			transform: translateX(-50%) translateY(-50%);
			padding: calc(2 * var(--gap-size));
			z-index: 10;
			background-color: var(--light-translucent);
			color: var(--dark-gray);
			font-size: calc(var(--gap-size) * 2);
			font-family: var(--font);
			border-radius: var(--font-size);
			box-shadow: 0 0 var(--gap-size) var(--dark-gray);
			overflow-x: hidden;
			overflow-y: scroll;
		}

		#about-contents p:first-child {
			margin-top: 0;
		}

		#about-contents p:last-child {
			margin-bottom: 0;
		}

		#about-contents a, #about-contents a:visited {
			text-decoration: none;
			font-weight: bold;
			color: var(--medium-blue);
			cursor: pointer;
		}

		#about-contents a:hover, #about-contents a:focus {
			color: var(--dark-blue);
			text-shadow: 0 0 calc(var(--gap-size) / 2) var(--medium-blue);
			transition: var(--transition);
		}

	/* close */
		#about-close {
			position: absolute;
			top: 0;
			right: 0;
			border: none;
			padding: 0;
			margin: 0;
			height: calc(2 * var(--font-size));
			width: calc(2 * var(--font-size));
			background-color: transparent;
			cursor: pointer;
			transition: var(--transition);
		}

		#about-close .icon {
			position: absolute;
			top: 0;
			left: 0;
		}

		#about-close:hover, #about-close:focus {
			filter: drop-shadow(0 0 var(--gap-size) var(--dark-gray));
		}

	/* state */
		*[invisible] {
			display: none;
			pointer-events: none;
		}

/*** flip ***/
	#flip {
		position: absolute;
		bottom: calc(var(--gap-size) * 2 + calc(var(--gap-size) * 4));
		right: calc(var(--gap-size));
		border: none;
		margin: 0;
		height: calc(var(--gap-size) * 4);
		width: calc(var(--gap-size) * 4);
		background: transparent;
		cursor: pointer;
		transition: var(--transition);
	}

	#flip svg {
		position: absolute;
		top: 0;
		left: 0;
		fill: var(--light-gray);
	}

	#flip:hover, #flip:focus {
		filter: drop-shadow(0 0 var(--gap-size) var(--light-gray));
	}

/*** full-screen ***/
	#full-screen-on, #full-screen-off {
		position: absolute;
		height: calc(var(--gap-size) * 4);
		width: calc(var(--gap-size) * 4);
		bottom: var(--gap-size);
		right: var(--gap-size);
		background: transparent;
		border: none;
		border-radius: 100%;
		padding: var(--gap-size);
		outline: none;
		cursor: pointer;
		user-select: none;
		transition: var(--transition);
	}

	#full-screen-on svg, #full-screen-off svg {
		position: absolute;
		top: 0;
		left: 0;
		fill: var(--light-gray);
	}

	#full-screen-on:hover, #full-screen-on:focus, #full-screen-off:hover, #full-screen-off:focus {
		filter: drop-shadow(0 0 var(--gap-size) var(--light-gray));
	}

	#full-screen-overlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		background: black;
		opacity: 0;
		transition: var(--transition);
	}

	#full-screen-overlay[darken] {
		opacity: 1 !important;
	}

	#full-screen-overlay:not([darken]) {
		pointer-events: none;
	}

/*** j-logo ***/
	#j-logo {
		position: absolute;
		top: 14px;
		right: 7px;
		color: var(--light-gray);
		height: 32px;
		width: 32px;
		cursor: pointer;
		z-index: 1000;
		outline: none;
		transition: var(--transition);
	}

	#j-logo svg {
		fill: currentColor;
		height: 100%;
		width: auto;
	}

	#j-logo:hover, #j-logo:focus {
		filter: drop-shadow(0 0 var(--gap-size) var(--light-gray));
	}
