/*** page ***/
	html, body {
		height: 100%;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		margin: 0;
		padding: 0;
		background: #bbbbbb;
		overflow: hidden;
	}

	/* variables */
		:root {
			--hexagon-size: 50;
		}

/*** j-logo ***/
	#j-logo {
		position: absolute;
		top: 14px;
		right: 7px;
		color: #04b1ff;
		height: 32px;
		width: 32px;
		cursor: pointer;
		z-index: 1000;
		outline: none;
	}

	#j-logo svg {
		fill: currentColor;
		height: 100%;
		width: auto;
	}

	#j-logo path {
		d: path("M 60 27 C 60 42 60 58 60 73 C 60 74 60 74 61 74 C 64 74 68 74 70 74 C 71 74 72 73 72 72 C 72 58 72 42 72 28 C 72 27 71 26 70 26 C 68 26 64 26 61 26 C 60 26 60 26 60 27 Z M 30 74 C 32 74 36 74 38 74 C 39 74 39 74 38 73 C 35 70 32 67 29 64 C 28 63 28 63 28 64 C 28 67 28 70 28 72 C 28 73 29 74 30 74 Z M 43 74 C 46 74 54 74 57 74 C 58 74 58 74 58 73 C 58 66 58 34 58 27 C 58 26 58 26 57 26 C 54 26 46 26 44 26 C 42 26 42 26 40 24 C 38 22 30 14 28 12 C 27 11 26 10 28 10 C 30 10 54 10 56 10 C 58 10 58 10 60 12 C 62 14 69 21 72 24 C 74 26 74 26 74 29 C 74 34 74 66 74 71 C 74 74 74 74 72 76 C 70 78 62 86 60 88 C 58 90 58 90 56 90 C 54 90 46 90 44 90 C 42 90 42 90 40 88 C 38 86 30 78 28 76 C 26 74 26 74 26 71 C 26 70 26 62 26 60 C 26 58 27 59 28 60 C 30 62 38 70 40 72 C 42 74 42 74 43 74 Z");
	}

	#j-logo:hover, #j-logo:focus {
		filter: drop-shadow(0px 0px 8px #222222);
	}

/*** background ***/
	#background {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		height: 100vw;
		width: 100vw;
		max-height: 100vh;
		max-width: 100vh;
		background: transparent;
		z-index: 1;
		pointer-events: none;
	}

/*** settings ***/
	#settings {
		position: absolute;
		top: 10px;
		left: 10px;
		color: #222222;
		font-size: 20px;
		font-family: monospace;
		user-select: none;
		cursor: pointer;
		outline: none;
	}

	#settings summary:hover, #settings summary:focus {
		text-shadow: 0 0 5px #222222;
	}

	#settings label {
		font-weight: bold;
		display: block;
		margin-bottom: 5px;
	}

	#settings label span {
		width: 20px;
		user-select: none;
	}

	#settings input {
		border: 0px;
		border-radius: 5px;
		background-color: #dddddd;
		color: #222222;
		font-family: monospace;
		padding: 5px;
		width: 40px;
		outline: none;
	}

	#settings input:focus {
		box-shadow: 0 0 5px #222222;
	}

	#settings button {
		border: 0px;
		border-radius: 5px;
		background-color: #dddddd;
		color: #222222;
		font-family: monospace;
		font-weight: bold;
		padding: 5px;
		cursor: pointer;
		width: 74px;
	}

	#settings button:focus, #settings button:hover {
		box-shadow: 0 0 5px #222222;
		background-color: #aaaaaa;
	}

/*** container ***/
	#container {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		height: 100vw;
		width: 100vw;
		max-height: 100vh;
		max-width: 100vh;
		z-index: 2;
		background: transparent;
	}

	#container[grabbed] {
		cursor: grabbing;
	}

/*** pieces ***/
	.piece {
		pointer-events: none;
		width: auto;
		height: auto;
		opacity: 0.5;
	}

	.hexagon {
		position: absolute;
		transform: translateX(-50%) translateY(-50%);
		height: calc(var(--hexagon-size) * 0.866px);
		width: calc(var(--hexagon-size) * 1px);
		clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
		background: lightgray;
		text-align: center;
		color: black;
		font-size: 8px;
		pointer-events: all;
	}

	.piece[selected] .hexagon {
		filter: drop-shadow(0 0 5px #dddddd) blur(5px);
	}

/*** overlay ***/
	#gameoverlay {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
		background-color: #333333;
		box-shadow: 0 0 10px #222222;
		height: 173px;
		width: 200px;
		overflow: hidden;
		text-align: center;
		padding: 50px;
		opacity: 1;
		transition: 2s;
		z-index: 3;
	}

	#heading {
		font-family: monospace;
		text-align: center;
		padding: 10px;
		color: #dddddd;
		font-weight: bold;
		margin: 0px;
		user-select: none;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		-o-user-select: none;
		font-size: 20px;
	}

	#play {
		font-size: 50px;
		color: #222222;
		background-color: #dddddd;
		box-shadow: 0 0 10px #222222;
		font-family: monospace;
		cursor: pointer;
		border: 0;
		clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
		height: 87px;
		width: 100px;
		font-weight: bold;
		outline: none;
	}

	#play:hover, #play:focus {
		box-shadow: 0 0 20px #000000;
	}

	/* gameover */
		body[gameover] #container {
			filter: blur(5px);
			pointer-events: none;
		}

		body[gameover] .piece, body[gameover] .hexagon {
			cursor: default !important;
		}

		body:not([gameover]) #gameoverlay {
			opacity: 0;
			pointer-events: none;
		}
