/* j-logo */
	#j-logo {
		position: absolute;
		top: 14px;
		right: 7px;
		color: #04b1ff;
		height: 32px;
		width: 32px;
		cursor: pointer;
		z-index: 1000;
		outline: none;
		transition: 1s;
	}

	#j-logo svg {
		fill: currentColor;
		height: 100%;
		width: auto;
	}

	#j-logo path {
		d: path("M 60 27 C 60 42 60 58 60 73 C 60 74 60 74 61 74 C 64 74 68 74 70 74 C 71 74 72 73 72 72 C 72 58 72 42 72 28 C 72 27 71 26 70 26 C 68 26 64 26 61 26 C 60 26 60 26 60 27 Z M 30 74 C 32 74 36 74 38 74 C 39 74 39 74 38 73 C 35 70 32 67 29 64 C 28 63 28 63 28 64 C 28 67 28 70 28 72 C 28 73 29 74 30 74 Z M 43 74 C 46 74 54 74 57 74 C 58 74 58 74 58 73 C 58 66 58 34 58 27 C 58 26 58 26 57 26 C 54 26 46 26 44 26 C 42 26 42 26 40 24 C 38 22 30 14 28 12 C 27 11 26 10 28 10 C 30 10 54 10 56 10 C 58 10 58 10 60 12 C 62 14 69 21 72 24 C 74 26 74 26 74 29 C 74 34 74 66 74 71 C 74 74 74 74 72 76 C 70 78 62 86 60 88 C 58 90 58 90 56 90 C 54 90 46 90 44 90 C 42 90 42 90 40 88 C 38 86 30 78 28 76 C 26 74 26 74 26 71 C 26 70 26 62 26 60 C 26 58 27 59 28 60 C 30 62 38 70 40 72 C 42 74 42 74 43 74 Z");
	}

	#j-logo:hover, #j-logo:focus {
		filter: drop-shadow(0px 0px 8px #dddddd);
	}
	
/*** page ***/
	html {
		position: fixed;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		overflow: hidden;
	}

	body {
		position: fixed;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		overflow: hidden;
		background-color: #333333;
		color: #333333;
		box-shadow: 0px 0px 50px #111111 inset;
		font-family: monospace;
		margin: 0px;
	}

	.hidden {
		opacity: 0;
		user-select: none;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		-o-user-select: none;
		pointer-events: none;
	}

/*** menu ***/
	#menu {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		height: 620px;
		width: 620px;
		z-index: 2;
		transition: 1s;
	}

	/* title */
		#title {
			position: absolute;
			top: 0px;
			left: 0px;
			height: 200px;
			width: 200px;
		}

		#title-inner {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translateX(-50%) translateY(-50%);
			font-size: 40px;
			color: #333333;
			text-align: center;
			text-shadow: 0px 0px 20px #dddddd;
			user-select: none;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			-o-user-select: none;
		}

	/* ai / human toggles */
		.player {
			position: absolute;
			height: 200px;
			width: 200px;
		}

		#X {
			top: 0px;
			right: 0px;
		}

		#O {
			bottom: 0px;
			left: 0px;
		}

		.player .label {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translateX(-50%) translateY(-50%);
			filter: blur(10px);
			font-size: 200px;
			color: #111111;
			pointer-events: none;
			user-select: none;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			-o-user-select: none;
		}

		.player .toggle {
			width: 200px;
			height: 100px;
			float: left;
			border: none;
			outline: none;
			background-color: transparent;
			font-family: monospace;
			font-weight: normal;
			font-size: 50px;
			color: #333333;
			padding: 0px;
			cursor: pointer;
			z-index: 3;
			user-select: none;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			-o-user-select: none;
		}

		.player button:hover {
			font-weight: bold;
		}

		.player button[selected] {
			font-weight: bold;
		}

	/* start */
		#start-outer {
			position: absolute;
			bottom: 0px;
			right: 0px;
			height: 200px;
			width: 200px;
		}

		#start {
			position: absolute;
			top: 50%;
			left: 50%;
			height: 180px;
			width: 180px;
			transform: translateX(-50%) translateY(-50%);
			background-color: transparent;
			outline: none;
			cursor: pointer;
			user-select: none;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			-o-user-select: none;
			font-size: 50px;
			font-family: monospace;
			border: 0px;
			border-radius: 20px;
			color: #333333;
			padding: 0px;
		}

		#start:hover {
			font-weight: bold;
		}

	/* message */
		#message {
			position: absolute;
			top: 50%;
			left: 50%;
			max-width: 200px;
			max-height: 200px;
			transform: translateX(-50%) translateY(-50%);
			font-size: 50px;
			color: #333333;
			user-select: none;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			-o-user-select: none;
		}

/*** board ***/
	#board {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		height: 620px;
		width: 620px;
		border-radius: 20px;
		background-color: #111111;
		overflow: hidden;
		transition: 1s;
		box-shadow: 0px 0px 50px #111111;
	}

	#board.gameover {
		filter: blur(10px);
	}

	/* grid */
		.cell {
			float: left;
			height: 200px;
			width: 200px;
			border-radius: 5px;
			border: 5px solid #111111;
			background-color: #dddddd;
		}

		#cell-1, #cell-2, #cell-3 {
			border-top-width: 0px;
		}

		#cell-7, #cell-8, #cell-9 {
			border-bottom-width: 0px;
		}

		#cell-1, #cell-4, #cell-7 {
			border-left-width: 0px;
		}

		#cell-3, #cell-6, #cell-9 {
			border-right-width: 0px;
		}

	/* player */
		.cell[player="X"]:after {
			content: "X";
			float: left;
			text-align: center;
			height: 200px;
			width: 200px;
			font-size: 200px;
			user-select: none;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			-o-user-select: none;
			line-height: 1;
		}

		.cell[player="O"]:after {
			content: "O";
			float: left;
			text-align: center;
			height: 200px;
			width: 200px;
			font-size: 200px;
			user-select: none;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			-o-user-select: none;
			line-height: 1;
		}

	/* interaction */
		.cell[player=""] {
			cursor: pointer;
		}

		.cell[player=""]:hover {
			background-color: #aaaaaa;
		}

/*** mobile ***/
	@media screen and (max-width: 800px) {
		#menu, #board {
			width: 90vw;
			height: 90vw;
			max-width: 90vh;
			max-height: 90vh;
		}

		#title, .player, #start-outer, .cell {
			height: calc(100% / 3 - 7px);
			width: calc(100% / 3 - 7px);
		}

		#title-inner, #start, .player .toggle, #message {
			font-size: 20px;
		}

		.player .toggle {
			height: 50%;
			width: 100%;
		}

		.player .label {
			font-size: 100px;
		}

		.cell[player="X"]:after, .cell[player="O"]:after {
			height: 100%;
			width: 100%;
			font-size: 75px;
			line-height: 1.2;
		}
	}
