/*** page ***/
	body {
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100vw;
		height: 100vh;
		overflow: hidden;
		background-color: #333333;
		color: #333333;
		box-shadow: 0px 0px 50px #111111 inset;
		font-family: monospace;
		margin: 0px;
	}

	.hidden {
		opacity: 0;
		user-select: none;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		-o-user-select: none;
		pointer-events: none;
	}

/*** menu ***/
	#menu {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		height: 620px;
		width: 620px;
		z-index: 2;
		transition: 1s;
	}

	/* title */
		#title {
			position: absolute;
			top: 0px;
			left: 0px;
			height: 200px;
			width: 200px;
		}

		#title-inner {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translateX(-50%) translateY(-50%);
			font-size: 40px;
			color: #333333;
			text-align: center;
			text-shadow: 0px 0px 20px #dddddd;
			user-select: none;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			-o-user-select: none;
		}

	/* ai / human toggles */
		.player {
			position: absolute;
			height: 200px;
			width: 200px;
		}

		#X {
			top: 0px;
			right: 0px;
		}

		#O {
			bottom: 0px;
			left: 0px;
		}

		.player .label {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translateX(-50%) translateY(-50%);
			filter: blur(10px);
			font-size: 200px;
			color: #111111;
			pointer-events: none;
			user-select: none;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			-o-user-select: none;
		}

		.player .toggle {
			width: 200px;
			height: 100px;
			float: left;
			border: none;
			outline: none;
			background-color: transparent;
			font-family: monospace;
			font-weight: normal;
			font-size: 50px;
			color: #333333;
			padding: 0px;
			cursor: pointer;
			z-index: 3;
			user-select: none;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			-o-user-select: none;
		}

		.player button:hover {
			font-weight: bold;
		}

		.player button[selected] {
			font-weight: bold;
		}

	/* start */
		#start-outer {
			position: absolute;
			bottom: 0px;
			right: 0px;
			height: 200px;
			width: 200px;
		}

		#start {
			position: absolute;
			top: 50%;
			left: 50%;
			height: 180px;
			width: 180px;
			transform: translateX(-50%) translateY(-50%);
			background-color: transparent;
			outline: none;
			cursor: pointer;
			user-select: none;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			-o-user-select: none;
			font-size: 50px;
			font-family: monospace;
			border: 0px;
			border-radius: 20px;
			color: #333333;
			padding: 0px;
		}

		#start:hover {
			font-weight: bold;
		}

	/* message */
		#message {
			position: absolute;
			top: 50%;
			left: 50%;
			max-width: 200px;
			max-height: 200px;
			transform: translateX(-50%) translateY(-50%);
			font-size: 50px;
			color: #333333;
			user-select: none;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			-o-user-select: none;
		}

/*** board ***/
	#board {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		height: 620px;
		width: 620px;
		border-radius: 20px;
		background-color: #111111;
		overflow: hidden;
		transition: 1s;
		box-shadow: 0px 0px 50px #111111;
	}

	#board.gameover {
		filter: blur(10px);
	}

	/* grid */
		.cell {
			float: left;
			height: 200px;
			width: 200px;
			border-radius: 5px;
			border: 5px solid #111111;
			background-color: #dddddd;
		}

		#cell-1, #cell-2, #cell-3 {
			border-top-width: 0px;
		}

		#cell-7, #cell-8, #cell-9 {
			border-bottom-width: 0px;
		}

		#cell-1, #cell-4, #cell-7 {
			border-left-width: 0px;
		}

		#cell-3, #cell-6, #cell-9 {
			border-right-width: 0px;
		}

	/* player */
		.cell[player="X"]:after {
			content: "X";
			float: left;
			text-align: center;
			height: 200px;
			width: 200px;
			font-size: 200px;
			user-select: none;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			-o-user-select: none;
			line-height: 1;
		}

		.cell[player="O"]:after {
			content: "O";
			float: left;
			text-align: center;
			height: 200px;
			width: 200px;
			font-size: 200px;
			user-select: none;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			-o-user-select: none;
			line-height: 1;
		}

	/* interaction */
		.cell[player=""] {
			cursor: pointer;
		}

		.cell[player=""]:hover {
			background-color: #aaaaaa;
		}
