/* j-logo */
	#j-logo {
		position: absolute;
		top: 14px;
		right: 7px;
		color: #04b1ff;
		height: 32px;
		width: 32px;
		cursor: pointer;
		z-index: 1000;
		outline: none;
		transition: 1s;
	}

	#j-logo svg {
		fill: currentColor;
		height: 100%;
		width: auto;
	}

	#j-logo path {
		d: path("M 60 27 C 60 42 60 58 60 73 C 60 74 60 74 61 74 C 64 74 68 74 70 74 C 71 74 72 73 72 72 C 72 58 72 42 72 28 C 72 27 71 26 70 26 C 68 26 64 26 61 26 C 60 26 60 26 60 27 Z M 30 74 C 32 74 36 74 38 74 C 39 74 39 74 38 73 C 35 70 32 67 29 64 C 28 63 28 63 28 64 C 28 67 28 70 28 72 C 28 73 29 74 30 74 Z M 43 74 C 46 74 54 74 57 74 C 58 74 58 74 58 73 C 58 66 58 34 58 27 C 58 26 58 26 57 26 C 54 26 46 26 44 26 C 42 26 42 26 40 24 C 38 22 30 14 28 12 C 27 11 26 10 28 10 C 30 10 54 10 56 10 C 58 10 58 10 60 12 C 62 14 69 21 72 24 C 74 26 74 26 74 29 C 74 34 74 66 74 71 C 74 74 74 74 72 76 C 70 78 62 86 60 88 C 58 90 58 90 56 90 C 54 90 46 90 44 90 C 42 90 42 90 40 88 C 38 86 30 78 28 76 C 26 74 26 74 26 71 C 26 70 26 62 26 60 C 26 58 27 59 28 60 C 30 62 38 70 40 72 C 42 74 42 74 43 74 Z");
	}

	#j-logo:hover, #j-logo:focus {
		filter: drop-shadow(0px 0px 8px #dddddd);
	}

/*** page ***/
	html {
		position: fixed;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		overflow: hidden;
	}

	body {
		position: fixed;
		top: 0px;
		left: 0px;
		margin: 0px;
		padding: 0px;
		height: 100%;
		width: 100%;
		background-color: #222222;
		box-shadow: 0px 0px 50px #000000 inset;
		overflow: hidden;
		color: #111111;
		font-family: sans-serif;
		font-size: 20px;
	}

	/* effects */
		.hidden {
			opacity: 0;
			transition: 2s;
			pointer-events: none;
		}

/*** menu ***/
	#menu {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		transition: 2s;
		z-index: 2;
		text-align: center;
		height: 90vh;
		width: 90vh;
		max-height: 90vw;
		max-width: 90vw;
	}

	/* start */
		#start {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translateX(-50%) translateY(-50%);
			border-radius: 5px;
			border: 0px;
			outline: none;
			font-family: sans-serif;
			font-size: 35px;
			padding: 0px;
			margin: 0px;
			height: 70vh;
			width: 70vh;
			max-height: 70vw;
			max-width: 70vw;
			color: #111111;
			text-shadow: 0px 0px 5px #dddddd;
			background-color: #111111;
			box-shadow: 0px 0px 5px #dddddd inset;
			transition: 1s;
			cursor: pointer;
			border-radius: 100%;
			filter: drop-shadow(0px 0px 50px #000000);
			opacity: 0.8;
			text-align: center;
		}

		#start:hover {
			box-shadow: 0px 0px 100px #dddddd inset;
		}

	/* players */
		#red {
			border-radius: 100%;
			height: 20vh;
			width: 20vh;
			max-height: 20vw;
			max-width: 20vw;
			position: absolute;
			top: 5px;
			left: 5px;
			padding: 0px;
			margin: 0px;
			background-color: #777777;
			box-shadow: 0px 0px 100px #ff1111 inset;
			filter: drop-shadow(0px 0px 5px #aa1111);
			transition: 1s;
			border: 0px;
			cursor: pointer;
			outline: none;
			opacity: 0.8;
		}

		#red:hover {
			box-shadow: 0px 0px 100px #ff5555 inset;
		}

		#blue {
			border-radius: 100%;
			height: 20vh;
			width: 20vh;
			max-height: 20vw;
			max-width: 20vw;
			position: absolute;
			bottom: 5px;
			right: 5px;
			padding: 0px;
			margin: 0px;
			background-color: #777777;
			box-shadow: 0px 0px 100px #1111ff inset;
			filter: drop-shadow(0px 0px 5px #1111aa);
			transition: 1s;
			border: 0px;
			cursor: pointer;
			outline: none;
			opacity: 0.8;
		}

		#blue:hover {
			box-shadow: 0px 0px 100px #5555ff inset;
		}

		#red[player="human"]:after, #blue[player="human"]:after {
			content: "human";
			color: #dddddd;
			font-family: sans-serif;
			font-size: 15px;
		}

		#red[player="ai"]:after, #blue[player="ai"]:after {
			content: "ai";
			color: #dddddd;
			font-family: sans-serif;
			font-size: 15px;
		}

/*** board ***/
	#board {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		height: 90vh;
		width: 90vh;
		max-height: 90vw;
		max-width: 90vw;
		border-radius: 10px;
		border: 5px solid #111111;
		overflow: hidden;
		background-color: #111111;
	}

	/* game */
		#board[turn=""] {
			transition: 2s;
			box-shadow: 0px 0px 100px #dddddd;
		}

		#board[turn="red"] {
			transition: 2s;
			box-shadow: 0px 0px 100px #aa1111;
		}

		#board[turn="blue"] {
			transition: 2s;
			box-shadow: 0px 0px 100px #1111aa;
		}

		#board[turn="tie"] {
			transition: 2s;
			box-shadow: 0px 0px 100px #11aa11;
		}

		#board[state="end"] {
			filter: blur(5px);
		}

	/* cells */
		.cell {
			float: left;
			width: calc(100% / 8);
			height: calc(100% / 8);
			border-radius: 5px;
			cursor: pointer;
		}

		.cell[color="white"] {
			background-color: #dddddd;
		}

		.cell[color="black"] {
			background-color: #111111;
		}

		#board[turn="red"] .cell:hover {
			box-shadow: 0px 0px 50px #aa1111 inset;
		}

		#board[turn="blue"] .cell:hover {
			box-shadow: 0px 0px 50px #1111aa inset;
		}

	/* pieces */
		.piece {
			position: relative;
			top: 50%;
			left: 50%;
			transform: translateX(-50%) translateY(-50%);
			height: 80%;
			width: 80%;
			border-radius: 100%;
		}

		.piece[color="red"] {
			background-color: #777777;
			box-shadow: 0px 0px 100px #ff1111 inset;
			filter: drop-shadow(0px 0px 5px #aa1111);
			transition: 1s;
		}

		.piece[color="blue"] {
			background-color: #777777;
			box-shadow: 0px 0px 100px #1111ff inset;
			filter: drop-shadow(0px 0px 5px #1111aa);
			transition: 1s;
		}
