/*** page ***/
	html, body {
		position: absolute;
		top: 0px;
		left: 0px;
		height: 100%;
		width: 100%;
		font-family: 'Share Tech Mono', monospace;
		color: #000000;
		margin: 0px;
		padding: 0px;
		overflow: hidden;
	}

/*** content ***/
	#counters {
		float: left;
		height: 100%;
		width: 100%;
	}

	/* blocks */
		.counter {
			float: left;
			width: 10%;
			height: 100%;
		}

		#money {
			width: 30%;
			height: 100%;
		}

		@media screen and (max-width: 650px) {
			.counter {
				width: 20%;
				height: 50%;
			}

			#money {
				width: 60%;
				height: 50%;
			}
		}

	/* buttons */
		.plus, .minus {
			float: left;
			width: 100%;
			height: 25%;
			padding: 0px;
			font-family: 'Share Tech Mono', monospace;
			color: #dddddd;
			background-color: #111111;
			border: 0px;
			font-size: 80px;
			cursor: pointer;
			outline: none;
		}

		.plus:hover, .plus:focus, .minus:hover, .minus:focus {
			background-color: #222222;
		}

	/* values */
		input.number {
			float: left;
			width: 100%;
			height: 50%;
			text-align: center;
			padding: 0px;
			font-family: 'Share Tech Mono', monospace;
			color: #111111;
			font-size: 50px;
			border: 0px;
			padding: 0px;
			outline: none;
		}

		input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}

		input[type="number"] {
			-moz-appearance: textfield;
		}

	/* colors */
		#red .number {
			background-color: #dd3333;
		}

		#orange .number {
			background-color: #dd8833;
		}

		#yellow .number {
			background-color: #dddd33;
		}

		#green .number {
			background-color: #33dd33;
		}

		#blue .number {
			background-color: #3377dd;
		}

		#purple .number {
			background-color: #9933cc;
		}

		#brown .number {
			background-color: #996633;
		}

		#money .number {
			background-color: #ffffff;
			font-size: 100px;
		}

/*** j-logo ***/
	#j-logo {
		position: absolute;
		top: 14px;
		right: 7px;
		color: #04b1ff;
		height: 32px;
		width: 32px;
		cursor: pointer;
		z-index: 1000;
		outline: none;
	}

	#j-logo svg {
		fill: currentColor;
		height: 100%;
		width: auto;
	}

	#j-logo path {
		d: path("M 60 27 C 60 42 60 58 60 73 C 60 74 60 74 61 74 C 64 74 68 74 70 74 C 71 74 72 73 72 72 C 72 58 72 42 72 28 C 72 27 71 26 70 26 C 68 26 64 26 61 26 C 60 26 60 26 60 27 Z M 30 74 C 32 74 36 74 38 74 C 39 74 39 74 38 73 C 35 70 32 67 29 64 C 28 63 28 63 28 64 C 28 67 28 70 28 72 C 28 73 29 74 30 74 Z M 43 74 C 46 74 54 74 57 74 C 58 74 58 74 58 73 C 58 66 58 34 58 27 C 58 26 58 26 57 26 C 54 26 46 26 44 26 C 42 26 42 26 40 24 C 38 22 30 14 28 12 C 27 11 26 10 28 10 C 30 10 54 10 56 10 C 58 10 58 10 60 12 C 62 14 69 21 72 24 C 74 26 74 26 74 29 C 74 34 74 66 74 71 C 74 74 74 74 72 76 C 70 78 62 86 60 88 C 58 90 58 90 56 90 C 54 90 46 90 44 90 C 42 90 42 90 40 88 C 38 86 30 78 28 76 C 26 74 26 74 26 71 C 26 70 26 62 26 60 C 26 58 27 59 28 60 C 30 62 38 70 40 72 C 42 74 42 74 43 74 Z");
	}

	#j-logo:hover, #j-logo:focus {
		filter: drop-shadow(0 0 5px #dddddd);
	}

	@media screen and (max-width: 650px) {
		#j-logo {
			top: auto;
			bottom: 14px;
		}
	}
