/*** page ***/
	body {
		padding: 0px;
		border: 0px;
		margin: 0px;
		position: absolute;
		top: 0px;
		left: 0px;
		height: 100vh;
		width: 100vw;
		overflow: hidden;
		background-color: #777777;
		box-shadow: 0px 0px 20px #333333 inset;
	}

/*** canvas ***/
	canvas {
		position: absolute;
		top: 0px;
		left: 0px;
		height: 100vh;
		width: 100vw;
		overflow: hidden;
		pointer-events: none;
		user-select: none;
	}

/*** controls ***/
	#controls {
		z-index: 2;
		position: absolute;
		top: 5px;
		left: 5px;
		height: 120px;
		width: 120px;
		overflow: hidden;
		border-radius: 10px;
		background-color: #888888;
		box-shadow: 0px 0px 2px #333333 inset;
		filter: drop-shadow(0px 0px 10px #333333);
		padding: 10px;
		cursor: -moz-grab;
		cursor: -webkit-grab;
		cursor: grab;
	}

	#controls[dragging] {
		cursor: -moz-grabbing;
		cursor: -webkit-grabbing;
		cursor: grabbing;
	}

	/* buttons & select */
		#controls button, #controls select {
			float: left;
			margin: 5px;
			height: 30px;
			width: 30px;
			border-radius: 100%;
			border: 0px;
			padding: 5px;
			background-color: transparent;
			cursor: pointer;
			outline: none;
			font-family: sans-serif;
			font-size: 15px;
		}

		#controls select {
			margin: 0px;
			height: 36px;
			width: 36px;
			margin: 2px;
		}

		#controls button:hover, #controls select:hover {
			background-color: #777777;
		}

		#controls button[selected] {
			background-color: #aaaaaa;
			box-shadow: 0px 0px 20px #ffffff;
		}

		#controls button span {
			user-select: none;
			pointer-events: none;
		}

	/* tools */
		#controls button#mirror {
			color: #555555;
		}

		#controls button#prism {
			color: #ffff00;
		}

		#controls button#refractor {
			color: #00ffff;
		}

		#controls button#eraser {
			color: #ff00ff;
		}

		#controls button#block, #controls button#cursor {
			color: #111111;
		}

	/* colors */
		#controls[color="#ffffff"] button, #controls[color="#ffffff"] select {
			color: #ffffff;
		}

		#controls[color="#ff0000"] button, #controls[color="#ff0000"] select {
			color: #ff0000;
		}

		#controls[color="#00ff00"] button, #controls[color="#00ff00"] select {
			color: #00ff00;
		}

		#controls[color="#0000ff"] button, #controls[color="#0000ff"] select {
			color: #0000ff;
		}
