/*** page ***/
	:root {
		--translucent-black: rgba(0,0,0,0.8);
		--dark-gray: #111111;
		--medium-gray: #777777;
		--light-gray: #dddddd;
		--light-blue: #04b1ff;
		--font-size: 20px;
		--font-family: monospace;
		--gap-size: 5px;
		--shadow-size: 5px;
		--transition-time: 0.5s;
		--line-height: 1;
		--border-radius: 5px;
		--menu-width: 300px;
	}

	html, body {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background: var(--dark-gray);
		font-size: 0;
		padding: 0;
		margin: 0;
		overflow: hidden;
	}

	svg {
		fill: currentColor;
		height: var(--font-size);
		width: var(--font-size);
		vertical-align: bottom;
	}

/*** menu ***/
	#menu-outer {
		position: absolute;
		top: calc(2 * var(--gap-size));
		left: calc(2 * var(--gap-size));
		height: auto;
		width: auto;
	}

	/* menu-button */
		#menu-outer > summary {
		  list-style: none;
		}

		#menu-outer > summary::marker, #menu-outer > summary::-webkit-details-marker {
		  display: none;
		}

		#menu-button {
			position: absolute;
			top: 0;
			left: 0;
			height: calc(2 * var(--font-size));
			width: calc(2 * var(--font-size));
			padding: var(--gap-size);
			border-radius: 100%;
			background: var(--translucent-black);
			color: var(--medium-gray);
			font-size: calc(var(--font-size) * 3 / 2);
			font-family: var(--font-family);
			font-weight: bold;
			margin: 0;
			outline: none;
			cursor: pointer;
			transition: var(--transition-time);
			text-align: center;
			user-select: none;
			box-sizing: border-box;
			line-height: var(--line-height);
			z-index: 2;
		}

		#menu-button svg {
			height: 100%;
			width: 100%;
			vertical-align: top;
		}

		#menu-button:hover, #menu-button:focus {
			box-shadow: 0 0 var(--shadow-size) var(--light-gray);
			color: var(--light-gray);
		}

		#menu-outer[open] #menu-button {
			border-radius: 50% 50% 0 0;
			box-shadow: 0 0 var(--shadow-size) var(--light-gray);
		}

	/* menu controls */
		#menu {
			position: absolute;
			top: calc(2 * var(--font-size));
			left: 0;
			height: auto;
			max-height: calc(100vh - 2 * var(--font-size) - 4 * var(--gap-size));
			width: var(--menu-width);
			background: var(--translucent-black);
			transition: var(--transition-time);
			overflow-x: hidden;
			overflow-y: scroll;
			border-radius: 0 calc(2 * var(--border-radius)) calc(2 * var(--border-radius)) calc(2 * var(--border-radius));
			box-shadow: 0 0 var(--shadow-size) var(--light-gray);
			z-index: 3;
		}

		#menu label {
			display: block;
			min-height: calc(var(--font-size) + 2 * var(--gap-size));
			height: auto;
			padding: var(--gap-size);
			width: 100%;
			box-sizing: border-box;
		}

		#menu hr {
			display: block;
			width: calc(100% - 2 * var(--gap-size) - 2px);
			border: 1px solid var(--light-gray);
			margin: var(--gap-size);
		}

		#menu label div {
			display: inline-block;
			font-size: var(--font-size);
			color: var(--medium-gray);
			font-family: var(--font-family);
			user-select: none;
			cursor: pointer;
			height: calc(var(--font-size));
			width: 100%;
			padding: 0;
			line-height: var(--line-height);
			box-sizing: border-box;
			text-transform: uppercase;
			font-weight: bold;
		}

		#menu label span {
			display: inline-block;
			font-size: var(--font-size);
			color: var(--medium-gray);
			font-family: var(--font-family);
			user-select: none;
			cursor: pointer;
			height: calc(var(--font-size) + 2 * var(--gap-size));
			width: calc(5 * var(--font-size));
			padding: var(--gap-size) 0 0 var(--gap-size);
			line-height: var(--line-height);
			box-sizing: border-box;
		}

		#menu input, #menu select {
			display: inline-block;
			font-size: var(--font-size);
			font-family: var(--font-family);
			color: var(--dark-gray);
			background: var(--light-gray);
			line-height: var(--line-height);
			padding: var(--gap-size);
			box-sizing: border-box;
			border-radius: var(--border-radius);
			margin: 0;
			outline: none;
			border: none;
			height: calc(var(--font-size) + 2 * var(--gap-size));
			transition: var(--transition-time);
			vertical-align: bottom;
		}

		#menu input[type="range"] {
			width: calc(100% - 5 * var(--font-size) - 1 * var(--gap-size) - 3 * var(--font-size));
			margin-right: var(--gap-size);
			padding: 0;
			cursor: pointer;
		}

		#menu input[type="number"] {
			width: calc(3 * var(--font-size));
		}

		#menu input[type="color"] {
			padding: 0;
			border: 0;
			cursor: pointer;
			width: calc(100% - 5 * var(--font-size));
		}

		#menu select {
			cursor: pointer;
			padding: 0 var(--gap-size);
			width: calc(100% - 5 * var(--font-size));
		}

		#menu input:focus, #menu input:hover, #menu select:focus, #menu select:hover {
			box-shadow: 0 0 var(--shadow-size) var(--light-gray);
		}

		#menu-upload {
			height: 0 !important;
			width: 0 !important;
			font-size: 0 !important;
			opacity: 0 !important;
			margin: 0 !important;
			padding: 0 !important;
			border: 0 !important;
		}

		#menu label #menu-upload-span, #menu-download {
			display: inline-block;
			font-size: var(--font-size);
			font-family: var(--font-family);
			color: var(--dark-gray);
			background: var(--light-gray);
			line-height: var(--line-height);
			padding: var(--gap-size);
			box-sizing: border-box;
			border-radius: var(--border-radius);
			margin: 0;
			outline: none;
			border: none;
			height: calc(var(--font-size) + 2 * var(--gap-size));
			width: calc(var(--menu-width) - 2 * var(--gap-size));
			text-align: center;
			text-transform: uppercase;
			font-weight: bold;
			cursor: pointer;
			user-select: none;
			transition: var(--transition-time);
		}

		#menu label #menu-upload-span:hover, #menu label #menu-upload-span:focus, #menu-upload-outer:focus-within span, #menu-download:hover, #menu-download:focus {
			box-shadow: 0 0 var(--shadow-size) var(--light-gray);
			text-shadow: 0 0 var(--shadow-size) var(--dark-gray);
		}

/*** canvas ***/
	#upload-center {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		font-size: var(--font-size);
		font-family: var(--font-family);
		color: var(--dark-gray);
		background: var(--light-gray);
		line-height: var(--line-height);
		padding: var(--gap-size);
		box-sizing: border-box;
		border-radius: var(--border-radius);
		margin: 0;
		outline: none;
		border: none;
		min-height: calc(var(--font-size) + 2 * var(--gap-size));
		height: auto;
		width: auto;
		text-align: center;
		text-transform: uppercase;
		font-weight: bold;
		cursor: pointer;
		user-select: none;
		transition: var(--transition-time);
	}

	#upload-center:hover, #upload-center:focus {
		box-shadow: 0 0 var(--shadow-size) var(--light-gray);
		text-shadow: 0 0 var(--shadow-size) var(--dark-gray);
	}

	#canvas {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		user-select: none;
	}

/*** j-logo ***/
	#j-logo {
		position: fixed;
		top: 14px;
		right: 7px;
		color: var(--light-blue);
		height: 32px;
		width: 32px;
		cursor: pointer;
		z-index: 1000;
		outline: none;
		transition: var(--transition-time);
	}

	#j-logo svg {
		fill: currentColor;
		height: 100%;
		width: auto;
	}

	#j-logo path {
		d: path("M 60 27 C 60 42 60 58 60 73 C 60 74 60 74 61 74 C 64 74 68 74 70 74 C 71 74 72 73 72 72 C 72 58 72 42 72 28 C 72 27 71 26 70 26 C 68 26 64 26 61 26 C 60 26 60 26 60 27 Z M 30 74 C 32 74 36 74 38 74 C 39 74 39 74 38 73 C 35 70 32 67 29 64 C 28 63 28 63 28 64 C 28 67 28 70 28 72 C 28 73 29 74 30 74 Z M 43 74 C 46 74 54 74 57 74 C 58 74 58 74 58 73 C 58 66 58 34 58 27 C 58 26 58 26 57 26 C 54 26 46 26 44 26 C 42 26 42 26 40 24 C 38 22 30 14 28 12 C 27 11 26 10 28 10 C 30 10 54 10 56 10 C 58 10 58 10 60 12 C 62 14 69 21 72 24 C 74 26 74 26 74 29 C 74 34 74 66 74 71 C 74 74 74 74 72 76 C 70 78 62 86 60 88 C 58 90 58 90 56 90 C 54 90 46 90 44 90 C 42 90 42 90 40 88 C 38 86 30 78 28 76 C 26 74 26 74 26 71 C 26 70 26 62 26 60 C 26 58 27 59 28 60 C 30 62 38 70 40 72 C 42 74 42 74 43 74 Z");
	}
	
	#j-logo:hover, #j-logo:focus {
		filter: drop-shadow(0 0 var(--shadow-size) var(--light-gray));
	}
