/*** page ***/
	/* variables */
		:root {
			--dark-gray: #111111;
			--medium-gray: #777777;
			--light-gray: #dddddd;
			--dark-blue: #003377;
			--medium-blue: #0066aa;
			--light-blue: #04b1ff;
			--medium-red: #d94c4c;
			--medium-orange: #c98a05;
			--translucent-orange: rgba(201, 138, 5, 0.75);
			--shadow-size: 4px;
			--font-family: "Alata", sans-serif;
			--border-size: 2px;
			--bold-shadow-size: 0.5px;
			--small-gap-size: 8px;
			--medium-gap-size: 16px;
			--large-gap-size: 32px;
			--border-radius: 4px;
			--icon-size: 32px;
			--small-font-size: 16px;
			--medium-font-size: 32px;
			--large-font-size: 64px;
			--half-opacity: 0.5;
			--image-size: 200px;
			--transition-time: 0.5s;
			--spin-time: 1s;
			--card-size: 300px;
			--line-height: 1.5;
		}

	/* body */
		html {
			scroll-behavior: smooth;
			background-color: var(--dark-gray);
			box-shadow: 0 0 var(--shadow-size) var(--dark-gray) inset;
		}

		body {
			background-color: var(--dark-gray);
			position: absolute;
			top: 0;
			left: 0;
			width: 100vw;
			min-height: 100vh;
			height: auto;
			margin: 0;
			padding: 0;
			border: 0;
			font-family: var(--font-family);
			font-size: 0;
			text-align: center;
		}

	/* scrollbars */
		::-webkit-scrollbar {
			height: 0 !important;
			width: 0 !important;
		}

		::-moz-scrollbar {
			height: 0 !important;
			width: 0 !important;
		}

		::-ms-scrollbar {
			height: 0 !important;
			width: 0 !important;
		}

		::-o-scrollbar {
			height: 0 !important;
			width: 0 !important;
		}

		* {
			scrollbar-width: none;
		}

/*** header ***/
	#header {
		position: sticky;
		top: 0;
		overflow: hidden;
		box-sizing: border-box;
		float: left;
		width: 100%;
		height: calc(2 * (var(--medium-gap-size) - var(--border-size)) + var(--icon-size));
		list-style-type: none;
		margin: 0;
		padding: calc(var(--medium-gap-size) - var(--border-size)) calc(var(--medium-gap-size) - var(--border-size));
		background-color: var(--dark-gray);
		text-align: center;
		box-shadow: 0 0 var(--shadow-size) var(--dark-gray);
		z-index: 2;
	}

	/* buttons */
		#header-home {
			float: left;
			background-color: var(--light-gray);
			height: var(--icon-size);
			width: var(--icon-size);
			cursor: pointer;
			outline: none;
			transition: var(--transition-time);
			border-radius: var(--border-radius) 0 0 var(--border-radius);
			color: var(--light-blue);
		}

		#header-home-inner {
			height: calc(var(--icon-size) - 2 * var(--border-size));
			width: calc(var(--icon-size) - 2 * var(--border-size));
			margin: var(--border-size);
			fill: currentColor;
		}

		#header-home-inner path {
			d: path("M 73 25 C 70 25 62 25 59 25 C 58 25 57 26 57 27 C 57 30 57 43 57 46 C 57 47 58 48 59 48 C 62 48 70 48 73 48 C 74 48 75 47 75 46 C 75 43 75 30 75 27 C 75 26 74 25 73 25 Z M 41 25 C 38 25 30 25 27 25 C 26 25 25 26 25 27 C 25 30 25 33 25 36 C 25 37 26 38 27 38 C 30 38 38 38 41 38 C 42 38 43 37 43 36 C 43 33 43 30 43 27 C 43 26 42 25 41 25 Z M 41 52 C 38 52 30 52 27 52 C 26 52 25 53 25 54 C 25 57 25 70 25 73 C 25 74 26 75 27 75 C 30 75 38 75 41 75 C 42 75 43 74 43 73 C 43 70 43 57 43 54 C 43 53 42 52 41 52 Z M 73 62 C 70 62 62 62 59 62 C 58 62 57 63 57 64 C 57 67 57 70 57 73 C 57 74 58 75 59 75 C 62 75 70 75 73 75 C 74 75 75 74 75 73 C 75 70 75 67 75 64 C 75 63 74 62 73 62 Z M 42 47 C 45 47 48 50 48 53 C 48 57 48 70 48 74 C 48 77 45 80 42 80 C 38 80 30 80 26 80 C 23 80 20 77 20 74 C 20 70 20 57 20 53 C 20 50 23 47 26 47 C 30 47 38 47 42 47 Z M 42 20 C 45 20 48 23 48 26 C 48 30 48 33 48 37 C 48 40 45 43 42 43 C 38 43 30 43 26 43 C 23 43 20 40 20 37 C 20 33 20 30 20 26 C 20 23 23 20 26 20 C 30 20 38 20 42 20 Z M 74 57 C 77 57 80 60 80 63 C 80 67 80 70 80 74 C 80 77 77 80 74 80 C 70 80 62 80 58 80 C 55 80 52 77 52 74 C 52 70 52 67 52 63 C 52 60 55 57 58 57 C 62 57 70 57 74 57 Z M 74 20 C 77 20 80 23 80 26 C 80 30 80 43 80 47 C 80 50 77 53 74 53 C 70 53 62 53 58 53 C 55 53 52 50 52 47 C 52 43 52 30 52 26 C 52 23 55 20 58 20 C 62 20 70 20 74 20 Z");
		}

		#header-home:hover, #header-home:focus {
			color: var(--medium-blue);
		}

		#header-home[spin] #header-home-inner {
			animation: spin var(--spin-time) linear infinite;
		}

		#header-j-logo {
			float: right;
			color: var(--light-blue);
			height: var(--icon-size);
			width: var(--icon-size);
			margin-right: -7px;
			cursor: pointer;
			outline: none;
			transition: var(--transition-time);
		}

		#header-j-logo svg {
			fill: currentColor;
			height: 100%;
			width: auto;
		}

		#header-j-logo path {
			d: path("M 60 27 C 60 42 60 58 60 73 C 60 74 60 74 61 74 C 64 74 68 74 70 74 C 71 74 72 73 72 72 C 72 58 72 42 72 28 C 72 27 71 26 70 26 C 68 26 64 26 61 26 C 60 26 60 26 60 27 Z M 30 74 C 32 74 36 74 38 74 C 39 74 39 74 38 73 C 35 70 32 67 29 64 C 28 63 28 63 28 64 C 28 67 28 70 28 72 C 28 73 29 74 30 74 Z M 43 74 C 46 74 54 74 57 74 C 58 74 58 74 58 73 C 58 66 58 34 58 27 C 58 26 58 26 57 26 C 54 26 46 26 44 26 C 42 26 42 26 40 24 C 38 22 30 14 28 12 C 27 11 26 10 28 10 C 30 10 54 10 56 10 C 58 10 58 10 60 12 C 62 14 69 21 72 24 C 74 26 74 26 74 29 C 74 34 74 66 74 71 C 74 74 74 74 72 76 C 70 78 62 86 60 88 C 58 90 58 90 56 90 C 54 90 46 90 44 90 C 42 90 42 90 40 88 C 38 86 30 78 28 76 C 26 74 26 74 26 71 C 26 70 26 62 26 60 C 26 58 27 59 28 60 C 30 62 38 70 40 72 C 42 74 42 74 43 74 Z");
		}

		#header-j-logo:hover, #header-j-logo:focus {
			color: var(--medium-blue);
		}


	/* search */
		#header-search {
			float: left;
			height: 100%;
			width: calc(100% - 2 * var(--icon-size) - var(--border-size));
			margin: 0;
			background: var(--light-gray);
			border: none;
			border-radius: 0 var(--border-radius) var(--border-radius) 0;
			padding: var(--small-gap-size);
			font-size: var(--small-font-size);
			font-family: var(--font-family);
			color: var(--dark-gray);
			outline: none;
			transition: var(--transition-time);
			box-sizing: border-box;
		}

		#header-search:focus {
			filter: drop-shadow(0 0 var(--shadow-size) var(--light-gray));
		}

/*** other ***/
	/* loading */
		#loading {
			position: fixed;
			top: 50%;
			left: 50%;
			transform: translateX(-50%) translateY(-50%);
			height: calc(4 * var(--icon-size));
			width: 100%;
			pointer-events: none;
			outline: none;
			opacity: 0;
			transition: var(--transition-time);
			background: var(--light-gray);
			box-shadow: 0 0 var(--shadow-size) var(--dark-gray);
		}

			#loading[spin] {
				opacity: 1;
			}

		#loading svg {
			height: calc(4 * var(--icon-size)) !important;
			width: calc(4 * var(--icon-size)) !important;
		}

			#loading[spin] path {
				animation-name: draw;
				fill: none;
				stroke: var(--light-blue);
				stroke-width: 3;
				stroke-linecap: round;
				stroke-linejoin: round;
				animation-iteration-count: infinite;
				animation-timing-function: linear;
				animation-duration: 4s;
			}

			@keyframes draw {
				 0.000% {d: path('M 42 47 ');}
				 0.962% {d: path('M 42 47 C 45 47 48 50 48 53 ');}
				 1.923% {d: path('M 42 47 C 45 47 48 50 48 53 C 48 57 48 70 48 74 ');}
				 2.885% {d: path('M 42 47 C 45 47 48 50 48 53 C 48 57 48 70 48 74 C 48 77 45 80 42 80 ');}
				 3.846% {d: path('M 42 47 C 45 47 48 50 48 53 C 48 57 48 70 48 74 C 48 77 45 80 42 80 C 38 80 30 80 26 80 ');}
				 4.808% {d: path('M 42 47 C 45 47 48 50 48 53 C 48 57 48 70 48 74 C 48 77 45 80 42 80 C 38 80 30 80 26 80 C 23 80 20 77 20 74 ');}
				 5.769% {d: path('M 42 47 C 45 47 48 50 48 53 C 48 57 48 70 48 74 C 48 77 45 80 42 80 C 38 80 30 80 26 80 C 23 80 20 77 20 74 C 20 70 20 57 20 53 ');}
				 6.731% {d: path('M 42 47 C 45 47 48 50 48 53 C 48 57 48 70 48 74 C 48 77 45 80 42 80 C 38 80 30 80 26 80 C 23 80 20 77 20 74 C 20 70 20 57 20 53 C 20 50 23 47 26 47 ');}
				 7.692% {d: path('M 42 47 C 45 47 48 50 48 53 C 48 57 48 70 48 74 C 48 77 45 80 42 80 C 38 80 30 80 26 80 C 23 80 20 77 20 74 C 20 70 20 57 20 53 C 20 50 23 47 26 47 C 30 47 38 47 42 47 ');}
				 8.654% {d: path('M 42 47 C 45 47 48 50 48 53 C 48 57 48 70 48 74 C 48 77 45 80 42 80 C 38 80 30 80 26 80 C 23 80 20 77 20 74 C 20 70 20 57 20 53 C 20 50 23 47 26 47 C 30 47 38 47 42 47 Z ');}
				 9.615% {d: path('M 42 47 C 45 47 48 50 48 53 C 48 57 48 70 48 74 C 48 77 45 80 42 80 C 38 80 30 80 26 80 C 23 80 20 77 20 74 C 20 70 20 57 20 53 C 20 50 23 47 26 47 C 30 47 38 47 42 47 Z M 42 20 ');}
				10.577% {d: path('M 42 47 C 45 47 48 50 48 53 C 48 57 48 70 48 74 C 48 77 45 80 42 80 C 38 80 30 80 26 80 C 23 80 20 77 20 74 C 20 70 20 57 20 53 C 20 50 23 47 26 47 C 30 47 38 47 42 47 Z M 42 20 C 45 20 48 23 48 26 ');}
				11.538% {d: path('M 42 47 C 45 47 48 50 48 53 C 48 57 48 70 48 74 C 48 77 45 80 42 80 C 38 80 30 80 26 80 C 23 80 20 77 20 74 C 20 70 20 57 20 53 C 20 50 23 47 26 47 C 30 47 38 47 42 47 Z M 42 20 C 45 20 48 23 48 26 C 48 30 48 33 48 37 ');}
				12.500% {d: path('M 42 47 C 45 47 48 50 48 53 C 48 57 48 70 48 74 C 48 77 45 80 42 80 C 38 80 30 80 26 80 C 23 80 20 77 20 74 C 20 70 20 57 20 53 C 20 50 23 47 26 47 C 30 47 38 47 42 47 Z M 42 20 C 45 20 48 23 48 26 C 48 30 48 33 48 37 C 48 40 45 43 42 43 ');}
				13.462% {d: path('M 42 47 C 45 47 48 50 48 53 C 48 57 48 70 48 74 C 48 77 45 80 42 80 C 38 80 30 80 26 80 C 23 80 20 77 20 74 C 20 70 20 57 20 53 C 20 50 23 47 26 47 C 30 47 38 47 42 47 Z M 42 20 C 45 20 48 23 48 26 C 48 30 48 33 48 37 C 48 40 45 43 42 43 C 38 43 30 43 26 43 ');}
				14.423% {d: path('M 42 47 C 45 47 48 50 48 53 C 48 57 48 70 48 74 C 48 77 45 80 42 80 C 38 80 30 80 26 80 C 23 80 20 77 20 74 C 20 70 20 57 20 53 C 20 50 23 47 26 47 C 30 47 38 47 42 47 Z M 42 20 C 45 20 48 23 48 26 C 48 30 48 33 48 37 C 48 40 45 43 42 43 C 38 43 30 43 26 43 C 23 43 20 40 20 37 ');}
				15.385% {d: path('M 42 47 C 45 47 48 50 48 53 C 48 57 48 70 48 74 C 48 77 45 80 42 80 C 38 80 30 80 26 80 C 23 80 20 77 20 74 C 20 70 20 57 20 53 C 20 50 23 47 26 47 C 30 47 38 47 42 47 Z M 42 20 C 45 20 48 23 48 26 C 48 30 48 33 48 37 C 48 40 45 43 42 43 C 38 43 30 43 26 43 C 23 43 20 40 20 37 C 20 33 20 30 20 26 ');}
				16.346% {d: path('M 42 47 C 45 47 48 50 48 53 C 48 57 48 70 48 74 C 48 77 45 80 42 80 C 38 80 30 80 26 80 C 23 80 20 77 20 74 C 20 70 20 57 20 53 C 20 50 23 47 26 47 C 30 47 38 47 42 47 Z M 42 20 C 45 20 48 23 48 26 C 48 30 48 33 48 37 C 48 40 45 43 42 43 C 38 43 30 43 26 43 C 23 43 20 40 20 37 C 20 33 20 30 20 26 C 20 23 23 20 26 20 ');}
				17.308% {d: path('M 42 47 C 45 47 48 50 48 53 C 48 57 48 70 48 74 C 48 77 45 80 42 80 C 38 80 30 80 26 80 C 23 80 20 77 20 74 C 20 70 20 57 20 53 C 20 50 23 47 26 47 C 30 47 38 47 42 47 Z M 42 20 C 45 20 48 23 48 26 C 48 30 48 33 48 37 C 48 40 45 43 42 43 C 38 43 30 43 26 43 C 23 43 20 40 20 37 C 20 33 20 30 20 26 C 20 23 23 20 26 20 C 30 20 38 20 42 20 ');}
				18.269% {d: path('M 42 47 C 45 47 48 50 48 53 C 48 57 48 70 48 74 C 48 77 45 80 42 80 C 38 80 30 80 26 80 C 23 80 20 77 20 74 C 20 70 20 57 20 53 C 20 50 23 47 26 47 C 30 47 38 47 42 47 Z M 42 20 C 45 20 48 23 48 26 C 48 30 48 33 48 37 C 48 40 45 43 42 43 C 38 43 30 43 26 43 C 23 43 20 40 20 37 C 20 33 20 30 20 26 C 20 23 23 20 26 20 C 30 20 38 20 42 20 Z ');}
				19.231% {d: path('M 42 47 C 45 47 48 50 48 53 C 48 57 48 70 48 74 C 48 77 45 80 42 80 C 38 80 30 80 26 80 C 23 80 20 77 20 74 C 20 70 20 57 20 53 C 20 50 23 47 26 47 C 30 47 38 47 42 47 Z M 42 20 C 45 20 48 23 48 26 C 48 30 48 33 48 37 C 48 40 45 43 42 43 C 38 43 30 43 26 43 C 23 43 20 40 20 37 C 20 33 20 30 20 26 C 20 23 23 20 26 20 C 30 20 38 20 42 20 Z M 74 57 ');}
				20.192% {d: path('M 42 47 C 45 47 48 50 48 53 C 48 57 48 70 48 74 C 48 77 45 80 42 80 C 38 80 30 80 26 80 C 23 80 20 77 20 74 C 20 70 20 57 20 53 C 20 50 23 47 26 47 C 30 47 38 47 42 47 Z M 42 20 C 45 20 48 23 48 26 C 48 30 48 33 48 37 C 48 40 45 43 42 43 C 38 43 30 43 26 43 C 23 43 20 40 20 37 C 20 33 20 30 20 26 C 20 23 23 20 26 20 C 30 20 38 20 42 20 Z M 74 57 C 77 57 80 60 80 63 ');}
				21.154% {d: path('M 42 47 C 45 47 48 50 48 53 C 48 57 48 70 48 74 C 48 77 45 80 42 80 C 38 80 30 80 26 80 C 23 80 20 77 20 74 C 20 70 20 57 20 53 C 20 50 23 47 26 47 C 30 47 38 47 42 47 Z M 42 20 C 45 20 48 23 48 26 C 48 30 48 33 48 37 C 48 40 45 43 42 43 C 38 43 30 43 26 43 C 23 43 20 40 20 37 C 20 33 20 30 20 26 C 20 23 23 20 26 20 C 30 20 38 20 42 20 Z M 74 57 C 77 57 80 60 80 63 C 80 67 80 70 80 74 ');}
				22.115% {d: path('M 42 47 C 45 47 48 50 48 53 C 48 57 48 70 48 74 C 48 77 45 80 42 80 C 38 80 30 80 26 80 C 23 80 20 77 20 74 C 20 70 20 57 20 53 C 20 50 23 47 26 47 C 30 47 38 47 42 47 Z M 42 20 C 45 20 48 23 48 26 C 48 30 48 33 48 37 C 48 40 45 43 42 43 C 38 43 30 43 26 43 C 23 43 20 40 20 37 C 20 33 20 30 20 26 C 20 23 23 20 26 20 C 30 20 38 20 42 20 Z M 74 57 C 77 57 80 60 80 63 C 80 67 80 70 80 74 C 80 77 77 80 74 80 ');}
				23.077% {d: path('M 42 47 C 45 47 48 50 48 53 C 48 57 48 70 48 74 C 48 77 45 80 42 80 C 38 80 30 80 26 80 C 23 80 20 77 20 74 C 20 70 20 57 20 53 C 20 50 23 47 26 47 C 30 47 38 47 42 47 Z M 42 20 C 45 20 48 23 48 26 C 48 30 48 33 48 37 C 48 40 45 43 42 43 C 38 43 30 43 26 43 C 23 43 20 40 20 37 C 20 33 20 30 20 26 C 20 23 23 20 26 20 C 30 20 38 20 42 20 Z M 74 57 C 77 57 80 60 80 63 C 80 67 80 70 80 74 C 80 77 77 80 74 80 C 70 80 62 80 58 80 ');}
				24.038% {d: path('M 42 47 C 45 47 48 50 48 53 C 48 57 48 70 48 74 C 48 77 45 80 42 80 C 38 80 30 80 26 80 C 23 80 20 77 20 74 C 20 70 20 57 20 53 C 20 50 23 47 26 47 C 30 47 38 47 42 47 Z M 42 20 C 45 20 48 23 48 26 C 48 30 48 33 48 37 C 48 40 45 43 42 43 C 38 43 30 43 26 43 C 23 43 20 40 20 37 C 20 33 20 30 20 26 C 20 23 23 20 26 20 C 30 20 38 20 42 20 Z M 74 57 C 77 57 80 60 80 63 C 80 67 80 70 80 74 C 80 77 77 80 74 80 C 70 80 62 80 58 80 C 55 80 52 77 52 74 ');}
				25.000% {d: path('M 42 47 C 45 47 48 50 48 53 C 48 57 48 70 48 74 C 48 77 45 80 42 80 C 38 80 30 80 26 80 C 23 80 20 77 20 74 C 20 70 20 57 20 53 C 20 50 23 47 26 47 C 30 47 38 47 42 47 Z M 42 20 C 45 20 48 23 48 26 C 48 30 48 33 48 37 C 48 40 45 43 42 43 C 38 43 30 43 26 43 C 23 43 20 40 20 37 C 20 33 20 30 20 26 C 20 23 23 20 26 20 C 30 20 38 20 42 20 Z M 74 57 C 77 57 80 60 80 63 C 80 67 80 70 80 74 C 80 77 77 80 74 80 C 70 80 62 80 58 80 C 55 80 52 77 52 74 C 52 70 52 67 52 63 ');}
				25.962% {d: path('M 42 47 C 45 47 48 50 48 53 C 48 57 48 70 48 74 C 48 77 45 80 42 80 C 38 80 30 80 26 80 C 23 80 20 77 20 74 C 20 70 20 57 20 53 C 20 50 23 47 26 47 C 30 47 38 47 42 47 Z M 42 20 C 45 20 48 23 48 26 C 48 30 48 33 48 37 C 48 40 45 43 42 43 C 38 43 30 43 26 43 C 23 43 20 40 20 37 C 20 33 20 30 20 26 C 20 23 23 20 26 20 C 30 20 38 20 42 20 Z M 74 57 C 77 57 80 60 80 63 C 80 67 80 70 80 74 C 80 77 77 80 74 80 C 70 80 62 80 58 80 C 55 80 52 77 52 74 C 52 70 52 67 52 63 C 52 60 55 57 58 57 ');}
				26.923% {d: path('M 42 47 C 45 47 48 50 48 53 C 48 57 48 70 48 74 C 48 77 45 80 42 80 C 38 80 30 80 26 80 C 23 80 20 77 20 74 C 20 70 20 57 20 53 C 20 50 23 47 26 47 C 30 47 38 47 42 47 Z M 42 20 C 45 20 48 23 48 26 C 48 30 48 33 48 37 C 48 40 45 43 42 43 C 38 43 30 43 26 43 C 23 43 20 40 20 37 C 20 33 20 30 20 26 C 20 23 23 20 26 20 C 30 20 38 20 42 20 Z M 74 57 C 77 57 80 60 80 63 C 80 67 80 70 80 74 C 80 77 77 80 74 80 C 70 80 62 80 58 80 C 55 80 52 77 52 74 C 52 70 52 67 52 63 C 52 60 55 57 58 57 C 62 57 70 57 74 57 ');}
				27.885% {d: path('M 42 47 C 45 47 48 50 48 53 C 48 57 48 70 48 74 C 48 77 45 80 42 80 C 38 80 30 80 26 80 C 23 80 20 77 20 74 C 20 70 20 57 20 53 C 20 50 23 47 26 47 C 30 47 38 47 42 47 Z M 42 20 C 45 20 48 23 48 26 C 48 30 48 33 48 37 C 48 40 45 43 42 43 C 38 43 30 43 26 43 C 23 43 20 40 20 37 C 20 33 20 30 20 26 C 20 23 23 20 26 20 C 30 20 38 20 42 20 Z M 74 57 C 77 57 80 60 80 63 C 80 67 80 70 80 74 C 80 77 77 80 74 80 C 70 80 62 80 58 80 C 55 80 52 77 52 74 C 52 70 52 67 52 63 C 52 60 55 57 58 57 C 62 57 70 57 74 57 Z ');}
				28.846% {d: path('M 42 47 C 45 47 48 50 48 53 C 48 57 48 70 48 74 C 48 77 45 80 42 80 C 38 80 30 80 26 80 C 23 80 20 77 20 74 C 20 70 20 57 20 53 C 20 50 23 47 26 47 C 30 47 38 47 42 47 Z M 42 20 C 45 20 48 23 48 26 C 48 30 48 33 48 37 C 48 40 45 43 42 43 C 38 43 30 43 26 43 C 23 43 20 40 20 37 C 20 33 20 30 20 26 C 20 23 23 20 26 20 C 30 20 38 20 42 20 Z M 74 57 C 77 57 80 60 80 63 C 80 67 80 70 80 74 C 80 77 77 80 74 80 C 70 80 62 80 58 80 C 55 80 52 77 52 74 C 52 70 52 67 52 63 C 52 60 55 57 58 57 C 62 57 70 57 74 57 Z M 74 20 ');}
				29.808% {d: path('M 42 47 C 45 47 48 50 48 53 C 48 57 48 70 48 74 C 48 77 45 80 42 80 C 38 80 30 80 26 80 C 23 80 20 77 20 74 C 20 70 20 57 20 53 C 20 50 23 47 26 47 C 30 47 38 47 42 47 Z M 42 20 C 45 20 48 23 48 26 C 48 30 48 33 48 37 C 48 40 45 43 42 43 C 38 43 30 43 26 43 C 23 43 20 40 20 37 C 20 33 20 30 20 26 C 20 23 23 20 26 20 C 30 20 38 20 42 20 Z M 74 57 C 77 57 80 60 80 63 C 80 67 80 70 80 74 C 80 77 77 80 74 80 C 70 80 62 80 58 80 C 55 80 52 77 52 74 C 52 70 52 67 52 63 C 52 60 55 57 58 57 C 62 57 70 57 74 57 Z M 74 20 C 77 20 80 23 80 26 ');}
				30.769% {d: path('M 42 47 C 45 47 48 50 48 53 C 48 57 48 70 48 74 C 48 77 45 80 42 80 C 38 80 30 80 26 80 C 23 80 20 77 20 74 C 20 70 20 57 20 53 C 20 50 23 47 26 47 C 30 47 38 47 42 47 Z M 42 20 C 45 20 48 23 48 26 C 48 30 48 33 48 37 C 48 40 45 43 42 43 C 38 43 30 43 26 43 C 23 43 20 40 20 37 C 20 33 20 30 20 26 C 20 23 23 20 26 20 C 30 20 38 20 42 20 Z M 74 57 C 77 57 80 60 80 63 C 80 67 80 70 80 74 C 80 77 77 80 74 80 C 70 80 62 80 58 80 C 55 80 52 77 52 74 C 52 70 52 67 52 63 C 52 60 55 57 58 57 C 62 57 70 57 74 57 Z M 74 20 C 77 20 80 23 80 26 C 80 30 80 43 80 47 ');}
				31.731% {d: path('M 42 47 C 45 47 48 50 48 53 C 48 57 48 70 48 74 C 48 77 45 80 42 80 C 38 80 30 80 26 80 C 23 80 20 77 20 74 C 20 70 20 57 20 53 C 20 50 23 47 26 47 C 30 47 38 47 42 47 Z M 42 20 C 45 20 48 23 48 26 C 48 30 48 33 48 37 C 48 40 45 43 42 43 C 38 43 30 43 26 43 C 23 43 20 40 20 37 C 20 33 20 30 20 26 C 20 23 23 20 26 20 C 30 20 38 20 42 20 Z M 74 57 C 77 57 80 60 80 63 C 80 67 80 70 80 74 C 80 77 77 80 74 80 C 70 80 62 80 58 80 C 55 80 52 77 52 74 C 52 70 52 67 52 63 C 52 60 55 57 58 57 C 62 57 70 57 74 57 Z M 74 20 C 77 20 80 23 80 26 C 80 30 80 43 80 47 C 80 50 77 53 74 53 ');}
				32.692% {d: path('M 42 47 C 45 47 48 50 48 53 C 48 57 48 70 48 74 C 48 77 45 80 42 80 C 38 80 30 80 26 80 C 23 80 20 77 20 74 C 20 70 20 57 20 53 C 20 50 23 47 26 47 C 30 47 38 47 42 47 Z M 42 20 C 45 20 48 23 48 26 C 48 30 48 33 48 37 C 48 40 45 43 42 43 C 38 43 30 43 26 43 C 23 43 20 40 20 37 C 20 33 20 30 20 26 C 20 23 23 20 26 20 C 30 20 38 20 42 20 Z M 74 57 C 77 57 80 60 80 63 C 80 67 80 70 80 74 C 80 77 77 80 74 80 C 70 80 62 80 58 80 C 55 80 52 77 52 74 C 52 70 52 67 52 63 C 52 60 55 57 58 57 C 62 57 70 57 74 57 Z M 74 20 C 77 20 80 23 80 26 C 80 30 80 43 80 47 C 80 50 77 53 74 53 C 70 53 62 53 58 53 ');}
				33.654% {d: path('M 42 47 C 45 47 48 50 48 53 C 48 57 48 70 48 74 C 48 77 45 80 42 80 C 38 80 30 80 26 80 C 23 80 20 77 20 74 C 20 70 20 57 20 53 C 20 50 23 47 26 47 C 30 47 38 47 42 47 Z M 42 20 C 45 20 48 23 48 26 C 48 30 48 33 48 37 C 48 40 45 43 42 43 C 38 43 30 43 26 43 C 23 43 20 40 20 37 C 20 33 20 30 20 26 C 20 23 23 20 26 20 C 30 20 38 20 42 20 Z M 74 57 C 77 57 80 60 80 63 C 80 67 80 70 80 74 C 80 77 77 80 74 80 C 70 80 62 80 58 80 C 55 80 52 77 52 74 C 52 70 52 67 52 63 C 52 60 55 57 58 57 C 62 57 70 57 74 57 Z M 74 20 C 77 20 80 23 80 26 C 80 30 80 43 80 47 C 80 50 77 53 74 53 C 70 53 62 53 58 53 C 55 53 52 50 52 47 ');}
				34.615% {d: path('M 42 47 C 45 47 48 50 48 53 C 48 57 48 70 48 74 C 48 77 45 80 42 80 C 38 80 30 80 26 80 C 23 80 20 77 20 74 C 20 70 20 57 20 53 C 20 50 23 47 26 47 C 30 47 38 47 42 47 Z M 42 20 C 45 20 48 23 48 26 C 48 30 48 33 48 37 C 48 40 45 43 42 43 C 38 43 30 43 26 43 C 23 43 20 40 20 37 C 20 33 20 30 20 26 C 20 23 23 20 26 20 C 30 20 38 20 42 20 Z M 74 57 C 77 57 80 60 80 63 C 80 67 80 70 80 74 C 80 77 77 80 74 80 C 70 80 62 80 58 80 C 55 80 52 77 52 74 C 52 70 52 67 52 63 C 52 60 55 57 58 57 C 62 57 70 57 74 57 Z M 74 20 C 77 20 80 23 80 26 C 80 30 80 43 80 47 C 80 50 77 53 74 53 C 70 53 62 53 58 53 C 55 53 52 50 52 47 C 52 43 52 30 52 26 ');}
				35.577% {d: path('M 42 47 C 45 47 48 50 48 53 C 48 57 48 70 48 74 C 48 77 45 80 42 80 C 38 80 30 80 26 80 C 23 80 20 77 20 74 C 20 70 20 57 20 53 C 20 50 23 47 26 47 C 30 47 38 47 42 47 Z M 42 20 C 45 20 48 23 48 26 C 48 30 48 33 48 37 C 48 40 45 43 42 43 C 38 43 30 43 26 43 C 23 43 20 40 20 37 C 20 33 20 30 20 26 C 20 23 23 20 26 20 C 30 20 38 20 42 20 Z M 74 57 C 77 57 80 60 80 63 C 80 67 80 70 80 74 C 80 77 77 80 74 80 C 70 80 62 80 58 80 C 55 80 52 77 52 74 C 52 70 52 67 52 63 C 52 60 55 57 58 57 C 62 57 70 57 74 57 Z M 74 20 C 77 20 80 23 80 26 C 80 30 80 43 80 47 C 80 50 77 53 74 53 C 70 53 62 53 58 53 C 55 53 52 50 52 47 C 52 43 52 30 52 26 C 52 23 55 20 58 20 ');}
				36.538% {d: path('M 42 47 C 45 47 48 50 48 53 C 48 57 48 70 48 74 C 48 77 45 80 42 80 C 38 80 30 80 26 80 C 23 80 20 77 20 74 C 20 70 20 57 20 53 C 20 50 23 47 26 47 C 30 47 38 47 42 47 Z M 42 20 C 45 20 48 23 48 26 C 48 30 48 33 48 37 C 48 40 45 43 42 43 C 38 43 30 43 26 43 C 23 43 20 40 20 37 C 20 33 20 30 20 26 C 20 23 23 20 26 20 C 30 20 38 20 42 20 Z M 74 57 C 77 57 80 60 80 63 C 80 67 80 70 80 74 C 80 77 77 80 74 80 C 70 80 62 80 58 80 C 55 80 52 77 52 74 C 52 70 52 67 52 63 C 52 60 55 57 58 57 C 62 57 70 57 74 57 Z M 74 20 C 77 20 80 23 80 26 C 80 30 80 43 80 47 C 80 50 77 53 74 53 C 70 53 62 53 58 53 C 55 53 52 50 52 47 C 52 43 52 30 52 26 C 52 23 55 20 58 20 C 62 20 70 20 74 20 ');}
				37.500% {d: path('M 42 47 C 45 47 48 50 48 53 C 48 57 48 70 48 74 C 48 77 45 80 42 80 C 38 80 30 80 26 80 C 23 80 20 77 20 74 C 20 70 20 57 20 53 C 20 50 23 47 26 47 C 30 47 38 47 42 47 Z M 42 20 C 45 20 48 23 48 26 C 48 30 48 33 48 37 C 48 40 45 43 42 43 C 38 43 30 43 26 43 C 23 43 20 40 20 37 C 20 33 20 30 20 26 C 20 23 23 20 26 20 C 30 20 38 20 42 20 Z M 74 57 C 77 57 80 60 80 63 C 80 67 80 70 80 74 C 80 77 77 80 74 80 C 70 80 62 80 58 80 C 55 80 52 77 52 74 C 52 70 52 67 52 63 C 52 60 55 57 58 57 C 62 57 70 57 74 57 Z M 74 20 C 77 20 80 23 80 26 C 80 30 80 43 80 47 C 80 50 77 53 74 53 C 70 53 62 53 58 53 C 55 53 52 50 52 47 C 52 43 52 30 52 26 C 52 23 55 20 58 20 C 62 20 70 20 74 20 Z');}
				50.000% {d: path('M 42 47 C 45 47 48 50 48 53 C 48 57 48 70 48 74 C 48 77 45 80 42 80 C 38 80 30 80 26 80 C 23 80 20 77 20 74 C 20 70 20 57 20 53 C 20 50 23 47 26 47 C 30 47 38 47 42 47 Z M 42 20 C 45 20 48 23 48 26 C 48 30 48 33 48 37 C 48 40 45 43 42 43 C 38 43 30 43 26 43 C 23 43 20 40 20 37 C 20 33 20 30 20 26 C 20 23 23 20 26 20 C 30 20 38 20 42 20 Z M 74 57 C 77 57 80 60 80 63 C 80 67 80 70 80 74 C 80 77 77 80 74 80 C 70 80 62 80 58 80 C 55 80 52 77 52 74 C 52 70 52 67 52 63 C 52 60 55 57 58 57 C 62 57 70 57 74 57 Z M 74 20 C 77 20 80 23 80 26 C 80 30 80 43 80 47 C 80 50 77 53 74 53 C 70 53 62 53 58 53 C 55 53 52 50 52 47 C 52 43 52 30 52 26 C 52 23 55 20 58 20 C 62 20 70 20 74 20 Z');}
				50.962% {d: path('M 42 47 C 45 47 48 50 48 53 C 48 57 48 70 48 74 C 48 77 45 80 42 80 C 38 80 30 80 26 80 C 23 80 20 77 20 74 C 20 70 20 57 20 53 C 20 50 23 47 26 47 C 30 47 38 47 42 47 Z M 42 20 C 45 20 48 23 48 26 C 48 30 48 33 48 37 C 48 40 45 43 42 43 C 38 43 30 43 26 43 C 23 43 20 40 20 37 C 20 33 20 30 20 26 C 20 23 23 20 26 20 C 30 20 38 20 42 20 Z M 74 57 C 77 57 80 60 80 63 C 80 67 80 70 80 74 C 80 77 77 80 74 80 C 70 80 62 80 58 80 C 55 80 52 77 52 74 C 52 70 52 67 52 63 C 52 60 55 57 58 57 C 62 57 70 57 74 57 Z M 74 20 C 77 20 80 23 80 26 C 80 30 80 43 80 47 C 80 50 77 53 74 53 C 70 53 62 53 58 53 C 55 53 52 50 52 47 C 52 43 52 30 52 26 C 52 23 55 20 58 20 C 62 20 70 20 74 20 ');}
				51.923% {d: path('M 42 47 C 45 47 48 50 48 53 C 48 57 48 70 48 74 C 48 77 45 80 42 80 C 38 80 30 80 26 80 C 23 80 20 77 20 74 C 20 70 20 57 20 53 C 20 50 23 47 26 47 C 30 47 38 47 42 47 Z M 42 20 C 45 20 48 23 48 26 C 48 30 48 33 48 37 C 48 40 45 43 42 43 C 38 43 30 43 26 43 C 23 43 20 40 20 37 C 20 33 20 30 20 26 C 20 23 23 20 26 20 C 30 20 38 20 42 20 Z M 74 57 C 77 57 80 60 80 63 C 80 67 80 70 80 74 C 80 77 77 80 74 80 C 70 80 62 80 58 80 C 55 80 52 77 52 74 C 52 70 52 67 52 63 C 52 60 55 57 58 57 C 62 57 70 57 74 57 Z M 74 20 C 77 20 80 23 80 26 C 80 30 80 43 80 47 C 80 50 77 53 74 53 C 70 53 62 53 58 53 C 55 53 52 50 52 47 C 52 43 52 30 52 26 C 52 23 55 20 58 20 ');}
				52.885% {d: path('M 42 47 C 45 47 48 50 48 53 C 48 57 48 70 48 74 C 48 77 45 80 42 80 C 38 80 30 80 26 80 C 23 80 20 77 20 74 C 20 70 20 57 20 53 C 20 50 23 47 26 47 C 30 47 38 47 42 47 Z M 42 20 C 45 20 48 23 48 26 C 48 30 48 33 48 37 C 48 40 45 43 42 43 C 38 43 30 43 26 43 C 23 43 20 40 20 37 C 20 33 20 30 20 26 C 20 23 23 20 26 20 C 30 20 38 20 42 20 Z M 74 57 C 77 57 80 60 80 63 C 80 67 80 70 80 74 C 80 77 77 80 74 80 C 70 80 62 80 58 80 C 55 80 52 77 52 74 C 52 70 52 67 52 63 C 52 60 55 57 58 57 C 62 57 70 57 74 57 Z M 74 20 C 77 20 80 23 80 26 C 80 30 80 43 80 47 C 80 50 77 53 74 53 C 70 53 62 53 58 53 C 55 53 52 50 52 47 C 52 43 52 30 52 26 ');}
				53.846% {d: path('M 42 47 C 45 47 48 50 48 53 C 48 57 48 70 48 74 C 48 77 45 80 42 80 C 38 80 30 80 26 80 C 23 80 20 77 20 74 C 20 70 20 57 20 53 C 20 50 23 47 26 47 C 30 47 38 47 42 47 Z M 42 20 C 45 20 48 23 48 26 C 48 30 48 33 48 37 C 48 40 45 43 42 43 C 38 43 30 43 26 43 C 23 43 20 40 20 37 C 20 33 20 30 20 26 C 20 23 23 20 26 20 C 30 20 38 20 42 20 Z M 74 57 C 77 57 80 60 80 63 C 80 67 80 70 80 74 C 80 77 77 80 74 80 C 70 80 62 80 58 80 C 55 80 52 77 52 74 C 52 70 52 67 52 63 C 52 60 55 57 58 57 C 62 57 70 57 74 57 Z M 74 20 C 77 20 80 23 80 26 C 80 30 80 43 80 47 C 80 50 77 53 74 53 C 70 53 62 53 58 53 C 55 53 52 50 52 47 ');}
				54.808% {d: path('M 42 47 C 45 47 48 50 48 53 C 48 57 48 70 48 74 C 48 77 45 80 42 80 C 38 80 30 80 26 80 C 23 80 20 77 20 74 C 20 70 20 57 20 53 C 20 50 23 47 26 47 C 30 47 38 47 42 47 Z M 42 20 C 45 20 48 23 48 26 C 48 30 48 33 48 37 C 48 40 45 43 42 43 C 38 43 30 43 26 43 C 23 43 20 40 20 37 C 20 33 20 30 20 26 C 20 23 23 20 26 20 C 30 20 38 20 42 20 Z M 74 57 C 77 57 80 60 80 63 C 80 67 80 70 80 74 C 80 77 77 80 74 80 C 70 80 62 80 58 80 C 55 80 52 77 52 74 C 52 70 52 67 52 63 C 52 60 55 57 58 57 C 62 57 70 57 74 57 Z M 74 20 C 77 20 80 23 80 26 C 80 30 80 43 80 47 C 80 50 77 53 74 53 C 70 53 62 53 58 53 ');}
				55.769% {d: path('M 42 47 C 45 47 48 50 48 53 C 48 57 48 70 48 74 C 48 77 45 80 42 80 C 38 80 30 80 26 80 C 23 80 20 77 20 74 C 20 70 20 57 20 53 C 20 50 23 47 26 47 C 30 47 38 47 42 47 Z M 42 20 C 45 20 48 23 48 26 C 48 30 48 33 48 37 C 48 40 45 43 42 43 C 38 43 30 43 26 43 C 23 43 20 40 20 37 C 20 33 20 30 20 26 C 20 23 23 20 26 20 C 30 20 38 20 42 20 Z M 74 57 C 77 57 80 60 80 63 C 80 67 80 70 80 74 C 80 77 77 80 74 80 C 70 80 62 80 58 80 C 55 80 52 77 52 74 C 52 70 52 67 52 63 C 52 60 55 57 58 57 C 62 57 70 57 74 57 Z M 74 20 C 77 20 80 23 80 26 C 80 30 80 43 80 47 C 80 50 77 53 74 53 ');}
				56.731% {d: path('M 42 47 C 45 47 48 50 48 53 C 48 57 48 70 48 74 C 48 77 45 80 42 80 C 38 80 30 80 26 80 C 23 80 20 77 20 74 C 20 70 20 57 20 53 C 20 50 23 47 26 47 C 30 47 38 47 42 47 Z M 42 20 C 45 20 48 23 48 26 C 48 30 48 33 48 37 C 48 40 45 43 42 43 C 38 43 30 43 26 43 C 23 43 20 40 20 37 C 20 33 20 30 20 26 C 20 23 23 20 26 20 C 30 20 38 20 42 20 Z M 74 57 C 77 57 80 60 80 63 C 80 67 80 70 80 74 C 80 77 77 80 74 80 C 70 80 62 80 58 80 C 55 80 52 77 52 74 C 52 70 52 67 52 63 C 52 60 55 57 58 57 C 62 57 70 57 74 57 Z M 74 20 C 77 20 80 23 80 26 C 80 30 80 43 80 47 ');}
				57.692% {d: path('M 42 47 C 45 47 48 50 48 53 C 48 57 48 70 48 74 C 48 77 45 80 42 80 C 38 80 30 80 26 80 C 23 80 20 77 20 74 C 20 70 20 57 20 53 C 20 50 23 47 26 47 C 30 47 38 47 42 47 Z M 42 20 C 45 20 48 23 48 26 C 48 30 48 33 48 37 C 48 40 45 43 42 43 C 38 43 30 43 26 43 C 23 43 20 40 20 37 C 20 33 20 30 20 26 C 20 23 23 20 26 20 C 30 20 38 20 42 20 Z M 74 57 C 77 57 80 60 80 63 C 80 67 80 70 80 74 C 80 77 77 80 74 80 C 70 80 62 80 58 80 C 55 80 52 77 52 74 C 52 70 52 67 52 63 C 52 60 55 57 58 57 C 62 57 70 57 74 57 Z M 74 20 C 77 20 80 23 80 26 ');}
				58.654% {d: path('M 42 47 C 45 47 48 50 48 53 C 48 57 48 70 48 74 C 48 77 45 80 42 80 C 38 80 30 80 26 80 C 23 80 20 77 20 74 C 20 70 20 57 20 53 C 20 50 23 47 26 47 C 30 47 38 47 42 47 Z M 42 20 C 45 20 48 23 48 26 C 48 30 48 33 48 37 C 48 40 45 43 42 43 C 38 43 30 43 26 43 C 23 43 20 40 20 37 C 20 33 20 30 20 26 C 20 23 23 20 26 20 C 30 20 38 20 42 20 Z M 74 57 C 77 57 80 60 80 63 C 80 67 80 70 80 74 C 80 77 77 80 74 80 C 70 80 62 80 58 80 C 55 80 52 77 52 74 C 52 70 52 67 52 63 C 52 60 55 57 58 57 C 62 57 70 57 74 57 Z M 74 20 ');}
				59.615% {d: path('M 42 47 C 45 47 48 50 48 53 C 48 57 48 70 48 74 C 48 77 45 80 42 80 C 38 80 30 80 26 80 C 23 80 20 77 20 74 C 20 70 20 57 20 53 C 20 50 23 47 26 47 C 30 47 38 47 42 47 Z M 42 20 C 45 20 48 23 48 26 C 48 30 48 33 48 37 C 48 40 45 43 42 43 C 38 43 30 43 26 43 C 23 43 20 40 20 37 C 20 33 20 30 20 26 C 20 23 23 20 26 20 C 30 20 38 20 42 20 Z M 74 57 C 77 57 80 60 80 63 C 80 67 80 70 80 74 C 80 77 77 80 74 80 C 70 80 62 80 58 80 C 55 80 52 77 52 74 C 52 70 52 67 52 63 C 52 60 55 57 58 57 C 62 57 70 57 74 57 Z ');}
				60.577% {d: path('M 42 47 C 45 47 48 50 48 53 C 48 57 48 70 48 74 C 48 77 45 80 42 80 C 38 80 30 80 26 80 C 23 80 20 77 20 74 C 20 70 20 57 20 53 C 20 50 23 47 26 47 C 30 47 38 47 42 47 Z M 42 20 C 45 20 48 23 48 26 C 48 30 48 33 48 37 C 48 40 45 43 42 43 C 38 43 30 43 26 43 C 23 43 20 40 20 37 C 20 33 20 30 20 26 C 20 23 23 20 26 20 C 30 20 38 20 42 20 Z M 74 57 C 77 57 80 60 80 63 C 80 67 80 70 80 74 C 80 77 77 80 74 80 C 70 80 62 80 58 80 C 55 80 52 77 52 74 C 52 70 52 67 52 63 C 52 60 55 57 58 57 C 62 57 70 57 74 57 ');}
				61.538% {d: path('M 42 47 C 45 47 48 50 48 53 C 48 57 48 70 48 74 C 48 77 45 80 42 80 C 38 80 30 80 26 80 C 23 80 20 77 20 74 C 20 70 20 57 20 53 C 20 50 23 47 26 47 C 30 47 38 47 42 47 Z M 42 20 C 45 20 48 23 48 26 C 48 30 48 33 48 37 C 48 40 45 43 42 43 C 38 43 30 43 26 43 C 23 43 20 40 20 37 C 20 33 20 30 20 26 C 20 23 23 20 26 20 C 30 20 38 20 42 20 Z M 74 57 C 77 57 80 60 80 63 C 80 67 80 70 80 74 C 80 77 77 80 74 80 C 70 80 62 80 58 80 C 55 80 52 77 52 74 C 52 70 52 67 52 63 C 52 60 55 57 58 57 ');}
				62.500% {d: path('M 42 47 C 45 47 48 50 48 53 C 48 57 48 70 48 74 C 48 77 45 80 42 80 C 38 80 30 80 26 80 C 23 80 20 77 20 74 C 20 70 20 57 20 53 C 20 50 23 47 26 47 C 30 47 38 47 42 47 Z M 42 20 C 45 20 48 23 48 26 C 48 30 48 33 48 37 C 48 40 45 43 42 43 C 38 43 30 43 26 43 C 23 43 20 40 20 37 C 20 33 20 30 20 26 C 20 23 23 20 26 20 C 30 20 38 20 42 20 Z M 74 57 C 77 57 80 60 80 63 C 80 67 80 70 80 74 C 80 77 77 80 74 80 C 70 80 62 80 58 80 C 55 80 52 77 52 74 C 52 70 52 67 52 63 ');}
				63.462% {d: path('M 42 47 C 45 47 48 50 48 53 C 48 57 48 70 48 74 C 48 77 45 80 42 80 C 38 80 30 80 26 80 C 23 80 20 77 20 74 C 20 70 20 57 20 53 C 20 50 23 47 26 47 C 30 47 38 47 42 47 Z M 42 20 C 45 20 48 23 48 26 C 48 30 48 33 48 37 C 48 40 45 43 42 43 C 38 43 30 43 26 43 C 23 43 20 40 20 37 C 20 33 20 30 20 26 C 20 23 23 20 26 20 C 30 20 38 20 42 20 Z M 74 57 C 77 57 80 60 80 63 C 80 67 80 70 80 74 C 80 77 77 80 74 80 C 70 80 62 80 58 80 C 55 80 52 77 52 74 ');}
				64.423% {d: path('M 42 47 C 45 47 48 50 48 53 C 48 57 48 70 48 74 C 48 77 45 80 42 80 C 38 80 30 80 26 80 C 23 80 20 77 20 74 C 20 70 20 57 20 53 C 20 50 23 47 26 47 C 30 47 38 47 42 47 Z M 42 20 C 45 20 48 23 48 26 C 48 30 48 33 48 37 C 48 40 45 43 42 43 C 38 43 30 43 26 43 C 23 43 20 40 20 37 C 20 33 20 30 20 26 C 20 23 23 20 26 20 C 30 20 38 20 42 20 Z M 74 57 C 77 57 80 60 80 63 C 80 67 80 70 80 74 C 80 77 77 80 74 80 C 70 80 62 80 58 80 ');}
				65.385% {d: path('M 42 47 C 45 47 48 50 48 53 C 48 57 48 70 48 74 C 48 77 45 80 42 80 C 38 80 30 80 26 80 C 23 80 20 77 20 74 C 20 70 20 57 20 53 C 20 50 23 47 26 47 C 30 47 38 47 42 47 Z M 42 20 C 45 20 48 23 48 26 C 48 30 48 33 48 37 C 48 40 45 43 42 43 C 38 43 30 43 26 43 C 23 43 20 40 20 37 C 20 33 20 30 20 26 C 20 23 23 20 26 20 C 30 20 38 20 42 20 Z M 74 57 C 77 57 80 60 80 63 C 80 67 80 70 80 74 C 80 77 77 80 74 80 ');}
				66.346% {d: path('M 42 47 C 45 47 48 50 48 53 C 48 57 48 70 48 74 C 48 77 45 80 42 80 C 38 80 30 80 26 80 C 23 80 20 77 20 74 C 20 70 20 57 20 53 C 20 50 23 47 26 47 C 30 47 38 47 42 47 Z M 42 20 C 45 20 48 23 48 26 C 48 30 48 33 48 37 C 48 40 45 43 42 43 C 38 43 30 43 26 43 C 23 43 20 40 20 37 C 20 33 20 30 20 26 C 20 23 23 20 26 20 C 30 20 38 20 42 20 Z M 74 57 C 77 57 80 60 80 63 C 80 67 80 70 80 74 ');}
				67.308% {d: path('M 42 47 C 45 47 48 50 48 53 C 48 57 48 70 48 74 C 48 77 45 80 42 80 C 38 80 30 80 26 80 C 23 80 20 77 20 74 C 20 70 20 57 20 53 C 20 50 23 47 26 47 C 30 47 38 47 42 47 Z M 42 20 C 45 20 48 23 48 26 C 48 30 48 33 48 37 C 48 40 45 43 42 43 C 38 43 30 43 26 43 C 23 43 20 40 20 37 C 20 33 20 30 20 26 C 20 23 23 20 26 20 C 30 20 38 20 42 20 Z M 74 57 C 77 57 80 60 80 63 ');}
				68.269% {d: path('M 42 47 C 45 47 48 50 48 53 C 48 57 48 70 48 74 C 48 77 45 80 42 80 C 38 80 30 80 26 80 C 23 80 20 77 20 74 C 20 70 20 57 20 53 C 20 50 23 47 26 47 C 30 47 38 47 42 47 Z M 42 20 C 45 20 48 23 48 26 C 48 30 48 33 48 37 C 48 40 45 43 42 43 C 38 43 30 43 26 43 C 23 43 20 40 20 37 C 20 33 20 30 20 26 C 20 23 23 20 26 20 C 30 20 38 20 42 20 Z M 74 57 ');}
				69.231% {d: path('M 42 47 C 45 47 48 50 48 53 C 48 57 48 70 48 74 C 48 77 45 80 42 80 C 38 80 30 80 26 80 C 23 80 20 77 20 74 C 20 70 20 57 20 53 C 20 50 23 47 26 47 C 30 47 38 47 42 47 Z M 42 20 C 45 20 48 23 48 26 C 48 30 48 33 48 37 C 48 40 45 43 42 43 C 38 43 30 43 26 43 C 23 43 20 40 20 37 C 20 33 20 30 20 26 C 20 23 23 20 26 20 C 30 20 38 20 42 20 Z ');}
				70.192% {d: path('M 42 47 C 45 47 48 50 48 53 C 48 57 48 70 48 74 C 48 77 45 80 42 80 C 38 80 30 80 26 80 C 23 80 20 77 20 74 C 20 70 20 57 20 53 C 20 50 23 47 26 47 C 30 47 38 47 42 47 Z M 42 20 C 45 20 48 23 48 26 C 48 30 48 33 48 37 C 48 40 45 43 42 43 C 38 43 30 43 26 43 C 23 43 20 40 20 37 C 20 33 20 30 20 26 C 20 23 23 20 26 20 C 30 20 38 20 42 20 ');}
				71.154% {d: path('M 42 47 C 45 47 48 50 48 53 C 48 57 48 70 48 74 C 48 77 45 80 42 80 C 38 80 30 80 26 80 C 23 80 20 77 20 74 C 20 70 20 57 20 53 C 20 50 23 47 26 47 C 30 47 38 47 42 47 Z M 42 20 C 45 20 48 23 48 26 C 48 30 48 33 48 37 C 48 40 45 43 42 43 C 38 43 30 43 26 43 C 23 43 20 40 20 37 C 20 33 20 30 20 26 C 20 23 23 20 26 20 ');}
				72.115% {d: path('M 42 47 C 45 47 48 50 48 53 C 48 57 48 70 48 74 C 48 77 45 80 42 80 C 38 80 30 80 26 80 C 23 80 20 77 20 74 C 20 70 20 57 20 53 C 20 50 23 47 26 47 C 30 47 38 47 42 47 Z M 42 20 C 45 20 48 23 48 26 C 48 30 48 33 48 37 C 48 40 45 43 42 43 C 38 43 30 43 26 43 C 23 43 20 40 20 37 C 20 33 20 30 20 26 ');}
				73.077% {d: path('M 42 47 C 45 47 48 50 48 53 C 48 57 48 70 48 74 C 48 77 45 80 42 80 C 38 80 30 80 26 80 C 23 80 20 77 20 74 C 20 70 20 57 20 53 C 20 50 23 47 26 47 C 30 47 38 47 42 47 Z M 42 20 C 45 20 48 23 48 26 C 48 30 48 33 48 37 C 48 40 45 43 42 43 C 38 43 30 43 26 43 C 23 43 20 40 20 37 ');}
				74.038% {d: path('M 42 47 C 45 47 48 50 48 53 C 48 57 48 70 48 74 C 48 77 45 80 42 80 C 38 80 30 80 26 80 C 23 80 20 77 20 74 C 20 70 20 57 20 53 C 20 50 23 47 26 47 C 30 47 38 47 42 47 Z M 42 20 C 45 20 48 23 48 26 C 48 30 48 33 48 37 C 48 40 45 43 42 43 C 38 43 30 43 26 43 ');}
				75.000% {d: path('M 42 47 C 45 47 48 50 48 53 C 48 57 48 70 48 74 C 48 77 45 80 42 80 C 38 80 30 80 26 80 C 23 80 20 77 20 74 C 20 70 20 57 20 53 C 20 50 23 47 26 47 C 30 47 38 47 42 47 Z M 42 20 C 45 20 48 23 48 26 C 48 30 48 33 48 37 C 48 40 45 43 42 43 ');}
				75.962% {d: path('M 42 47 C 45 47 48 50 48 53 C 48 57 48 70 48 74 C 48 77 45 80 42 80 C 38 80 30 80 26 80 C 23 80 20 77 20 74 C 20 70 20 57 20 53 C 20 50 23 47 26 47 C 30 47 38 47 42 47 Z M 42 20 C 45 20 48 23 48 26 C 48 30 48 33 48 37 ');}
				76.923% {d: path('M 42 47 C 45 47 48 50 48 53 C 48 57 48 70 48 74 C 48 77 45 80 42 80 C 38 80 30 80 26 80 C 23 80 20 77 20 74 C 20 70 20 57 20 53 C 20 50 23 47 26 47 C 30 47 38 47 42 47 Z M 42 20 C 45 20 48 23 48 26 ');}
				77.885% {d: path('M 42 47 C 45 47 48 50 48 53 C 48 57 48 70 48 74 C 48 77 45 80 42 80 C 38 80 30 80 26 80 C 23 80 20 77 20 74 C 20 70 20 57 20 53 C 20 50 23 47 26 47 C 30 47 38 47 42 47 Z M 42 20 ');}
				78.846% {d: path('M 42 47 C 45 47 48 50 48 53 C 48 57 48 70 48 74 C 48 77 45 80 42 80 C 38 80 30 80 26 80 C 23 80 20 77 20 74 C 20 70 20 57 20 53 C 20 50 23 47 26 47 C 30 47 38 47 42 47 Z ');}
				79.808% {d: path('M 42 47 C 45 47 48 50 48 53 C 48 57 48 70 48 74 C 48 77 45 80 42 80 C 38 80 30 80 26 80 C 23 80 20 77 20 74 C 20 70 20 57 20 53 C 20 50 23 47 26 47 C 30 47 38 47 42 47 ');}
				80.769% {d: path('M 42 47 C 45 47 48 50 48 53 C 48 57 48 70 48 74 C 48 77 45 80 42 80 C 38 80 30 80 26 80 C 23 80 20 77 20 74 C 20 70 20 57 20 53 C 20 50 23 47 26 47 ');}
				81.731% {d: path('M 42 47 C 45 47 48 50 48 53 C 48 57 48 70 48 74 C 48 77 45 80 42 80 C 38 80 30 80 26 80 C 23 80 20 77 20 74 C 20 70 20 57 20 53 ');}
				82.692% {d: path('M 42 47 C 45 47 48 50 48 53 C 48 57 48 70 48 74 C 48 77 45 80 42 80 C 38 80 30 80 26 80 C 23 80 20 77 20 74 ');}
				83.654% {d: path('M 42 47 C 45 47 48 50 48 53 C 48 57 48 70 48 74 C 48 77 45 80 42 80 C 38 80 30 80 26 80 ');}
				84.615% {d: path('M 42 47 C 45 47 48 50 48 53 C 48 57 48 70 48 74 C 48 77 45 80 42 80 ');}
				85.577% {d: path('M 42 47 C 45 47 48 50 48 53 C 48 57 48 70 48 74 ');}
				86.538% {d: path('M 42 47 C 45 47 48 50 48 53 ');}
				87.500% {d: path('M 42 47 ');}
				100.000% {d: path('M 42 47 ');}
			}

	/* error */
		#error {
			position: fixed;
			top: 50%;
			left: 50%;
			transform: translateX(-50%) translateY(-50%);
			height: auto;
			width: auto;
			pointer-events: none;
			outline: none;
			opacity: 0;
			transition: var(--transition-time);
			font-size: var(--medium-font-size);
			font-family: var(--font-family);
			color: var(--medium-red);
			font-weight: bold;
			text-transform: uppercase;
			text-align: center;
			text-shadow: 0 0 var(--shadow-size) var(--dark-gray);
		}

		#error[visible] {
			opacity: 1;
		}

	/* scroll-to-top */
		#scroll-to-top, #scroll-to-top:visited {
			width: 100%;
			float: left;
			text-align: center;
			font-family: var(--font-family);
			height: var(--large-font-size);
			color: var(--light-blue);
			text-decoration: none;
			cursor: pointer;
			outline: none;
			font-weight: bold;
			transition: var(--transition-time);
			display: none;
			margin-bottom: var(--large-gap-size);
		}

		#scroll-to-top-inner {
			width: auto;
			height: 100%;
			fill: currentColor;
		}

		#scroll-to-top-inner path {
			d: path("M 50 51 C 48 51 47 52 45 54 C 42 57 40 59 38 61 C 36 63 33 63 31 61 C 29 59 29 56 31 54 C 35 50 40 45 45 40 C 47 38 48 37 50 37 C 52 37 53 38 55 40 C 60 45 65 50 69 54 C 71 56 71 59 69 61 C 67 63 64 63 62 61 C 60 59 58 57 55 54 C 53 52 52 51 50 51 Z");
		}

		#scroll-to-top:hover, #scroll-to-top:focus {
			color: var(--medium-blue);
		}

		#cards:not(:empty) ~ #scroll-to-top, #post:not(:empty) ~ #scroll-to-top {
			display: block;
		}

/*** cards ***/
	#cards {
		float: left;
		height: auto;
		width: 100%;
		background-color: var(--medium-gray);
		padding: calc(var(--medium-gap-size) + var(--small-gap-size));
		box-sizing: border-box;
		overflow: hidden;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		column-gap: calc(var(--medium-gap-size) + var(--small-gap-size));
	}

	#cards:empty {
		padding: 0;
	}

	/* columns */
		.card-column {
			display: inline-block;
			height: auto;
			text-align: center;
			width: 100%;
			flex-grow: 1;
			display: flex;
			flex-direction: column;
			align-items: center;
		}

	/* card */
		.card, .card:visited {
			display: block;
			box-sizing: border-box;
			margin: 0 0 calc(var(--medium-gap-size) + var(--small-gap-size)) 0;
			background-color: var(--dark-gray);
			padding: var(--medium-gap-size);
			height: auto;
			min-width: var(--card-size);
			width: 100%;
			overflow: hidden;
			transition: var(--transition-time);
			border-radius: calc(var(--border-radius) * 2);
			text-decoration: none;
			box-shadow: 0 0 var(--shadow-size) var(--dark-gray);
		}

		.card-image {
			min-width: calc(var(--card-size) - 2 * var(--medium-gap-size));
			width: 100%;
			height: auto;
			border-radius: var(--border-radius);
			user-select: none;
			margin-bottom: var(--medium-gap-size);
		}

		.card-title {
			width: 100%;
			font-size: var(--medium-font-size);
			font-family: var(--font-family);
			color: var(--light-blue);
			font-weight: bold;
			margin: 0 0 var(--medium-gap-size) 0;
			user-select: none;
			text-align: left;
			line-height: var(--line-height);
			transition: var(--transition-time);
		}

		.card-date {
			width: 100%;
			font-size: var(--small-font-size);
			font-family: var(--font-family);
			color: var(--light-gray);
			user-select: none;
			text-align: left;
			line-height: 1;
			margin: 0 0 var(--medium-gap-size) 0;
		}

		.card-summary {
			width: 100%;
			text-align: left;
			font-size: var(--small-font-size);
			font-family: var(--font-family);
			color: var(--light-gray);
			margin: 0 0 var(--small-gap-size) 0;
			user-select: none;
		}

		.card-tags {
			width: 100%;
			text-align: center;
		}

		.card-tag, .card-tag:visited {
			width: auto;
			display: inline-block;
			color: var(--light-blue);
			font-size: var(--small-font-size);
			font-family: var(--font-family);
			margin: var(--border-size);
			cursor: pointer;
			user-select: none;
			outline: none;
			padding: var(--small-gap-size);
			border-radius: var(--border-radius);
			text-decoration: none;
			transition: var(--transition-time);
			line-height: 1;
		}

	/* hover state */
		.card:hover, .card:focus {
			filter: drop-shadow(0 0 var(--shadow-size) var(--medium-blue));
		}

		.card:hover .card-title, .card:focus .card-title {
			color: var(--medium-blue);
		}

		.card-tag:hover, .card-tag:focus {
			color: var(--medium-blue);
		}

/*** post ***/
	#post {
		float: left;
		height: auto;
		width: 100%;
		padding: 0;
		box-sizing: border-box;
		overflow: hidden;
		font-size: 0;
	}

	/* header */
		.post-header {
			float: left;
			height: auto;
			width: 100%;
			background-color: var(--medium-blue);
			text-align: center;
			filter: drop-shadow(0 0 var(--border-size) var(--dark-gray));
			padding: var(--medium-gap-size) var(--large-gap-size);
			box-sizing: border-box;
		}

		.post-title {
			width: 100%;
			font-size: var(--large-font-size);
			color: var(--light-gray);
			font-family: var(--font-family);
			font-weight: bold;
			text-align: center;
			margin: var(--small-gap-size) 0 var(--medium-gap-size) 0;
			line-height: 1;
			text-shadow: 0 0 var(--shadow-size) var(--dark-gray);
		}

		.post-date {
			display: inline-block;
			font-size: var(--small-font-size);
			font-family: var(--font-family);
			color: var(--light-gray);
			font-weight: bold;
			text-align: center;
			text-transform: uppercase;
			margin: var(--small-gap-size);
			line-height: 1;
		}

		.post-tags {
			display: inline-block;
			text-align: center;
		}

		.post-tag, .post-tag:visited {
			width: auto;
			display: inline-block;
			background: var(--medium-blue);
			color: var(--light-blue);
			font-size: var(--small-font-size);
			font-family: var(--font-family);
			margin: 0 0 0 var(--small-gap-size);
			cursor: pointer;
			user-select: none;
			outline: none;
			padding: var(--small-gap-size);
			border-radius: var(--border-radius);
			text-decoration: none;
			transition: var(--transition-time);
			line-height: 1;
		}

		.post-tag:hover, .post-tag:focus {
			color: var(--medium-blue);
			background-color: var(--dark-gray);
		}

	/* body */
		.post-body {
			float: left;
			width: 100%;
			height: auto;
			box-sizing: border-box;
			background-color: var(--light-gray);
			color: var(--dark-gray);
			font-size: 0;
			font-family: var(--font-family);
			text-align: center;
			padding: var(--large-gap-size) var(--large-gap-size) calc(var(--large-gap-size) * 2) var(--large-gap-size);
		}

		.post-block {
			display: block;
			height: auto;
			margin: var(--medium-gap-size) auto;
			text-align: left;
			font-size: var(--small-font-size);
			color: var(--dark-gray);
			line-height: var(--line-height);
			max-width: calc(var(--card-size) * 2);
		}

	/* headers */
		.post-block h1 {
			text-align: left;
			font-size: calc(var(--medium-font-size) * 3 / 2);
			font-weight: bold;
			color: var(--dark-gray);
			line-height: var(--line-height);
			margin: var(--medium-gap-size) 0 var(--medium-gap-size) 0;
		}

		.post-block h2 {
			text-align: left;
			font-size: calc(var(--medium-font-size));
			font-weight: bold;
			color: var(--dark-gray);
			line-height: var(--line-height);
			margin: var(--medium-gap-size) 0 var(--medium-gap-size) 0;
		}

		.post-block h3 {
			text-align: left;
			font-size: calc(var(--medium-font-size) * 3 / 4);
			font-weight: bold;
			color: var(--dark-gray);
			line-height: var(--line-height);
			margin: var(--medium-gap-size) 0 var(--medium-gap-size) 0;
		}

		.post-block h4, .post-block h5, .post-block h6 {
			text-align: left;
			font-size: var(--small-font-size);
			font-weight: bold;
			color: var(--dark-gray);
			line-height: var(--line-height);
			text-transform: uppercase;
			margin: var(--medium-gap-size) 0 var(--medium-gap-size) 0;
			text-shadow: 0 0 var(--bold-shadow-size) var(--medium-gray);
		}

	/* other full block */
		.post-block blockquote {
			background: var(--medium-gray);
			box-sizing: border-box;
			width: 100%;
			padding: var(--small-gap-size);
			display: block;
			border-radius: var(--border-radius);
			margin: var(--medium-gap-size) 0;
			color: var(--light-gray);
			border-left: var(--small-gap-size) solid var(--dark-gray);
		}

		.post-block blockquote blockquote {
			margin: 0;
		}

		.post-block li {
			margin: calc(-1 * var(--medium-gap-size)) var(--medium-gap-size) 0 var(--medium-gap-size);
		}

		.post-block hr {
			border: var(--border-size) solid var(--dark-gray);
			margin: var(--medium-gap-size) 0;
			border-radius: var(--border-radius);
		}

		.post-block img {
			border-radius: var(--border-radius);
			width: 100%;
			height: auto;
			margin: 0;
		}

		.post-block figcaption {
			width: 100%;
			height: auto;
			margin-top: calc(-1 * var(--small-gap-size));
			text-align: center;
			background-color: var(--dark-gray);
			border-radius: 0 0 var(--border-radius) var(--border-radius);
			padding: var(--border-size) var(--border-size) calc(var(--border-size) * 2) var(--border-size);
			box-sizing: border-box;
			color: var(--medium-gray);
			line-height: var(--line-height);
		}

		.post-block iframe {
			width: 100%;
			min-height: var(--card-size);
			border: 0;
			border-radius: var(--border-radius);
		}

		.post-block audio {
			width: 100%;
			display: block;
			background: #eeeeee;
			border-radius: var(--border-radius);
			filter: invert(100%);
			outline: none;
			margin: var(--small-gap-size) 0;
		}

		.post-block video {
			width: 100%;
			min-height: var(--card-size);
			border-radius: var(--border-radius);
			border: 0;
			display: block;
			outline: none;
			margin: var(--small-gap-size) 0;
		}

	/* paragraph content */
		.post-block code {
			background: var(--dark-gray);
			color: var(--medium-orange);
			font-family: monospace;
			padding: 0 var(--border-size);
			display: inline;
			border-radius: var(--border-radius);
			line-height: 1;
		}

		.post-block b {
			font-weight: bold;
			text-shadow: 0 0 var(--bold-shadow-size) var(--medium-gray);
		}

		.post-block i {
			font-style: italic;
		}

		.post-block s {
			text-decoration: line-through;
			text-decoration-thickness: var(--border-size);
		}

		.post-block u {
			text-decoration: underline;
			text-decoration-thickness: var(--border-size);
		}

		.post-block mark {
			background-color: var(--translucent-orange);
			border-radius: var(--border-radius);
			padding: 0 var(--border-size);
			line-height: 1;
			display: inline;
			margin-left: calc(var(--border-size) * -1);
			margin-right: calc(var(--border-size) * -1);
		}

		.post-block a, .post-block a:visited {
			color: var(--light-blue);
			cursor: pointer;
			font-weight: bold;
			text-decoration: none;
			outline: none;
			transition: var(--transition-time);
		}

		.post-block a:hover, .post-block a:focus {
			color: var(--medium-blue);
		}

	/* gallery */
		.post-block .gallery {
			width: 100%;
			text-align: center;
			font-size: 0;
		}

		.post-block .gallery-left, .post-block .gallery-right {
			font-family: var(--font-family);
			height: var(--medium-font-size);
			width: auto;
			font-weight: bold;
			color: var(--light-blue);
			cursor: pointer;
			outline: none;
			transition: var(--transition-time);
			border: none;
			line-height: var(--line-height);
			background: transparent;
			margin: var(--small-gap-size) var(--large-gap-size);
			fill: currentColor;
		}

		.post-block .gallery-left svg, .post-block .gallery-right svg {
			height: 100%;
			width: auto;
		}

		.post-block .gallery-left path {
			d: path("M 51 50 C 51 52 52 53 54 55 C 57 58 59 60 61 62 C 63 64 63 67 61 69 C 59 71 56 71 54 69 C 50 65 45 60 40 55 C 38 53 37 52 37 50 C 37 48 38 47 40 45 C 45 40 50 35 54 31 C 56 29 59 29 61 31 C 63 33 63 36 61 38 C 59 40 57 42 54 45 C 52 47 51 48 51 50 Z");
		}

		.post-block .gallery-right path {
			d: path("M 49 50 C 49 48 48 47 46 45 C 43 42 41 40 39 38 C 37 36 37 33 39 31 C 41 29 44 29 46 31 C 50 35 55 40 60 45 C 62 47 63 48 63 50 C 63 52 62 53 60 55 C 55 60 50 65 46 69 C 44 71 41 71 39 69 C 37 67 37 64 39 62 C 41 60 43 58 46 55 C 48 53 49 52 49 50 Z");
		}

		.post-block .gallery-left:hover, .post-block .gallery-left:focus, .post-block .gallery-right:hover, .post-block .gallery-right:focus {
			color: var(--medium-blue) !important;
		}

		.post-block .gallery figcaption {
			margin-top: calc(-1 * var(--border-size));
			font-size: var(--small-font-size);
		}

		.post-block .gallery img:not([selected="true"]) {
			float: left;
			height: 0 !important;
			width: 0 !important;
			opacity: 0;
		}

		.post-block .gallery img:not([selected="true"])+figcaption {
			float: left;
			height: 0 !important;
			width: 0 !important;
			padding: 0 !important;
			opacity: 0;
		}


