/*** main ***/
	/* elements */
		body {
			position: fixed;
			top: 0px;
			left: 0px;
			height: 100vh;
			width: 100vw;
			padding: 0px;
			margin: 0px;
			border: 0px;
			overflow: hidden;
			background-color: #333333;
			color: #dddddd;
			font-family: 'Amatic SC', sans-serif;
			font-weight: bold;
			font-size: 30px;
			box-shadow: 0px 0px 100px #000000 inset;
		}

		a, a:visited, a:hover, a:focus {
			text-decoration: none;
			font-weight: bold;
			outline: none;
			cursor: pointer;
		}

		input, button, select, textarea {
			font-weight: bold;
			font-size: 30px;
			font-family: 'Amatic SC', sans-serif;
			outline: none;
			cursor: pointer;
			border: 0px;
			border-radius: 5px;
			-webkit-appearance: none;
			-moz-appearance: none;
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
		}

		select:-moz-focusring {
			color: transparent;
			text-shadow: 0 0 0 #000;
		}

	/* conditions */
		.hidden {
			display: none;
		}

		.invisible {
			opacity: 0;
		}

	/* sections */
		#error {
			position: fixed;
			top: 10px;
			left: 50%;
			transform: translateX(-50%);
			z-index: 5;
			padding: 10px;
			border-radius: 40px;		
			box-shadow: 0px 0px 20px #000000;
			background-color: rgba(0,0,0,1);		
			opacity: 0;
			color: #dddddd;
			font-size: 40px;
			text-align: center;
		}

		#graveyard {
			height: 100vh;
			width: 100vw;
			position: absolute;
			top: 0px;
			left: 0px;
			overflow: hidden;
			user-select: none;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			-o-user-select: none;
			pointer-events: none;
			z-index: 0;
		}

		.ghost {
			position: absolute;
			height: 100px;
			width: 100px;
			background-image: url("logo.png");
			background-repeat: no-repeat;
			background-size: cover;
			filter: blur(3px);
		}

/*** vendor prefixes ***/
	/* scrollbars */
		::-webkit-scrollbar {
			width: 0 !important;
		}

		::-moz-scrollbar {
			width: 0 !important;
		}

		::-ms-scrollbar {
			width: 0 !important;
		}

		::-o-scrollbar {
			width: 0 !important;
		}

	/* placeholders */
		::-webkit-input-placeholder {
			font-weight: bold;
			font-family: 'Amatic SC', sans-serif;
			text-align: center;
			color: #666666;
		}

		::-moz-placeholder {
			font-weight: bold;
			font-family: 'Amatic SC', sans-serif;
			text-align: center;
			color: #666666;  
		}

		::-o-input-placeholder {
			font-weight: bold;
			font-family: 'Amatic SC', sans-serif;
			text-align: center;
			color: #666666;
		}

		:-ms-input-placeholder {
			font-weight: bold;
			font-family: 'Amatic SC', sans-serif;
			text-align: center;
			color: #666666;
		}

/*** page ***/
	/* graveyard */
		#graveyard {
			z-index: 10;
		}

	/* container */
		#container {
			width: 300vw;
			position: absolute;
			top: 0px;
			left: 0px;
			transform: translateX(-100vw);
		}

		.content {
			width: 80vw;
			height: 100vh;
			padding: 0px;
			text-align: center;
			position: absolute;
			top: 0px;
		}

		.header {
			position: absolute;
			top: 0px;
			padding: 10px;
			height: 60px;
			width: calc(80vw - 20px);
			font-size: 45px;
			background-color: rgba(0,0,0,0);
			user-select: none;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			-o-user-select: none;
			cursor: default;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}

	/* slide controls */
		.slideContainer {
			width: 10vw;
			height: 100vh;
			color: #dddddd;
			position: absolute;
			top: 0px;
			text-shadow: 0px 0px 10px #aaaaaa;
			background-color: rgba(0,0,0,0);
			user-select: none;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			-o-user-select: none;
			cursor: pointer;
			z-index: 5;
			font-size: 20px;
			padding: 0px;
		}

		#notes .slideContainer[value="left"] {
			right: 10vw;
		}

		#notes .slideContainer[value="right"] {
			right: 0px;
		}

		#chats .slideContainer[value="left"] {
			left: 0px;
		}

		#chats .slideContainer[value="right"] {
			left: 10vw;
		}

		.slideContainer:hover, .slideContainer:focus {
			text-shadow: 0px 0px 20px #dddddd;
		}

/*** notes ***/
	/* notes */
		#notes {
			position: absolute;
			top: 0px;
			left: 0px;
			width: 110vw;
			height: 100vh;
			text-align: center;
			box-shadow: 0px 0px 50px #000000 inset;
			overflow: hidden;
		}

		#notes .content {
			left: 10vw;
		}

	/* notes-input */
		#notes-input {
			position: absolute;
			top: 80px;
			left: 0px;
			min-width: calc(80vw - 20px);
			max-width: calc(80vw - 20px);
			min-height: calc(100vh - 105px);
			max-height: calc(100vh - 105px);
			padding: 10px;
			margin: 0px;
			resize: none;
			background-color: rgba(0,0,0,0);
			outline: none;
			color: #dddddd;
		}

		#notes.invisible .slideContainer {
			display: none;
		}

/*** chats ***/
	/* chats */
		#chats {
			position: absolute;
			top: 0px;
			right: 0px;
			width: 110vw;
			height: 100vh;
			text-align: center;
			box-shadow: 0px 0px 50px #000000 inset;
			overflow: hidden;
		}

		#chats .content {
			right: 10vw;
		}

		#chats-list {
			position: absolute;
			top: 130px;
			left: 0px;
			width: 80vw;
			height: calc(100vh - 80px - 110px);
			margin-bottom: 60px;
			overflow-x: hidden;
			overflow-y: scroll;
			-ms-overflow-style: none;
		}

		@-moz-document url-prefix() {
			#chats-list {
				width: calc(100% + 1000px);
				padding-right: 1000px;
			}
		}

	/* chats input */
		#chats-input {
			position: absolute;
			top: 80px;
			left: 0px;
			width: 80vw;
			padding: 10px;
			height: 30px;
			width: calc(80vw - 20px);
			background-color: rgba(0,0,0,0);
			color: #dddddd;
		}

		#chats-button {
			position: absolute;
			right: -10vw;
			top: 80px;
			height: 50px;
			width: 10vw;
			padding: 0px;
			vertical-align: bottom;
			background-color: rgba(0,0,0,0);
			color: #dddddd;
			text-shadow: 0px 0px 10px #aaaaaa;
			user-select: none;
		}

		#chats-button:hover, #chats-button:focus {
			text-shadow: 0px 0px 20px #dddddd;
		}

	/* chats-list */
		.chat {
			width: 100%;
			border: 1px solid white;
			border-width: 1px 0px 0px 0px;
			margin: 10px 0px 10px 0px;
			float: left;
		}

		@-moz-document url-prefix() {
			.chat {
				border: 0px;
			}
		}

		.chat-info {
			float: left;
			height: auto;
			width: 110px;
			margin: 0px;
			text-align: left;
			padding-right: 10px;
		}

		.chat-time {
			font-size: 15px;
		}

		.chat-text {
			float: left;
			height: auto;
			padding: 0px;
			width: calc(100% - 120px);
			margin: 0px;
			text-align: left;
		}

/*** story ***/
	/* story content */
		#story {
			position: absolute;
			top: 0px;
			left: 110vw;
			width: 80vw;
			height: 100vh;
			text-align: center;
			box-shadow: 0px 0px 50px #000000 inset;
			overflow: hidden;
			z-index: 2;
		}

		#story .content {
			left: 0px;
			background-color: #dddddd;
			box-shadow: 0px 0px 30px #000000 inset;
			color: #333333;
		}

		#story .header {
			box-shadow: 0px 0px 20px #000000;
		}

	/* events */
		#events-list {
			position: absolute;
			top: 80px;
			left: 0px;
			width: 100%;
			height: calc(100vh - 80px);
			padding: 0px;
			margin: 0px;
			overflow-x: hidden;
			overflow-y: scroll;
			-ms-overflow-style: none;
			display: flex;
			flex-direction: column;
			align-self: stretch;
		}

		@-moz-document url-prefix() { /* hide firefox scrollbars */
			#events-list {
				width: calc(100% + 15px);
			}
		}

		.event {
			width: calc(100% - 20px);
			border: 1px solid #222222;
			border-width: 1px 0px 0px 0px;
			padding: 10px;
			padding-bottom: 20px;
			float: left;
			flex-basis: auto;
			flex-shrink: 0;
		}

		.event:last-child {
			padding-bottom: 80px;
		}

		.event-type {
			float: left;
			height: auto;
			width: auto;
			margin: 0px;
			text-align: left;
			font-size: 15px;
		}

		.event-time {
			float: right;
			font-size: 15px;
			color: #333333;
		}

		.event-text {
			float: left;
			height: auto;
			padding: 0px;
			width: 100%;
			margin: 0px;
			text-align: left;
			color: #222222;
			margin: 5px 0px 5px 0px;
		}

		.special-text {
			box-shadow: 0px 0px 10px #222222;
			border-radius: 5px;
			padding: 0px 10px 0px 10px;
			background-color: #222222;
			color: #dddddd;
			font-size: 28px;
			white-space: nowrap;
		}

		summary.special-text {
			margin: 10px 10px 0px;
			outline: none;
			cursor: pointer;
		}

		details p {
			margin: 0px 20px 0px 20px;
		}

	/* events inputs */
		.event-input {
			float: left;
			height: 30px;
			width: calc(100% - 55px);
			font-size: 25px;
			padding: 5px;
			outline: none;
			background-color: rgba(0,0,0,0.2);
			cursor: pointer;
		}

		.event-select {
			float: left;
			height: 40px;
			width: calc(100% - 45px);
			padding: 0px 5px 0px 5px;
			background-color: rgba(0,0,0,0.2);
		}

		.event-link {
			float: left;
			height: 40px;
			padding: 0px;
			background-color: rgba(0,0,0,0.2);
			text-shadow: 0px 0px 10px #aaaaaa;
			width: 100%;
			border-radius: 5px;
			padding: 0px;
			color: #111111;
		}

	/* events buttons */
		.event-button {
			float: left;
			height: 40px;
			padding: 0px;
			background-color: rgba(0,0,0,0.2);
			text-shadow: 0px 0px 10px #aaaaaa;
			white-space: nowrap;
			text-overflow: ellipsis;
		}

		.event-button[value="submit-text"], .event-button[value="submit-select"] {
			font-size: 25px;
			width: 40px;
			margin-left: 5px;
		}

		.event-button[value="okay"] {
			width: calc(100% - 10px);
			margin-right: 5px;
			margin-left: 5px;
		}

		.event-button[value="1"] {
			width: calc(50% - 5px);
			margin-left: 5px;
		}

		.event-button[value="0"] {
			width: calc(50% - 5px);
			margin-right: 5px;
		}

		.event-link:hover, .event-link:focus, .event-button:hover:not([disabled]), .event-button:focus:not([disabled]), .event-input:focus:not([disabled]), .event-select:focus:not([disabled]) {
			background-color: rgba(0,0,0,0.2);
			box-shadow: 0px 0px 10px #111111;
		}

	/* disabled / selected */
		.event-input[disabled], .event-select[disabled], .event-button[disabled] {
			cursor: default;
			background-color: rgba(0,0,0,0);
			color: #777777;
			-webkit-text-fill-color: #777777;
		}

		.event-input[disabled][selected], .event-select[disabled][selected], .event-button[disabled][selected] {
			cursor: default;
			background-color: rgba(0,0,0,0);
			color: #222222;
			-webkit-text-fill-color: #222222;
		}

		.event.trigger-sleep:not([disabled]), .event.trigger-wake:not([disabled]) {
			order: 1000000;
		}

	/* events types */
		.event.story-day {
			box-shadow: 0px 0px 20px orange inset;
		}

		.event.story-night {
			box-shadow: 0px 0px 20px darkblue inset;
		}

		.event.start-players, .event.end-good, .event.end-evil {
			box-shadow: 0px 0px 20px black inset;
		}

		.event.murder-poll, .event.execution-poll {
			box-shadow: 0px 0px 20px goldenrod inset;
		}

		.event.story-murder, .event.start-story {
			box-shadow: 0px 0px 20px darkred inset;
		}

		.event.story-execution {
			box-shadow: 0px 0px 20px darkgreen inset;
		}

		.event.story-dream {
			box-shadow: 0px 0px 20px purple inset;
		}

		.event.start-role, .event.special-telepath, .event.special-augur, .event.special-clairvoyant, .event.special-medium, .event.special-psychic, .event.special-insomniac, .event.special-immortal, .event.special-illusionist, .event.special-watchkeeper, .event.special-detective, .event.special-necromancer, .event.special-obscurer, .event.special-spellcaster, .event.special-empath {
			box-shadow: 0px 0px 30px skyblue inset;
		}

		.event.trigger-sleep:not([disabled]), .event.trigger-wake:not([disabled]) {
			order: 100000;
			padding-bottom: 80px;
		}

		.event.end-good, .event.end-evil {
			order: 100001;
			padding-bottom: 80px;
		}

	/* special-text colors */
		.special-text.red {
			color: red;
		}

		.special-text.orange {
			color: orange;
		}

		.special-text.yellow {
			color: gold;
		}

		.special-text.green {
			color: limegreen;
		}

		.special-text.blue {
			color: royalblue;
		}

		.special-text.purple {
			color: mediumpurple;
		}

		.special-text.brown {
			color: saddlebrown;
		}

		.special-text.white {
			color: white;
		}

		.special-text.gray {
			color: slategray;
		}

		.special-text.black {
			color: black;
		}
