/*** elements ***/
	:root {
		--range-edge: 2px;
		--button-radius: 20px;
		--shadow-size: 5px;
		--dark-gray: #111111;
		--medium-gray: #999999;
		--light-gray: #dddddd;
		--border-radius: 2px;
	}

/*** page ***/
	html, body {
		position: absolute;
		top: 0;
		left: 0;
		height: 100vh;
		width: 100vw;
		overflow: hidden;
		margin: 0;
		padding: 0;
		background: var(--dark-gray);
	}

	svg {
		fill: currentColor;
		height: 100%;
		width: auto;
	}

/*** j-logo ***/
	#j-logo {
		position: absolute;
		top: 14px;
		right: 7px;
		color: #04b1ff;
		height: 32px;
		width: 32px;
		cursor: pointer;
		z-index: 1000;
		outline: none;
	}

	#j-logo svg {
		fill: currentColor;
		height: 100%;
		width: auto;
	}

	#j-logo path {
		d: path("M 60 27 C 60 42 60 58 60 73 C 60 74 60 74 61 74 C 64 74 68 74 70 74 C 71 74 72 73 72 72 C 72 58 72 42 72 28 C 72 27 71 26 70 26 C 68 26 64 26 61 26 C 60 26 60 26 60 27 Z M 30 74 C 32 74 36 74 38 74 C 39 74 39 74 38 73 C 35 70 32 67 29 64 C 28 63 28 63 28 64 C 28 67 28 70 28 72 C 28 73 29 74 30 74 Z M 43 74 C 46 74 54 74 57 74 C 58 74 58 74 58 73 C 58 66 58 34 58 27 C 58 26 58 26 57 26 C 54 26 46 26 44 26 C 42 26 42 26 40 24 C 38 22 30 14 28 12 C 27 11 26 10 28 10 C 30 10 54 10 56 10 C 58 10 58 10 60 12 C 62 14 69 21 72 24 C 74 26 74 26 74 29 C 74 34 74 66 74 71 C 74 74 74 74 72 76 C 70 78 62 86 60 88 C 58 90 58 90 56 90 C 54 90 46 90 44 90 C 42 90 42 90 40 88 C 38 86 30 78 28 76 C 26 74 26 74 26 71 C 26 70 26 62 26 60 C 26 58 27 59 28 60 C 30 62 38 70 40 72 C 42 74 42 74 43 74 Z");
	}

	#j-logo:hover, #j-logo:focus {
		filter: drop-shadow(0px 0px 8px #dddddd);
	}

/*** mirror ***/
	#mirror {
		z-index: 1;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		overflow: hidden;
		pointer-events: none;
	}

/*** inputs ***/
	#inputs {
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: 2;
	}

	/* ranges */
		.range {
			position: absolute;
			height: var(--button-radius);
			margin: 0;
			padding: 0;
			cursor: pointer;
			outline: none;
			-webkit-appearance: none;
			background: transparent;
			z-index: 3;
			pointer-events: none;
		}

		.range::-moz-range-thumb {
			pointer-events: all !important;
		}
		
		.range::-webkit-slider-thumb {
			pointer-events: all !important;
		}

		.range::-ms-thumb {
			pointer-events: all !important;
		}

		#inputs:hover .range, .range:hover {
			opacity: 1 !important;
		}

		#input-y {
			bottom: var(--range-edge);
			left: calc(var(--range-edge) * 2 + var(--button-radius));
			transform: rotate(-90deg);
			transform-origin: bottom left;
		}

		#input-x {
			bottom: calc(var(--range-edge) * 2);
			left: var(--range-edge);
		}

	/* options */
		.option {
			position: absolute;
			height: calc(var(--button-radius) * 2);
			width: calc(var(--button-radius) * 2);
			background-color: var(--light-gray);
			border-radius: var(--border-radius);
			cursor: pointer;
			color: var(--dark-gray);
			font-weight: bold;
			font-size: var(--button-radius);
			background-color: var(--light-gray);
			outline: none;
			margin: 0;
			border: 0;
			z-index: 3;
			user-select: none;
			box-sizing: border-box;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			-o-user-select: none;
		}

		#inputs button.option {
			padding: var(--shadow-size);
		}

		#inputs:hover .option {
			opacity: 1 !important;
		}

		.option:focus, .option:hover {
			background-color: var(--medium-gray);
			opacity: 1 !important;
		}

		#input-brush {
			-moz-appearance: none;
			-webkit-appearance: none;
			appearance: none;
			text-align: center;
  			text-align-last: center;
		}

		#input-brush::-ms-expand {
			display: none;
		}

	/* canvas */
		#input-draw {
			position: absolute;
			bottom: 0;
			left: 0;
			cursor: pointer;
			border: var(--range-edge) solid transparent;
			box-sizing: border-box;
		}

		#inputs:hover #input-draw {
			border: var(--range-edge) solid var(--light-gray);
		}

		.range:active ~ #input-draw, .option:active ~ #input-draw {
			border: var(--range-edge) solid var(--light-gray);
		}

	/* while drawing */
		body[drawing] #input-draw {
			border: var(--range-edge) solid var(--light-gray);
		}

		body[drawing] .range {
			pointer-events: none;
		}

		body:not([drawing]) .range, body:not([drawing]) .option {
			opacity: 0;
		}
