/*** page ***/
	:root {
		--light-gray: #dddddd;
		--medium-gray: #777777;
		--dark-gray: #111111;
		--medium-red: #d94c4c;
		--light-blue: #04b1ff;
		--font-size: 16px;
		--font-family: monospace;
		--gap-size: 5px;
		--shadow-size: 5px;
		--border-radius: 5px;
		--gutter-size: calc(5vw + 5vh);
		--notch-percentage: 20;
		--pieces-x: 1;
		--pieces-y: 1;
		--puzzle-ratio: 1;
		--transition: 1s;
	}

	html, body {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		font-size: 0;
		margin: 0;
		padding: 0;
		overflow: hidden;
		background: var(--light-gray);
	}

	/* summary marker */
		details summary::marker, details summary::-webkit-details-marker {
			height: 0px !important;
			width: 0px !important;
			font-size: 0px !important;
			display: none !important;
			overflow: hidden;
		}

/*** j-logo ***/
	#j-logo {
		position: absolute;
		top: 14px;
		right: 7px;
		color: var(--light-blue);
		height: 32px;
		width: 32px;
		cursor: pointer;
		z-index: 1000;
		outline: none;
	}

	#j-logo svg {
		fill: currentColor;
		height: 100%;
		width: auto;
	}

	#j-logo path {
		d: path("M 60 27 C 60 42 60 58 60 73 C 60 74 60 74 61 74 C 64 74 68 74 70 74 C 71 74 72 73 72 72 C 72 58 72 42 72 28 C 72 27 71 26 70 26 C 68 26 64 26 61 26 C 60 26 60 26 60 27 Z M 30 74 C 32 74 36 74 38 74 C 39 74 39 74 38 73 C 35 70 32 67 29 64 C 28 63 28 63 28 64 C 28 67 28 70 28 72 C 28 73 29 74 30 74 Z M 43 74 C 46 74 54 74 57 74 C 58 74 58 74 58 73 C 58 66 58 34 58 27 C 58 26 58 26 57 26 C 54 26 46 26 44 26 C 42 26 42 26 40 24 C 38 22 30 14 28 12 C 27 11 26 10 28 10 C 30 10 54 10 56 10 C 58 10 58 10 60 12 C 62 14 69 21 72 24 C 74 26 74 26 74 29 C 74 34 74 66 74 71 C 74 74 74 74 72 76 C 70 78 62 86 60 88 C 58 90 58 90 56 90 C 54 90 46 90 44 90 C 42 90 42 90 40 88 C 38 86 30 78 28 76 C 26 74 26 74 26 71 C 26 70 26 62 26 60 C 26 58 27 59 28 60 C 30 62 38 70 40 72 C 42 74 42 74 43 74 Z");
	}

	#j-logo:hover, #j-logo:focus {
		filter: drop-shadow(0 0 var(--shadow-size) var(--dark-gray));
	}

/*** menu ***/
	/* button */
		#menu-toggle {
			position: absolute;
			top: calc(2 * var(--gap-size));
			left: calc(var(--gap-size));
			font-size: calc(2 * var(--font-size));
			font-family: var(--font-family);
			line-height: 1;
			margin: 0;
			padding: 0;
			border: none;
			background: transparent;
			width: calc(var(--font-size) * 2);
			height: calc(var(--font-size) * 2);
			padding: var(--gap-size);
			cursor: pointer;
			outline: none;
			text-align: center;
			user-select: none;
			color: var(--light-gray);
		}

		#menu-toggle:hover, #menu-toggle:focus {
			filter: drop-shadow(0 0 var(--shadow-size) var(--dark-gray));
		}

	/* form */
		#menu-form {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translateX(-50%) translateY(-50%);
			height: auto;
			max-height: calc(100vh - 2 * var(--gutter-size));
			min-width: var(--canvas-size);
			max-width: calc(100vw - 2 * var(--gutter-size));
			border-radius: var(--border-radius);
			background-color: var(--dark-gray);
			box-shadow: 0 0 var(--shadow-size) var(--dark-gray);
			color: var(--dark-gray);
			padding: var(--gap-size);
			overflow-x: hidden;
			overflow-y: scroll;
			cursor: default;
		}

	/* text */
		#menu-form > h1 {
			width: 100%;
			text-align: center;
			font-size: calc(3 * var(--font-size));
			font-family: var(--font-family);
			font-weight: bold;
			color: var(--medium-gray);
			user-select: none;
			margin: 0 0 var(--font-size) 0;
			padding: calc(2 * var(--gap-size));
			display: block;
			box-sizing: border-box;
			border-bottom: var(--gap-size) solid var(--medium-gray);
		}

		#menu-form > h2 {
			width: 100%;
			text-align: left;
			font-size: calc(2 * var(--font-size));
			font-family: var(--font-family);
			font-weight: bold;
			color: var(--medium-gray);
			user-select: none;
			margin: var(--font-size) 0 var(--gap-size) 0;
			padding: 0;
			border-radius: var(--border-radius) var(--border-radius) 0 0;
			display: block;
			text-transform: uppercase;
			box-sizing: border-box;
		}

		#menu-form > label {
			width: 100%;
			display: block;
			margin-bottom: var(--font-size);
			font-size: var(--font-size);
			font-family: var(--font-family);
			text-transform: uppercase;
			user-select: none;
			font-weight: bold;
			text-align: left;
		}

		#menu-form > label > h3 {
			text-align: left;
			display: block;
			width: auto;
			font-size: var(--font-size);
			font-family: var(--font-family);
			color: var(--light-gray);
			text-transform: uppercase;
			user-select: none;
			font-weight: bold;
			margin: var(--gap-size) 0;
			cursor: pointer;
		}

		#menu-form > label > label {
			display: block;
			width: 100%;
			font-size: 0;
			margin-bottom: var(--gap-size);
		}

		#menu-form > label > label > div {
			display: inline-block;
			font-size: var(--font-size);
			font-family: var(--font-family);
			color: var(--medium-gray);
			user-select: none;
			font-weight: bold;
			width: calc(2 * var(--font-size));
			margin-right: calc(2 * var(--gap-size));
		}

	/* radio */
		#menu-form input[type="radio"] {
			cursor: pointer;
			outline: none;
			margin: 0 calc(2 * var(--gap-size)) 0 0;
		}

		#menu-form > label > h3:focus input[type="radio"], #menu-form > label > h3:hover input[type="radio"], #menu-form input[type="radio"]:hover, #menu-form input[type="radio"]:focus {
			filter: drop-shadow(0 0 var(--shadow-size) var(--light-gray));
		}

	/* url / number input */
		#menu-form input[type="url"], #menu-form input[type="number"] {
			font-family: var(--font-family);
			font-size: var(--font-size);
			height: var(--font-size);
			border: 0;
			border-radius: var(--border-radius);
			outline: none;
			background-color: var(--light-gray);
			padding: var(--gap-size);
			cursor: initial;
		}

		#menu-form input[type="url"] {
			width: calc(100% - 2 * var(--gap-size));
		}

		#menu-form input[type="number"] {
			width: calc(100% - 2 * var(--font-size) - 4 * var(--gap-size));
		}

		#menu-form input[invalid] {
			box-shadow: 0 0 var(--shadow-size) var(--medium-red) inset;
		}

	/* file input */
		#menu-form input[type="file"] {
			width: 100%;
			height: calc(var(--font-size) + 2 * var(--gap-size));
			outline: none;
			font-family: var(--font-family);
			font-size: var(--font-size);
			color: var(--light-gray);
			background-color: transparent;
			cursor: pointer;
			border-radius: var(--border-radius);
		}

		#menu-form input[type="file"]::-ms-browse {
			font-family: var(--font-family);
			font-size: var(--font-size);
			height: calc(var(--font-size) + 2 * var(--gap-size));
			border: 0;
			border-radius: var(--border-radius);
			cursor: pointer;
			outline: none;
			font-weight: bold;
			margin-right: calc(2 * var(--gap-size));
			background-color: var(--light-gray);
		}

		#menu-form input[type="file"]::-ms-browse:hover, #menu-form input[type="file"]::-ms-browse:focus {
			background-color: var(--dark-gray);
			color: var(--light-gray);
		}

		#menu-form input[type="file"]::-webkit-file-upload-button {
			font-family: var(--font-family);
			font-size: var(--font-size);
			height: calc(var(--font-size) + 2 * var(--gap-size));
			border: 0;
			border-radius: var(--border-radius);
			cursor: pointer;
			outline: none;
			font-weight: bold;
			margin-right: calc(2 * var(--gap-size));
			background-color: var(--light-gray);
			padding: var(--gap-size);
			line-height: 1;
		}

		#menu-form input[type="file"]::-webkit-file-upload-button:hover, #menu-form input[type="file"]::-webkit-file-upload-button:focus {
			background-color: var(--medium-gray);
			color: var(--light-gray);
		}

	/* loading / error */
		#menu-random-loading, #menu-random-error {
			font-size: var(--font-size) !important;
			font-family: var(--font-family);
			color: var(--medium-red);
			height: var(--font-size);
			width: auto;
			user-select: none;
			display: inline-block;
		}

		#menu-random-loading:not([invalid]), #menu-random-error:not([invalid]) {
			display: none;
		}

	/* button */
		#menu-form button {
			width: 100%;
			border: 0;
			background-color: var(--light-gray);
			color: var(--dark-gray);
			font-size: calc(2 * var(--font-size));
			font-family: var(--font-family);
			font-weight: bold;
			text-transform: uppercase;
			border-radius: var(--border-radius);
			padding: var(--gap-size);
			outline: none;
			cursor: pointer;
			user-select: none;
		}

		#menu-form button:hover, #menu-form button:focus {
			background-color: var(--medium-gray);
			color: var(--light-gray);
		}

/*** other ***/
	/* link */
		#puzzle-link, #puzzle-link:visited {
			position: absolute;
			top: calc(2 * var(--gap-size));
			left: calc(3 * var(--gap-size) + 2 * var(--font-size));
			font-size: calc(2 * var(--font-size));
			font-family: var(--font-family);
			line-height: 1;
			margin: 0;
			padding: 0;
			border: none;
			background: transparent;
			width: calc(var(--font-size) * 2);
			height: calc(var(--font-size) * 2);
			padding: var(--gap-size);
			cursor: pointer;
			outline: none;
			text-align: center;
			user-select: none;
			color: var(--light-gray);
			text-decoration: none;
		}

		#puzzle-link:hover, #puzzle-link:focus {
			filter: drop-shadow(0 0 var(--shadow-size) var(--dark-gray));
		}

		#puzzle-link[href="#"] {
			display: none;
			pointer-events: none;
		}

	/* solve */
		#puzzle:not([mode="play"]) #puzzle-solve {
			display: none;
			pointer-events: none;
		}

		#puzzle-solve-submit {
			position: absolute;
			top: calc(4 * var(--gap-size) + 2 * var(--font-size));
			left: calc(1 * var(--gap-size));
			font-size: calc(2 * var(--font-size));
			font-family: var(--font-family);
			line-height: 1;
			margin: 0;
			border: none;
			background: transparent;
			width: calc(var(--font-size) * 2 + 2 * var(--gap-size));
			height: calc(var(--font-size) * 2 + 2 * var(--gap-size));
			padding: var(--gap-size);
			cursor: pointer;
			outline: none;
			text-align: center;
			user-select: none;
			color: var(--light-gray);
			text-decoration: none;
		}

		#puzzle-solve-submit:hover, #puzzle-solve-submit:focus {
			filter: drop-shadow(0 0 var(--shadow-size) var(--dark-gray));
		}

	/* instructions */
		#puzzle-instructions {
			text-align: center;
			position: absolute;
			bottom: var(--gap-size);
			left: 50%;
			transform: translateX(-50%);
			font-family: var(--font-family);
			color: var(--medium-gray);
			text-shadow: 0 0 calc(var(--shadow-size) / 2) var(--light-gray);
			font-size: var(--font-size);
			text-transform: uppercase;
			user-select: none;
			pointer-events: none;
		}

/*** puzzle ***/
	#puzzle {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		overflow: hidden;
	}

	#puzzle-mat {
		position: absolute;
		top: 50%;
		left: 50%;
		width: calc(100vw - 2 * var(--gutter-size));
		height: calc((100vw - 2 * var(--gutter-size)) / var(--puzzle-ratio));
		max-width: calc((100vh - 2 * var(--gutter-size)) * var(--puzzle-ratio));
		max-height: calc(100vh - 2 * var(--gutter-size));
		transform: translateX(-50%) translateY(-50%);
		border-radius: var(--border-radius);
		background-color: var(--medium-gray);
		box-shadow: 0 0 var(--shadow-size) var(--medium-gray);
	}

	/* pieces */
		.piece {
			position: absolute;
			width: calc(1% * 100 / var(--pieces-x) * (100 / (100 - 2 * var(--notch-percentage))));
			height: calc(1% * 100 / var(--pieces-y) * (100 / (100 - 2 * var(--notch-percentage))));
			background-color: transparent;
			background-repeat: no-repeat;
			background-size:
				calc(1% * ((100 - 2 * var(--notch-percentage)) * var(--pieces-x) + 2 * var(--notch-percentage)))
				calc(1% * ((100 - 2 * var(--notch-percentage)) * var(--pieces-y) + 2 * var(--notch-percentage)));
			background-image: var(--puzzle-image);
		}

		#puzzle[mode="play"] .piece {
			cursor: grab;
		}

		#puzzle[mode="solve"] .piece {
			transition: var(--transition);
		}

	/* grab state */
		#puzzle[grabbing] {
			cursor: grab;
		}

		.piece[grabbed] {
			cursor: grabbing;
			z-index: 100;
		}

	/* rotations */
		.piece[rotation="0"] {
			transform: translateX(calc(-1% * var(--notch-percentage))) translateY(calc(-1% * var(--notch-percentage))) rotate(0deg);
		}

		.piece[rotation="90"] {
			transform: translateX(calc(-1% * var(--notch-percentage))) translateY(calc(-1% * var(--notch-percentage))) rotate(90deg);
		}

		.piece[rotation="180"] {
			transform: translateX(calc(-1% * var(--notch-percentage))) translateY(calc(-1% * var(--notch-percentage))) rotate(180deg);
		}

		.piece[rotation="270"] {
			transform: translateX(calc(-1% * var(--notch-percentage))) translateY(calc(-1% * var(--notch-percentage))) rotate(270deg);
		}

	/* grabbed rotations */
		.piece[grabbed][rotation="0"] {
			transform: translateX(-50%) translateY(-50%) rotate(0deg);
		}

		.piece[grabbed][rotation="90"] {
			transform: translateX(-50%) translateY(-50%) rotate(90deg);
		}

		.piece[grabbed][rotation="180"] {
			transform: translateX(-50%) translateY(-50%) rotate(180deg);
		}

		.piece[grabbed][rotation="270"] {
			transform: translateX(-50%) translateY(-50%) rotate(270deg);
		}

	/* clip-paths */
		/*.piece[top="out"][right="out"][bottom="out"][left="out"] {

		}

		.piece[top="out"][right="out"][bottom="out"][left="in"] {

		}

		.piece[top="out"][right="out"][bottom="in"][left="out"] {

		}

		.piece[top="out"][right="out"][bottom="in"][left="in"] {

		}

		.piece[top="out"][right="in"][bottom="out"][left="out"] {

		}

		.piece[top="out"][right="in"][bottom="out"][left="in"] {

		}

		.piece[top="out"][right="in"][bottom="in"][left="out"] {

		}

		.piece[top="out"][right="in"][bottom="in"][left="in"] {

		}

		.piece[top="in"][right="out"][bottom="out"][left="out"] {

		}

		.piece[top="in"][right="out"][bottom="out"][left="in"] {

		}

		.piece[top="in"][right="out"][bottom="in"][left="out"] {

		}

		.piece[top="in"][right="out"][bottom="in"][left="in"] {

		}

		.piece[top="in"][right="in"][bottom="out"][left="out"] {

		}

		.piece[top="in"][right="in"][bottom="out"][left="in"] {

		}

		.piece[top="in"][right="in"][bottom="in"][left="out"] {

		}

		.piece[top="in"][right="in"][bottom="in"][left="in"] {

		}
		*/