/*** page ***/
	:root {
		--dark-gray: #111111;
		--medium-gray: #555555;
		--light-gray: #dddddd;
		--light-blue: #04b1ff;
		--font-family: monospace;
		--small-font-size: 15px;
		--medium-font-size: 20px;
		--border-radius: 5px;
		--small-gap-size: 5px;
		--medium-gap-size: 10px;
		--shadow-size: 10px;
	}

	html, body {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		margin: 0;
		padding: 0;
		background: var(--dark-gray);
		overflow: hidden;
	}

	svg {
		fill: currentColor;
		height: 100%;
		width: auto;
		vertical-align: top;
	}

/*** canvas ***/
	#canvas {
		position: absolute;
		width: 100vw;
		height: 100vh;
		cursor: pointer;
	}

/*** controls ***/
	#controls {
		position: absolute;
		top: var(--medium-gap-size);
		left: calc(2 * var(--medium-font-size) + var(--small-gap-size));
		user-select: none;
	}

	#controls .controls-section {
		border-radius: var(--border-radius);
		background-color: var(--medium-gray);
		float: left;
		padding: var(--small-gap-size);
		margin-right: var(--small-gap-size);
	}

	#controls button {
		float: left;
		cursor: pointer;
		width: var(--medium-font-size);
		height: var(--medium-font-size);
		outline: none;
		border: none;
		background-color: transparent;
		color: var(--light-gray);
		font-size: var(--medium-font-size);
		font-weight: bold;
		font-family: sans-serif;
		padding: 0;
		line-height: 1.1;
		text-align: center;
		padding: 0;
		text-align: center;
	}

	#controls button:hover, #controls button:focus {
		text-shadow: 0 0 var(--shadow-size) var(--light-gray);
	}

	button#controls-pause, button#controls-play {
		font-size: var(--medium-font-size);
		line-height: 1.25;
	}

	#controls[mode="play"] #controls-play {
		display: none;
	}

	#controls[mode="pause"] #controls-pause {
		display: none;
	}

/*** settings ***/
	#settings {
		position: absolute;
		top: var(--medium-gap-size);
		left: var(--medium-gap-size);
		outline: none;
		user-select: none;
	}

	#settings > summary {
		list-style: none;
	}

	#settings > summary::-webkit-details-marker {
		display: none;
	}

	#settings-collapse {
		color: var(--light-gray);
		cursor: pointer;
		outline: none;
		height: var(--medium-font-size);
		width: var(--medium-font-size);
		border-radius: var(--border-radius);
		background-color: var(--medium-gray);
		float: left;
		padding: var(--small-gap-size);
		margin-right: var(--small-gap-size);
		line-height: 1.5;
	}

	#settings-collapse:hover, #settings-collapse:focus {
		text-shadow: 0 0 var(--shadow-size) var(--light-gray);
	}

	#settings-inner {
		padding-top: calc(var(--small-font-size) + 4 * var(--small-gap-size));
		width: 215px;
	}

	.settings-label {
		float: left;
		width: 100%;
		margin-bottom: var(--small-gap-size);
	}

	.settings-label-text {
		float: left;
		color: var(--light-gray);
		width: 50%;
		height: var(--small-font-size);
		padding: var(--small-gap-size);
		font-family: var(--font-family);
		font-size: var(--small-font-size);
		text-transform: uppercase;
	}

	.settings-label button {
		width: 100%;
		outline: none;
		cursor: pointer;
		background-color: var(--medium-gray);
		border: 0;
		padding: var(--small-gap-size);
		height: calc(var(--small-font-size) + 2 * var(--small-gap-size));
		font-family: var(--font-family);
		font-size: var(--small-font-size);
		font-weight: bold;
		color: var(--light-gray);
		border-radius: var(--border-radius);
		text-transform: uppercase;
		text-align: left;
	}

	.settings-label button span {
		float: left;
	}

	.settings-label input {
		float: left;
		width: calc(50% - 4 * var(--small-gap-size));
		border-radius: var(--border-radius);
		outline: none;
		font-weight: bold;
		border: 0;
		padding: var(--small-gap-size);
		height: var(--small-font-size);
		font-family: var(--font-family);
		font-size: var(--small-font-size);
		text-transform: uppercase;
	}

	.settings-label select {
		float: left;
		width: calc(50% - 2 * var(--small-gap-size));
		cursor: pointer;
		border-radius: var(--border-radius);
		border: 0;
		padding: 0;
		outline: none;
		font-family: var(--font-family);
		font-size: var(--small-font-size);
		font-weight: bold;
		height: calc(var(--small-font-size) + 2 * var(--small-gap-size));
		text-transform: uppercase;
	}

	.settings-label button:hover, .settings-label button:focus, .settings-label input:hover, .settings-label input:focus, .settings-label select:hover, .settings-label select:focus {
		box-shadow: 0 0 var(--shadow-size) var(--light-gray);
	}

	#settings-random-radius {
		float: right;
		width: calc(3 * var(--small-font-size));
		height: var(--small-font-size);
		font-size: var(--small-font-size);
		margin: 0;
		padding: 0 var(--small-gap-size);
		border: 0;
	}

/*** j-logo ***/
	#j-logo {
		position: absolute;
		top: 14px;
		right: 7px;
		color: var(--light-blue);
		height: 32px;
		width: 32px;
		cursor: pointer;
		z-index: 1000;
		outline: none;
	}

	#j-logo svg {
		fill: currentColor;
		height: 100%;
		width: auto;
	}

	#j-logo path {
		d: path("M 60 27 C 60 42 60 58 60 73 C 60 74 60 74 61 74 C 64 74 68 74 70 74 C 71 74 72 73 72 72 C 72 58 72 42 72 28 C 72 27 71 26 70 26 C 68 26 64 26 61 26 C 60 26 60 26 60 27 Z M 30 74 C 32 74 36 74 38 74 C 39 74 39 74 38 73 C 35 70 32 67 29 64 C 28 63 28 63 28 64 C 28 67 28 70 28 72 C 28 73 29 74 30 74 Z M 43 74 C 46 74 54 74 57 74 C 58 74 58 74 58 73 C 58 66 58 34 58 27 C 58 26 58 26 57 26 C 54 26 46 26 44 26 C 42 26 42 26 40 24 C 38 22 30 14 28 12 C 27 11 26 10 28 10 C 30 10 54 10 56 10 C 58 10 58 10 60 12 C 62 14 69 21 72 24 C 74 26 74 26 74 29 C 74 34 74 66 74 71 C 74 74 74 74 72 76 C 70 78 62 86 60 88 C 58 90 58 90 56 90 C 54 90 46 90 44 90 C 42 90 42 90 40 88 C 38 86 30 78 28 76 C 26 74 26 74 26 71 C 26 70 26 62 26 60 C 26 58 27 59 28 60 C 30 62 38 70 40 72 C 42 74 42 74 43 74 Z");
	}

	#j-logo:hover, #j-logo:focus {
		filter: drop-shadow(0 0 var(--small-gap-size) var(--light-gray));
	}
