/*** page ***/
	:root {
		--dark-gray: #111111;
		--medium-gray: #777777;
		--light-gray: #dddddd;
		--light-blue: #04b1ff;
		--font-size: 15px;
		--font-family: Alata, sans-serif;
		--line-height: 1;
		--gap-size: 5px;
		--shadow-size: 5px;
		--border-radius: 5px;
		--icon-result-size: 50px;
		--preview-size: 500px;
		--transition-time: 0.5s;
		--textarea-line-height: 1.2;
		--content-width: 1000px;
	}

	html, body {
		height: 100%;
		width: 100%;
		margin: 0;
		padding: 0;
		font-family: var(--font-family);
		font-size: 0;
		background: var(--dark-gray);
	}

		h1 {
			box-sizing: border-box;
			width: 100%;
			padding: calc(3 * var(--gap-size));
			height: calc(var(--font-size) * 2 + 6 * var(--gap-size));
			font-size: calc(var(--font-size) * 2);
			user-select: none;
			margin: 0;
			line-height: var(--line-height);
			color: var(--light-gray);
			text-align: center;
		}

		section {
			vertical-align: top;
			display: inline-block;
			box-sizing: border-box;
			width: 100%;
			height: auto;
		}

		hr {
			box-sizing: border-box;
			width: 100%;
			border-radius: var(--border-radius);
			color: var(--light-gray);
			user-select: none;
			margin: calc(2 * var(--gap-size)) 0;
		}

		label {
			display: inline-block;
			font-size: var(--font-size);
			user-select: none;
			color: var(--light-gray);
			background: var(--medium-gray);
			height: calc(var(--font-size) + 2 * var(--gap-size));
			width: calc(var(--font-size) * 7 + 2 * var(--gap-size));;
			vertical-align: top;
			border-radius: var(--border-radius) 0 0 var(--border-radius);
			padding: var(--gap-size);
			box-sizing: border-box;
			line-height: var(--line-height);
		}

		button {
			box-sizing: border-box;
			padding: 0;
			margin: var(--gap-size);
			border: none;
			outline: none;
			cursor: pointer;
			border-radius: var(--border-radius);
			background: var(--light-gray);
			transition: var(--transition-time);
			user-select: none;
			height: calc(var(--font-size) + 2 * var(--gap-size));
			line-height: var(--line-height);
			vertical-align: top;
			color: var(--dark-gray);
		}

			button:hover, button:focus {
				color: var(--light-blue);
			}

			button svg {
				fill: currentColor;
				height: 100%;
				width: auto;
			}

		input {
			box-sizing: border-box;
			padding: var(--gap-size);
			font-family: var(--font-family);
			font-size: var(--font-size);
			border: none;
			outline: none;
			border-radius: 0;
			background: var(--light-gray);
			color: var(--dark-gray);
			height: calc(var(--font-size) + 2 * var(--gap-size));
			line-height: var(--line-height);
			vertical-align: top;
			transition: var(--transition-time);
			margin-bottom: var(--gap-size);
		}

			input:focus, input[type="color"]:hover {
				box-shadow: 0 0 var(--shadow-size) var(--light-blue) inset;
			}

			input[type="color"] {
				padding: 0;
				cursor: pointer;
				width: calc(var(--font-size) * 4 + 2 * var(--gap-size));;
			}

			input[type="number"] {
				text-align: right;
				width: calc(var(--font-size) * 4 + 2 * var(--gap-size));;
			}

			input[type="checkbox"] {
				height: calc(var(--font-size) + 2 * var(--gap-size));
				width: calc(var(--font-size) + 2 * var(--gap-size));
				cursor: pointer;
				margin: 0;
			}

		textarea {
			box-sizing: border-box;
			padding: var(--gap-size);
			font-family: var(--font-family);
			font-size: var(--font-size);
			border: none;
			outline: none;
			border-radius: var(--border-radius);
			background: var(--light-gray);
			color: var(--dark-gray);
			transition: box-shadow var(--transition-time);
			width: 100%;
			min-width: 100%;
			max-width: 100%;
			height: calc(var(--font-size) * 2 + var(--gap-size) * 2);
			min-height: calc(var(--font-size) * 2 + var(--gap-size) * 2);
			max-height: calc(100vh - 2 * var(--gap-size) - 5 * var(--font-size));
			margin-bottom: var(--gap-size);
			vertical-align: top;
			line-height: var(--textarea-line-height);
		}

			textarea:focus {
				box-shadow: 0 0 var(--shadow-size) var(--light-blue) inset;
			}

		select {
			height: calc(var(--font-size) + 2 * var(--gap-size));
			width: calc(var(--font-size) * 9 + 2 * var(--gap-size));
			box-sizing: border-box;
			padding: 0 var(--gap-size);
			font-family: var(--font-family);
			font-size: var(--font-size);
			border: none;
			outline: none;
			border-radius: 0;
			background: var(--light-gray);
			color: var(--dark-gray);
			line-height: var(--line-height);
			transition: var(--transition-time);
			cursor: pointer;
			vertical-align: top;
			text-align: center;
			margin-bottom: var(--gap-size);
			vertical-align: top;
		}

			select:focus, select:hover {
				box-shadow: 0 0 var(--shadow-size) var(--light-blue) inset;
			}

	#container {
		max-width: var(--content-width);
		width: calc(100vw - 4 * var(--gap-size));
		margin: auto auto;
		height: auto;
	}

/*** options ***/
	#options {
		height: var(--preview-size);
		width: calc(100% - var(--preview-size));
		padding-right: calc(2 * var(--gap-size));
		overflow: hidden;
	}

		#options-icon-name {
			width: calc(100% - (var(--font-size) * 7 + 2 * var(--gap-size)));
		}

		#options-icon-results {
			box-sizing: border-box;
			width: calc(100% + var(--gap-size));
			text-align: left;
			height: calc(var(--preview-size) - (var(--font-size) + 3 * var(--gap-size)));
			margin-bottom: calc(3 * var(--gap-size));
			overflow-x: hidden;
			overflow-y: scroll;
			box-shadow: 0 0 var(--shadow-size) var(--dark-gray) inset;
		}

			#options-icon-results:not([visible]) {
				margin: 0;
				display: none;
			}

			.option-icon-result {
				width: var(--icon-result-size);
				height: var(--icon-result-size);
				margin: 0 var(--gap-size) var(--gap-size) 0 !important;
				transition: var(--transition-time);
			}

				.option-icon-result:focus, .option-icon-result:hover {
					box-shadow: 0 0 var(--shadow-size) var(--light-blue) inset;
				}

		#options-icon-path {
			resize: none;
			height: calc(var(--preview-size) - (var(--font-size) + 3 * var(--gap-size)) * 7);
			min-height: calc(var(--preview-size) - (var(--font-size) + 3 * var(--gap-size)) * 7);
			max-height: calc(var(--preview-size) - (var(--font-size) + 3 * var(--gap-size)) * 7);
		}

		#options div span {
			display: inline-block;
			height: calc(var(--font-size) + 2 * var(--gap-size));
			width: calc(var(--font-size) * 2 + 2 * var(--gap-size));
			padding: var(--gap-size);
			user-select: none;
			background: var(--medium-gray);
			color: var(--light-gray);
			font-size: var(--font-size);
			line-height: var(--line-height);
			text-align: center;
			vertical-align: top;
			box-sizing: border-box;
			border-radius: 0 var(--border-radius) var(--border-radius) 0;
			margin-bottom: var(--gap-size);
		}

		#options-iteration-outer span {
			padding: 0 !important;
			width: calc(var(--font-size) + 3 * var(--gap-size)) !important;
			text-align: left !important;
		}

		#options-icon-name, #options-fill-type, #options-direction, #options-iteration {
			border-radius: 0 var(--border-radius) var(--border-radius) 0;
		}

/*** preview ***/
	#preview-outer {
		width: var(--preview-size);
		height: var(--preview-size);
	}

		#preview {
			background: var(--light-gray);
			border-radius: var(--border-radius);
		}

			#preview-svg {
				width: 100%;
				height: 100%;
			}

				#preview-path[animating] {
					animation-name: draw;
				}

			#preview-reset {
				float: right;
				height: calc(var(--font-size) + 2 * var(--gap-size));
				width: calc(var(--font-size) + 2 * var(--gap-size));
				padding: var(--gap-size);
				margin: 0;
				background: transparent;
				transform: translateY(-100%);
			}

/*** text ***/
	#text-html {
		height: calc(var(--font-size) + 2 * var(--gap-size));
		max-height: calc(var(--font-size) + 2 * var(--gap-size));
		min-height: calc(var(--font-size) + 2 * var(--gap-size));
		margin-bottom: calc(2 * var(--gap-size));
		resize: none;
		line-height: var(--line-height);
	}

	#text-css {
		height: calc(var(--font-size) * 8 + 2 * var(--gap-size));
		min-height: calc(var(--font-size) * 8 + 2 * var(--gap-size));
		margin-bottom: calc(var(--font-size) * 5);
	}

	.text-copy-outer {
		height: 0;
		width: 100%;
		text-align: right;
		transform: translateY(calc(var(--font-size) + var(--gap-size) * 2));
	}

		.text-copy-outer button {
			margin-top: var(--gap-size);
			height: calc(var(--font-size) + 2 * var(--gap-size));
			width: calc(var(--font-size) + 2 * var(--gap-size));
			padding: var(--gap-size);
			margin: 0;
			color: var(--dark-gray);
			background: transparent;
			transform: translateY(-100%);
		}

			.text-copy-outer button:focus, .text-copy-outer button:hover {
				color: var(--light-blue);
			}

			.text-copy-outer button[check] span:first-child {
				display: none;
			}

			.text-copy-outer button:not([check]) span:last-child {
				display: none;
			}

/*** j-logo ***/
	#j-logo {
		position: fixed;
		top: 14px;
		right: 7px;
		height: 32px;
		width: 32px;
		cursor: pointer;
		z-index: 1000;
		outline: none;
		transition: var(--transition-time);
		color: var(--light-gray);
		filter: drop-shadow(0 0 calc(var(--shadow-size)) var(--light-gray));
	}

		#j-logo svg {
			fill: currentColor;
			height: 100%;
			width: auto;
		}
		
		#j-logo:hover, #j-logo:focus {
			color: var(--light-blue);
		}

/*** mobile ***/
	@media screen and (max-width: 1000px) {
		:root {
			--preview-size: 300px;
		}
	}

	@media screen and (max-width: 800px) {
		:root {
			--preview-size: 200px;
		}

		#options {
			overflow-y: scroll;
		}

			#options-icon-path {
				min-height: calc(var(--font-size) * 5 + 2 * var(--gap-size));
			}

			#options-stroke-corners {
				width: calc(var(--font-size) * 4 + var(--gap-size) * 2);
			}
	}

	@media screen and (max-width: 600px) {
		#options {
			width: 100%;
			padding-right: 0;
			height: auto;
		}

			#options-stroke-width {
				border-radius: 0 var(--border-radius) var(--border-radius) 0;
			}

			#options-stroke-width ~ span {
				display: none !important;
			}

		#preview-outer {
			margin: var(--gap-size) calc((100% - var(--preview-size)) / 2) 0 calc((100% - var(--preview-size)) / 2);
			text-align: center;
		}

		#text-html {
			line-height: var(--textarea-line-height);
			height: calc(var(--font-size) * 2 + 4 * var(--gap-size));
			min-height: calc(var(--font-size) * 2 + 4 * var(--gap-size));
			max-height: calc(var(--font-size) * 2 + 4 * var(--gap-size));
		}
	}
