/* page */
	body {
		padding: 0px;
		margin: 0px;
		font-family: ubuntu, arial, sans-serif;
		font-size: 15px;
	}

	#schedule {
		width: 100%;
		padding: 10px;
		background-color: darkgray;
	}

/* blocks */
	.shift {
		width: 100%;
		border-radius: 10px;
		margin-bottom: 10px;
		background-color: black;
		padding: 10px;
	}

	.title {
		background-color: black;
		color: white;
		font-weight: bold;
		padding: 5px;
		font-size: 25px;
	}

	.skills {
		font-size: 20px;
	}

	.slot {
		padding: 5px;
	}

	.name {
		font-weight: bold;
		display: block;
		font-size: 20px;
		color: black;
	}

	.languages {
		font-weight: bold;
		display: block;
		font-size: 15px;
		color: black;
	}