/*** page ***/
	:root {
		--dark-gray: #111111;
		--medium-gray: #222222;
		--light-gray: #dddddd;
		--light-blue: #04b1ff;
		--font-size: 50px;
		--font-family: monospace;
		--paddle-height: 20%;
		--paddle-width: 2%;
	}

	html, body {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		overflow: hidden;
		font-size: 0;
		background-color: var(--medium-gray);
		margin: 0;
	}

	#container {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		height: 100vh;
		width: 100vh;
		max-height: 100vw;
		max-width: 100vw;
		background-color: var(--dark-gray);
		cursor: none;
	}

/*** game ***/
	#score {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		text-align: center;
		font-family: var(--font-family);
		font-size: var(--font-size);
		font-weight: bold;
		color: var(--medium-gray);
		user-select: none;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		-o-user-select: none;
	}

	#paddle-p1 {
		position: absolute;
		top: 50%;
		left: calc(2 * var(--paddle-width));
		transform: translateX(-50%) translateY(-50%);
		height: var(--paddle-height);
		width: var(--paddle-width);
		background-color: var(--light-gray);
	}

	#paddle-p2 {
		position: absolute;
		top: 50%;
		left: calc(100% - 2 * var(--paddle-width));
		transform: translateX(-50%) translateY(-50%);
		height: var(--paddle-height);
		width: var(--paddle-width);
		background-color: var(--light-gray);
	}

	#ball {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		height: var(--paddle-width);
		width: var(--paddle-width);
		background-color: var(--light-gray);
	}

/*** rematch ***/
	#rematch:not([visible]) {
		display: none;
		pointer-events: none;
	}

	#rematch {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		height: auto;
		width: var(--paddle-height);
		background-color: var(--light-gray);
		color: var(--dark-gray) !important;
		font-family: var(--font-family);
		font-size: var(--font-size);
		text-align: center;
		border: 0;
		border-radius: 0;
		cursor: pointer;
		text-decoration: none;
	}

	#rematch:hover, #rematch:focus {
		font-weight: bold;
	}

/*** j-logo ***/
	#j-logo {
		position: absolute;
		top: 14px;
		right: 7px;
		color: var(--light-blue);
		height: 32px;
		width: 32px;
		cursor: pointer;
		z-index: 1000;
		outline: none;
	}

	#j-logo svg {
		fill: currentColor;
		height: 100%;
		width: auto;
	}

	#j-logo:hover, #j-logo:focus {
		filter: drop-shadow(0 0 8px var(--light-gray));
	}
