/* page */
	body {
		background-color: #333333;
		padding: 0px;
		margin: 0px;
	}

	#container {
		height: calc(90vw + 10px);
		width: calc(90vw + 10px);
		max-height: calc(90vh + 10px);
		max-width: calc(90vh + 10px);
		background-color: white;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		border: 5px solid #dddddd;
		border-radius: 10px;
		margin: 0px;
	}

/* colors */
	[color="red"] {
		background-color: rgba(255,000,000,.75);
	}

	[color="green"] {
		background-color: rgba(000,255,000,.75);
	}

	[color="blue"] {
		background-color: rgba(000,000,255,.75);
	}

	.online[color="red"] {
		border: 5px solid rgba(255,000,000,.75);
	}

	.online[color="green"] {
		border: 5px solid rgba(000,255,000,.75);
	}

	.online[color="blue"] {
		border: 5px solid rgba(000,000,255,.75);
	}

/* underGrid */
	.underGrid {
		z-index: 1;
		position: absolute;
		top: 0;
		left: 0;
		margin: 0px;
		padding: 1px;
		height: calc(90vw);
		width: calc(90vw);
		max-height: calc(90vh);
		max-width: calc(90vh);
	}

	.underGrid_row {
		float: left;
		margin: 0px;
		margin-bottom: 0px;
		border: 0px;
		height: 10%;
		width: 100%;
	}

	.underGrid_cell {
		float: left;
		margin: 0px;
		height: 100%;
		width: 10%;
	}

	.underGrid_cell:not(.underGrid_collector) {
		clip-path: polygon(50% 50%, 50% 50%, 50% 50%, 50% 50%);
	}
	
	/* from center */
		.underGrid_cell[from="center"][to="center"]:not(.underGrid_collector) {
			clip-path: polygon(50% 50%, 50% 50%, 50% 50%, 50% 50%);
		}

		.underGrid_cell[from="center"][to="left"]:not(.underGrid_collector) {
			clip-path: polygon(0% 45%, 0% 55%, 55% 55%, 55% 45%);
		}

		.underGrid_cell[from="center"][to="top"]:not(.underGrid_collector) {
			clip-path: polygon(45% 0%, 55% 0%, 55% 55%, 45% 55%);
		}

		.underGrid_cell[from="center"][to="right"]:not(.underGrid_collector) {
			clip-path: polygon(100% 45%, 100% 55%, 45% 55%, 45% 45%);
		}

		.underGrid_cell[from="center"][to="bottom"]:not(.underGrid_collector) {
			clip-path: polygon(45% 100%, 55% 100%, 55% 45%, 45% 45%);
		}

	/* from left */
		.underGrid_cell[from="left"][to="center"]:not(.underGrid_collector) {
			clip-path: polygon(0% 45%, 0% 55%, 55% 55%, 55% 45%);
		}

		.underGrid_cell[from="left"][to="top"]:not(.underGrid_collector) {
			clip-path: polygon(0% 45%, 0% 55%, 55% 55%, 55% 0%, 45% 0%, 45% 45%);
		}

		.underGrid_cell[from="left"][to="right"]:not(.underGrid_collector) {
			clip-path: polygon(0% 45%, 0% 55%, 100% 55%, 100% 45%);
		}

		.underGrid_cell[from="left"][to="bottom"]:not(.underGrid_collector) {
			clip-path: polygon(0% 45%, 0% 55%, 45% 55%, 45% 100%, 55% 100%, 55% 45%);
		}
	
	/* from right */
		.underGrid_cell[from="right"][to="center"]:not(.underGrid_collector) {
			clip-path: polygon(100% 45%, 100% 55%, 45% 55%, 45% 45%);
		}

		.underGrid_cell[from="right"][to="top"]:not(.underGrid_collector) {
			clip-path: polygon(100% 45%, 100% 55%, 45% 55%, 45% 0%, 55% 0%, 55% 45%);
		}

		.underGrid_cell[from="right"][to="left"]:not(.underGrid_collector) {
			clip-path: polygon(0% 45%, 0% 55%, 100% 55%, 100% 45%);
		}

		.underGrid_cell[from="right"][to="bottom"]:not(.underGrid_collector) {
			clip-path: polygon(100% 45%, 100% 55%, 55% 55%, 55% 100%, 45% 100%, 45% 45%);
		}

	/* from top */
		.underGrid_cell[from="top"][to="center"]:not(.underGrid_collector) {
			clip-path: polygon(45% 0%, 55% 0%, 55% 55%, 45% 55%);
		}

		.underGrid_cell[from="top"][to="left"]:not(.underGrid_collector) {
			clip-path: polygon(0% 45%, 0% 55%, 55% 55%, 55% 0%, 45% 0%, 45% 45%);
		}

		.underGrid_cell[from="top"][to="right"]:not(.underGrid_collector) {
			clip-path: polygon(100% 45%, 100% 55%, 45% 55%, 45% 0%, 55% 0%, 55% 45%);
		}

		.underGrid_cell[from="top"][to="bottom"]:not(.underGrid_collector) {
			clip-path: polygon(45% 0%, 55% 0%, 55% 100%, 45% 100%);
		}

	/* from bottom */
		.underGrid_cell[from="bottom"][to="center"]:not(.underGrid_collector) {
			clip-path: polygon(45% 100%, 55% 100%, 55% 45%, 45% 45%);
		}

		.underGrid_cell[from="bottom"][to="left"]:not(.underGrid_collector) {
			clip-path: polygon(0% 45%, 0% 55%, 45% 55%, 45% 100%, 55% 100%, 55% 45%);
		}

		.underGrid_cell[from="bottom"][to="right"]:not(.underGrid_collector) {
			clip-path: polygon(100% 45%, 100% 55%, 55% 55%, 55% 100%, 45% 100%, 45% 45%);
		}

		.underGrid_cell[from="bottom"][to="top"]:not(.underGrid_collector) {
			clip-path: polygon(45% 0%, 55% 0%, 55% 100%, 45% 100%);
		}

	.underGrid_collector {
		clip-path: polygon(45% 0%, 55% 0%, 55% 45%, 100% 45%, 100% 55%, 55% 55%, 55% 100%, 45% 100%, 45% 55%, 0% 55%, 0% 45%, 45% 45%);
	}

/* overGrid */
	.overGrid {
		z-index: 2;
		position: relative;
		top: 0;
		left: 0;
		margin: 0px;
		padding: 1px;
		height: calc(90vw);
		width: calc(90vw);
		max-height: calc(90vh);
		max-width: calc(90vh);
		background-color: rgba(000,000,000,0);
	}

	.overGrid_row {
		float: left;
		margin: 0px;
		height: 10%;
		width: 100%;
	}

	.overGrid_cell {
		float: left;
		margin: 0px;
		height: 100%;
		width: 10%;
		border: .25px solid #dddddd;
	}

	/* paths */
		.endpoint {
			z-index: 2;
			width: 50%;
			height: 50%;
			position: relative;
			top: 50%;
			left: 50%;
			transform: translateX(-50%) translateY(-50%);
			border-radius: 100%;
		}

		.endpoint.selected {
			width: calc(50% + 10px);
			height: calc(50% + 10px);
			border: 5px solid #666666;
		}

		.underneath {
			width: 0px;
			height: 0px;
			border: 0px;
		}

	/* robots */
		.robot {
			position: absolute;
			background-color: #333333;
			width: calc(10% - 10px);
			height: calc(10% - 10px);
			border-radius: 10px;
			border: 5px solid rgba(000,000,000,0);
			margin: 5px;
		}

	/* items */
		.obstacle {
			width: 100%;
			height: 100%;
			background-color: #333333;
		}

		.collector {
			width: 90%;
			height: 90%;
			position: relative;
			top: 50%;
			left: 50%;
			transform: translateY(-50%) translateX(-50%);
			border-radius: 100%;
		}