/*** page ***/
	/* top level */
		html {
			position: absolute;
			top: 0px;
			left: 0px;
			width: 100%;
			min-height: 100%;
		}

		body {
			background-color: #444444;
			color: #dddddd;
			margin: 0px;
			padding: 0px;
			padding-bottom: 60px;
			font-size: 0px;
			font-family: sans-serif;
			user-select: none;
			overflow-x: hidden;
		}

	/* footer */
		#footer {
			float: left;
			height: 60px;
			width: 100%;
			background-color: #444444;
		}

	/* scrollbars */
		::-webkit-scrollbar {
			height: 0px !important;
			width: 0px !important;
		}

		::-moz-scrollbar {
			height: 0px !important;
			width: 0px !important;
		}

		::-o-scrollbar {
			height: 0px !important;
			width: 0px !important;
		}

	/* inputs */
		input[type=number][readonly]::-webkit-inner-spin-button, 
		input[type=number][readonly]::-webkit-outer-spin-button { 
			-webkit-appearance: none; 
			margin: 0; 
		}

		input[type=number][readonly] {
			-moz-appearance:textfield;
		}

		select {
			-webkit-appearance: none;
			-moz-appearance: none;
		}

		select::-ms-expand {
			display: none;
		}

	/* dice */
		.d6 {
			display: inline-block;
			font-size: 40px;
			color: #222222;
			height: 50px;
			width: 50px;
			background-color: #d4d4d4;
			border-radius: 5px;
			cursor: pointer;
			overflow: hidden;
			text-align: center;
			outline: none;
		}

		.d20 {
			text-align: center;
			font-size: 40px;
			color: #222222;
			display: inline-block;
			height: 48px;
			width: 50px;
			background-image: url("d20.png");
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center center;
			border-radius: 100%;
			cursor: pointer;
			overflow: hidden;
			outline: none;
		}

		.d6:hover, .d20:hover {
			filter: drop-shadow(0px 0px 5px #dddddd);
		}

		.spacer {
			display: inline-block;
			height: 100%;
			width: 20px;
		}

/*** header ***/
	/* top level */
		#header {
			position: fixed;
			width: 100%;
			top: 0px;
			text-align: center;
			height: 125px;
			z-index: 100;
		}

	/* history */
		#history {
			min-width: 100%;
			width: auto;
			height: 95px;
			overflow-x: scroll;
			overflow-y: hidden;
			white-space: nowrap;
			text-align: left;
			background-color: #111111;
			scroll-behavior: smooth;
			text-align: right;
		}

		#history label {
			display: inline-block;
			white-space: normal;
			height: 81px;
			min-width: 60px;
			margin: 5px;
			font-size: 10px;
			color: #aaaaaa;
			border-radius: 5px;
			vertical-align: top;
			text-align: center;
			padding: 4px 2px 0px 2px;
		}

		#history label:last-child {
			background-color: #333333;
		}

		#history label span {
			display: block;
			border-top: 2px solid #333333;
			margin-top: 2px;
		}

		#history label:last-child span {
			border-top: 2px solid #aaaaaa;
		}

		#history label .equals {
			display: inline-block;
			height: 100%;
			color: #dddddd;
			vertical-align: top;
			height: 20px;
			margin: 20px 0px;
			font-size: 20px;
		}

		#history .d20, #history .d6 {
			font-size: 35px;
			text-shadow: 0px 0px 5px #dddddd;
			height: 50px;
			width: 60px;
			padding-top: 10px;
			margin: 0px 2px;
			outline: none;
			user-select: none;
			text-align: center;
		}

		#history .d20[success="true"] {
			filter: drop-shadow(0px 0px 5px #33dd77);
			color: #33dd77;
			text-shadow: 0px 0px 10px #dddddd;
		}

		#history .d20[success="false"] {
			filter: drop-shadow(0px 0px 5px #7733dd);
			color: #7733dd;
			text-shadow: 0px 0px 10px #dddddd;
		}

		#history .d6[type="weapon"], #history .d6[type="ammunition"] {
			background-color: #dd7777;
		}

		#history .d6[type="armor"], #history .d6[type="shield"] {
			background-color: #dddd77;
		}

		#history .d6[type="healing"] {
			background-color: #77dd77;
		}

		#history .d6[type="potion"] {
			background-color: #7777dd;
		}

		#history .d6:not(.total):not([counting="true"]) {
			background-color: #777777;
			color: #444444;
			text-shadow: none;
		}

	/* modes */
		#modes {
			float: left;
			min-width: 100%;
			height: 30px;
		}

		#modes div, #modes label {
			float: left;
			padding: 5px;
			height: 20px;
			width: calc(100% / 6 - 10px);
			color: #aaaaaa;
			text-align: center;
			font-size: 20px;
			overflow: hidden;
			text-overflow: ellipsis;
			cursor: pointer;
			user-select: none;
			line-height: 1.25;
			background-color: #111111;
			border-radius: 0px 0px 10px 10px;
			box-shadow: 0px 0px 5px #111111;
		}

		#modes div:hover, #modes label:hover {
			background-color: #222222;
		}

	/* mode buttons */
		body[mode="play"] #modes-play {
			background-color: #dddddd;
			color: #222222;
		}

		body[mode="edit"] #modes-edit {
			background-color: #77dd77;
			color: #222222;
		}

		body[mode="items"] #modes-items {
			background-color: #dddd77;
			color: #222222;
		}

		body[mode="conditions"] #modes-conditions {
			background-color: #3333dd;
			color: #222222;
		}

		body[mode="damage"] #modes-damage {
			background-color: #dd3333;
			color: #222222;
		}

	/* download / upload */
		#modes div#download, #modes label#upload {
			width: calc(100% / 12 - 10px);
		}

		#upload-input {
			width: 0px;
			height: 0px;
			opacity: 0px;
			margin: 0px;
			border: 0px;
			padding: 0px;
			color: transparent;
			background-color: transparent;
		}

/*** sections ***/
	/* top level */
		.section {
			float: left;
			width: 100%;
			padding: 10px 0px 10px 0px;
			border-bottom: 2px solid #dddddd;
		}

		.section {
			outline: none;
		}

	/* summary */
		.section summary {
			cursor: pointer;
			outline: none;
		}

/*** info ***/
	/* top level */
		body[mode="play"], body[mode="edit"] {
			background-color: #333333;
		}

		body:not([mode="conditions"]) #info {
			margin-top: 125px;
		}

		#info {
			float: left;
			width: calc(100% - 10px);
			padding: 5px;
			background-color: #333333;
		}

		#info .column-left, #info .column-right {
			float: left;
			height: 100%;
			width: calc(50% - 12.5px);
			margin-right: 5px;
			background-color: #222222;
			border-radius: 5px;
			padding: 5px;
		}

		#info .column-right {
			margin-right: 0px;
		}

	/* name */
		#info-name {
			font-size: 40px;
			height: 45px;
			width: 100%;
			margin: 10px 0px 10px 0px;
			text-align: center;
			background-color: transparent;
			color: #dddddd;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		body:not([mode="edit"]) #info-name-text {
			display: none;
		}

		#info-name-text {
			margin: 0px 0px 5px 0px;
			padding: 5px;
			width: calc(100% - 10px);
			height: 50px;
			font-size: 40px;
			text-align: center;
			border-radius: 5px;
			border: 0px;
			outline: none;
		}

	/* demographics */
		#info-demographics {
			font-size: 25px;
			margin: 0px 0px 5px 0px;
			float: left;
			width: 100%;
			color: #aaaaaa;
			border-radius: 5px;
		}

		#info-demographics label {
			float: left;
			color: #aaaaaa;
			width: 100%;
			height: 30px;
			text-align: left;
			font-size: 20px;
			line-height: 1.5;
			vertical-align: bottom;
		}

		#info-demographics input {
			float: right;
			width: 90px;
			padding: 5px;
			height: 20px;
			font-size: 20px;
			border-radius: 5px;
			background-color: transparent;
			color: #dddddd;
			border: 0px;
			text-align: right;
			outline: none;
			overflow: hidden;
		}

		#info-race {
			float: right;
			width: 100px;
			padding: 1px 5px 4px 5px;
			height: 30px;
			font-size: 20px;
			border-radius: 5px;
			background-color: transparent;
			color: #dddddd;
			border: 0px;
			outline: none;
			vertical-align: top;
		}

		#info .column-left label:nth-child(2), #info .column-right label:nth-child(2) {
			padding: 5px 0px 5px 0px;
		}

	/* abilities */
		#info-abilities {
			font-size: 25px;
			margin: 0px 0px 5px 0px;
			float: left;
			width: 100%;
			color: #aaaaaa;
			border-radius: 5px;
		}

		#info-abilities label {
			float: left;
			color: #aaaaaa;
			width: 100%;
			height: 30px;
			text-align: left;
			font-size: 20px;
			line-height: 1.5;
			vertical-align: bottom;
			overflow: hidden;
		}

		#info-abilities input {
			float: right;
			width: 50px;
			padding: 5px;
			height: 20px;
			font-size: 20px;
			border-radius: 5px;
			background-color: transparent;
			color: #dddddd;
			border: 0px;
			text-align: right;
			outline: none;
		}

	/* carrying capacity */
		#info-abilities input#info-burden {
			width: 35px;
			padding: 5px 0px 5px 5px;
		}

		#info-abilities input#info-burden[overburdened] {
			color: #dd7777;
		}

		#info-abilities label span {
			font-size: 20px;
			float: right;
			width: 5px;
			height: 25px;
			padding: 2px 0px 3px 0px;
		}

		#info-abilities input#info-carry {
			width: 35px;
			padding: 5px 5px 5px 0px;
		}

	/* description */
		#info-racial-ability, #info-description {
			margin: 0px 0px 5px 0px;
			color: #aaaaaa;
			font-size: 20px;
			float: left;
			width: calc(100% - 20px);
			min-width: calc(100% - 20px);
			max-width: calc(100% - 20px);;
			padding: 10px;
			background-color: #222222;
			border-radius: 5px;
			height: auto;
			min-height: 50px;
			border: 0px;
			outline: none;
		}

		#info-racial-ability {
			resize: none;
			font-size: 20px;
			height: 75px;
		}

/*** statistics ***/
	/* statistic top level */
		.statistic {
			background-color: #333333;
		}

		.statistic summary {
			height: 50px;
		}

	/* statistic name */
		.statistic .column-left {
			float: left;
			height: 100%;
			width: calc(100% - 195px);
			vertical-align: middle;
			font-size: 25px;
		}

		.statistic-name {
			font-weight: bold;
			float: left;
			padding: 5px 10px 5px 10px;
			font-size: 30px;
			width: calc(100% - 20px);
			height: calc(100% - 10px);
			user-select: none;
			overflow: hidden;
			text-overflow: ellipsis;
		}

	/* statistic numbers */
		.statistic .column-right {
			float: left;
			height: 100%;
			width: 195px;
			vertical-align: middle;
			font-size: 25px;
		}

		.statistic-maximum {
			background-color: transparent;
			border-radius: 5px;
			border: 0px;
			text-align: right;
			float: left;
			width: 35px;
			font-size: 20px;
			padding: 10px 5px 10px 5px;
			height: 30px;
			font-weight: bold;
			color: #77dd77;
			outline: none;
			user-select: none;
		}

		.statistic-damage {
			background-color: transparent;
			border-radius: 5px;
			border: 0px;
			text-align: right;
			float: left;
			width: 35px;
			font-size: 20px;
			height: 100%;
			color: #dd7777;
			font-weight: bold;
			padding: 10px 5px 10px 5px;
			height: 30px;
			outline: none;
			user-select: none;
		}

		.statistic-condition {
			background-color: transparent;
			border-radius: 5px;
			border: 0px;
			text-align: right;
			float: left;
			width: 35px;
			font-size: 20px;
			height: 100%;
			color: #7777dd;
			font-weight: bold;
			padding: 10px 5px 10px 5px;
			height: 30px;
			outline: none;
			user-select: none;
		}

		.statistic-current {
			background-color: transparent;
			border-radius: 5px;
			border: 0px;
			float: left;
			margin: 0px 5px 0px 5px;
			height: 50px;
			width: 50px;
			padding: 0px;
			outline: none;
			user-select: none;
		}

	/* skill top level */
		.skills-list {
			padding: 0px 5px 0px 5px;
		}

		.skill {
			background-color: #222222;
			border-radius: 5px;
			float: left;
			width: calc(100% - 10px);
			height: 40px;
			padding: 5px;
			margin-top: 5px;
		}

	/* skill name */
		.skill .column-left {
			width: calc(100% - 185px);
			height: auto;
		}

		.skill-name {
			width: 100%;
			height: 40px;
			overflow: hidden;
		}

		.skill-name-text {
			float: left;
			height: 30px;
			padding: 5px;
			overflow: hidden;
			word-break: break-all;
			text-overflow: ellipsis;
			background-color: transparent;
			font-size: 25px;
			color: #aaaaaa;
			border: 0px;
			width: calc(100% - 10px);
			user-select: none;
			outline: none;
		}

		.skill-name .d6 + .skill-name-text {
			width: calc(100% - 50px);
		}

		.skill-name .d6 {
			float: left;
			height: 40px;
			padding: 0px;
			width: 40px;
			font-size: 30px;
			text-align: center;
			border: 0px;
			user-select: none;
			background-color: #dd7777;
		}

		#immunity .skill-name .d6 {
			background-color: #77dd77;	
		}

		.skill-name .d6:hover {
			filter: drop-shadow(0px 0px 5px #dddddd);
		}

	/* skill numbers */
		.skill .column-right {
			width: 185px;
			height: auto;
		}

		.skill-maximum {
			text-align: right;
			float: left;
			font-size: 20px;
			width: 35px;
			padding: 5px 5px 5px 5px;
			height: 30px;
			font-weight: bold;
			color: #77dd77;
			background-color: transparent;
			border-radius: 5px;
			border: 0px;
			outline: none;
			user-select: none;
		}

		.skill-damage {
			text-align: right;
			float: left;
			font-size: 20px;
			width: 35px;
			padding: 5px 5px 5px 5px;
			height: 30px;
			font-weight: bold;
			color: #dd7777;
			background-color: transparent;
			border-radius: 5px;
			border: 0px;
			outline: none;
			user-select: none;
		}

		.skill-condition {
			text-align: right;
			float: left;
			font-size: 20px;
			width: 35px;
			padding: 5px 5px 5px 5px;
			height: 30px;
			font-weight: bold;
			color: #7777dd;
			background-color: transparent;
			border-radius: 5px;
			border: 0px;
			outline: none;
			user-select: none;
		}

		.skill-current {
			float: right;
			height: 40px;
			width: 40px;
			font-size: 30px;
			padding: 0px;
			background-color: transparent;
			border-radius: 5px;
			border: 0px;
			outline: none;
			user-select: none;
			margin-left: 10px;
		}

	/* editing */
		body[mode="edit"] .statistic .editable, body[mode="edit"] #info .editable, body[mode="edit"] #info-race .editable {
			background-color: #77dd77;
			color: #333333;
		}

		body[mode="edit"] .statistic .editable:hover, body[mode="edit"] #info .editable:hover {
			filter: drop-shadow(0px 0px 5px #dddddd);
		}

		body[mode="edit"] .section#inventory, body[mode="edit"] #info-name {
			display: none;
		}

	/* remove */
		body:not([mode="edit"]) .skill-remove {
			display: none;
		}

		body[mode="edit"] .skill:not(.unremovable) {
			height: 75px;
		}

		.skill-remove {
			float: right;
			text-align: center;
			margin-left: calc(100% - 25px);
			background-color: transparent;
			color: #77dd77;
			font-size: 20px;
			height: 25px;
			width: 25px;
			margin-bottom: 10px;
			cursor: pointer;
			font-weight: bold;
		}

		.skill-remove:hover {
			filter: drop-shadow(0px 0px 5px #dddddd);
		}

	/* skill select */
		body:not([mode="edit"]) .statistic select {
			display: none;
		}

		.statistic select {
			float: left;
			margin: 5px 5px 0px 5px;
			padding: 10px;
			height: 60px;
			background-color: #77dd77;
			color: #333333;
			border-radius: 5px;
			width: calc(100% - 10px);
			outline: none;
			cursor: pointer;
			border: 0px;
			font-size: 30px;
		}

		.statistic select:hover {
			filter: drop-shadow(0px 0px 5px #dddddd);
		}

/*** inventory ***/
	/* top level */
		#inventory {
			border: 0px;
			background-color: #444444;
			padding: 0px;
		}

	/* ellipsis */
		#inventory-ellipsis {
			float: left;
			width: 100%;
			text-align: center;
			font-size: 50px;
			height: 50px;
			padding: 10px 0px 30px 0px;
			color: #aaaaaa;
		}

		#inventory-ellipsis:hover {
			filter: drop-shadow(0px 0px 5px #dddddd);
		}

	/* item name */
		.item {
			float: left;
			width: calc(100% - 30px);
			padding: 10px;
			margin: 5px 5px 0px 5px;
			background-color: #222222;
			border-radius: 5px;
		}

		.item-name {
			float: left;
			width: 100%;
			min-height: 40px;
			padding: 0px 0px 2px 0px;
			height: auto;
		}

		.item-count {
			color: #aaaaaa;
			background-color: transparent;
			border: 0px;
			border-radius: 5px;
			padding: 8px 5px 2px 5px;
			font-size: 20px;
			float: left;
			height: 30px;
			width: 30px;
			outline: none;
			text-align: center;
		}

		.item-name-text {
			color: #dddddd;
			background-color: transparent;
			border: 0px;
			border-radius: 5px;
			padding: 5px;
			font-size: 30px;
			float: left;
			width: calc(100% - 90px);
			outline: none;
			height: 30px;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		.item-name .d6 {
			text-align: center;
			float: right;
			height: 40px;
			width: 40px;
			font-size: 30px;
			border: 0px;
			border-radius: 5px;
			outline: none;
			background-color: #dddddd;
			padding: 0px;
		}

	/* item usage */
		.item-usage {
			float: left;
			width: 100%;
			padding: 2px 0px 2px 0px;
			height: 40px;
		}

		.item-usage .d20 {
			border: 0px;
			border-radius: 5px;
			outline: none;
			background-color: transparent;
			padding: 0px;
			float: left;
			height: 40px;
			width: 40px;
			font-size: 30px;
			padding: 0px;
		}

		.item-usage-skill {
			float: left;
			height: 40px;
			padding: 5px;
			overflow: hidden;
			background-color: transparent;
			border: 0px;
			border-radius: 5px;
			color: #aaaaaa;
			font-size: 25px;
			outline: none;
			word-break: break-all;
			text-overflow: ellipsis;
			width: calc(100% - 40px);
		}

		.item-usage .d20 + .item-usage-skill {
			width: calc(100% - 80px);
		}

		.item-usage .d6 {
			text-align: center;
			float: right;
			height: 40px;
			width: 40px;
			font-size: 30px;
			border: 0px;
			border-radius: 5px;
			outline: none;
			padding: 0px;
		}

		.weapon.item .d6, .ammunition.item .d6 {
			background-color: #dd7777;
		}

		.armor.item .d6, .shield.item .d6 {
			background-color: #dddd77;
		}

		.healing.item .d6 {
			background-color: #77dd77;
		}

		.potion.item .d6 {
			background-color: #7777dd;
		}

		.item .d6.combat, .potion.item .d6.combat, .shield.item .d6.combat {
			background-color: #dd7777;
		}

	/* conditions */
		.item-condition {
			float: left;
			width: 100%;
			padding: 2px 0px 2px 0px;
			height: 40px;
		}

		.item-condition-name {
			float: left;
			height: 40px;
			padding: 5px;
			overflow: hidden;
			background-color: transparent;
			border: 0px;
			border-radius: 5px;
			color: #aaaaaa;
			font-size: 25px;
			outline: none;
			word-break: break-all;
			text-overflow: ellipsis;
			width: calc(100% - 40px);
		}

		.item-condition-remove {
			text-decoration: line-through;
		}

		.item-condition .d6, .weapon.item .item-condition .d6, .ammunition.item .item-condition .d6, .armor.item .item-condition .d6, .shield.item .item-condition .d6 {
			text-align: center;
			float: right;
			height: 40px;
			width: 40px;
			font-size: 30px;
			border: 0px;
			border-radius: 5px;
			outline: none;
			background-color: #7777dd;
			padding: 0px;
		}

	/* item info */
		.item-info-label {
			float: left;
			display: inline-block;
			margin: 2px 4px 4px 0px;
			padding: 5px;
			background-color: #333333;
			border-radius: 5px;
		}

		.item-info-input {
			float: left;
			border-radius: 5px;
			outline: none;
			height: 20px;
			border: 0px;
			color: #aaaaaa;
			padding: 5px;
			font-size: 15px;
			background-color: transparent;
		}

		input.item-info-input[type="number"] {
			width: 40px;
			text-align: right;
		}

		input.item-info-input[type="text"] {
			width: 200px;
			text-align: left;
		}

		select.item-info-input {
			height: 30px;
			width: 100px;
			text-align: center;
		}

		.item-info-label-text {
			float: left;
			margin-left: 5px;
			font-size: 15px;
			height: 20px;
			width: auto;
			padding: 5px 0px;
			color: #aaaaaa;
			line-height: 1.5;
		}

	/* item description */
		.item-description {
			float: left;
			width: calc(100% - 50px);
			max-width: calc(100% - 50px);
			min-width: calc(100% - 50px);
			padding: 5px;
			margin-right: 40px;
			font-size: 15px;
			outline: none;
			border: 0px;
			border-radius: 5px;
			background-color: transparent;
			color: #aaaaaa;
			resize: none;
			overflow: hidden;
			height: 50px;
		}

	/* editing */
		body[mode="items"] .section:not(#inventory), body[mode="items"] #inventory-ellipsis {
			display: none;
		}

		body[mode="items"] {
			background-color: #444444;
		}

		body[mode="items"] .section#inventory {
			margin-top: 125px;
			padding: 0px;
		}

		body[mode="items"] .item .editable {
			background-color: #dddd77;
			color: #333333;
		}

		body[mode="items"] .item .editable:hover {
			filter: drop-shadow(0px 0px 5px #dddddd);
		}

	/* equip */
		body:not([mode="items"]) .item-equip {
			display: none;
		}

		.item-equip {
			float: left;
			text-align: center;
			margin-right: calc(50% - 25px);
			background-color: transparent;
			color: #dddd77;
			font-size: 20px;
			height: 25px;
			width: 25px;
			cursor: pointer;
			font-weight: bold;
		}

		.item-equip:not([equipped]) {
			color: #777733;
			text-decoration: line-through;
		}

		.item-equip:hover {
			filter: drop-shadow(0px 0px 5px #dddddd);
		}

	/* remove */
		body:not([mode="items"]) .item-remove {
			display: none;
		}

		.item-remove {
			float: right;
			text-align: center;
			margin-left: calc(50% - 25px);
			background-color: transparent;
			color: #dddd77;
			font-size: 20px;
			height: 25px;
			width: 25px;
			cursor: pointer;
			font-weight: bold;
		}

		.item-remove:hover {
			filter: drop-shadow(0px 0px 5px #dddddd);
		}

	/* items select */
		body:not([mode="items"]) #items-select {
			display: none;
		}

		#items-select {
			float: left;
			margin: 5px;
			padding: 10px;
			height: 60px;
			background-color: #dddd77;
			color: #333333;
			border-radius: 5px;
			width: calc(100% - 10px);
			outline: none;
			cursor: pointer;
			border: 0px;
			font-size: 30px;
		}

		#items-select:hover {
			filter: drop-shadow(0px 0px 5px #dddddd);
		}

/*** conditions ***/
	/* top level */
		body:not([mode="conditions"]) #conditions {
			display: none;
		}

		body[mode="conditions"] #inventory, body[mode="conditions"] #info {
			display: none;
		}

		body[mode="conditions"] {
			background-color: #7777dd;
		}

		.section#conditions {
			float: left;
			margin-top: 125px;
			background-color: #7777dd;
			min-height: 40px;
			border-bottom: 0px;
			padding: 5px;
			width: calc(100% - 10px);
			font-size: 15px;
			border-bottom: 2px solid #dddddd;
		}

	/* list */
		.condition {
			border-radius: 5px;
			background-color: #3333dd;
			color: #dddddd;
			float: left;
			width: calc(100% - 10px);
			padding: 5px;
			height: auto;
			vertical-align: middle;
			margin-bottom: 5px;
			user-select: none;
		}

		.condition-remove {
			float: right;
			margin-left: calc(100% - 25px);
			width: 25px;
			background-color: transparent;
			color: #7777dd;
			font-size: 20px;
			height: 25px;
			text-align: center;
			cursor: pointer;
			font-weight: bold;
		}

		.condition-remove:hover {
			filter: drop-shadow(0px 0px 5px #dddddd);
		}

		.condition-name {
			float: left;
			width: calc(100% - 10px);
			padding: 5px;
			color: #dddddd;
			font-size: 30px;
			text-align: left;
		}

		.condition-description {
			float: left;
			width: calc(100% - 10px);
			padding: 5px;
			font-size: 15px;
			color: #aaaaaa;
			text-align: left;
		}

	/* select */
		#conditions-select {
			font-size: 30px;
			float: left;
			padding: 10px;
			border-radius: 5px;
			background-color: #3333dd;
			color: #dddddd;
			border: 0px;
			outline: none;
			cursor: pointer;
			text-align: center;
			width: 100%;
			height: 60px;
		}

		#conditions-select:hover {
			filter: drop-shadow(0px 0px 5px #dddddd);
		}

/*** damage ***/
	/* top level */
		body:not([mode="damage"]) #damage {
			display: none;
		}

		body[mode="damage"] #info, body[mode="damage"] .skills-list,body[mode="damage"] #inventory-ellipsis,
		body[mode="damage"] .item.weapon, body[mode="damage"] .item.ammunition, body[mode="damage"] .item.miscellaneous, body[mode="damage"] .item.potion {
			display: none;
		}

		body[mode="damage"] {
			background-color: #dd7777;
		}

		.section#damage {
			float: left;
			margin-top: 125px;
			background-color: #dd7777;
			min-height: 40px;
			border-bottom: 0px;
			padding: 5px;
			width: calc(100% - 10px);
			font-size: 15px;
			border-bottom: 2px solid #dddddd;
		}

	/* input */
		#damage input {
			font-size: 30px;
			float: left;
			padding: 10px;
			border-radius: 5px;
			background-color: #dd3333;
			color: #333333;
			border: 0px;
			outline: none;
			cursor: pointer;
			text-align: center;
			width: calc(100% - 20px);
			height: 40px;
		}

		#damage input::placeholder {
			color: #dd7777;
		}

		#damage input:hover {
			filter: drop-shadow(0px 0px 5px #dddddd);
		}

	/* recover */
		#damage #info-recover {
			margin-top: 5px;
			font-size: 30px;
			float: left;
			padding: 10px;
			border-radius: 5px;
			background-color: #333333;
			color: #77dd77;
			border: 0px;
			outline: none;
			cursor: pointer;
			text-align: center;
			width: 100%;
			height: 60px;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		#damage #info-recover:hover {
			filter: drop-shadow(0px 0px 5px #dddddd);
		}

	/* statistics */
		body[mode="damage"] .statistic-damage {
			color: #333333;
			background-color: #dd7777;
		}