/*** page ***/
	:root {
		--dark-gray: #111111;
		--medium-gray: #555555;
		--light-gray: #dddddd;
		--light-blue: #04b1ff;
		--font-family: "Noto Sans Mono", monospace;
		--font-size: 32px;
		--shadow-size: 5px;
		--gap-size: 5px;
		--border-radius: 5px;
		--transition-time: 0.5s;
		--container-width: 1000px;
	}

	html, body {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		margin: 0;
		padding: 0;
		background: var(--dark-gray);
		color: var(--light-gray);
		font-family: var(--font-family);
		font-size: var(--font-size);
		overflow: hidden;
	}

	svg {
		fill: currentColor;
		height: 100%;
		width: auto;
	}

/*** header ***/
	h1 {
		float: left;
		font-size: calc(var(--font-size));
		font-family: var(--font-family);
		margin: 0;
		padding: calc(var(--gap-size) * 2);
		width: 100%;
		height: calc(var(--font-size) + 4 * var(--gap-size));
		box-sizing: border-box;
		text-align: left;
		user-select: none;
	}

	#j-logo {
		position: fixed;
		top: 14px;
		right: 7px;
		height: 32px;
		width: 32px;
		cursor: pointer;
		z-index: 1000;
		outline: none;
		transition: var(--transition-time);
		color: var(--light-blue);
	}

		#j-logo svg {
			fill: currentColor;
			height: 100%;
			width: auto;
		}
		
		#j-logo:hover, #j-logo:focus {
			filter: drop-shadow(0 0 var(--shadow-size) var(--light-gray));
		}

/*** container ***/
	#container {
		width: 100vw;
		max-width: var(--container-width);
		margin: auto auto;
	}

	textarea {
		float: left;
		width: calc(100% - 4 * var(--gap-size));
		max-width: calc(100% - 4 * var(--gap-size));
		min-width: calc(100% - 4 * var(--gap-size));
		box-sizing: border-box;
		height:     calc((100vh - (2 * (var(--font-size) + 4 * var(--gap-size)) + (var(--font-size) + 6 * var(--gap-size)) + 8 * var(--gap-size))) / 2);
		max-height: calc((100vh - (2 * (var(--font-size) + 4 * var(--gap-size)) + (var(--font-size) + 6 * var(--gap-size)) + 8 * var(--gap-size))) / 2);
		min-height: calc((100vh - (2 * (var(--font-size) + 4 * var(--gap-size)) + (var(--font-size) + 6 * var(--gap-size)) + 8 * var(--gap-size))) / 2);
		margin: calc(2 * var(--gap-size)) calc(2 * var(--gap-size)) 0 calc(2 * var(--gap-size));
		border-radius: var(--border-radius);
		border: none;
		outline: none;
		background: var(--light-gray);
		color: var(--dark-gray);
		font-family: var(--font-family);
		font-size: var(--font-size);
		resize: none;
		padding: var(--gap-size) var(--gap-size) calc(var(--gap-size) * 2 + var(--font-size)) var(--gap-size);
		transition: var(--transition-time);
	}

		textarea::placeholder {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translateX(-50%) translateY(-50%);
		}

		textarea:focus {
			box-shadow: 0 0 var(--shadow-size) var(--shadow-size) var(--light-blue);
		}

	.copy-section {
		float: left;
		height: 0;
		width: 100%;
	}

		.copy-section button {
			float: left;
			height: var(--font-size);
			width: var(--font-size);
			border: none;
			outline: none;
			user-select: none;
			cursor: pointer;
			transition: var(--transition-time);
			text-align: center;
			padding: 0;
			margin: 0;
			box-sizing: border-box;
			background: transparent;
			border-radius: var(--border-radius);
			color: var(--dark-gray);
			position: relative;
			bottom: calc(var(--font-size) + var(--gap-size));
			left: calc(100% - var(--font-size) - 3 * var(--gap-size));
			z-index: 2;
		}

			.copy-section button:focus, .copy-section button:hover {
				color: var(--light-blue);
			}

			.copy-section button[check] span:first-child {
				display: none;
			}

			.copy-section button:not([check]) span:last-child {
				display: none;
			}

	#symbols-left, #symbols-right {
		float: left;
		width: calc(var(--font-size) + 2 * var(--gap-size));
		height: calc(var(--font-size) + 2 * var(--gap-size));
		background: transparent;
		border: none;
		border-radius: var(--border-radius);
		outline: none;
		cursor: pointer;
		user-select: none;
		transition: var(--transition-time);
		color: var(--light-gray);
		font-size: var(--font-size);
		font-family: var(--font-family);
		margin: calc(var(--gap-size) * 2);
		text-align: center;
		line-height: 1;
	}

		#symbols-left:hover, #symbols-right:hover, #symbols-left:focus, #symbols-right:focus {
			color: var(--light-blue);
		}

	#symbol-buttons {
		float: left;
		width: calc(100% - 4 * var(--gap-size) - 2 * (var(--font-size) + 4 * var(--gap-size)));
		height: calc(var(--font-size) + 4 * var(--gap-size));
		box-sizing: border-box;
		margin: calc(var(--gap-size) * 2) 0 0 0;
		text-align: center;
		vertical-align: top;
		overflow-x: scroll;
		overflow-y: hidden;
		white-space: nowrap;
		font-size: 0;
		scroll-behavior: smooth;
	}

		.symbol-button {
			display: inline-block;
			border-radius: var(--border-radius);
			background: var(--light-gray);
			color: var(--dark-gray);
			outline: none;
			border: none;
			height: calc(var(--font-size) + 2 * var(--gap-size));
			width: calc(var(--font-size) + 2 * var(--gap-size));
			font-size: var(--font-size);
			font-family: var(--font-family);
			transition: var(--transition-time);
			cursor: pointer;
			user-select: none;
			text-align: center;
			vertical-align: top;
			padding: var(--gap-size);
			line-height: 1;
			margin-right: calc(2 * var(--gap-size));
		}

			.symbol-button:last-child {
				margin-right: 0;
			}

			.symbol-button:hover, .symbol-button:focus {
				background: var(--light-blue);
			}
