/*** page ***/
	html, body {
		background-color: #dddddd;
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		padding: 0;
		margin: 0;
		overflow: hidden;
	}

/*** form ***/
	#form {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		padding: 10px;
		width: 800px;
		max-width: calc(100vw - 100px);
		border-radius: 10px;
		background-color: #aaaaaa;
		box-shadow: 0 0 10px #111111;
	}

	h1 {
		font-size: 50px;
		font-weight: bold;
		font-family: monospace;
		color: #111111;
		margin: 0;
		text-align: center;
		user-select: none;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		-o-user-select: none;
	}

	h2 {
		font-size: 25px;
		font-weight: bold;
		font-family: monospace;
		color: #111111;
		margin: 0;
		text-align: center;
		user-select: none;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		-o-user-select: none;
	}

	textarea {
		float: left;
		width: calc(100% - 20px);
		min-width: calc(100% - 20px);
		max-width: calc(100% - 20px);
		height: 100px;
		min-height: 50px;
		max-height: calc(50vh - 150px);
		padding: 10px;
		font-size: 20px;
		color: #111111;
		font-family: monospace;
		margin: 10px 0 0 0;
		outline: none;
		border: none;
		border-radius: 10px;

	}

	button {
		float: left;
		width: calc((100% - 10px) / 2);
		border-radius: 10px;
		background-color: #333333;
		color: #dddddd;
		font-family: monospace;
		font-size: 25px;
		margin-top: 10px;
		margin-right: 10px;
		height: 50px;
		border: 0;
		outline: none;
		user-select: none;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		-o-user-select: none;
		cursor: pointer;
	}

	button:nth-child(even) {
		margin-right: 0;
	}

	button:last-child {
		margin-right: 0;
		width: 100%;
	}

	button:hover {
		background-color: #111111;
	}

/*** mobile ***/
	@media screen and (max-width: 799px) {
		h1 {
			font-size: 25px;
		}

		h2 {
			font-size: 15px;
		}

		textarea {
			font-size: 15px;
			height: 50px;
		}
	}

/*** j-logo ***/
	#j-logo {
		position: absolute;
		top: 14px;
		right: 7px;
		color: #04b1ff;
		height: 32px;
		width: 32px;
		cursor: pointer;
		z-index: 1000;
		outline: none;
	}

	#j-logo svg {
		fill: currentColor;
		height: 100%;
		width: auto;
	}

	#j-logo:hover, #j-logo:focus {
		filter: drop-shadow(0px 0px 8px #333333);
	}
