/*** page ***/
	:root {
		--light-gray: #dddddd;
		--medium-gray: #777777;
		--dark-gray: #111111;
		--font-family: sans-serif;
		--small-font-size: 10px;
		--medium-font-size: 20px;
		--large-font-size: 40px;
		--small-gap-size: 5px;
		--medium-gap-size: 10px;
		--large-gap-size: 20px;
		--border-radius: 5px;
		--shadow-size: 10px;
		--transition-time: 0.5s;
	}

	html, body {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		overflow: hidden;
		margin: 0;
		padding: 0;
		border: 0;
		font-family: var(--font-family);
		font-size: 0;
		background-color: var(--light-gray);
	}

/*** canvas ***/
	#canvas {
		position: absolute;
		top: 0;
		left: 0;
		height: 100vh;
		width: 100vw;
		cursor: grab;
	}

	#canvas[grabbing] {
		cursor: grabbing;
	}

	#closest-station {
		position: absolute;
		top: 0;
		left: 0;
		font-size: var(--medium-font-size);
		font-family: var(--font-family);
		color: var(--dark-gray);
		text-shadow: 0 0 var(--shadow-size) var(--medium-gray);
		text-align: left;
		font-weight: bold;
		pointer-events: none;
		margin-left: var(--medium-gap-size);
		transform: translateY(-50%);
	}

/*** controls ***/
	#controls {
		position: absolute;
		top: var(--medium-gap-size);
		left: var(--medium-gap-size);
	}

	#controls div {
		width: auto;
		height: calc(var(--medium-font-size) + var(--medium-gap-size));
		display: block;
	}

	#controls button {
		float: left;
		font-size: var(--medium-font-size);
		background: var(--medium-gray);
		color: var(--light-gray);
		font-family: monospace;
		height: calc(var(--medium-font-size) + var(--medium-gap-size));
		width: calc(var(--medium-font-size) + var(--medium-gap-size));
		border: 0;
		box-shadow: 0 0 var(--shadow-size) var(--medium-gray);
		outline: none;
		cursor: pointer;
		transition: var(--transition-time);
		padding: 0;
		line-height: 1;
	}

	#controls-zoom-in, #controls-zoom-reset, #controls-zoom-out {
		margin-top: var(--medium-gap-size);
		
	}

	#controls-move-up {
		border-radius: 50% 50% 0 0;
	}

	#controls-move-left, #controls-zoom-in {
		border-radius: 50% 0 0 50%;
	}

	#controls-move-right, #controls-zoom-out {
		border-radius: 0 50% 50% 0;
	}

	#controls-move-down {
		border-radius: 0 0 50% 50%;
	}

	#controls-move-up, #controls-move-down {
		margin-left: calc(var(--medium-font-size) + var(--medium-gap-size));
	}

	#controls button:focus, #controls button:hover {
		background: var(--dark-gray);
		box-shadow: 0 0 var(--shadow-size) var(--dark-gray);
	}

/*** j-logo ***/
	#j-logo {
		position: absolute;
		top: 14px;
		right: 8px;
		background-color: transparent;
		background-image: url("../resources/j.png");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		height: 32px;
		width: 32px;
		cursor: pointer;
		z-index: 1000;
		outline: none;
		filter: drop-shadow(0 0 calc(var(--shadow-size) / 2) var(--medium-gray));
	}

	#j-logo:hover, #j-logo:focus {
		filter: drop-shadow(0 0 var(--shadow-size) var(--dark-gray));
	}
