/*** page ***/
	:root {
		--dark-gray: #111111;
		--medium-gray: #777777;
		--light-gray: #dddddd;
		--dark-blue: #003377;
		--medium-blue: #0066aa;
		--light-blue: #04b1ff;
		--font-family: sans-serif;
		--font-size: 20px;
		--gap-size: 10px;
		--shadow-size: 5px;
		--border-radius: 5px;
		--transition-time: 0.5s;
	}

	html, body {
		position: fixed;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background-color: var(--dark-gray);
		font-size: 0;
		margin: 0;
		padding: 0;
		transition: var(--transition-time)
	}

	body[post-spin] {
		box-shadow: 0 0 calc(10 * var(--shadow-size)) var(--light-blue) inset;
	}

	svg {
		fill: currentColor;
		height: 100%;
		width: auto;
		vertical-align: top;
	}

/*** header ***/
	/* spin */
		#spin {
			float: left;
			width: calc(100vw - 2.5 * var(--gap-size) - 32px);
			height: calc(var(--font-size) * 2);
			box-sizing: border-box;
			cursor: pointer;
			background-color: var(--light-blue);
			color: var(--dark-gray);
			font-size: calc(var(--font-size) * 2);
			font-weight: bold;
			text-transform: uppercase;
			font-family: var(--font-family);
			padding: 0;
			cursor: pointer;
			border-radius: var(--border-radius);
			border: none;
			margin: var(--gap-size);
			line-height: 1;
			transition: var(--transition-time);
			user-select: none;
		}

		#spin:focus, #spin:hover {
			box-shadow: 0 0 var(--shadow-size) var(--medium-blue);
			background-color: var(--medium-blue);
		}

		#spin[disabled] {
			pointer-events: none;
			cursor: not-allowed;
			background-color: var(--medium-gray);
		}

		#spin[disabled] span {
			font-size: 0;
		}

		#spin[disabled] svg {
			display: none;
		}

	/* j-logo */
		#j-logo {
			position: fixed;
			top: 14px;
			right: 7px;
			color: var(--light-blue);
			height: 32px;
			width: 32px;
			cursor: pointer;
			z-index: 1000;
			outline: none;
			transition: var(--transition-time);
		}

		#j-logo svg {
			fill: currentColor;
			height: 100%;
			width: auto;
		}

		#j-logo path {
			d: path("M 60 27 C 60 42 60 58 60 73 C 60 74 60 74 61 74 C 64 74 68 74 70 74 C 71 74 72 73 72 72 C 72 58 72 42 72 28 C 72 27 71 26 70 26 C 68 26 64 26 61 26 C 60 26 60 26 60 27 Z M 30 74 C 32 74 36 74 38 74 C 39 74 39 74 38 73 C 35 70 32 67 29 64 C 28 63 28 63 28 64 C 28 67 28 70 28 72 C 28 73 29 74 30 74 Z M 43 74 C 46 74 54 74 57 74 C 58 74 58 74 58 73 C 58 66 58 34 58 27 C 58 26 58 26 57 26 C 54 26 46 26 44 26 C 42 26 42 26 40 24 C 38 22 30 14 28 12 C 27 11 26 10 28 10 C 30 10 54 10 56 10 C 58 10 58 10 60 12 C 62 14 69 21 72 24 C 74 26 74 26 74 29 C 74 34 74 66 74 71 C 74 74 74 74 72 76 C 70 78 62 86 60 88 C 58 90 58 90 56 90 C 54 90 46 90 44 90 C 42 90 42 90 40 88 C 38 86 30 78 28 76 C 26 74 26 74 26 71 C 26 70 26 62 26 60 C 26 58 27 59 28 60 C 30 62 38 70 40 72 C 42 74 42 74 43 74 Z");
		}
		
		#j-logo:hover, #j-logo:focus {
			color: var(--medium-blue);
			filter: drop-shadow(0 0 var(--shadow-size) var(--medium-blue));
		}

	/* options */
		#options {
			float: left;
			min-width: calc(100vw - 2 * var(--gap-size));
			max-width: calc(100vw - 2 * var(--gap-size));
			min-height: calc(var(--font-size) * 4);
			max-height: calc(var(--font-size) * 4);
			border-radius: var(--border-radius);
			border: none;
			margin: 0 var(--gap-size) var(--gap-size) var(--gap-size);
			outline: none;
			background-color: var(--light-gray);
			color: var(--dark-gray);
			font-size: var(--font-size);
			font-family: var(--font-family);
			padding: var(--gap-size);
			box-sizing: border-box;
			transition: var(--transition-time);
		}

		#options:focus, #options:hover {
			box-shadow: 0 0 var(--shadow-size) var(--medium-blue) inset;
		}

		#options[disabled] {
			pointer-events: none;
			background-color: var(--medium-gray);
		}

/*** canvas ***/
	#canvas {
		float: left;
		width: 100vw;
		height: calc(100vh - var(--gap-size) * 3 - var(--font-size) * 6);
		border-radius: var(--border-radius);
	}
