/* j-logo */
	#j-logo {
		position: absolute;
		top: 14px;
		right: 7px;
		color: #04b1ff;
		height: 32px;
		width: 32px;
		cursor: pointer;
		z-index: 1000;
		outline: none;
	}

	#j-logo svg {
		fill: currentColor;
		height: 100%;
		width: auto;
	}

	#j-logo path {
		d: path("M 60 27 C 60 42 60 58 60 73 C 60 74 60 74 61 74 C 64 74 68 74 70 74 C 71 74 72 73 72 72 C 72 58 72 42 72 28 C 72 27 71 26 70 26 C 68 26 64 26 61 26 C 60 26 60 26 60 27 Z M 30 74 C 32 74 36 74 38 74 C 39 74 39 74 38 73 C 35 70 32 67 29 64 C 28 63 28 63 28 64 C 28 67 28 70 28 72 C 28 73 29 74 30 74 Z M 43 74 C 46 74 54 74 57 74 C 58 74 58 74 58 73 C 58 66 58 34 58 27 C 58 26 58 26 57 26 C 54 26 46 26 44 26 C 42 26 42 26 40 24 C 38 22 30 14 28 12 C 27 11 26 10 28 10 C 30 10 54 10 56 10 C 58 10 58 10 60 12 C 62 14 69 21 72 24 C 74 26 74 26 74 29 C 74 34 74 66 74 71 C 74 74 74 74 72 76 C 70 78 62 86 60 88 C 58 90 58 90 56 90 C 54 90 46 90 44 90 C 42 90 42 90 40 88 C 38 86 30 78 28 76 C 26 74 26 74 26 71 C 26 70 26 62 26 60 C 26 58 27 59 28 60 C 30 62 38 70 40 72 C 42 74 42 74 43 74 Z");
	}

	#j-logo:hover, #j-logo:focus {
		filter: drop-shadow(0px 0px 8px #dddddd);
	}
	
/* page */
	html {
		position: fixed;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		overflow: hidden;
	}

	body {
		position: absolute;
		top: 0px;
		left: 0px;
		overflow: hidden;
		width: 100%;
		height: 100%;
		background-color: #333333;
		box-shadow: 0px 0px 20px #dddddd inset;
		margin: 0px;
		padding: 0px;
		border: 0px;
	}

	svg {
		fill: currentColor;
		height: 100%;
		width: auto;
	}

	.hidden {
		display: none;
	}

/* game */
	#game {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		background-color: #111111;
		border: 5px solid #dddddd;
		box-shadow: 0px 0px 20px #dddddd inset;
		overflow: hidden;
		width: 800px;
		height: 600px;
		padding: 10px;
		border-radius: 10px;
		cursor: none;
	}

	#game.game-over {
		border: 5px solid #dd1111;
		box-shadow: 0px 0px 20px #ff7777 inset;
		cursor: default;
		filter: blur(3px);
	}

	#game.game-win {
		border: 5px solid #11dd11;
		box-shadow: 0px 0px 20px #77ff77 inset;
		cursor: default;
		filter: blur(3px);
	}

	#ball {
		position: absolute;
		top: 500px;
		left: 50%;
		height: 20px;
		width: 20px;
		border-radius: 100%;
		background-color: #1111ff;
		box-shadow: 0px 0px 20px #aaaaaa inset;
		z-index: 2;
	}

	#paddle {
		position: absolute;
		top: 550px;
		left: calc(50% - 55px);
		height: 10px;
		width: 100px;
		border-radius: 10px;
		background-color: #11ff11;
		box-shadow: 0px 0px 10px #aaaaaa inset;
	}

/* bricks */
	.brick {
		position: absolute;
		top: 0px;
		left: 0px;
		width: 46px;
		height: 46px;
		border-radius: 10px;
		box-shadow: 0px 0px 20px #dddddd inset;
		margin: 2px;
		padding: 0px;
		border: 0px;
	}

	.brick-highlight {
		border-radius: 50px;
	}

/* new */
	#new {
		height: 280px;
		width: 280px;
		text-align: center;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		z-index: 3;
		color: #1111ff;
		text-shadow: 0px 0px 10px #7777ff;
		font-family: sans-serif;
		font-size: 200px;
		font-weight: bold;
		cursor: pointer;
		border: 5px solid ;border: 5px solid #1111dd;
		box-shadow: 0px 0px 20px #7777dd inset;
		background-color: rgba(000,000,000,0.5);
		border-radius: 100%;
	}

	#new:hover {
		box-shadow: 0px 0px 50px #7777ff inset;
		background-color: rgba(000,000,000,0.8);
	}
