/* page */
	body {
		background-color: darkgray;
		margin: 0px;
		padding: 0px;
	}

/* screen */
	#case {
		display: block;
		text-align: center;
		height: 200px;
		width: 100vw;
		background-color: #333333;
		padding: 10px;
	}

	#screen {
		margin: 0px;
		background-color: #eeeeee;
		border-radius: 10px;
		height: 180px;
		width: calc(100vw - 20px);
	}

	#analysis {
		position: relative;
		top: 50%;
		transform: translateY(-50%);
		color: #333333;
	}

	#bigOutput {
		display: block;
		font-size: 40px;
		cursor: default;
		user-select: none;
		-moz-user-select: none;
		-webkit-user-select: none;
	}

	#smallOutput {
		display: block;
		font-size: 25px;
		cursor: default;
		user-select: none;
		-moz-user-select: none;
		-webkit-user-select: none;
	}

/* keyboard */
	#keyboard {
		display: block;
		border: 5px solid #333333;
		height: calc(100vw / 3.5);
		width: 100vw;
		margin: 0px;
		padding: 0px 1px 1px 1px;
		border-radius: 0px 0px 10px 10px;
	}

	#blackKeys {
		height: calc((100vw / 4) * (3 / 4));
		z-index: 2;
		position: absolute;
		pointer-events: none;
	}

	#whiteKeys {
		height: calc((100vw / 3.5) - 12px);
		z-index: 1;
		position: absolute;
		pointer-events: none;
	}

	.key {
		margin: 0px 1px 1px 1px;
		border-radius: 0px 0px 4px 4px;
		cursor: pointer;
		padding-top: 10px;
		font-weight: bold;
		float: left;
		pointer-events: all;
		user-select: none;
		-moz-user-select: none;
		-webkit-user-select: none;
	}

	.name {
		position: absolute;
		bottom: 0px;
		text-align: center;
		padding: 1.5%;
		width: inherit;
	}

	.black {
		background-color: #333333;
		color: #eeeeee;
		height: 100%;
		width: calc((100vw - 42px) / 15);
		vertical-align: top;
	}

	.white {
		background-color: #eeeeee;
		color: #333333;
		width: calc((100vw - 42px) / 15);
		height: 100%;
		display: table-cell;
		vertical-align: bottom;
	}

	.black.left {
		margin-left: calc(((100vw - 11px) / 15 / 2) + 1px);
	}

	.black.right {
		margin-right: calc(((100vw - 11px) / 15 / 2) + 1px);
	}

/* active */
	.black.active {
		background: linear-gradient(#333333, #185A8B);
	}

	.white.active {
		background: linear-gradient(#eeeeee, #185A8B);
	}

/* sustain */
	#sustain {
		width: 72vw;
		margin: 2vw 14vw 0vw 14vw;
		height: 5vw;
		background-color: #333333;
		border-radius: 10px;
		cursor: pointer;
	}

	#sustain.sustaining {
		background: linear-gradient(#333333, #185A8B);
	}

	#sustain:hover {
		background: linear-gradient(#333333, #185A8B);
	}

	#sustainText {
		position: relative;
		top: 50%;
		transform: translateY(-50%);
		text-align: center;
		color: #eeeeee;
		font-size: 20px;
		font-weight: bold;
		text-transform: uppercase;
		user-select: none;
		-moz-user-select: none;
		-webkit-user-select: none;
	}

/* tones */
	#tones {
		width: 0px;
		height: 0px;
		margin: 0px;
		padding: 0px;
		border: 0px;
	}
