/* page */
	body {
		background-color: lightgray;
		margin: 0px;
		padding: 0px;
	}

/* keyboard */
	.key {
		border: 2px solid black;
		width: 40px;
		height: 200px;
		float: left;
	}

	.black {
		background-color: #333333;
	}

	.white {
		background-color: #dddddd;
	}

	.black.active {
		background-color: #3333ff;
	}

	.white.active {
		background-color: #7777ff;
	}

/* analysis */
