/* j-logo */
	#j-logo {
		position: absolute;
		top: 14px;
		right: 8px;
		background-color: transparent;
		background-image: url("../resources/j.png");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		height: 32px;
		width: 32px;
		cursor: pointer;
		z-index: 1000;
		outline: none;
	}

	#j-logo:hover, #j-logo:focus {
		filter: drop-shadow(0px 0px 4px #dddddd);
	}

/*** page ***/
	html, body {
		margin: 0px;
		padding: 0px;
		border: 0px;
		position: fixed;
		left: 0px;
		top: 0px;
		height: 100%;
		width: 100%;
		background-color: #222222;
		color: #dddddd;
		font-family: monospace;
	}

	#container {
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		border-radius: 20px;
		background-color: #111111;
		padding: 20px;
		height: auto;
		width: 600px;
	}

	/* title */
		#title {
			font-size: 50px;
			text-align: center;
			display: block;
			padding: 10px 20px 20px 20px;
			user-select: none;
		}

/*** form inputs ***/
	/* cost */
		#cost-label {
			float: left;
			width: 55%;
			height: 70px;
			font-size: 50px;
			user-select: none;
			vertical-align: top;
			line-height: 1;
			box-sizing: border-box;
		}

		#cost-label span {
			float: left;
			width: 50px;
			height: 70px;
			vertical-align: top;
			line-height: 1;
			box-sizing: border-box;
			padding: 10px;
		}

		#cost {
			width: calc(100% - 50px);
			height: 70px;
			padding: 10px;
			border: 0px;
			border-radius: 5px;
			font-size: 50px;
			background-color: #dddddd;
			outline: none;
			color: #222222;
			font-family: monospace;
			text-align: right;
			cursor: pointer;
			vertical-align: top;
			line-height: 1;
			box-sizing: border-box;
		}

	/* plus */
		#plus-label {
			float: left;
			text-align: center;
			height: 70px;
			width: 50px;
			font-size: 50px;
			user-select: none;
			vertical-align: top;
			line-height: 1;
			box-sizing: border-box;
		}

		#plus-label span {
			float: left;
			width: 50px;
			height: 70px;
			vertical-align: top;
			line-height: 1;
			box-sizing: border-box;
			padding: 10px;
		}

	/* percent */
		#percent-label {
			float: left;
			width: calc(45% - 50px);
			height: 80px;
			font-size: 50px;
			user-select: none;
			vertical-align: top;
			line-height: 1;
			box-sizing: border-box;
		}

		#percent {
			float: left;
			width: calc(100% - 50px);
			height: 70px;
			padding: 10px;
			border: 0px;
			border-radius: 5px;
			font-size: 50px;
			background-color: #dddddd;
			outline: none;
			color: #222222;
			font-family: monospace;
			text-align: right;
			cursor: pointer;
			vertical-align: top;
			line-height: 1;
			box-sizing: border-box;
		}

		#percent-label span {
			float: left;
			width: 50px;
			height: 70px;
			vertical-align: top;
			line-height: 1;
			box-sizing: border-box;
			padding: 10px;
		}

	/* denominations */
		#denominations {
			text-align: center;
			float: left;
			width: 100%;
			height: auto;
			font-size: 20px;
			padding: 20px 10px 20px 10px;
			user-select: none;
			box-sizing: border-box;
		}

		#denominations label {
			float: left;
			height: 35px;
			width: calc(100% / 3);
			cursor: pointer;
			padding: 5px 0px 0px 0px;
		}

		#denominations label:hover {
			font-weight: bold;
		}

		#denominations input:checked ~ span {
			font-weight: bold;
			text-transform: uppercase;
		}

		#denominations input {
			display: none;
		}

/*** outputs ***/
	#output-tip {
		float: left;
		width: calc(50% - 45px);
		height: 60px;
		font-size: 50px;
		text-align: center;
		border: 5px solid #dddddd;
		border-radius: 10px;
		margin: 0px 5px 0px 0px;
		padding: 15px;
	}

	#output-total {
		float: left;
		width: calc(50% - 45px);
		height: 60px;
		font-size: 50px;
		text-align: center;
		border: 5px solid #dddddd;
		border-radius: 10px;
		margin: 0px 0px 0px 5px;
		padding: 15px;
	}

/*** mobile ***/
	@media screen and (max-width: 800px) {
		#container {
			height: auto;
			width: calc(100vw - 40px);
			padding: 10px;
		}

		#title {
			display: none;
		}

		#cost, #percent, #output-tip, #output-total {
			height: 50px;
			font-size: 30px;
		}

		#cost-label span, #plus-label span, #percent-label span {
			font-size: 30px;
			height: 50px;
			width: 35px;
		}

		#cost {
			width: calc(100% - 35px);
		}

		#plus-label {
			width: 35px;
		}

		#percent-label {
			width: calc(45% - 35px);
		}

		#percent {
			width: calc(100% - 35px);
		}

		#cost-label, #percent-label, #plus-label {
			padding-top: 0px;
			height: 50px;
		}

		#denominations {
			padding: 5px 10px 5px 10px;
			font-size: 15px;
		}

		#denominations label {
			height: 25px;
		}
	}