/* j-logo */
	#j-logo {
		position: absolute;
		top: 14px;
		right: 7px;
		color: #04b1ff;
		height: 32px;
		width: 32px;
		cursor: pointer;
		z-index: 1000;
		outline: none;
	}

	#j-logo svg {
		fill: currentColor;
		height: 100%;
		width: auto;
	}

	#j-logo path {
		d: path("M 60 27 C 60 42 60 58 60 73 C 60 74 60 74 61 74 C 64 74 68 74 70 74 C 71 74 72 73 72 72 C 72 58 72 42 72 28 C 72 27 71 26 70 26 C 68 26 64 26 61 26 C 60 26 60 26 60 27 Z M 30 74 C 32 74 36 74 38 74 C 39 74 39 74 38 73 C 35 70 32 67 29 64 C 28 63 28 63 28 64 C 28 67 28 70 28 72 C 28 73 29 74 30 74 Z M 43 74 C 46 74 54 74 57 74 C 58 74 58 74 58 73 C 58 66 58 34 58 27 C 58 26 58 26 57 26 C 54 26 46 26 44 26 C 42 26 42 26 40 24 C 38 22 30 14 28 12 C 27 11 26 10 28 10 C 30 10 54 10 56 10 C 58 10 58 10 60 12 C 62 14 69 21 72 24 C 74 26 74 26 74 29 C 74 34 74 66 74 71 C 74 74 74 74 72 76 C 70 78 62 86 60 88 C 58 90 58 90 56 90 C 54 90 46 90 44 90 C 42 90 42 90 40 88 C 38 86 30 78 28 76 C 26 74 26 74 26 71 C 26 70 26 62 26 60 C 26 58 27 59 28 60 C 30 62 38 70 40 72 C 42 74 42 74 43 74 Z");
	}

	#j-logo:hover, #j-logo:focus {
		filter: drop-shadow(0px 0px 8px #dddddd);
	}

/*** page ***/
	html, body {
		margin: 0px;
		padding: 0px;
		border: 0px;
		position: fixed;
		left: 0px;
		top: 0px;
		height: 100%;
		width: 100%;
		background-color: #222222;
		color: #dddddd;
		font-family: monospace;
	}

	#container {
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		border-radius: 20px;
		background-color: #111111;
		padding: 20px;
		height: auto;
		width: 600px;
	}

	/* title */
		#title {
			font-size: 50px;
			text-align: center;
			display: block;
			padding: 10px 20px 20px 20px;
			user-select: none;
		}

/*** form inputs ***/
	/* cost */
		#cost-label {
			float: left;
			width: 55%;
			height: 70px;
			font-size: 50px;
			user-select: none;
			vertical-align: top;
			line-height: 1;
			box-sizing: border-box;
		}

		#cost-label span {
			float: left;
			width: 50px;
			height: 70px;
			vertical-align: top;
			line-height: 1;
			box-sizing: border-box;
			padding: 10px;
		}

		#cost {
			width: calc(100% - 50px);
			height: 70px;
			padding: 10px;
			border: 0px;
			border-radius: 5px;
			font-size: 50px;
			background-color: #dddddd;
			outline: none;
			color: #222222;
			font-family: monospace;
			text-align: right;
			cursor: pointer;
			vertical-align: top;
			line-height: 1;
			box-sizing: border-box;
		}

	/* plus */
		#plus-label {
			float: left;
			text-align: center;
			height: 70px;
			width: 50px;
			font-size: 50px;
			user-select: none;
			vertical-align: top;
			line-height: 1;
			box-sizing: border-box;
		}

		#plus-label span {
			float: left;
			width: 50px;
			height: 70px;
			vertical-align: top;
			line-height: 1;
			box-sizing: border-box;
			padding: 10px;
		}

	/* percent */
		#percent-label {
			float: left;
			width: calc(45% - 50px);
			height: 80px;
			font-size: 50px;
			user-select: none;
			vertical-align: top;
			line-height: 1;
			box-sizing: border-box;
		}

		#percent {
			float: left;
			width: calc(100% - 50px);
			height: 70px;
			padding: 10px;
			border: 0px;
			border-radius: 5px;
			font-size: 50px;
			background-color: #dddddd;
			outline: none;
			color: #222222;
			font-family: monospace;
			text-align: right;
			cursor: pointer;
			vertical-align: top;
			line-height: 1;
			box-sizing: border-box;
		}

		#percent-label span {
			float: left;
			width: 50px;
			height: 70px;
			vertical-align: top;
			line-height: 1;
			box-sizing: border-box;
			padding: 10px;
		}

	/* denominations */
		#denominations {
			text-align: center;
			float: left;
			width: 100%;
			height: auto;
			font-size: 20px;
			padding: 20px 10px 20px 10px;
			user-select: none;
			box-sizing: border-box;
		}

		#denominations label {
			float: left;
			height: 35px;
			width: calc(100% / 3);
			cursor: pointer;
			padding: 5px 0px 0px 0px;
		}

		#denominations label:hover {
			font-weight: bold;
		}

		#denominations input:checked ~ span {
			font-weight: bold;
			text-transform: uppercase;
		}

		#denominations input {
			display: none;
		}

/*** outputs ***/
	#output-tip {
		float: left;
		width: calc(50% - 45px);
		height: 60px;
		font-size: 50px;
		text-align: center;
		border: 5px solid #dddddd;
		border-radius: 10px;
		margin: 0px 5px 0px 0px;
		padding: 15px;
	}

	#output-total {
		float: left;
		width: calc(50% - 45px);
		height: 60px;
		font-size: 50px;
		text-align: center;
		border: 5px solid #dddddd;
		border-radius: 10px;
		margin: 0px 0px 0px 5px;
		padding: 15px;
	}

/*** mobile ***/
	@media screen and (max-width: 800px) {
		#container {
			height: auto;
			width: calc(100vw - 40px);
			padding: 10px;
		}

		#title {
			display: none;
		}

		#cost, #percent, #output-tip, #output-total {
			height: 50px;
			font-size: 30px;
		}

		#cost-label span, #plus-label span, #percent-label span {
			font-size: 30px;
			height: 50px;
			width: 35px;
		}

		#cost {
			width: calc(100% - 35px);
		}

		#plus-label {
			width: 35px;
		}

		#percent-label {
			width: calc(45% - 35px);
		}

		#percent {
			width: calc(100% - 35px);
		}

		#cost-label, #percent-label, #plus-label {
			padding-top: 0px;
			height: 50px;
		}

		#denominations {
			padding: 5px 10px 5px 10px;
			font-size: 15px;
		}

		#denominations label {
			height: 25px;
		}
	}